<!--this is core/templates/dashboard_subtemplates/message_to_host.html, it is called within modaltags.py - the tracking_modal def
		which is called on dashboard.html 
					
-->
				<div id="openModal_message_id{{sh.trans.id}}" class="modalDialog">
						{% load i18n %}
							<div>
									<a href="/dashboard" title="Close" class="close">X</a>																																	
										<div class="row margintopbottom30px">
												<h4 class="ltbluetext">Send a message to {{sh.trans.host.first_name}} about shipment {{sh.trans.id}} </h4>
										   	<form action="/dashboard/message_id{{sh.trans.id}}/#openModal_message/Thanks" method="post" class="text-left"> 
										        		{% csrf_token %} 
										        				{{ compose_form.non_field_errors }}
					   												{{ compose_form.body.errors }}
										        		<!--{{ message_form.as_table }} -->
										        		<!--compose form has recipient, subject, body -->

					   									<div class="col-xs-12 form-group nopaddingleftright paddingbottom10px">
	      												<textarea class="form-control" name="body" id="id_body" rows="4"> </textarea>   	    	   
	 														</div>
	 														
	 														<!--HIDDEN FIELDS-->
	 														{{ compose_form.subject.errors }}
	 														<input type="hidden" name="subject"   value="Re: Transaction ID {{ sh.trans.host.first_name }}">  
	 														{{ compose_form.recipient.errors }}
	 														<input type="hidden" name="recipient" value="{{sh.trans.host.email}}">
	 														<!--SUBMIT BUTON-->
              								<div class="row paddingbottom10px"> 
                       					<button type="submit" name="submit" class="col-xs-5 col-xs-offset-7 bluebutton">Submit</button>
					   									</div>
										    </form>
										</div>	
							</div>												
       	</div> <!-- END MESSAGING MODAL -->
	 