<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Blocbox - Compose Message</title>
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="//use.typekit.net/olu7nwz.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="body user-dashboard-compose clearfix">
  <header class="_container _container-27 clearfix">
    <div class="element element-27"></div>
    <div onClick="window.location='index.html';" class="element element-28"></div>
    <button class="_button-21">Michelle</button>
    <button class="_button-22">&nbsp;</button>
    <button onClick="window.location='user-dashboard-inbox.html';" class="_button-23">&nbsp;</button>
    <button class="_button-24">&nbsp;</button>
  </header>
  <div class="element _container element-31">
    <p class="text text-74">SETTINGS</p>
    <p class="text text-78">SENT</p>
    <div class="text text-82">
      <p>COMPOSE</p>
      <p><br></p>
</div>
    <p class="text text-86">ARCHIVE</p>
    <p class="text text-89">INBOX</p>
  </div>
  <div class="element _container element-46">
    <div class="container _container container-26">
      <p class="text text-100">1425 13th Street Apt. 1</p>
    </div>
    <div class="container _container container-30 clearfix">
      <div class="element _container element-50">
        <p class="text text-108">Verified Info</p>
      </div>
      <div class="container container-36"></div>
      <img class="image image-15" src="images/iconmonstr-paper-plane-2-icon.svg">
      <p class="text text-123">Facebook</p>
      <img class="image image-16" src="images/1397247794_46-facebook.svg">
      <img class="image image-17" src="images/1397247711_home.svg">
      <p class="text text-135">Clinton Hill</p>
      <p class="text text-142">NextDoor</p>
      <p class="text text-148">Phone&nbsp;Number</p>
      <p class="text text-152">Email&nbsp;Address</p>
    </div>
    <div class="container container-48"></div>
    <div class="element _container element-88">
      <p class="text text-169">Sylvia</p>
    </div>
  </div>
  <div class="container _container container-56 clearfix">
    <div class="element _container element-95 clearfix">
      <p class="text text-188">Conversation with</p>
      <select>
        <option value="Sylvia">Sylvia</option>
        <option value="Lourdes">Lourdes</option>
        <option value="Neda">Neda</option>
      </select>
    </div>
    <div class="container _container container-65 clearfix">
      <div class="container container-69"></div>
      <p class="text text-209">Michelle</p>
    </div>
    <textarea placeholder="Send a message"></textarea>
    <div class="element element-109"></div>
  </div>
  <div class="container _container container-77">
    <div class="element element-119"></div>
    <div class="element _container element-129">
      <p class="text text-243">ACCOUNT</p>
      <p class="text text-252">TRANSACTIONS</p>
      <div class="text text-260">
        <p>MESSAGES</p>
        <p><br></p>
</div>
      <p class="text text-267">PROFILE</p>
      <p class="text text-273">DASHBOARD</p>
    </div>
  </div>
  <footer class="_element-107"></footer>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>