<!--this is blocbox/core/templates/blocbox/dashboard-host.html, URL is http://www.blocbox.co/hostdashboard -->
{% extends "blocbox/base-green.html" %} {% load staticfiles %} {% block title %}Host Dashboard{% endblock %} {% block headafter %}
<!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
<link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %} 

{% block content %}


<div class="content container-fluid offwhitebackground relativediv">
      <div class="row margintop20px marginbottom20px xshide">
        <a href="dashboard.html" class="col-xs-2 col-xs-offset-1 subnavtextcurrent textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <a href="/profile/" class="col-xs-2 subnavtext textcenter">PROFILE</a>
        <a href="/account/" class="col-xs-2 subnavtext textcenter">ACCOUNT</a>
        <div class="col-xs-10 col-xs-offset-1">  <div class="profileboxline100 margintop10px"></div>  </div>
      </div>  <!--end top row-->

<!--TEST HOLD AVAILABILITY CALENDAR HERE - AND THEN MOVE TO DASHBOARD-HOST.HTML -->
<div class="col-xs-12 col-sm-6"> {% include "calendar_subtemplates/bimonthly_calendar_withcheckboxes.html" %}
            <!--NOTE TO JOHN: THE SUBMIT BUTTON IS ON THAT SUBTEMPLATE -- NEEDS TO BE -->
</div>













</div>








{% endblock %}
<!--end content -->