{% extends "blocbox/base.html" %} {% load staticfiles %} 
	{% block title %}Facebook Javascript Login test{% endblock %} 
	{% block headafter %} {% endblock %} 

{% block content %}


<script>
	//include the javascript file for override the before send thing that is causing error
	{% include "javascript_includes/override_beforesend.js" %}
	
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      BlocboxFacebookInfo();
      
      // JMY ADDING ANOTHER ELEMENT TO THIS TO HIDE THAT BUTTON
      document.getElementById('fb_login_button').style.display = 'none';
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log into Blocbox.';
    } else {
      // The person is not logged into Facebook, so we're not sure if they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
    PostFacebookData();
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '633298280108208',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response); });
  

	
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function BlocboxFacebookInfo() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
      document.getElementById('user_facebook_id').innerHTML = 'Facebook Username (id):' + response.id ;
      document.getElementById('facebook_first_name').innerHTML = 'Facebook First Name:' + response.first_name ;
      document.getElementById('facebook_last_name').innerHTML = 'Facebook Last Name:' + response.last_name ;
      document.getElementById('facebook_email').innerHTML = 'Facebook Email:' + response.email ;
      document.getElementById('facebook_gender').innerHTML = 'Facebook Gender:' + response.gender;
      document.getElementById('facebook_link').innerHTML = 'Facebook link:' + response.link;
      document.getElementById('facebook_locale').innerHTML = 'Facebook Locale:' + response.locale;
      document.getElementById('facebook_verified').innerHTML = 'Facebook Verified:' + response.verified ;
      //show the full response objecti -- toSource shows the full object
      document.getElementById('facebook_response_full').innerHTML = 'Facebook Response Full:' + response.toSource();
      
    });
   	//test return last name of current user 
  	//FB.api('/me', {fields: 'last_name'}, function(response) { console.log(response);	});
  	//test return all of the user things: the respone
  	FB.api('/me', function(response) { 
  				console.log('The response from facebook for the user is shown in the line below');
  				console.log(response);	});
    
  }
  
  function PostFacebookData() {
  	FB.api('/me', function(response) {
      //save the value of the response in a variable
      var facebook_response = response.toSource();
      var facebook_id = response.id;
  	  // Test some code to pass variablest to the server: http://stackoverflow.com/questions/27100825/how-pass-javascript-function-s-value-to-django-view
    	$.ajax({
    		// points to the url where your data will be posted
    		url:'/testing/sendfacebookdata/$',
    		// post for security reason
    		type: "POST",
    		// data that you will like to return 
    		// 'facebook_response': facebook_response,
    		data: { 'facebook_id': facebook_id },
    		// what to do when the call is success 
    		success:function(response) {
    				console.log(response);
    				console.log( 'You successfully posted the facebook data to the URL!');
    				},
    		// what to do when the call is complete ( you can right your clean from code here)
    		complete:function(){ console.log( 'You completed the call passing the facebook data to the URL' )},
    		// what to do when there is an error
    		error:function (xhr, textStatus, thrownError){ 
    			console.log( 'There was an error...error variables shown below');
    			console.log( 'XHR is: ' + xhr.toSource());
    			console.log( 'textStatus is:' + textStatus);
    			console.log( 'thrownError is:' + thrownError);
    			}
		});
  })}
		
</script>

{% csrf_token %} <!--allows it to post -->

<div class="content container-fluid offwhitebackground relativediv">
	
<!--
	status - whether logged in or not - says "thnk you for loggin in" if logged in
-->
<br>
<div id="status"> </div>

<!--
  The Login Button social plugin. This button use the JavaScript SDK to present a graphical Login button that triggers the FB.login() function when clicked.
-->
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" id="fb_login_button"> Login with Facebook </fb:login-button>
<br>



<!--
	likes and shares
-->
<div  class="fb-like"  data-share="true"  data-width="450"  data-show-faces="true"> </div>
<br>

<!--TEST - SHOW THE USERS FACEBOOK LOGIN NAME SO WE CAN ADD IT TO THE TABLE-->

<h3>Show individual response objecs</h3>
<div id="user_facebook_id"> </div> <br>

<div id="facebook_first_name"> </div> <br>

<div id="facebook_last_name"> </div> <br>

<div id="facebook_email"> </div> <br>

<div id="facebook_link"> </div> <br>

<div id="facebook_gender"></div> <br>

<div id="facebook_locale"></div> <br>

<div id="facebook_verified"></div> <br>

<h3>Test showing the full response object</h3>
<div id="facebook_response_full"></div>
<!--
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"> Login with Facebook</div>
-->
<br><br><br><br><br>
<br><br><br><br><br>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

</div>
{% endblock %}
