{% extends "blocbox/base.html" %} {% load staticfiles %} 
	{% block title %}Facebook Javascript Login test{% endblock %} 
	{% block headafter %} {% endblock %} 

{% block content %}

	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '633298280108208',
      status     : true,
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->


<div class="content container-fluid offwhitebackground relativediv">
	
	
	


<div id="status"> </div>

<div
  class="fb-like"  data-share="true"  data-width="450"  data-show-faces="true">
</div>
<br>
<!--
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="width:50px"> Test Test??</fb:login-button>
-->
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"> Login with Facebook</div>

<br><br><br><br><br>
<br><br><br><br><br>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

</div>
{% endblock %}
