<!--this is blocbox/core/templates/bocbox/homebrew_calendar.html, extends base.html, URL is www.blocbox.co/jesstest -->
{% extends "blocbox/base.html" %}

{% block title %} Homebrew Cal {% endblock %}

<!--the title of the current page that will appear as active/greyed i the navbar -->
{% block navbartitle %} Homebrew Cal {% endblock %}

{% block content %}

<!-- CALENDAR TEST -->		
<div class="container-fluid">     
				<br><br> <br><br> <br><br>
	
	<div class="row"> <!--TERST THE CALENDAR-->
		<H3>Test the homebrew calendar </H3>
			
			<p> List conflicts for this user: {% for conflict in conflicts %} Conflict: {{ conflict }} <br> {% endfor %} </p>
			
			<p> List the schedule for this user: {{ schedule }} </p>
	
	</div>				

<h3>			
<br><br> <br><br>	<br><br>
</h3>	
</div>		
{% endblock %}		

