<!--this is blocbox/core/templates/bocbox/homebrew_calendar.html, extends base.html, URL is www.blocbox.co/jesstest -->
{% extends "blocbox/base.html" %}

{% block title %} Homebrew Cal {% endblock %}

<!--the title of the current page that will appear as active/greyed i the navbar -->
{% block navbartitle %} Homebrew Cal {% endblock %}

{% block content %}

<!-- CALENDAR TEST -->		
<div class="container-fluid">     
				<br><br> <br><br> <br><br>
	
	<div class="row"> <!--TERST THE CALENDAR-->
		<h3> Test date variables </h3>
		 <p>
		 		Date today: {{ date_today }}
		 		<br> Datetime Today: {{ dateimte_today }}
		 		<br> Datetime Now: {{ datetime_now }} 
		 		<br> Local Timezone: {{ local_timezone }}
		 	<br> YEAR VARIABLES
		 		<br> This Year: {{ thisyear }} <br>  Next Year: {{ nextyear }} 
		 		<br> Is this year a leap year? {{ thisyear_isleap }} <br> Is Next year a leap year? {{ nextyear_isleap }}
		 	<br> MONTH VARIABLES		 		
		 		<br> This Month: {{ thismonth }} <br> Next Month: {{ nextmonth }}
		 		<br> This month range: {{ thismonth_range }} <br> Next Month Range: {{ nextmonth_range }}
		 		<br> This Month Calendar: {{ thismonth_calendar }} <br> Next Month calendar: {{ nextmonth_calendar }}
		 		<br> first week of thismonth_calendar {{ thismonth_calendar.0 }}
		 		<br> first day of thismonth_calendar {{ thismonth_calendar.0.0 }} 
		 	<br> for week in thismonth_calendar {% for week in thismonth_calendar %} {{ week }} {% endfor %}
		  <br> WEEK VARIABLES
		    <br> First weekday setting: {{ firstweekday }} <br> Week HeadersS: {{ weekheaders }}
		    <br> First 3 of weeday headers? {{ weekheaders.3 }}
		 	<br> DAY VARIABLES
		 		<br> Today number of month: {{ today_dayofmonth_num }} <br> Today day of week num {{ today_dayofweek_num }} 
		 		<br> Today Day of Week Name: {{ today_dayofweek_name }}  <br> Today day of Week abbr {{ today_dayofweek_abbr }}
	 
		 </p>
				
		<h3>Try to make a calendar layout</h3>	
			  <!--table for this month-->	
			  <h4>{{ thismonth }} </h4>
			  <table class="table">
			  	<!--first row: weekday names -->
			  	<tr>	<th>Mon</th> <th>Tue</th> <th>Wed</th> <th>Thur</th> <th>Fri</th> <th>Sat</th> <th>Sun</th> 	</tr>
			  {% for week in thismonth_calendar %}
			  	<tr> 
			  		{% for day in week %}
			  				<td> {{day}}</td>
			  	  {% endfor %}
			  	</tr>
			  {% endfor %}

			</table>
		
		
		<H3>Test the homebrew calendar variables </H3>
			
			
			<p> List conflicts for this user: {% for conflict in conflicts %} Conflict ID {{ conflict.id}}: Label {{ conflict.label }} from {{ conflict.date_from }} to {{ conflict.date_to }}<br> {% endfor %} </p>
			
			<p> List the schedule for this user: {{ schedule }} 
						User {{user.email}} is available:
					{% if schedule.monday_available %} Monday {% endif %} 
					{% if schedule.tuesday_available %} , Tuesday {% endif %} 
					{% if schedule.wednesday_available %} , Wednesday {% endif %}
					{% if schedule.thursday_available %} , Thursday.. {% endif %}			
			</p>
		
	</div>				

<h3>			
<br><br> <br><br>	<br><br>
<br><br> <br><br>	<br><br>
<br><br> <br><br>	
</h3>	
</div>		
{% endblock %}		

