<!--this is blocbox/core/templates/bocbox/homebrew_calendar.html, extends base.html, URL is www.blocbox.co/jesstest -->
{% extends "blocbox/base.html" %}

{% block title %}Jess Test / JessTest.html {% endblock %}

<!--the title of the current page that will appear as active/greyed i the navbar -->
{% block navbartitle %} JessTest {% endblock %}

{% block content %}

<!-- CALENDAR TEST -->		
<div class="container-fluid">     
				<br><br>
	
	<div> <!--TERST THE CALENDAR-->
		<H3>Test the homebrew calendar </H3>
			
			<p> List conflicts for this user: {{ conflicts }} </p>
			
			<p> List the schedule for this user: {{ schedule }} </p>
	
	</div>				
				

</div>		
{% endblock %}		

