<!--this is core/templates/base_subtemplates/login_modal.html, it isi called by baseorange.html and base.html-->
		

       <div id="open_login_modal" class="modalDialog">
           <div class="modalupfront">	<!--modalupfront-->
           	<a href="#close" title="Close" class="close">X</a>
               <h6 class="ltbluetext paddingsides15px">Sign In</h6>
               <form class="form-inline" role="form" method="post" action="/login/" enctype="multipart/form-data">
                   {% csrf_token %} {{ login_form.non_field_errors }}
                   <div class="row">
                       <div class="col-xs-12 form-group">
                           {{ user_form.email.errors }}
                           <input type="email" class="form-control input-lg" name="email" id="id_email" placeholder="Enter Email">
                       </div>

                       <div class="col-xs-12 form-group">
                           {{ user_form.password.errors }}
                           <input type="password" class="form-control input-lg" name="password" id="id_password1" placeholder="Enter Password">
                       </div>
                   </div>
                   <div class="row paddingtopbottom10px">
                       <div class="col-xs-6 checkbox greytext">
                           <label>
                               <input type="checkbox">&nbsp; Remember Me
                           </label>
                       </div>
                       <p class="col-xs-6 textright"><a href="/passwordreset/recover/">Forgot Password?</a>
                       </p>
                   </div>
                   <div class="paddingsides15px">
                       <button type="submit" name="submit" class="bluebutton marginsides15px">Sign In</button>
                   </div>
                   <div class="row">
                       <div class="profileboxline100 paddingsides15px margintop20px marginbottom20px"></div>
                       <p class="col-xs-6 greytext nopaddingright" style="margin-right: -20px;">Don't have an account?</p>
                       <p class="col-xs-3 nopaddingleftright"><a href="/search/">Get Started</a>
                       </p>
                   </div>
               </form>
           </div>
       </div>
       				
			<!--OTHER MODAL
			
			<div class="modalDialog" id="openModal1">
                            <div class="">	
                            <a href="#close" title="Close" class="close">X</a>
                                <h6 class="ltbluetext paddingsides15px">Sign In</h6>
                                <form class="form-inline" role="form" method="post" action="/login/" enctype="multipart/form-data">
                                    {% csrf_token %} {{ login_form.non_field_errors }}
                                    <div class="row">
                                        <div class="col-xs-12 form-group paddingbottom20px">
                                            {{ user_form.email.errors }}
                                            <label for="id_email">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="id_email" placeholder="Enter Email">
                                        </div>

                                        <div class="col-xs-12 form-group">
                                            {{ user_form.password.errors }}
                                            <label for="id_password1">Password</label>
                                            <input type="password" class="form-control" name="password" id="id_password1" placeholder="Enter Password">
                                        </div>
                                    </div>
                                    <div class="row paddingtopbottom10px">
                                        <div class="col-xs-6 checkbox greytext">
                                            <label>
                                                <input type="checkbox">&nbsp; Remember Me
                                            </label>
                                        </div>
                                        <p class="col-xs-6 textright"><a href="/passwordreset/recover/">Forgot Password?</a>
                                        </p>
                                    </div>
                                    <div class="paddingsides15px">
                                        <button type="submit" name="submit" class="bluebutton marginsides15px">Sign In</button>
                                    </div>
                                    <div class="row">
                                        <div class="profileboxline100 paddingsides15px margintop20px marginbottom20px"></div>
                                        <p class="col-xs-6 greytext nopaddingright" style="margin-right: -20px;">Don't have an account?</p>
                                        <p class="col-xs-3 nopaddingleftright"><a href="/search/">Get Started</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        		
						-->


