<!--this is blocbox/core/templates/calendar_subtemplates/bimonthly_calendar.html 
note, bootstratp td classes: active, success, danger, warning, info -- use some of these for the cal/ovlerapping dates -->
				<div class="col-xs-12 col-sm-6"> <div class="col-xs-12 col-sm-11">
			  	<h4 class="textcenter">{{ thismonth }} </h4>

			 		 <table class="table">
			 		 	<!--first row: weekday names -->
			 		 	<tr>	<th>Sun</th> <th>Mon</th> <th>Tue</th> <th>Wed</th> <th>Thur</th> <th>Fri</th> <th>Sat</th>  	</tr>
			 		 {% for week in thismonth_calendar %}
			 		 	<tr> 
			 		 		
			 		 				{% for day in week %}
			 		 					
		<form  method="post" role="form" action=".">  
			 		 								<!--make the square bold if its today -->
			 		 								{% if day = today_dayofmonth_num %} 
			 		 									<td class="active"> <b> 
			 		 											<label>	<input type="checkbox" name="month1day{{day}}" id="id_month1day{{day}}" > {{ day }} </label>	
															</b> 
														</td> 
			 		 								{% else %} 	          
			 		 											<!--danger days-->
			 		 										  {% if day in days_withconflicts_thismonth and day in days_package_may_come_thismonth %}  
			 		 										  	<td class="danger"> 
			 		 										  			<label>	<input type="checkbox" name="month1day{{day}}" id="id_month1day{{day}}" > {{ day }} </label>	
			 		 										  	</td>
			 		 										  <!--days it may come, no conflict-->
			 		 										  {% elif day in days_package_may_come_thismonth %} 
			 		 										  	<td class="info"> 
			 		 										  			<label>	<input type="checkbox" name="month1day{{day}}" id="id_month1day{{day}}" > {{ day }} </label>	
			 		 										  	</td>
			 		 											<!--conflict days --> 
			 		 											{% elif day in days_withconflicts_thismonth %} 
			 		 													<td class="warning"> 
			 		 															<label>	<input type="checkbox" name="month1day{{day}}" id="id_month1day{{day}}" > {{ day }} </label>	 
			 		 													</td> 
			 		 											{% else %}	
			 		 												<td>  		 											  	
			 		 														{% if day = 0 %}  <!--blank if zero -->
			 		 														{% else %} 
			 		 															  <label>	<input type="checkbox" name="month1day{{day}}" id="id_month1day{{day}}" > {{ day }} </label>	 
			 		 														{% endif %}	
			 		 												</td>
			 		 											{% endif %} <!--endif conflict -->
			 		 								{% endif %} <!--end if today-->
			 		 				
			 		 				
			 		 				{% endfor %} <!--for day in week-->
			 		 	</tr>
			 		 {% endfor %} <!--for week in month-->
						</table>
				</div> </div>	  <!--table for this month-->	
			  
			  <div class="col-xs-12 col-sm-6"> <div class="col-xs-12 col-sm-11">
			  		<h4 class="textcenter">{{ nextmonth }} </h4>
			  		<table class="table">
			  			<!--first row: weekday names -->
			  			<tr>	<th>Sun</th> <th>Mon</th> <th>Tue</th> <th>Wed</th> <th>Thur</th> <th>Fri</th> <th>Sat</th>  	</tr>
			  		{% for week in nextmonth_calendar %}
			  			<tr> 
			  				{% for day in week %}
																<!--danger days -->
															  {% if day in days_withconflicts_nextmonth and day in days_package_may_come_nextmonth %} 
															  	<td class="danger"> 
															  			<label>	<input type="checkbox" name="month2day{{day}}" id="id_month2day{{day}}" > {{ day }} </label>  
															  	</td>
			 		 											<!--conflict days -->
			 		 											{% elif day in days_withconflicts_nextmonth %} 
			 		 												<td class="warning"> 
			 		 														<label>	<input type="checkbox" name="month2day{{day}}" id="id_month2day{{day}}"  > {{ day }} </label>  
			 		 												</td> 
			 		 											{% else %}	
			 		 												<td>  		 											  	
			 		 														{% if day = 0 %}  <!--blank if zero -->
			 		 														{% else %} 
			 		 															  <label>	<input type="checkbox" name="month2day{{day}}" id="id_month2day{{day}}"  > {{ day }} </label>  
			 		 														{% endif %}	
			 		 												
						
			 		 												</td>
			 		 											{% endif %} <!--endif conflict -->
									
									
			  			  {% endfor %} <!--end for day in week -->
			  			</tr>
			  		{% endfor %}
						</table>
				</div> </div> <!--div for next month -->
				
				
				<div class="row">
         	<div class="col-xs-12 col-sm-6 col-sm-offset-3 marginbottom30px paddingtop20px nopaddingright">
            <button class="bluebutton" style="height: 60px" onClick="window.location='/payment/host{{host.id}}/days{{dayrangestart}}to{{dayrangeend}}';">
            	I Confirm that {{host.first_name}} is Available</button>
        	</div>
    		</div>
    		
    </form>	