{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block passwordresetcontent %}
	<div class="col-xs-12 text-center">
	<h3>{% trans "Your password has successfully been reset. <br> You can use it right now on the" %} 
		<a href="/login/">login</a> {% trans "page." %}
	</h3>
	
	</div>
	
	<!--note: the text between trans tags cannot be put on two lines.. i think this is to translate it to different languages -->				
							
{% endblock %}
