<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Blocbox - Compose Message</title>
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="body compose-message clearfix">
  <header class="_container _container-36 clearfix">
    <div class="element element-39"></div>
    <div onClick="window.location='indexv4.html';" class="element element-41"></div>
    <button class="_button-28">Michelle</button>
    <button class="_button-29">&nbsp;</button>
    <button onClick="window.location='user-dashboard-inbox.html';" class="_button-30">&nbsp;</button>
    <button class="_button-31">&nbsp;</button>
  </header>
  <div class="element _container element-49">
    <p class="text _text text-93">SETTINGS</p>
    <p class="text _text text-98">SENT</p>
    <div class="text _text text-103">
      <p>COMPOSE</p>
      <p><br></p>
</div>
    <p class="text _text text-108">ARCHIVE</p>
    <p class="text _text text-112">INBOX</p>
  </div>
  <div class="element _container element-73">
    <div class="container _container container-36">
      <p class="text _text text-125">1425 13th Street Apt. 1</p>
    </div>
    <div class="container _container container-40 clearfix">
      <div class="element _container element-90">
        <p class="text _text text-136">Verified Info</p>
      </div>
      <div class="container container-47"></div>
      <img class="image image-15" src="images/iconmonstr-paper-plane-2-icon.svg">
      <p class="text _text text-152">Facebook</p>
      <img class="image image-16" src="images/1397247794_46-facebook.svg">
      <img class="image image-17" src="images/1397247711_home.svg">
      <p class="text _text text-170">Clinton Hill</p>
      <p class="text _text text-180">NextDoor</p>
      <p class="text _text text-190">Phone&nbsp;Number</p>
      <p class="text _text text-199">Email&nbsp;Address</p>
    </div>
    <div class="container container-65"></div>
    <div class="element _container element-133">
      <p class="text _text text-219">Sylvia</p>
    </div>
  </div>
  <div class="container _container container-74 clearfix">
    <div class="element _container element-145 clearfix">
      <p class="text _text text-243">Send a Message to</p>
      <select>
        <option value="Sylvia">Sylvia</option>
        <option value="Lourdes">Lourdes</option>
        <option value="Neda">Neda</option>
      </select>
    </div>
    <div class="container _container container-87 clearfix">
      <div class="container container-90"></div>
      <p class="text _text text-273">Michelle</p>
    </div>
    <textarea placeholder="Say hello, ask a favor, or offer help."></textarea>
    <div class="element element-166"></div>
  </div>
  <div class="container _container container-102">
    <div class="element element-178"></div>
    <div class="element _container element-190">
      <p class="text _text text-313">ACCOUNT</p>
      <p class="text _text text-321">TRANSACTIONS</p>
      <div class="text _text text-334">
        <p>MESSAGES</p>
        <p><br></p>
</div>
      <p class="text _text text-346">PROFILE</p>
      <p class="text _text text-359">DASHBOARD</p>
    </div>
  </div>
  <footer class="_element-178"></footer>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>