<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Blobox - Messages</title>
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="//use.typekit.net/olu7nwz.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="body user-dashboard-messages clearfix">
  <header class="_container _container-12 clearfix">
    <div class="element element-12"></div>
    <div class="element element-13"></div>
    <button class="_button-9">Michelle</button>
    <button class="_button-10">&nbsp;</button>
    <button class="_button-11">&nbsp;</button>
    <button class="_button-14">&nbsp;</button>
  </header>
  <div class="element _container element-17">
    <p class="text text-27">SETTINGS</p>
    <p class="text text-28">SENT</p>
    <div onClick="window.location='user-dashboard-compose.html';" class="text text-30">
      <p>COMPOSE</p>
      <p><br></p>
</div>
    <p class="text text-32">ARCHIVE</p>
    <p onClick="window.location='user-dashboard-inbox.html';" class="text text-35">INBOX</p>
  </div>
  <div class="element _container element-23">
    <div class="container _container container-11">
      <p class="text text-42">1425 13th Street Apt. 1</p>
    </div>
    <div class="container _container container-14 clearfix">
      <div class="element _container element-24">
        <p class="text text-47">Verified Info</p>
      </div>
      <div class="container container-17"></div>
      <img class="image image-7" src="images/iconmonstr-paper-plane-2-icon.svg">
      <p class="text text-59">Facebook</p>
      <img class="image image-9" src="images/1397247794_46-facebook.svg">
      <img class="image image-11" src="images/1397247711_home.svg">
      <p class="text text-70">Clinton Hill</p>
      <p class="text text-75">NextDoor</p>
      <p class="text text-79">Phone&nbsp;Number</p>
      <p class="text text-83">Email&nbsp;Address</p>
    </div>
    <div class="container container-22"></div>
    <div class="element _container element-43">
      <p class="text text-94">Sylvia</p>
    </div>
  </div>
  <div class="container _container container-27 clearfix">
    <div class="element _container element-48">
      <p class="text text-103">Conversation with Sylvia</p>
    </div>
    <div class="container _container container-33 clearfix">
      <div class="container container-34"></div>
      <p class="text text-113">Michelle</p>
    </div>
    <textarea placeholder="Send a message"></textarea>
    <div class="element element-63"></div>
    <div class="container _container container-39 clearfix">
      <div class="container container-42"></div>
      <p class="text text-137">Michelle</p>
      <p class="text text-144">MAY 20</p>
    </div>
    <div class="container _container container-46">
      <p class="text text-154">Thanks Sylvia. If you could just walk around the house each day to check that it's secure is all we need.  Should take maybe 15 min each day.</p>
    </div>
    <div class="container _container container-50">
      <p class="text text-165">Hi Michelle, 
 
I'd be happy to help! Please provide a detailed list of tasks and I will provide a per day cost estimate.  Thanks&nbsp;</p>
    </div>
    <div class="container _container container-52 clearfix">
      <div class="container container-57"></div>
      <p class="text text-180">MAY 19</p>
      <p class="text text-190">Sylvia</p>
    </div>
    <div class="container _container container-61 clearfix">
      <div class="container container-66"></div>
      <p class="text text-205">MAY 18</p>
      <p class="text text-212">Michelle</p>
    </div>
    <div class="container _container container-72">
      <p class="text text-224">Hi Sylvia, 
 
I'm looking for help with some house sitting next month while my family and I go on vacation (April 12-24).  Is that something that you could help with?<br></p>
    </div>
  </div>
  <div class="container _container container-79">
    <div class="element element-121"></div>
    <div class="element _container element-131">
      <p class="text text-246">ACCOUNT</p>
      <p class="text text-255">TRANSACTIONS</p>
      <div class="text text-263">
        <p>MESSAGES</p>
        <p><br></p>
</div>
      <p class="text text-270">PROFILE</p>
      <p onClick="window.location='user-dashboard.html';" class="text text-276">DASHBOARD</p>
    </div>
  </div>
  <footer class="_element-109"></footer>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>