<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>user-dashboard-inbox</title>
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="//use.typekit.net/olu7nwz.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="body user-dashboard-inbox clearfix">
  <div class="element _container element-29">
    <p class="text text-54">SETTINGS</p>
    <p class="text text-58">SENT</p>
    <div onClick="window.location='user-dashboard-compose.html';" class="text text-63">
      <p>COMPOSE</p>
      <p><br></p>
</div>
    <p class="text text-66">ARCHIVE</p>
    <p class="text text-69">INBOX</p>
  </div>
  <header class="_container _container-37 clearfix">
    <div class="element element-34"></div>
    <div class="element element-36"></div>
    <button class="_button-29">Michelle</button>
    <button class="_button-30">&nbsp;</button>
    <button class="_button-31">&nbsp;</button>
    <button class="_button-34">&nbsp;</button>
  </header>
  <div class="container _container container-29 clearfix">
    <div onClick="window.location='user-dashboard-messages.html';" class="container _container clearfix">
      <div class="element element-51"></div>
      <p onClick="window.location='user-dashboard-messages.html';" class="text text-109">HOUSE SITTING FAVOR</p>
      <p class="text text-112">Sylvia</p>
      <p class="text text-118">Thanks Sylvia. If you could just walk around the house each day to check that...&nbsp;</p>
      <p class="text text-124">MAY 20</p>
    </div>
    <div class="container _container clearfix">
      <div class="element element-67"></div>
      <p class="text text-136">INVITATION TO CONNECT</p>
      <p class="text text-143">Neda</p>
      <p class="text text-149">Thanks Sylvia. If you could just walk around the house each day to check that...&nbsp;</p>
      <p class="text text-153">MAY 19</p>
    </div>
    <div class="container _container clearfix">
      <div class="element element-89"></div>
      <p class="text text-170">Lourdes</p>
      <p class="text text-174">PACKAGE REMINDER</p>
      <p class="text text-179">Thanks Sylvia. If you could just walk around the house each day to check that...&nbsp;</p>
      <p class="text text-189">MAY 16</p>
    </div>
    <div class="container _container clearfix">
      <div class="element element-99"></div>
      <p class="text text-204">FAVOR REQUEST</p>
      <p class="text text-211">Yuki</p>
      <p class="text text-218">Thanks Sylvia. If you could just walk around the house each day to check that...&nbsp;</p>
      <p class="text text-223">MAY 15</p>
    </div>
  </div>
  <div class="container _container container-78">
    <div class="element element-120"></div>
    <div class="element _container element-130">
      <p class="text text-245">ACCOUNT</p>
      <p class="text text-254">TRANSACTIONS</p>
      <div class="text text-262">
        <p>MESSAGES</p>
        <p><br></p>
</div>
      <p class="text text-269">PROFILE</p>
      <p onClick="window.location='user-dashboard.html';" class="text text-275">DASHBOARD</p>
    </div>
  </div>
  <footer class="_element-108"></footer>

  <script src="js/jquery-min.js"></script>
</body>
</html>