<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Blocbox - Messages</title>
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="body user-message clearfix">
  <header class="_container _container-12 clearfix">
    <div class="element element-12"></div>
    <div class="element element-13"></div>
    <button class="_button-9">Michelle</button>
    <button class="_button-10">&nbsp;</button>
    <button class="_button-12">&nbsp;</button>
    <button class="_button-15">&nbsp;</button>
  </header>
  <div class="element _container element-17">
    <p class="text _text text-27">SETTINGS</p>
    <p class="text _text text-28">SENT</p>
    <div onClick="window.location='compose-message.html';" class="text _text text-30">
      <p>COMPOSE</p>
      <p><br></p>
</div>
    <p class="text _text text-32">ARCHIVE</p>
    <p onClick="window.location='inbox.html';" class="text _text text-36">INBOX</p>
  </div>
  <div class="element _container element-31">
    <div class="container _container container-15">
      <p class="text _text text-43">1425 13th Street Apt. 1</p>
    </div>
    <div class="container _container container-19 clearfix">
      <div class="element _container element-36">
        <p class="text _text text-54">Verified Info</p>
      </div>
      <div class="container container-22"></div>
      <img class="image image-7" src="images/iconmonstr-paper-plane-2-icon.svg">
      <p class="text _text text-72">Facebook</p>
      <img class="image image-9" src="images/1397247794_46-facebook.svg">
      <img class="image image-11" src="images/1397247711_home.svg">
      <p class="text _text text-88">Clinton Hill</p>
      <p class="text _text text-94">NextDoor</p>
      <p class="text _text text-99">Phone&nbsp;Number</p>
      <p class="text _text text-104">Email&nbsp;Address</p>
    </div>
    <div class="container container-29"></div>
    <div class="element _container element-69">
      <p class="text _text text-118">Sylvia</p>
    </div>
  </div>
  <div class="container _container container-37 clearfix">
    <div class="element _container element-83">
      <p class="text _text text-130">Conversation with Sylvia</p>
    </div>
    <div class="container _container container-43 clearfix">
      <div class="container container-45"></div>
      <p class="text _text text-142">Michelle</p>
    </div>
    <textarea placeholder="Send a message"></textarea>
    <div class="element element-103"></div>
    <div class="container _container container-53 clearfix">
      <div class="container container-57"></div>
      <p class="text _text text-172">Michelle</p>
      <p class="text _text text-182">MAY 20</p>
    </div>
    <div class="container _container container-63">
      <p class="text _text text-201">Thanks Sylvia. If you could just walk around the house each day to check that it's secure is all we need.  Should take maybe 15 min each day.</p>
    </div>
    <div class="container _container container-67">
      <p class="text text-213">Hi Michelle, 
 
I'd be happy to help! Please provide a detailed list of tasks and I will provide a per day cost estimate.  Thanks&nbsp;</p>
    </div>
    <div class="container _container container-71 clearfix">
      <div class="container container-75"></div>
      <p class="text _text text-235">MAY 19</p>
      <p class="text _text text-245">Sylvia</p>
    </div>
    <div class="container _container container-82 clearfix">
      <div class="container container-88"></div>
      <p class="text _text text-267">MAY 18</p>
      <p class="text _text text-276">Michelle</p>
    </div>
    <div class="container _container container-95">
      <p class="text _text text-289">Hi Sylvia, 
 
I'm looking for help with some house sitting next month while my family and I go on vacation (April 12-24).  Is that something that you could help with?<br></p>
    </div>
  </div>
  <div class="container _container container-104">
    <div class="element element-180"></div>
    <div class="element _container element-192">
      <p class="text _text text-316">ACCOUNT</p>
      <p class="text _text text-324">TRANSACTIONS</p>
      <div class="text _text text-337">
        <p>MESSAGES</p>
        <p><br></p>
</div>
      <p class="text _text text-349">PROFILE</p>
      <p onClick="window.location='user-dashboard.html';" class="text _text text-362">DASHBOARD</p>
    </div>
  </div>
  <footer class="_element-180"></footer>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>