{% load staticfiles %}
<!doctype html>
<!--this is /home/django/blocbox/core/templates/blocbox/sign-in.html -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Introducing Blocbox - Never Miss A Package</title>
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="{% static 'blocbox/css/standardizemain.css' %}">
  <link rel="stylesheet" href="{% static 'blocbox/css/stylesmain.css' %}">
  <link rel="stylesheet" href="{% static 'blocbox/css/sign-in.css' %}">
</head>
<body class="body sign-in clearfix">
  <p class="text text-1">Sign In</p>
  <button class="_button _button-1">&nbsp;</button>
  <button onClick="window.location='sign-in.html';" class="say-hello">Sign In</button>
  <div class="container clearfix">
    <input class="_input _input-1" name="Email" placeholder="Email" type="email">
    <input class="_input _input-2" name="Password" placeholder="Password" type="password">
    <label class="checkout-label clearfix">
      <input class="checkbox" type="checkbox">
      <span class="point-text">Please Keep Me Signed In</span>
    </label>
    <button class="_button">Sign In</button>
    <p onClick="window.location='sign-in-v2.html';" class="text text-2">Sign Up!</p>
    <p class="text text-3">Don't Have an Account?</p>
  </div>
  <a class="name" href="#"></a>
  <a class="logo" href="#"></a>
  <div class="social clearfix">
    <a class="facebook" href="#"></a>
    <a class="twitter" href="#"></a>
    <a class="linkedin" href="#"></a>
  </div>
  <div class="learn clearfix">
    <a class="learn-more" href="#">Learn More</a>
    <a class="arrow1" href="#"></a>
  </div>
  <div class="grid"></div>
  <div class="landing-background"></div>
  <h3>
    <p>Stop Missing Packages.</p>
    <p>Meet the Neighbors.</p>
</h3>
  <p class="works-subtitle">Blocbox quickly and easily allows you to find nearby neighbors acting as Blocbox hosts, arrange for your packages to be delivered to them, and be notified so you can conveniently pick up your package when you get home, or whenever you like.</p>
  <div class="works-graphics clearfix">
    <div class="element element-1"></div>
    <div class="element element-2"></div>
    <div class="element element-3"></div>
    <div class="element element-4"></div>
    <div class="element element-5"></div>
  </div>
  <div class="works-text clearfix">
    <p class="text text-4">FIND A BLOCBOX HOST</p>
    <p class="text text-5">SHIP TO YOUR BOX</p>
    <p class="text text-6">PICK IT UP NEARBY, WHENEVER</p>
    <p class="text text-7">Search to determine a conveniently located and verified Blocbox host and connect.</p>
    <p class="text text-8">As you complete your order, enter the address of your connected Blocbox host.</p>
    <p class="text text-9">Blocbox will notify you of your package's usccessful receipt. You can then suggest a time you will pick it up, or you can wait till it's convenient for you.</p>
  </div>
  <p class="details">More details Coming Soon</p>
  <div class="arrow2"></div>
  <p class="learn-host">Learn About Becoming a Host</p>
  <div class="beyond clearfix">
    <p class="text text-10">Beyond Packages</p>
    <p class="text text-11">Solving the hassle of package receipt is just the first way Blocbox can help. We encourage Blocbox hosts to get creative in the ways in which they can help their neighbors. Here's a few possibilities just off the top of our heads.</p>
    <div class="element element-6"></div>
    <div class="element element-7"></div>
    <div class="element element-8"></div>
    <div class="element element-9"></div>
    <div class="element element-10"></div>
    <p class="text text-12">Handy Work</p>
    <p class="text text-13">House Sitting</p>
    <p class="text text-14">Storage</p>
    <p class="text text-15">Pet Care</p>
    <p class="text text-16">Carpooling</p>
  </div>
  <div class="works-background"></div>
  <div class="host-title clearfix">
    <p class="text text-17">Become a Blocbox Host</p>
    <p class="text text-18">Blocbox quickly and easily allows you to find nearby neighbors acting as Blocbox hosts, arrange for your packages to be delivered to them, and be notified so you can conveniently pick up your package when you get home, or whenever you like.</p>
  </div>
  <div class="host-graphics clearfix">
    <div class="element element-11"></div>
    <div class="element element-12"></div>
    <div class="element element-13"></div>
    <div class="element element-14"></div>
    <div class="element element-15"></div>
  </div>
  <div class="host-text clearfix">
    <p class="text text-19">PERFORM TASKS WHILE AT HOME</p>
    <p class="text text-20">Receive packages and offer other services to neighbors. Hosts must be able to be verified and be at home to receive all scheduled deliveries.</p>
    <p class="text text-21">Set and arrange times at which your neighbors can pick up their packages at your door. Hosts must be home a minimum amount of hours in the evening to allow neighbors to pick up their packages.</p>
    <p class="text text-22">MEET YOUR NEIGHBORS</p>
    <p class="text text-23">EARN MONEY</p>
    <p class="text text-24">Your neighbors get their packages, you get a little extra in your pocket. The neighborhood wins.</p>
  </div>
  <p class="details2">More details Coming Soon</p>
  <div class="host-background"></div>
  <footer class="clearfix">
    <div class="copyright"></div>
    <a class="privacy" href="#">Privacy Policy</a>
    <p class="goodhood">GoodHood LLC</p>
  </footer>

  <script src="js/jquery-min.js"></script>
</body>
</html>