<!--this is core/templates/dashboard_host_subtemplates/host_received_modal.html, it is called within modaltags.py - the tracking_modal def
which is called on dashboard.html -->

<!--PACKAGE RECEIVED BY HOST MODAL-->
<div id="openModal_host_received_id{{sh.id}}" class="modalDialog">
    <div>
        <a href="/hostdashboard" title="Close" class="close"><i class="fa fa-times fa-fw statusicon" style="padding-bottom: 4px;"></i></a>
        <h4 class="darkgreytext nomarginbottom" style="padding-top: 15px; font-weight: 400; font-size: 1.2em;">Confirm Package Receipt</h4>
        <h4 class="darkgreytext nomargintop" style="padding-top: 5px; font-weight: 300; font-size: 1.0em;">Provide Feedback or Comments about this Transaction</h4>


        <form class="form-inline" role="form" method="post" action="/hostdashboard/confirm_id{{sh.id}}/#openModal_host_received/Thanks" enctype="multipart/form-data">
            {% csrf_token %} {{ host_received_form.non_field_errors }} {{ host_received_form.host_comments.errors }}

            <!--end user comments -->
            
            <div class="col-xs-12 form-group nopaddingleftright paddingbottom10px">
                <textarea class="form-control" name="host_issue" id="id_host_issue" rows="4" style="width: 100%;" placeholder="Comments about your experience (optional)"> </textarea>
            </div>
            <!--submit button-->
            <div class="row paddingbottom10px">
                <button type="submit" name="submit" class="col-xs-5 col-xs-offset-7 btn-lg-gr">I got it!</button>
            </div>
        </form>
    </div>
</div>
<!--END DIV ID FOR PACKAGE RECEIVED MODAL.-->