<!--this is core/templates/dashboard_subtemplates/host_report_issue.html -->


<!--HOST REPORT AN ISSUE MODAL -->
<div id="openModal_host_issue_id{{sh.id}}" class="modalDialog">
    <div>
        <a href="/hostdashboard" title="Close" class="close"><i class="fa fa-times fa-fw statusicon" style="padding-bottom: 4px;"></i></a>
        <h4 class="ltbluetext paddingtop30px">Report an issue, delay or other concern with shipment {{sh.id}} </h4>
        <form class="form-inline" role="form" method="post" action="/hostdashboard/issue_id{{sh.id}}/#openModal_host_issue/Thanks" enctype="multipart/form-data">
            {% csrf_token %} {{ host_issue_form.non_field_errors }} {{ host_issue_form.enduser_issue.errors }}
            <div class="col-xs-12 form-group nopaddingleftright paddingbottom10px">
                <textarea class="form-control" name="host_issue" id="id_host_issue" rows="4" style="width: 100%;"> </textarea>
            </div>
            <!--siubmit button-->
            <div class="row paddingbottom10px">
                <button type="submit" name="submit" class="col-xs-5 col-xs-offset-7 bluebutton">Submit</button>
            </div>
        </form>
    </div>
</div>
<!--END: HOST ISSUE MODAL.-->