<!--this is core/templates/dashboard_host_subtemplates/message_to_enduser.html -->

<div id="openModal_message_id{{sh.id}}" class="modalDialog">
    {% load i18n %}
    <div>
        <a href="/hostdashboard" title="Close" class="close"><i class="fa fa-times fa-fw statusicon" style="padding-bottom: 4px;"></i></a>
        <div class="row margintopbottom30px">
            <h4 class="darkgreytext nomarginbottom" style="padding-top: 15px; font-weight: 400; font-size: 1.2em;">Send a message to {{sh.enduser.first_name}} about shipment {{sh.id}} </h4>
            <form action="/hostdashboard/message_id{{sh.id}}/#openModal_message/Thanks" method="post" class="text-left">
                {% csrf_token %} {{ compose_form.non_field_errors }} {{ compose_form.body.errors }}
                <!--{{ message_form.as_table }} -->
                <!--compose form has recipient, subject, body -->

                <div class="col-xs-12 form-group nopaddingleftright paddingbottom10px">
                    <textarea class="form-control" name="body" id="id_body" rows="4"> </textarea>
                </div>

                <!--HIDDEN FIELDS-->
                {{ compose_form.subject.errors }}
                <input type="hidden" name="subject" value="Re: Transaction ID {{ sh.id }}"> {{ compose_form.recipient.errors }}
                <input type="hidden" name="recipient" value="{{sh.host.email}}">
                <!--SUBMIT BUTON-->
                <div class="row paddingbottom10px">
                    <button type="submit" name="submit" class="col-xs-5 col-xs-offset-7 bluebutton">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MESSAGING MODAL -->