<!--this is core/templates/dashboard_host_subtemplates/message_to_enduser.html -->

<div id="openModal_host_message_id{{sh.id}}" class="modalDialog">
    {% load i18n %}
    <div>
        <a href="/hostdashboard" title="Close" class="close"><i class="fa fa-times fa-fw statusicon" style="padding-bottom: 4px;"></i></a>
        <div class="row margintopbottom20px">
            <div class="row">
                <div class="col-sm-2 nopaddingleft">
                    <a class="nopaddingleftright">
                        {% if enduser.facebook_id %}
                        <img class="messpic" src="http://graph.facebook.com/{{connection.end_user.facebook_id}}/picture?type=large" />
                        {% else %} 
                            {% if enduser.profile_pic_uploaded %}
                                <img class="messpic" src="{{connection.end_user.profile_pic_uploaded.url}}" />
                            {% else %}
                               <div>
                                   <div class="statusgrey"><i class="fa fa-user fa-flip-horizontal fa-fw fa-2x statusicon" style="padding-bottom: 7px; padding-left: 1px;"></i> </div>
                               </div>
                       {% endif %} {% endif %}
                   </a>
                </div>
                <div class="col-sm-10 nopaddingleft">
                    <h4 class="darkgreytext nomargintop" style="font-weight: 400; font-size: 1.2em;">Send a message to {{sh.enduser.first_name}} about shipment {{sh.id}} </h4>
                </div>
            </div>

            <form action="/hostdashboard/message_id{{sh.id}}/#openModal_host_message/Thanks" method="post" class="text-left">
                {% csrf_token %} {{ compose_form.non_field_errors }} {{ compose_form.body.errors }}
                <!--{{ message_form.as_table }} -->
                <!--compose form has recipient, subject, body -->

                <div class="col-xs-12 form-group nopaddingleftright paddingbottom10px">
                    <textarea class="form-control" name="body" id="id_body" rows="4"> </textarea>
                </div>

                <!--HIDDEN FIELDS-->
                {{ compose_form.subject.errors }}
                <input type="hidden" name="subject" value="Re: Transaction ID {{ sh.id }}"> {{ compose_form.recipient.errors }}
                <input type="hidden" name="recipient" value="{{sh.host.email}}">
                <!--SUBMIT BUTON-->
                <div class="row paddingbottom10px">
                    <button type="submit" name="submit" class="col-xs-5 col-xs-offset-7 btn-lg-gr">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MESSAGING MODAL -->