<!--this is /usr/local/lib/python2.7/dist-packages/django_messages/templates/django_messages/base.html -->
{% extends "blocbox/base.html" %}

{% load i18n %}
{% load url from future %} 
{% block bodyclass %}about{% endblock %}


<div class="container-fluid fillpage whitebackground relativediv">
{% block content %}

{% block sidebar %}

    <div class="row margintop60px marginbottom10px mobilehide">
        <a href="/dashboard/" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtextcurrent textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <p class="col-xs-2 subnavtext textcenter">PROFILE</p>
        <p class="col-xs-2 subnavtext textcenter">ACCOUNT</p>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="profileboxline100"></div>
        </div>
    </div>
{% endblock %} <!--sidebar-->

  

	<div class="col-xs-12 col-sm-12">
		
		{% block messagingcontent %}
		{% endblock %}

	</div>


{% endblock %} <!--content-->
</div>






