<!--this is /usr/local/lib/python2.7/dist-packages/django_messages/templates/django_messages/base.html -->
{% extends "blocbox/base.html" %}

{% load i18n %}
{% load url from future %} 
{% block bodyclass %}about{% endblock %}



{% block content %}

{% block sidebar %}
<div class="col-xs-3 col-sm-3">
	<ul class="subnavilist">
		<br>  <br> 
		<h4>Messages</h4>
    <p><a href="{% url 'messages_inbox' %} ">&raquo;&nbsp;{% trans "Inbox" %}</a> </p>
    <p><a href="{% url 'messages_outbox' %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a> </p>
    <p><a href="{% url 'messages_compose' %} ">&raquo;&nbsp;{% trans "New Message" %}</a> </p>
 		<p><a href="{% url 'messages_trash' %} ">&raquo;&nbsp;{% trans "Trash" %}</a> </p>
	</ul>
</div>
{% endblock %}

  

	<div class="col-xs-9 col-sm-9">
		
		{% block messagingcontent %}
		{% endblock %}

	</div>

{% endblock %}






