{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% block title %}Compose{% endblock %}
{% with active_page=compose %}  
{% block messagingcontent %} 


<div class="row margintopbottom30px">
   <div class="col-xs-6 col-xs-offset-3">
        <form action="" method="post">
        {% csrf_token %} 
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "Send" %} &raquo;"/>
        </form>
    </div>
</div>

{% endblock %}

{% endwith %}