{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load url from future %}

{% block title %}Outbox{% endblock %}

{% block messagingcontent %} 
<div class="row">
    <a href="{% url 'messages_inbox' %}" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">{% trans "INBOX" %}</a>
    <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">{% trans "COMPOSE" %}</a>
    <a href="{% url 'messages_outbox' %}" class="col-xs-2 subnavtextcurrent textcenter">{% trans "SENT" %}</a>
    <p href="{% url 'messages_trash' %}" class="col-xs-2 subnavtext textcenter">{% trans "ARCHIVE" %}</p>
    <p href="/messagesettings/" class="col-xs-2 subnavtext textcenter">SETTINGS</p>
</div>
{% if message_list %} 
<table class="table messages"> 
    <thead>
        <tr><th>{% trans "Recipient" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Sent" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td>{{ message.recipient }}</td>
        <td>
        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}">{% trans "delete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
{% endblock %}