body {
  background-color: rgb(250, 250, 250);
  font: 300 0.938em/1.38 brandon-grotesque;
  color: rgb(103, 114, 119);
}

.container input {
  display: block;
}

button {
  display: block;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
}

div button {
  float: left;
  clear: both;
  width: 238px;
  height: 3em;
  margin-top: 1.25em;
  border-radius: 0.5em;
  background-color: rgb(243, 194, 1);
  font-size: 1.333em;
  color: rgb(71, 82, 93);
}

footer {
  position: absolute;
  top: 174.133em;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 2.667em;
  background-color: rgb(250, 250, 250);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 75;
  width: 100%;
  height: 4em;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

header button {
  position: absolute;
  top: 0.867em;
  width: 126px;
  height: 2.267em;
  border-radius: 0.2em;
  font-size: 1em;
  color: rgb(103, 114, 119);
}

input {
  float: left;
}

label {
  display: block;
  float: left;
  clear: both;
  width: 99.9999999999%;
  height: 2.133em;
  margin-top: 0.667em;
}

label input {
  display: inline-block;
}

span {
  display: block;
  float: left;
  width: 360px;
  height: 2.133em;
  margin-left: 10px;
  font-size: 1em;
  line-height: 1.18;
  color: rgb(103, 114, 119);
}

.element .element {
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element .text {
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.text-19 p {
  margin-bottom: 1em;
}

._input {
  height: 2.222em;
  margin-top: 2.333em;
  padding: 0 0.556em;
  border: 0.111em solid rgb(243, 194, 1);
  background-color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(71, 82, 93);
}

.container-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 18;
  width: 83%;
  height: 18.8em;
  margin: -33.733em 0 0 8.5%;
}

.container-2 {
  position: absolute;
  top: 160.6em;
  left: 0;
  right: 0;
  z-index: 69;
  width: 83%;
  height: 7.333em;
  margin: 0 auto;
}

.container-3 {
  position: absolute;
  top: 131.8em;
  left: 0;
  right: 0;
  z-index: 56;
  width: 59.5%;
  height: 7.6em;
  margin: 0 auto;
}

.container-4 {
  position: absolute;
  top: 121.2em;
  left: 0;
  right: 0;
  z-index: 52;
  width: 100%;
  height: 4.067em;
  margin: 0 auto;
}

.container-5 {
  position: absolute;
  top: 11.933em;
  left: 53%;
  z-index: 35;
  width: 384px;
  height: 29.733em;
}

.container-6 {
  position: absolute;
  top: 86.667em;
  left: 0;
  right: 0;
  z-index: 25;
  width: 83%;
  height: 7.333em;
  margin: 0 auto;
}

.container-7 {
  position: absolute;
  top: 60.133em;
  left: 0;
  right: 0;
  z-index: 12;
  width: 59.5%;
  height: 7.6em;
  margin: 0 auto;
}

.container-8 {
  position: absolute;
  top: 46.533em;
  left: 0;
  right: 0;
  z-index: 9;
  width: 10.9166666666%;
  height: 4.667em;
  margin: 0 auto;
}

.container-9 {
  position: relative;
  float: left;
  clear: both;
  z-index: 62;
  width: 83%;
  height: 18.8em;
  margin: -33.667em 0 0 8.5%;
}

.element-1 {
  position: absolute;
  top: 0;
  left: 7.5%;
  z-index: 71;
  width: 307px;
  height: 4em;
  background-image: url('../images/Logo-and-name---orange-drop.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-10 {
  position: absolute;
  top: 101em;
  left: 0;
  right: 0;
  z-index: 48;
  width: 100%;
  height: 24.6em;
  margin: 0 auto;
  background-color: rgb(210, 213, 214);
}

.element-11 {
  clear: both;
  width: 7.3333333333%;
  height: 5.867em;
  margin: 5.333em 0 0 16.5833333333%;
  background-image: url('../images/handy.png');
}

.element-12 {
  width: 7.3333333333%;
  height: 5.867em;
  margin: 5.333em 0 0 7.4166666666%;
  background-image: url('../images/sitting.png');
}

.element-13 {
  width: 7.75%;
  height: 6.2em;
  margin: 5em 0 0 7.4166666666%;
  background-image: url('../images/storage.png');
}

.element-14 {
  width: 7.3333333333%;
  height: 5.867em;
  margin: 5.333em 0 0 7.4166666666%;
  background-image: url('../images/dog.png');
}

.element-15 {
  width: 7.3333333333%;
  height: 5.867em;
  margin: 5.333em 0 0 7.4166666666%;
  background-image: url('../images/disco.png');
}

.element-16 {
  float: left;
  clear: both;
  width: 18.320610687%;
  height: 1.6em;
  margin: 0.533em 0 0 41.2213740458%;
  background-image: url('../images/arrow-grey.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-17 {
  position: fixed;
  top: 4em;
  left: 0;
  right: 0;
  width: 100%;
  height: 50em;
  margin: 0 auto;
  background: url('../images/Map-close-white.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-18 {
  position: relative;
  float: left;
  z-index: 49;
  width: 100%;
  height: 48.533em;
  margin-top: 24.6em;
  background-color: rgb(255, 255, 255);
}

.element-19 {
  float: left;
  width: 28.313253012%;
  height: 18.8em;
  background-image: url('../images/packagehold.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-2 {
  position: relative;
  float: left;
  z-index: 6;
  width: 50.8333333333%;
  height: 40.2em;
  margin: 2.2em 0 0 4.6666666666%;
  background-image: url('../images/Block-Outline-Glow-transparent.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-20 {
  position: relative;
  float: left;
  z-index: 59;
  width: 28.313253012%;
  height: 18.8em;
  margin-left: 7.5301204819%;
  background-image: url('../images/handoff.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-21 {
  position: relative;
  float: left;
  clear: both;
  z-index: 61;
  width: 7.8313253012%;
  height: 0.133em;
  margin: -9.533em 0 0 63.8554216867%;
  background-color: rgb(250, 250, 250);
}

.element-22 {
  float: left;
  width: 7.8313253012%;
  height: 0.133em;
  margin: -9.4em 0 0 28.313253012%;
  background-color: rgb(250, 250, 250);
}

.element-23 {
  float: left;
  width: 28.313253012%;
  height: 18.8em;
  margin: -18.8em 0 0 71.6867469879%;
  background-image: url('../images/money.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-24 {
  float: left;
  width: 16px;
  height: 1.067em;
  margin: 0.8em 0 0 6.5%;
  background-image: url('../images/Copyrightv1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 100%;
  height: 46.6em;
  margin-top: 12em;
  background-color: rgb(250, 250, 250);
}

.element-4 {
  float: left;
  width: 28.313253012%;
  height: 18.8em;
  background-image: url('../images/homesearch.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-5 {
  float: left;
  width: 28.313253012%;
  height: 18.8em;
  margin-left: 7.5301204819%;
  background-image: url('../images/Shipping-Entry.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-6 {
  position: absolute;
  top: 9.267em;
  left: 64.2538905622%;
  z-index: 17;
  width: 6.8273092369%;
  height: 0.133em;
  background-color: rgb(255, 255, 255);
}

.element-7 {
  position: absolute;
  top: 9.4em;
  left: 28.6144578313%;
  z-index: 16;
  width: 6.8273092369%;
  height: 0.133em;
  background-color: rgb(255, 255, 255);
}

.element-8 {
  float: left;
  width: 28.313253012%;
  height: 18.8em;
  margin-left: 7.5301204819%;
  background-image: url('../images/boxlocation(3).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-9 {
  float: left;
  width: 2%;
  height: 1.6em;
  margin: 2em 0 0 49%;
  background-image: url('../images/arrow-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.text-1 {
  position: absolute;
  top: 170.533em;
  left: 0;
  right: 0;
  z-index: 70;
  width: 23%;
  min-height: 1.467em;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(71, 82, 93);
}

.text-10 {
  position: absolute;
  top: 95.533em;
  left: 0;
  right: 0;
  z-index: 53;
  width: 23%;
  min-height: 1.467em;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(71, 82, 93);
}

.text-11 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 51;
  height: 1.867em;
  margin: 0 auto;
  border-radius: 0.2em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.text-12 {
  float: left;
  width: 23.5%;
  min-height: 1.071em;
  margin: 0.821em 0 0 38.25%;
  padding-top: 0.214em;
  font-size: 1.867em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.text-13 {
  position: absolute;
  top: 4.733em;
  left: 0;
  right: 0;
  z-index: 37;
  width: 53%;
  min-height: 1.933em;
  margin: 0 auto;
  font-size: 1em;
}

.text-14 {
  float: left;
  clear: both;
  width: 7.8333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 16%;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
}

.text-15 {
  float: left;
  width: 7.8333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 7.5%;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
}

.text-16 {
  float: left;
  width: 7.3333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 7.1666666666%;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
}

.text-17 {
  float: left;
  width: 7.8333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 6.5833333333%;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
}

.text-18 {
  float: left;
  width: 9.6666666666%;
  min-height: 1.067em;
  margin: 0.133em 0 0 6.75%;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
}

.text-19 {
  float: left;
  width: 99.9999999999%;
  min-height: 2.065em;
  margin: 0.581em 0 0 -0.2604166667%;
  font-size: 2.067em;
  font-weight: 400;
  line-height: 0.18;
  color: #47525d;
}

.text-20 {
  float: left;
  clear: both;
  width: 99.9999999999%;
  max-width: 384px;
  min-height: 6.833em;
  margin-left: -0.2604166667%;
  font-size: 1.2em;
  line-height: 1.38;
  color: rgb(103, 114, 119);
}

.text-21 {
  float: left;
  clear: both;
  width: 238px;
  min-height: 1.583em;
  margin-top: 0.75em;
  font-size: 0.8em;
  line-height: 1.38;
  color: rgb(103, 114, 119);
}

.text-2,
.text-22 {
  float: left;
  width: 28.313253012%;
  min-height: 2em;
  padding-top: 0.333em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(103, 114, 119);
}

.text-23,
.text-3 {
  float: left;
  width: 28.313253012%;
  min-height: 2em;
  margin-left: 7.8313253012%;
  padding-top: 0.333em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(103, 114, 119);
}

.text-24,
.text-4 {
  float: left;
  width: 28.313253012%;
  min-height: 2em;
  margin-left: 7.2289156626%;
  padding-top: 0.333em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(103, 114, 119);
}

.text-25,
.text-5 {
  float: left;
  clear: both;
  width: 28.313253012%;
  min-height: 3.667em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(103, 114, 119);
}

.text-26,
.text-27,
.text-6,
.text-7 {
  float: left;
  width: 28.313253012%;
  min-height: 3.667em;
  margin-left: 7.5301204819%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(103, 114, 119);
}

.text-28 {
  position: relative;
  float: left;
  z-index: 10;
  width: 100%;
  min-height: 2.065em;
  font-size: 2.067em;
  font-weight: 400;
  line-height: 0.28;
  text-align: center;
  color: #47525d;
}

.text-29 {
  position: relative;
  float: left;
  clear: both;
  z-index: 11;
  width: 89.0756302521%;
  min-height: 4.6em;
  margin: -2em 0 0 5.4621848739%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(103, 114, 119);
}

.text-30 {
  float: left;
  width: 99.9999999999%;
  height: 1.867em;
  border-radius: 0.2em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: #677277;
}

.text-31 {
  float: left;
  width: 8.5%;
  height: 3.333em;
  margin-left: 0.6666666666%;
  padding-top: 1.083em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(71, 82, 93);
}

.text-32 {
  float: left;
  width: 8.5%;
  height: 3.333em;
  min-height: 1.75em;
  padding-top: 1.083em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(103, 114, 119);
}

.text-8 {
  position: relative;
  float: left;
  z-index: 54;
  width: 100%;
  min-height: 2.065em;
  font-size: 2.067em;
  font-weight: 400;
  line-height: 0.28;
  text-align: center;
  color: #47525d;
}

.text-9 {
  position: relative;
  float: left;
  clear: both;
  z-index: 55;
  width: 89.0756302521%;
  min-height: 4.6em;
  margin: -2em 0 0 5.4621848739%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(103, 114, 119);
}

._button-1 {
  left: 55.5%;
  z-index: 74;
}

._button-2 {
  left: 68.25%;
  z-index: 73;
}

._button-3 {
  left: 81%;
  z-index: 72;
  border: 0.133em solid rgb(243, 194, 1);
}

.container ._input-1 {
  clear: both;
  width: 67.1874999999%;
}

.container ._input-2 {
  width: 26.5624999999%;
  margin-left: 6.2499999999%;
}