body {
  background-color: rgb(250, 250, 250);
  font: 500 1.125em/1.38 brandon-grotesque;
  color: rgb(71, 82, 93);
}

.almost-finished {
  color: rgb(21, 90, 50);
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

.index,
.waitlist-confirmation {
  color: rgb(255, 255, 255);
}

.privacy-policy {
  color: rgb(71, 82, 93);
}

.social a {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.833em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.waitlist a {
  position: absolute;
  top: 4.583em;
  left: 64.5833333333%;
  z-index: 63;
  width: 238px;
  max-width: 238px;
  min-height: 1.583em;
  font-size: 0.667em;
  line-height: 1.38;
  color: rgba(255, 255, 255, 0.5);
}

.waitlist input {
  display: block;
}

a {
  display: block;
}

button {
  display: block;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
}

div button {
  position: absolute;
  top: 0;
  left: 64.5833333333%;
  z-index: 64;
  width: 35.4166666666%;
  max-width: 238px;
  height: 2.5em;
  min-height: 2.5em;
  border-radius: 0.5em;
  background-color: rgb(255, 255, 255);
  font-size: 1.111em;
  color: rgb(243, 194, 1);
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 2.222em;
  margin: 0 auto;
}

h1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 4.722em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
}

h2 {
  position: absolute;
  top: 17.192em;
  left: 0;
  right: 0;
  z-index: 54;
  width: 83%;
  min-height: 1.231em;
  margin: 0 auto;
  font-size: 2.889em;
  font-weight: 700;
  line-height: 0.18;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

h3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  min-height: 1.231em;
  margin: 0 auto;
  font-size: 2.889em;
  font-weight: 700;
  line-height: 0.28;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.889em;
  margin: 0 auto;
}

header a {
  position: absolute;
  top: 3.6em;
  width: 126px;
  max-width: 126px;
  min-height: 2.333em;
  padding-top: 0.467em;
  font-size: 0.833em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
}

header button {
  position: absolute;
  top: 3.6em;
  width: 126px;
  border-radius: 0.2em;
  font-size: 0.833em;
  color: rgb(255, 203, 19);
}

input {
  float: left;
}

label {
  display: block;
  float: left;
  clear: both;
  width: 61.4583333333%;
  height: 1.778em;
  margin-top: 0.278em;
}

label input {
  display: inline-block;
}

span {
  display: block;
  float: left;
  width: 91.5254237288%;
  height: 2.133em;
  margin-left: 10px;
  font-size: 0.833em;
  line-height: 1.18;
  color: rgb(255, 255, 255);
}

._text-1 p,
._text-2 p,
.container-1 p,
h2 p {
  margin-bottom: 1em;
}

.-email {
  width: 258px;
  min-width: 258px;
  max-width: 258px;
  height: 3.125em;
  padding: 0 0.625em;
  border: 0.125em solid rgb(255, 255, 255);
  background-color: rgb(255, 203, 19);
  font-size: 0.889em;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 2px;
  color: rgba(250, 250, 250, 0.98);
}

.arrow-2 {
  float: left;
  width: 2%;
  height: 1.333em;
  margin: 1.667em 0 0 49%;
  background-image: url('../images/arrow-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.arrow1 {
  position: absolute;
  top: 1.556em;
  left: 0;
  right: 0;
  z-index: 60;
  width: 18.320610687%;
  height: 1.333em;
  margin: 0 auto;
  background-image: url('../images/arrow-white-faded.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.babh {
  position: absolute;
  top: 123.556em;
  left: 0;
  right: 0;
  z-index: 18;
  width: 83%;
  height: 15.667em;
  margin: 0 auto;
}

.babh-background {
  position: absolute;
  top: 110.167em;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 41.722em;
  margin: 0 auto;
  background-color: #2ecc71;
}

.babh-line1 {
  position: absolute;
  top: 7.722em;
  left: 63.8554216867%;
  z-index: 17;
  width: 7.8313253012%;
  height: 0.111em;
  background-color: rgb(255, 255, 255);
}

.babh-line2 {
  position: absolute;
  top: 7.833em;
  left: 28.313253012%;
  z-index: 16;
  width: 7.8313253012%;
  height: 0.111em;
  background-color: rgb(255, 255, 255);
}

.babh-text {
  position: absolute;
  top: 139.833em;
  left: 0;
  right: 0;
  z-index: 12;
  width: 83%;
  height: 7.222em;
  margin: 0 auto;
}

.bahnav {
  left: 74.3333333333%;
}

.beyond-packages {
  position: absolute;
  top: 89.667em;
  left: 0;
  right: 0;
  z-index: 34;
  width: 100%;
  height: 20.5em;
  margin: 0 auto;
  background-color: rgb(41, 128, 185);
}

.beyond-text {
  position: absolute;
  top: 4.733em;
  left: 0;
  right: 0;
  z-index: 22;
  width: 53%;
  max-width: 636px;
  min-height: 1.933em;
  margin: 0 auto;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  color: rgb(14, 41, 59);
}

.beyond-title {
  position: absolute;
  top: 0.821em;
  left: 0;
  right: 0;
  z-index: 23;
  width: 23.5%;
  min-width: 282px;
  min-height: 1.071em;
  margin: 0 auto;
  padding-top: 0.214em;
  font-size: 1.556em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.container .element {
  float: left;
  clear: both;
  width: 18.320610687%;
  height: 1.333em;
  margin: 0.444em 0 0 41.2213740458%;
  background-image: url('../images/arrow-white.png');
}

.container .text {
  float: left;
  width: 99.9999999999%;
  line-height: 1.38;
}

.copyright {
  float: left;
  width: 16px;
  height: 0.889em;
  margin: 0.667em 0 0 6.5%;
  background-image: url('../images/Copyrightv1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.details-1 {
  position: absolute;
  top: 102.133em;
  left: 0;
  right: 0;
  z-index: 39;
  width: 23%;
  min-height: 1.467em;
  margin: 0 auto;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.details-2 {
  position: absolute;
  top: 178.533em;
  left: 0;
  right: 0;
  z-index: 5;
  width: 23%;
  min-height: 1.467em;
  margin: 0 auto;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.disco,
.pet-care,
.sitting,
.storage {
  float: left;
}

.element {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.facebook {
  z-index: 57;
  background-image: url('../images/facebook-faded.png');
}

.find {
  float: left;
  width: 28.313253012%;
  height: 15.667em;
  background-image: url('../images/homesearch-whited(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.find-subtext {
  float: left;
  clear: both;
  width: 28.313253012%;
  min-height: 3.667em;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  color: rgb(18, 67, 100);
}

.goodhood {
  float: left;
  width: 8.5%;
  height: 3.333em;
  margin-left: 0.66667%;
  padding-top: 1.083em;
  font-size: 0.667em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.h2subtitle {
  position: absolute;
  top: 62.688em;
  left: 0;
  right: 0;
  z-index: 53;
  width: 53%;
  max-width: 636px;
  min-height: 4.313em;
  margin: 0 auto;
  font-size: 0.889em;
  line-height: 1.38;
  text-align: center;
  color: rgb(18, 67, 100);
}

.handy {
  float: left;
}

.hiw {
  position: absolute;
  top: 61.833em;
  left: 0;
  right: 0;
  z-index: 52;
  width: 83%;
  height: 15.667em;
  margin: 0 auto;
}

.hiw-background {
  position: absolute;
  top: 45.833em;
  left: 0;
  right: 0;
  z-index: 38;
  width: 100%;
  height: 43.833em;
  margin: 0 auto;
  background-color: rgb(52, 152, 219);
}

.hiw-line {
  position: absolute;
  top: 7.722em;
  left: 28.313253012%;
  z-index: 51;
  width: 7.0281124497%;
  height: 0.111em;
  background-color: rgb(250, 250, 250);
}

.hiw-line2 {
  position: absolute;
  top: 7.722em;
  left: 64.6586345381%;
  z-index: 50;
  width: 7.0281124497%;
  height: 0.111em;
  background-color: rgb(250, 250, 250);
}

.hiwnav {
  left: 61.5%;
}

.hiwsubnav {
  float: left;
  width: 99.9999999999%;
  height: 1.556em;
  border-radius: 0.167em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
}

.hiwtext {
  position: absolute;
  top: 77.778em;
  left: 0;
  right: 0;
  z-index: 46;
  width: 83%;
  height: 6.111em;
  margin: 0 auto;
}

.hosttitle {
  position: absolute;
  top: 115.556em;
  left: 0;
  right: 0;
  z-index: 21;
  width: 59.5%;
  height: 6.389em;
  margin: 0 auto;
}

.hosttitle .text {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 19;
  width: 89.0756302521%;
  max-width: 636px;
  min-height: 4.6em;
  margin: 0 auto;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  color: rgb(21, 90, 50);
}

.landing-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;
  width: 100%;
  height: 45.833em;
  margin: 0 auto;
  background-color: rgb(255, 203, 19);
}

.learn-host {
  position: absolute;
  top: 106.389em;
  left: 0;
  right: 0;
  z-index: 37;
  width: 100%;
  height: 3.389em;
  margin: 0 auto;
}

.learn-host-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 36;
  height: 1.556em;
  margin: 0 auto;
  border-radius: 0.167em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.linkedin {
  z-index: 58;
  background-image: url('../images/linkedin-faded.png');
}

.logo {
  position: fixed;
  top: 1.222em;
  left: 1.8333333333%;
  width: 10.0833333333%;
  height: 5.222em;
  background-image: url('../images/Block-Outlinev(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.logoname {
  position: absolute;
  top: 2.111em;
  left: 9.5%;
  width: 28.25%;
  max-width: 339px;
  height: 3.667em;
  background-image: url('../images/Name-whited(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.meet-neighbors {
  float: left;
  width: 25.7028112449%;
  height: 14.222em;
  margin-top: 0.667em;
  background-image: url('../images/handoff-greened(3).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.meet-title,
.ship-text {
  float: left;
  width: 28.313253012%;
  min-height: 2em;
  margin-left: 7.83133%;
  padding-top: 0.333em;
  font-size: 0.833em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.money {
  position: relative;
  float: left;
  z-index: 14;
  width: 28.313253012%;
  height: 15.667em;
  background-image: url('../images/money-greened(3).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.meet-text,
.money-text {
  float: left;
  width: 28.313253012%;
  min-height: 3.667em;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  color: rgb(21, 90, 50);
}

.money-title,
.pickup-text {
  float: left;
  width: 28.313253012%;
  min-height: 2em;
  margin-left: 7.22892%;
  padding-top: 0.333em;
  font-size: 0.833em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.nav1 {
  position: absolute;
  top: 37.556em;
  left: 0;
  right: 0;
  z-index: 62;
  width: 131px;
  height: 3.889em;
  margin: 0 auto;
}

.perform {
  float: left;
  width: 25.3012048192%;
  height: 14em;
  margin: 0.667em 0 0 1.20482%;
  background-image: url('../images/packagehold-greened(3).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.perform-text {
  float: left;
  clear: both;
  width: 28.313253012%;
  min-height: 3.667em;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  color: rgb(21, 90, 50);
}

.find-title,
.perform-title {
  float: left;
  width: 28.313253012%;
  min-height: 2em;
  padding-top: 0.333em;
  font-size: 0.833em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.pickup {
  position: relative;
  float: left;
  z-index: 49;
  width: 28.313253012%;
  height: 15.667em;
  background-image: url('../images/pickup-whited(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pickup-subtext,
.ship-subtext {
  float: left;
  width: 28.313253012%;
  min-height: 3.667em;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  color: rgb(18, 67, 100);
}

.privacy {
  float: left;
  width: 13.8333333333%;
  height: 3.333em;
  margin-left: 1.16667%;
  padding-top: 1.083em;
  font-size: 0.667em;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 1px;
  color: rgb(250, 250, 250);
}

.ship {
  position: relative;
  float: left;
  z-index: 48;
  width: 29.4176706827%;
  height: 16.278em;
  background-image: url('../images/Shipping-Entry-whited.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.social {
  position: fixed;
  left: 94.8333333333%;
  z-index: 59;
  width: 2.75%;
}

.subtitle {
  position: absolute;
  left: 0;
  right: 0;
  width: 672px;
  max-width: 672px;
  min-height: 4.393em;
  margin: 0 auto;
  font-size: 1.556em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.subtitle2 {
  position: absolute;
  top: 16.143em;
  left: 0;
  right: 0;
  z-index: 71;
  width: 672px;
  max-width: 672px;
  min-height: 2.286em;
  margin: 0 auto;
  font-size: 1.556em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.twitter {
  z-index: 56;
  background-image: url('../images/twitter-faded.png');
}

.waitlist {
  position: absolute;
  top: 31.278em;
  left: 0;
  right: 0;
  z-index: 70;
  width: 672px;
  max-width: 672px;
  height: 5.167em;
  margin: 0 auto;
}

.zip {
  width: 131px;
  min-width: 131px;
  max-width: 131px;
  height: 3.125em;
  margin-left: 3.57143%;
  padding: 0 0.625em;
  border: 0.125em solid rgb(255, 255, 255);
  background-color: rgb(255, 203, 19);
  font-size: 0.889em;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 2px;
  color: rgb(250, 250, 250);
}

._button {
  position: fixed;
  top: 3.6em;
  width: 10.5%;
  border-radius: 0.2em;
  font-size: 0.833em;
  color: rgb(255, 255, 255);
}

.bahnav-1 {
  z-index: 78;
}

.bahnav-2,
.bahnav-3 {
  z-index: 69;
}

.container-1 {
  top: 23.889em;
  z-index: 16;
  width: 70.0833333333%;
  height: 31.611em;
}

.container-2 {
  top: 38.056em;
  z-index: 6;
  width: 10.9166666666%;
  height: 3.889em;
}

.disco-1,
.disco-2,
.disco-3 {
  width: 7.3333333333%;
  height: 4.889em;
  margin: 8.167em 0 0 7.41667%;
  background-image: url('../images/disco.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.disco-4,
.disco-5,
.disco-6 {
  width: 9.6666666666%;
  min-height: 1.067em;
  margin: 0.133em 0 0 6.75%;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.element-1 {
  position: absolute;
  top: 2.111em;
  left: 9.5%;
  z-index: 10;
  width: 28.25%;
  max-width: 339px;
  height: 3.667em;
  background-image: url('../images/Name-oranged.png');
}

.element-2 {
  position: fixed;
  top: 1.222em;
  left: 1.8333333333%;
  z-index: 9;
  width: 10.0833333333%;
  height: 5.222em;
  background-image: url('../images/Block-Outline-Orange.png');
}

.element-4 {
  float: left;
  width: 16px;
  height: 0.889em;
  margin: 0.667em 0 0 6.5%;
  background-image: url('../images/Copyrightv1.png');
}

.facebook-1 {
  top: 0.667em;
}

.facebook-2 {
  top: 0.611em;
}

.facebook-3 {
  top: -5.278em;
}

.handy-1 {
  width: 7.3333333333%;
  height: 4.889em;
  margin: 8.167em 0 0 16.58203%;
  background-image: url('../images/handy.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.handy-2,
.handy-3 {
  width: 7.3333333333%;
  height: 4.889em;
  margin: 8.167em 0 0 16.58073%;
  background-image: url('../images/handy.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.handy-4,
.handy-5,
.handy-6 {
  clear: both;
  width: 7.8333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 16%;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.hiwnav-1 {
  z-index: 77;
}

.hiwnav-2,
.hiwnav-3 {
  z-index: 68;
}

.linkedin-1,
.linkedin-2 {
  top: 7.389em;
}

.linkedin-3 {
  top: 1.778em;
}

.logo-1 {
  z-index: 74;
}

.logo-2,
.logo-3 {
  z-index: 65;
}

.logoname-1 {
  z-index: 76;
}

.logoname-2,
.logoname-3 {
  z-index: 67;
}

.meet-neighbors-1 {
  margin-left: 10.641%;
}

.meet-neighbors-2 {
  margin-left: 10.63943%;
}

.meet-neighbors-3 {
  margin-left: 10.6363%;
}

.money-1 {
  margin-left: 8.83377%;
}

.money-2 {
  margin-left: 8.8322%;
}

.money-3 {
  margin-left: 8.83064%;
}

.meet-text-1,
.money-text-1,
.pickup-subtext-1,
.ship-subtext-1 {
  margin-left: 7.52855%;
}

.meet-text-2,
.money-text-2,
.pickup-subtext-2,
.ship-subtext-2 {
  margin-left: 7.52698%;
}

.meet-text-3,
.money-text-3,
.pickup-subtext-3,
.ship-subtext-3 {
  margin-left: 7.52385%;
}

.pet-care-1,
.pet-care-2,
.pet-care-3 {
  width: 7.3333333333%;
  height: 4.889em;
  margin: 8.167em 0 0 7.41667%;
  background-image: url('../images/dog.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pet-care-4 {
  width: 7.8333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 6.5820299999%;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.pet-care-5,
.pet-care-6 {
  width: 7.8333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 6.58073%;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.pickup-1 {
  margin-left: 7.02654%;
}

.pickup-2 {
  margin-left: 7.02497%;
}

.pickup-3 {
  margin-left: 7.02341%;
}

.ship-1 {
  margin-left: 6.92614%;
}

.ship-2 {
  margin-left: 6.92457%;
}

.ship-3 {
  margin-left: 6.92144%;
}

.sitting-1,
.sitting-2,
.sitting-3 {
  width: 7.3333333333%;
  height: 4.889em;
  margin: 8.167em 0 0 7.41667%;
  background-image: url('../images/sitting(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.sitting-4,
.sitting-5,
.sitting-6 {
  width: 7.8333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 7.5%;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.social-1,
.social-2 {
  top: 28.333em;
  height: 10.278em;
}

.social-3 {
  top: 34.333em;
  height: 8.889em;
}

.storage-1,
.storage-2,
.storage-3 {
  width: 7.75%;
  height: 5.167em;
  margin: 7.889em 0 0 7.41667%;
  background-image: url('../images/storage.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.storage-4,
.storage-5,
.storage-6 {
  width: 7.3333333333%;
  min-height: 1.067em;
  margin: 0.133em 0 0 7.16667%;
  font-size: 0.833em;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.subtitle-1 {
  top: 13.286em;
  z-index: 72;
}

.subtitle-2 {
  top: 12.857em;
  z-index: 63;
}

.subtitle-3 {
  top: 10.571em;
  z-index: 63;
}

.text-1,
.text-2 {
  top: 2.6em;
}

.text-3 {
  top: 3.067em;
}

.text-4 {
  max-height: 569px;
  font-size: 1em;
  color: rgb(71, 82, 93);
  overflow: scroll;
}

.text-5 {
  position: absolute;
  top: 3.462em;
  left: 0;
  right: 0;
  z-index: 8;
  width: 91.5833333333%;
  min-height: 1.231em;
  margin: 0 auto;
  font-size: 2.889em;
  font-weight: 700;
  line-height: 0.18;
  text-align: center;
  color: rgb(71, 82, 93);
}

.text-6 {
  position: absolute;
  top: 10.167em;
  left: 0;
  right: 0;
  z-index: 7;
  width: 56%;
  max-width: 672px;
  min-height: 5.125em;
  margin: 0 auto;
  font-size: 1.333em;
  line-height: 1.38;
  text-align: center;
  color: rgb(103, 114, 119);
}

.text-7 {
  height: 1.867em;
  border-radius: 0.2em;
  font-size: 0.833em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.text-8 {
  float: left;
  width: 8.5%;
  height: 3.333em;
  margin-left: 0.6666666666%;
  padding-top: 1.083em;
  font-size: 0.667em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(71, 82, 93);
}

.text-9 {
  float: left;
  width: 8.5%;
  height: 3.333em;
  min-height: 1.75em;
  padding-top: 1.083em;
  font-size: 0.667em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(103, 114, 119);
}

.twitter-1 {
  top: 4.056em;
}

.twitter-2 {
  top: 4em;
}

.twitter-3 {
  top: -1.722em;
}

._button-1 {
  left: 87.0833333333%;
  z-index: 75;
  max-width: 126px;
  height: 2.333em;
  border: 0.133em solid rgb(255, 255, 255);
}

._button-2,
._button-3 {
  left: 87.0833333333%;
  z-index: 66;
  max-width: 126px;
  height: 2.333em;
  border: 0.133em solid rgb(255, 255, 255);
}

._button-4 {
  left: 55.5%;
  z-index: 13;
  height: 2.267em;
}

._button-5 {
  left: 68.25%;
  z-index: 12;
  height: 2.267em;
}

._button-6 {
  left: 81%;
  z-index: 11;
  height: 2.333em;
  border: 0.133em solid rgb(255, 203, 19);
}

._container-1 {
  z-index: 79;
}

._container-10 {
  top: 57.667em;
  background-color: rgb(255, 255, 255);
}

._container-11,
._container-8,
._container-9 {
  top: 151.889em;
  background-color: #27ae60;
}

._container-2,
._container-3 {
  z-index: 70;
}

._container-6 {
  z-index: 14;
}

._text-1 {
  top: 2.271em;
  z-index: 73;
  line-height: 0.18;
}

._text-2 {
  top: 2.447em;
  z-index: 64;
  line-height: 0.1;
}

._text-3 {
  top: 2.6em;
  z-index: 64;
  width: 636px;
  line-height: 0.18;
}

@media(max-width: 1020px) {
  h1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 4.167em;
  }

  ._container-11,
  ._container-2,
  ._container-3,
  ._container-8,
  ._container-9,
  .babh,
  .babh-background,
  .babh-text,
  .beyond-packages,
  .beyond-packages .beyond-text,
  .beyond-packages .beyond-title,
  .details-1,
  .details-2,
  .h2subtitle,
  .hiw,
  .hiw-background,
  .hiwtext,
  .hosttitle,
  .hosttitle .text,
  .landing-background,
  .learn-host,
  .learn-host .learn-host-text,
  .nav1,
  .nav1 .arrow1,
  .waitlist,
  div h3,
  h2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .babh .money {
    position: relative;
    z-index: 14;
    margin-left: 8.83504%;
  }

  .babh .perform {
    margin-left: 1.20151%;
  }

  .babh-text .meet-text,
  .hiwtext .ship-subtext {
    margin-left: 7.43605%;
  }

  .babh-text .meet-title,
  .hiwtext .ship-text {
    margin-left: 7.82917%;
  }

  .babh-text .money-title,
  .hiwtext .pickup-text {
    margin-left: 7.22565%;
  }

  .hiw .pickup {
    position: relative;
    z-index: 49;
    margin-left: 6.96357%;
  }

  .hiw .ship {
    position: relative;
    z-index: 48;
    margin-left: 6.8454499999%;
  }

  .learn-host .arrow-2 {
    margin-left: 48.99816%;
  }

  .logoname {
    top: 2.056em;
    left: 10.5744485294%;
  }

  .subtitle {
    left: 0;
    right: 0;
    min-height: 5.125em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.333em;
  }

  .subtitle2 {
    top: 17.542em;
    left: 0;
    right: 0;
    min-height: 2.667em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.333em;
  }

  .babh .meet-neighbors-1 {
    margin-left: 10.64006%;
  }

  .babh .meet-neighbors-2,
  .babh .meet-neighbors-3 {
    margin-left: 10.63822%;
  }

  .babh-text .money-text-1,
  .hiwtext .pickup-subtext-1 {
    margin-left: 5.42985%;
  }

  .babh-text .money-text-2,
  .hiwtext .pickup-subtext-2 {
    margin-left: 5.66609%;
  }

  .babh-text .money-text-3,
  .hiwtext .pickup-subtext-3 {
    margin-left: 6.60921%;
  }

  .beyond-packages .disco-1,
  .beyond-packages .disco-2,
  .beyond-packages .disco-3 {
    margin-left: 7.35141%;
  }

  .beyond-packages .disco-4 {
    margin-left: 4.90043%;
  }

  .beyond-packages .disco-5 {
    margin-left: 5.09804%;
  }

  .beyond-packages .disco-6 {
    margin-left: 5.87929%;
  }

  .beyond-packages .handy-1 {
    margin-left: 16.58088%;
  }

  .beyond-packages .handy-2 {
    margin-left: 16.57935%;
  }

  .beyond-packages .handy-3 {
    margin-left: 16.57782%;
  }

  .beyond-packages .handy-4 {
    margin-left: 15.99724%;
  }

  .beyond-packages .handy-5,
  .beyond-packages .handy-6 {
    margin-left: 15.99571%;
  }

  .beyond-packages .pet-care-1,
  .beyond-packages .pet-care-2,
  .beyond-packages .pet-care-3,
  .beyond-packages .sitting-1,
  .beyond-packages .sitting-2,
  .beyond-packages .sitting-3 {
    margin-left: 7.41575%;
  }

  .beyond-packages .pet-care-4 {
    margin-left: 6.58088%;
  }

  .beyond-packages .pet-care-5 {
    margin-left: 6.57935%;
  }

  .beyond-packages .pet-care-6 {
    margin-left: 6.57782%;
  }

  .beyond-packages .storage-1 {
    margin-left: 5.58824%;
  }

  .beyond-packages .storage-2 {
    margin-left: 5.78125%;
  }

  .beyond-packages .storage-3 {
    margin-left: 6.56863%;
  }

  .beyond-packages .storage-4 {
    margin-left: 7.16452%;
  }

  .beyond-packages .storage-5,
  .beyond-packages .storage-6 {
    margin-left: 7.16299%;
  }

  .subtitle-1 {
    top: 14.208em;
  }

  .subtitle-2 {
    top: 15em;
  }

  .subtitle-3 {
    top: 12.333em;
  }

  ._container .bahnav-1,
  ._container .bahnav-2,
  ._container .bahnav-3 {
    left: 73.0575980392%;
  }

  ._container .copyright-2 {
    margin-left: 6.49663%;
  }

  ._container .copyright-1,
  ._container .copyright-3 {
    margin-left: 6.49816%;
  }

  ._container .goodhood-1,
  ._container .goodhood-2,
  ._container .goodhood-3 {
    margin-left: 0.66483%;
  }

  ._container .hiwnav-1,
  ._container .hiwnav-2,
  ._container .hiwnav-3 {
    left: 60%;
  }

  ._container .privacy-1,
  ._container .privacy-2,
  ._container .privacy-3 {
    margin-left: 1.16575%;
  }

  ._container-1 {
    left: 0;
    right: 0;
    width: 820%;
    margin-right: auto;
    margin-left: auto;
  }

  ._text-1 {
    top: 2.573em;
    width: 100%;
  }

  ._text-2 {
    top: 2.773em;
    width: 612px;
  }

  ._text-3 {
    top: 2.947em;
    width: 588px;
  }
}

@media(max-width: 915px) {
  body {
    font-size: 1.125em;
  }

  h1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.611em;
  }

  ._container-1,
  ._container-11,
  ._container-2,
  ._container-3,
  ._container-8,
  ._container-9,
  .babh,
  .babh-background,
  .babh-text,
  .beyond-packages,
  .beyond-packages .beyond-text,
  .beyond-packages .beyond-title,
  .details-1,
  .details-2,
  .h2subtitle,
  .hiw,
  .hiw-background,
  .hiwtext,
  .hosttitle,
  .hosttitle .text,
  .landing-background,
  .learn-host,
  .learn-host .learn-host-text,
  .nav1,
  .nav1 .arrow1,
  .subtitle2,
  .waitlist,
  div h3,
  h2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .babh .meet-neighbors {
    margin-left: 10.6411%;
  }

  .babh .money {
    position: relative;
    z-index: 14;
    margin-left: 8.83261%;
  }

  .babh .perform {
    margin-left: 1.2015499999%;
  }

  .babh-text .meet-text,
  .babh-text .money-text,
  .hiwtext .pickup-subtext,
  .hiwtext .ship-subtext {
    margin-left: 7.50967%;
  }

  .babh-text .money-title,
  .hiwtext .pickup-text {
    margin-left: 7.2278%;
  }

  .hiw .pickup {
    position: relative;
    clear: both;
    z-index: 49;
    margin-left: 6.96445%;
  }

  .hiw .ship {
    position: relative;
    z-index: 48;
    margin-left: 6.98091%;
  }

  .subtitle {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .babh-text .meet-title-1,
  .hiwtext .ship-text-1 {
    margin-left: 7.82857%;
  }

  .babh-text .meet-title-2,
  .babh-text .meet-title-3,
  .hiwtext .ship-text-2,
  .hiwtext .ship-text-3 {
    margin-left: 7.82652%;
  }

  .beyond-packages .disco-1,
  .beyond-packages .disco-2,
  .beyond-packages .disco-3,
  .beyond-packages .storage-1,
  .beyond-packages .storage-2,
  .beyond-packages .storage-3 {
    margin-left: 7.42999%;
  }

  .beyond-packages .disco-4,
  .beyond-packages .disco-5,
  .beyond-packages .disco-6 {
    margin-left: 6.77596%;
  }

  .beyond-packages .handy-1 {
    margin-left: 16.58128%;
  }

  .beyond-packages .handy-2,
  .beyond-packages .handy-3 {
    margin-left: 16.57958%;
  }

  .beyond-packages .handy-4,
  .beyond-packages .handy-5,
  .beyond-packages .handy-6 {
    margin-left: 15.99898%;
  }

  .beyond-packages .pet-care-1,
  .beyond-packages .pet-care-2,
  .beyond-packages .pet-care-3 {
    margin-left: 7.3207%;
  }

  .beyond-packages .pet-care-4 {
    margin-left: 6.5812799999%;
  }

  .beyond-packages .pet-care-5,
  .beyond-packages .pet-care-6 {
    margin-left: 6.57958%;
  }

  .beyond-packages .sitting-1,
  .beyond-packages .sitting-2,
  .beyond-packages .sitting-3 {
    margin-left: 7.41633%;
  }

  .beyond-packages .storage-4 {
    margin-left: 7.16359%;
  }

  .beyond-packages .storage-5,
  .beyond-packages .storage-6 {
    margin-left: 7.16189%;
  }

  .learn-host .arrow-2-1,
  .learn-host .arrow-2-2 {
    margin-left: 48.96175%;
  }

  .learn-host .arrow-2-3 {
    margin-left: 48.99932%;
  }

  .logoname-1 {
    top: 2.111em;
    left: 11.9142759562%;
  }

  .logoname-2,
  .logoname-3 {
    left: 11.0809426229%;
  }

  .subtitle-2 {
    top: 14.208em;
  }

  .subtitle-3 {
    top: 11.917em;
  }

  ._container .bahnav-1,
  ._container .bahnav-2,
  ._container .bahnav-3 {
    left: 70.7223360655%;
  }

  ._container .copyright-1,
  ._container .copyright-2,
  ._container .copyright-3 {
    margin-left: 6.49932%;
  }

  ._container .goodhood-1,
  ._container .goodhood-2,
  ._container .goodhood-3 {
    margin-left: 0.76503%;
  }

  ._container .hiwnav-1,
  ._container .hiwnav-2,
  ._container .hiwnav-3 {
    left: 55.8469945355%;
  }

  ._container .privacy-1,
  ._container .privacy-2,
  ._container .privacy-3 {
    margin-left: 1.0929%;
  }

  ._text-1 {
    top: 2.969em;
    width: 816px;
  }

  ._text-2 {
    top: 3.2em;
  }

  ._text-3 {
    top: 3.4em;
  }
}

@media(max-width: 820px) {
  button {
    border-radius: 0.25em;
    font-size: 0.667em;
  }

  h1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 3.056em;
  }

  ._container-1,
  ._container-11,
  ._container-8,
  ._container-9,
  .babh,
  .babh-background,
  .babh-text,
  .beyond-packages,
  .beyond-packages .beyond-text,
  .beyond-packages .beyond-title,
  .details-1,
  .details-2,
  .h2subtitle,
  .hiw,
  .hiw-background,
  .hiwtext,
  .hosttitle,
  .hosttitle .text,
  .landing-background,
  .learn-host,
  .learn-host .learn-host-text,
  .nav1,
  .nav1 .arrow1,
  .subtitle,
  .subtitle2,
  .waitlist,
  div h3,
  h2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  header a {
    top: 4.5em;
    min-height: 2.917em;
    padding-top: 0.583em;
    font-size: 0.667em;
  }

  .babh .meet-neighbors {
    margin-left: 10.63869%;
  }

  .babh .money {
    position: relative;
    z-index: 14;
    margin-left: 8.8341999999%;
  }

  .babh .perform {
    margin-left: 1.2007%;
  }

  .babh-text .meet-title,
  .hiwtext .ship-text {
    margin-left: 7.83094%;
  }

  .babh-text .meet-text,
  .babh-text .money-text,
  .hiwtext .pickup-subtext,
  .hiwtext .ship-subtext {
    margin-left: 7.50953%;
  }

  .babh-text .money-title,
  .hiwtext .pickup-text {
    margin-left: 7.22715%;
  }

  .hiw .pickup {
    position: relative;
    clear: none;
    z-index: 49;
  }

  .hiw .ship {
    position: relative;
    z-index: 48;
    margin-left: 6.89885%;
  }

  .beyond-packages .disco-1,
  .beyond-packages .disco-2,
  .beyond-packages .disco-3,
  .beyond-packages .storage-1,
  .beyond-packages .storage-2,
  .beyond-packages .storage-3 {
    margin-left: 7.4295%;
  }

  .beyond-packages .disco-4,
  .beyond-packages .disco-5,
  .beyond-packages .disco-6 {
    margin-left: 6.77401%;
  }

  .beyond-packages .handy-1,
  .beyond-packages .handy-2,
  .beyond-packages .handy-3 {
    margin-left: 16.57965%;
  }

  .beyond-packages .handy-4,
  .beyond-packages .handy-5,
  .beyond-packages .handy-6 {
    margin-left: 15.99848%;
  }

  .beyond-packages .pet-care-1,
  .beyond-packages .pet-care-2,
  .beyond-packages .pet-care-3 {
    margin-left: 7.31898%;
  }

  .beyond-packages .pet-care-4,
  .beyond-packages .pet-care-5,
  .beyond-packages .pet-care-6 {
    margin-left: 6.57965%;
  }

  .beyond-packages .sitting-1,
  .beyond-packages .sitting-2,
  .beyond-packages .sitting-3 {
    margin-left: 7.41616%;
  }

  .beyond-packages .storage-4,
  .beyond-packages .storage-5 {
    margin-left: 7.19322%;
  }

  .beyond-packages .storage-6 {
    margin-left: 7.16654%;
  }

  .hiw .pickup-1,
  .hiw .pickup-2 {
    margin-left: 6.89885%;
  }

  .hiw .pickup-3 {
    margin-left: 6.96543%;
  }

  .learn-host .arrow-2-1,
  .learn-host .arrow-2-2 {
    margin-left: 49.0243899999%;
  }

  .learn-host .arrow-2-3 {
    margin-left: 48.99962%;
  }

  .logoname-2,
  .logoname-3 {
    top: 2.5em;
    left: 11.9512195121%;
    width: 232px;
    height: 2.889em;
  }

  ._button-1,
  ._button-2,
  ._button-3 {
    top: 4.5em;
    height: 2.917em;
    border-width: 0.167em;
  }

  ._container .copyright-1,
  ._container .copyright-2,
  ._container .copyright-3 {
    margin-left: 6.49962%;
  }

  ._container .goodhood-1,
  ._container .goodhood-2,
  ._container .goodhood-3 {
    margin-left: 0.85366%;
  }

  ._container .privacy-1,
  ._container .privacy-2,
  ._container .privacy-3 {
    margin-left: 0.97561%;
  }

  ._container-2,
  ._container-3 {
    left: 0;
    right: 0;
    width: 820px;
    margin-right: auto;
    margin-left: auto;
  }

  ._text-1 {
    top: 3.509em;
  }

  ._text-2 {
    top: 3.782em;
  }

  ._text-3 {
    top: 4.018em;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 0.813em;
  }

  .hosttitle-1 h3,
  .hosttitle-2 h3 {
    top: -1.3em;
  }

  .hosttitle-3 h3 {
    top: -2.4em;
  }

  .social a {
    left: -6.0763888889%;
    height: 2.538em;
  }

  .waitlist a {
    top: 20.417em;
    left: 11.875%;
    width: 74.375%;
    font-size: 0.923em;
  }

  button {
    top: 3.917em;
    height: 2.333em;
    font-size: 0.923em;
  }

  div button {
    top: 9.4em;
    left: 0;
    right: 0;
    width: 84.375%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.538em;
  }

  div h3 {
    left: 0;
    right: 0;
    width: 103.829787234%;
    min-height: 3.2em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.538em;
  }

  div label {
    width: 90.3125%;
    height: 2.462em;
    margin-top: 1.538em;
    margin-left: 5.3125%;
  }

  footer {
    left: 0;
    right: 0;
    height: 3.077em;
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.846em;
  }

  h2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  header {
    height: 5.385em;
  }

  header a {
    font-size: 0.923em;
  }

  header button {
    border-radius: 0.231em;
    font-size: 1em;
  }

  label span {
    height: 2em;
    margin-left: 5px;
    font-size: 1.231em;
  }

  .babh {
    left: 0;
    right: 0;
    width: 91.875%;
    height: 21.692em;
    margin-right: auto;
    margin-left: auto;
  }

  .babh .babh-line1 {
    top: 12.538em;
    left: 115.3061224489%;
    height: 0.154em;
  }

  .babh .babh-line2 {
    top: 7.615em;
    left: 109.5131802721%;
    height: 0.154em;
  }

  .babh .meet-neighbors {
    clear: both;
    width: 62.925170068%;
    height: 16em;
  }

  .babh .money {
    position: relative;
    clear: both;
    z-index: 14;
    width: 66.3265306122%;
    height: 15.769em;
  }

  .babh .perform {
    width: 60.8843537414%;
    height: 15em;
  }

  .babh-background {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .babh-text {
    left: 0;
    right: 0;
    width: 91.875%;
    height: 10em;
    margin-right: auto;
    margin-left: auto;
  }

  .babh-text .meet-title {
    width: 73.1292517006%;
    margin-left: 13.60013%;
  }

  .beyond-packages {
    left: 0;
    right: 0;
    width: 100.3125%;
    height: 27.538em;
    margin-right: auto;
    margin-left: auto;
  }

  .beyond-packages .beyond-text {
    left: 0;
    right: 0;
    width: 82.2429906542%;
    margin-right: auto;
    margin-left: auto;
  }

  .beyond-packages .beyond-title {
    top: 1.15em;
    left: 0;
    right: 0;
    min-height: 1.5em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.3em;
    font-size: 1.538em;
  }

  .container {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .element {
    height: 1.846em;
    margin-top: 0.615em;
  }

  .details-1 {
    left: 0;
    right: 0;
    width: 75.3125%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.154em;
  }

  .details-2 {
    left: 0;
    right: 0;
    width: 76.5625%;
    min-height: 1.692em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
  }

  .element {
    height: 2.462em;
  }

  .h2subtitle {
    left: 0;
    right: 0;
    width: 70.3125%;
    margin-right: auto;
    margin-left: auto;
  }

  .hiw {
    left: 0;
    right: 0;
    width: 90.9375%;
    height: 21.692em;
    margin-right: auto;
    margin-left: auto;
  }

  .hiw .find {
    width: 73.5395189003%;
    height: 15.538em;
  }

  .hiw .hiw-line {
    top: 8.692em;
    left: 173.3784364261%;
    height: 0.154em;
  }

  .hiw .hiw-line2 {
    top: 3.615em;
    left: 131.1318728522%;
    height: 0.154em;
  }

  .hiw .pickup {
    position: relative;
    clear: both;
    z-index: 49;
    width: 74.2268041237%;
    height: 15.692em;
  }

  .hiw .ship {
    position: relative;
    clear: both;
    z-index: 48;
    width: 83.1615120274%;
    height: 12.769em;
  }

  .hiw-background {
    top: 54.538em;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .hiwtext {
    left: 0;
    right: 0;
    width: 87.1875%;
    height: 8.462em;
    margin-right: auto;
    margin-left: auto;
  }

  .hiwtext .find-title {
    width: 84.58781362%;
    font-size: 1.154em;
  }

  .hiwtext .pickup-subtext {
    width: 83.8709677419%;
    margin-left: 7.50448%;
  }

  .hiwtext .pickup-text {
    width: 97.8494623655%;
    font-size: 1.154em;
  }

  .hiwtext .ship-subtext {
    width: 84.58781362%;
  }

  .hiwtext .ship-text {
    width: 79.5698924731%;
    font-size: 1.154em;
  }

  .hosttitle {
    left: 0;
    right: 0;
    width: 73.4375%;
    height: 8.846em;
    margin-right: auto;
    margin-left: auto;
  }

  .hosttitle .text {
    left: 0;
    right: 0;
    width: 100.4255319148%;
    margin-right: auto;
    margin-left: auto;
  }

  .landing-background {
    left: 0;
    right: 0;
    height: 54.538em;
    margin-right: auto;
    margin-left: auto;
  }

  .learn-host {
    left: 0;
    right: 0;
    height: 4.692em;
    margin-right: auto;
    margin-left: auto;
  }

  .learn-host .arrow-2 {
    float: none;
    width: 6.875%;
    height: 1.846em;
    margin-top: 2.308em;
    margin-right: auto;
    margin-left: auto;
  }

  .learn-host .learn-host-text {
    left: 0;
    right: 0;
    height: 2.154em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.231em;
    font-size: 13px;
  }

  .logo {
    position: absolute;
  }

  .nav1 {
    left: 0;
    right: 0;
    width: 50%;
    height: 5.385em;
    margin-right: auto;
    margin-left: auto;
  }

  .nav1 .arrow1 {
    top: 2.154em;
    left: 0;
    right: 0;
    height: 1.846em;
    margin-right: auto;
    margin-left: auto;
  }

  .nav1 .hiwsubnav {
    font-size: 1.385em;
  }

  .social {
    top: 42.308em;
    left: 100%;
  }

  .subtitle {
    left: 0;
    right: 0;
    width: 82.8125%;
    min-height: noneem;
    margin-right: auto;
    margin-left: auto;
  }

  .subtitle2 {
    top: 15.313em;
    left: 0;
    right: 0;
    width: 264px;
    min-height: 4em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.231em;
  }

  .waitlist {
    top: 26.231em;
    left: 0;
    right: 0;
    width: 100%;
    height: 19.692em;
    margin-right: auto;
    margin-left: auto;
  }

  .waitlist .-email {
    float: none;
    width: 80.625%;
    height: 3.846em;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0.769em;
    border-width: 0.154em;
    font-size: 1em;
  }

  .waitlist .zip {
    float: none;
    width: 40.9375%;
    margin-top: 0.625em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.231em;
  }

  .babh .meet-neighbors-1,
  .babh .meet-neighbors-2 {
    margin-top: 5.462em;
    margin-left: 17.34694%;
  }

  .babh .meet-neighbors-3 {
    margin-top: 10.385em;
    margin-left: 17.67645%;
  }

  .babh .money-1,
  .babh .money-2 {
    margin-top: 7.769em;
    margin-left: 17.34694%;
  }

  .babh .money-3 {
    margin-top: 11.846em;
    margin-left: 15.97577%;
  }

  .babh .perform-1,
  .babh .perform-2 {
    margin-top: 9.077em;
    margin-left: 19.38776%;
  }

  .babh .perform-3 {
    margin-top: 8.308em;
    margin-left: 18.70217%;
  }

  .babh-1,
  .babh-2 {
    top: 182.538em;
  }

  .babh-3 {
    top: 192.231em;
  }

  .babh-background-1,
  .babh-background-2 {
    top: 173.692em;
    height: 88.923em;
  }

  .babh-background-3 {
    top: 183.385em;
    height: 95.077em;
  }

  .babh-text .meet-text-1,
  .babh-text .meet-text-2 {
    width: 61.9047619047%;
    min-height: 6.111em;
    margin-top: -11.778em;
    margin-left: 19.38776%;
    font-size: 0.692em;
  }

  .babh-text .meet-text-3 {
    width: 84.693877551%;
    margin-top: -10.467em;
    margin-left: 7.47768%;
    font-size: 1.154em;
  }

  .babh-text .meet-title-1,
  .babh-text .meet-title-2 {
    min-height: 3.333em;
    margin-top: -14em;
    padding-top: 0.556em;
    font-size: 0.692em;
  }

  .babh-text .meet-title-3 {
    margin-top: -5.4em;
    font-size: 1.154em;
  }

  .babh-text .money-text-1,
  .babh-text .money-text-2 {
    width: 64.6258503401%;
    min-height: 6.111em;
    margin-top: 23.111em;
    margin-left: 17.34694%;
    font-size: 0.692em;
  }

  .babh-text .money-text-3 {
    width: 100%;
    margin-top: 13em;
    margin-left: 0;
    font-size: 1.154em;
  }

  .babh-text .money-title-1,
  .babh-text .money-title-2 {
    min-height: 3.333em;
    margin-top: 19.333em;
    margin-left: 37.4149699999%;
    padding-top: 0.556em;
    font-size: 0.692em;
  }

  .babh-text .money-title-3 {
    width: 80.9523809523%;
    margin-top: 19.2em;
    margin-left: 11.22449%;
    font-size: 1.154em;
  }

  .babh-text .perform-text-1,
  .babh-text .perform-text-2 {
    width: 79.2517006802%;
    min-height: 6.111em;
    margin-top: -42.778em;
    margin-left: 12.92517%;
    font-size: 0.692em;
  }

  .babh-text .perform-text-3 {
    width: 81.6326530612%;
    margin-top: -33.667em;
    margin-left: 11.22449%;
    font-size: 1.154em;
  }

  .babh-text .perform-title-1,
  .babh-text .perform-title-2 {
    width: 67.3469387755%;
    min-height: 3.333em;
    margin-top: -44.444em;
    margin-left: 17.34694%;
    padding-top: 0.556em;
    font-size: 0.692em;
  }

  .babh-text .perform-title-3 {
    width: 99.6598639455%;
    margin-top: -27.2em;
    font-size: 1.154em;
  }

  .babh-text-1,
  .babh-text-2 {
    top: 220.538em;
  }

  .babh-text-3 {
    top: 229.846em;
  }

  .beyond-packages .beyond-text-1,
  .beyond-packages .beyond-text-2 {
    top: 5.462em;
    min-height: 2.231em;
    font-size: 1em;
  }

  .beyond-packages .beyond-text-3 {
    font-size: 1.154em;
  }

  .beyond-packages .disco-1,
  .beyond-packages .disco-2 {
    height: 6.769em;
    margin-top: -6.769em;
    margin-left: 71.33956%;
  }

  .beyond-packages .disco-3 {
    height: 6.769em;
    margin-top: 12.769em;
    margin-left: 7.59833%;
  }

  .beyond-packages .disco-4,
  .beyond-packages .disco-5 {
    min-height: 1.778em;
    margin-top: -2.778em;
    margin-left: 6.23053%;
    font-size: 0.692em;
  }

  .beyond-packages .disco-6 {
    min-height: 1.333em;
    margin-top: -2.083em;
    margin-left: 6.31815%;
    font-size: 0.923em;
  }

  .beyond-packages .handy-1,
  .beyond-packages .handy-2 {
    height: 6.769em;
    margin-top: 11.308em;
    margin-left: 16.57905%;
  }

  .beyond-packages .handy-3 {
    height: 6.769em;
    margin-top: 12.769em;
    margin-left: 14.9046%;
  }

  .beyond-packages .handy-4,
  .beyond-packages .handy-5 {
    clear: none;
    min-height: 1.778em;
    margin-top: -2.111em;
    margin-left: 15.99981%;
    font-size: 0.692em;
  }

  .beyond-packages .handy-6 {
    min-height: 1.333em;
    margin-top: -1.583em;
    margin-left: 14.33022%;
    font-size: 0.923em;
  }

  .beyond-packages .pet-care-1,
  .beyond-packages .pet-care-2 {
    height: 6.769em;
    margin-top: -6.769em;
    margin-left: 55.76324%;
  }

  .beyond-packages .pet-care-3 {
    height: 6.769em;
    margin-top: 12.769em;
    margin-left: 8.93692%;
  }

  .beyond-packages .pet-care-4 {
    min-height: 1.778em;
    margin-top: -2.111em;
    margin-left: 27.09794%;
    font-size: 0.692em;
  }

  .beyond-packages .pet-care-5 {
    min-height: 1.778em;
    margin-top: -2.111em;
    margin-left: 26.47975%;
    font-size: 0.692em;
  }

  .beyond-packages .pet-care-6 {
    min-height: 1.333em;
    margin-top: -1.583em;
    margin-left: 25.31153%;
    font-size: 0.923em;
  }

  .beyond-packages .sitting-1,
  .beyond-packages .sitting-2 {
    height: 6.769em;
    margin-top: 11.308em;
    margin-left: 8.40635%;
  }

  .beyond-packages .sitting-3 {
    height: 6.769em;
    margin-top: 12.769em;
    margin-left: 9.96885%;
  }

  .beyond-packages .sitting-4,
  .beyond-packages .sitting-5 {
    min-height: 1.778em;
    margin-top: -2.111em;
    margin-left: 10.58217%;
    font-size: 0.692em;
  }

  .beyond-packages .sitting-6 {
    min-height: 1.333em;
    margin-top: -1.583em;
    margin-left: 8.76655%;
    font-size: 0.923em;
  }

  .beyond-packages .storage-1,
  .beyond-packages .storage-2 {
    clear: both;
    height: 7.154em;
    margin-top: -7.154em;
    margin-left: 39.56386%;
  }

  .beyond-packages .storage-3 {
    height: 7.154em;
    margin-top: 12.385em;
    margin-left: 8.81523%;
  }

  .beyond-packages .storage-4 {
    min-height: 1.778em;
    margin-top: -2.111em;
    margin-left: 11.83801%;
    font-size: 0.692em;
  }

  .beyond-packages .storage-5 {
    min-height: 1.778em;
    margin-top: -2.111em;
    margin-left: 11.2100899999%;
    font-size: 0.692em;
  }

  .beyond-packages .storage-6 {
    min-height: 1.333em;
    margin-top: -1.583em;
    margin-left: 7.21379%;
    font-size: 0.923em;
  }

  .beyond-packages-1,
  .beyond-packages-2 {
    top: 146.154em;
  }

  .beyond-packages-3 {
    top: 155.846em;
  }

  .container .text-4 {
    width: 237.9464285714%;
    max-width: 224px;
    max-height: 194px;
    font-size: 13px;
  }

  .container .text-7 {
    font-size: 1.154em;
  }

  .container-1 {
    top: 19.846em;
    height: 14.923em;
  }

  .container-2 {
    top: 46.154em;
    width: 50%;
    height: 5.385em;
  }

  .details-1-1,
  .details-1-2 {
    top: 123.333em;
  }

  .details-1-3 {
    top: 131.133em;
  }

  .details-2-1,
  .details-2-2 {
    top: 257.692em;
  }

  .details-2-3 {
    top: 274.615em;
  }

  .element-2 {
    top: 1.692em;
  }

  .h2subtitle-1,
  .h2subtitle-2 {
    top: 63.538em;
    min-height: 5.308em;
    font-size: 1em;
  }

  .h2subtitle-3 {
    top: 54.733em;
    min-height: 4.6em;
    font-size: 1.154em;
  }

  .hiw .find-1,
  .hiw .find-2 {
    margin-top: -8.308em;
    margin-left: 14.43299%;
  }

  .hiw .find-3 {
    margin-top: -5.231em;
    margin-left: 13.74034%;
  }

  .hiw .pickup-1,
  .hiw .pickup-2 {
    margin-top: 8.308em;
    margin-left: 13.74034%;
  }

  .hiw .pickup-3 {
    margin-top: 9.385em;
    margin-left: 13.39669%;
  }

  .hiw .ship-1 {
    margin-top: 8.231em;
    margin-left: 9.61662%;
  }

  .hiw .ship-2 {
    margin-top: 8.231em;
    margin-left: 9.61125%;
  }

  .hiw .ship-3 {
    margin-top: 10.154em;
    margin-left: 8.93471%;
  }

  .hiw-1,
  .hiw-2 {
    top: 82.846em;
  }

  .hiw-3 {
    top: 83.615em;
  }

  .hiw-background-1,
  .hiw-background-2 {
    height: 91.615em;
  }

  .hiw-background-3 {
    height: 101.308em;
  }

  .hiwtext .find-subtext-1,
  .hiwtext .find-subtext-2 {
    width: 87.8136200716%;
    min-height: 4.231em;
    margin-top: -28.154em;
    margin-left: 8.24373%;
    font-size: 1em;
  }

  .hiwtext .find-subtext-3 {
    width: 83.8709677419%;
    margin-top: -26.933em;
    margin-left: 9.13418%;
    font-size: 1.154em;
  }

  .hiwtext .find-title-1,
  .hiwtext .find-title-2 {
    margin-top: -28em;
    margin-left: 9.67742%;
  }

  .hiwtext .find-title-3 {
    margin-top: -25.733em;
    margin-left: 9.09498%;
  }

  .hiwtext .pickup-subtext-1,
  .hiwtext .pickup-subtext-2 {
    min-height: 4.231em;
    margin-top: 17.385em;
    font-size: 1em;
  }

  .hiwtext .pickup-subtext-3 {
    margin-top: 15em;
    font-size: 1.154em;
  }

  .hiwtext .pickup-text-1 {
    clear: both;
    margin-top: 9.867em;
    margin-left: -1.42809%;
  }

  .hiwtext .pickup-text-2 {
    clear: both;
    margin-top: 9.867em;
    margin-left: -1.42249%;
  }

  .hiwtext .pickup-text-3 {
    margin-top: 15em;
    margin-left: 0;
  }

  .hiwtext .ship-subtext-1,
  .hiwtext .ship-subtext-2 {
    min-height: 4.231em;
    margin-top: -7.154em;
    margin-left: 9.67742%;
    font-size: 1em;
  }

  .hiwtext .ship-subtext-3 {
    margin-top: -7em;
    margin-left: 9.09498%;
    font-size: 1.154em;
  }

  .hiwtext .ship-text-1 {
    margin-top: -7.4em;
    margin-left: 12.5391999999%;
  }

  .hiwtext .ship-text-2 {
    margin-top: -7.4em;
    margin-left: 12.5336%;
  }

  .hiwtext .ship-text-3 {
    margin-top: -3.4em;
    margin-left: 11.25672%;
  }

  .hiwtext-1,
  .hiwtext-2 {
    top: 104.538em;
  }

  .hiwtext-3 {
    top: 105.692em;
  }

  .hosttitle .text-1,
  .hosttitle .text-2 {
    top: 0;
    min-height: 5.308em;
    font-size: 1em;
  }

  .hosttitle .text-3 {
    top: -1.267em;
    font-size: 1.154em;
  }

  .hosttitle-1,
  .hosttitle-2 {
    top: 179.846em;
  }

  .hosttitle-3 {
    top: 189.385em;
  }

  .learn-host-1,
  .learn-host-2 {
    top: 168.538em;
  }

  .learn-host-3 {
    top: 178.231em;
  }

  .logo-1 {
    top: 0.923em;
    left: 1.875%;
    width: 25.3125%;
    height: 3.846em;
  }

  .logo-2,
  .logo-3 {
    top: 1.385em;
    left: 1.8310546875%;
    width: 16.25%;
    height: 2.462em;
  }

  .logoname-1 {
    top: -1.462em;
    left: 26.4062499999%;
    width: 64.375%;
    height: 8.538em;
  }

  .logoname-2,
  .logoname-3 {
    top: 0;
    left: 17.65625%;
    width: 40.625%;
    height: 5.385em;
  }

  .nav1-1,
  .nav1-2 {
    top: 42.231em;
  }

  .nav1-3 {
    top: 48em;
  }

  .social .facebook-1 {
    top: 0.923em;
  }

  .social .facebook-2 {
    top: 0.846em;
  }

  .social .facebook-3 {
    top: -7.308em;
  }

  .social .linkedin-1,
  .social .linkedin-2 {
    top: 10.231em;
  }

  .social .linkedin-3 {
    top: 2.462em;
  }

  .social .twitter-1 {
    top: 5.615em;
  }

  .social .twitter-2 {
    top: 5.538em;
  }

  .social .twitter-3 {
    top: -2.385em;
  }

  .social-1,
  .social-2 {
    height: 14.231em;
  }

  .social-3 {
    height: 12.308em;
  }

  .subtitle-1 {
    top: 10.438em;
    font-size: 1.231em;
  }

  .subtitle-2,
  .subtitle-3 {
    top: 9.333em;
    font-size: 1.154em;
  }

  .text-5 {
    top: 5.25em;
    left: 0;
    right: 0;
    min-height: 3.2em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.538em;
  }

  .text-6 {
    top: 10.385em;
    left: 0;
    right: 0;
    width: 68.4375%;
    min-height: 9.462em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
  }

  ._button-1 {
    left: 120.166015625%;
    width: 78.125%;
  }

  ._button-2,
  ._button-3 {
    left: 105.791015625%;
    width: 78.125%;
  }

  ._container ._button-4 {
    top: 4.154em;
    left: 102.4999999999%;
    height: 2.615em;
  }

  ._container ._button-5 {
    top: 2.154em;
    left: 106.25%;
    height: 2.615em;
  }

  ._container ._button-6 {
    top: 1.462em;
    left: 65.9375%;
    width: 28.125%;
    height: 2.692em;
    border-width: 0.154em;
  }

  ._container .bahnav-1,
  ._container .bahnav-2,
  ._container .bahnav-3 {
    left: 104.849137931%;
  }

  ._container .copyright-1,
  ._container .copyright-2,
  ._container .copyright-3 {
    height: 1.231em;
    margin-top: 0.923em;
    margin-left: 6.49444%;
  }

  ._container .element-1 {
    top: 0.308em;
    left: 15.9374999999%;
    width: 39.6875%;
    height: 5.077em;
  }

  ._container .element-4 {
    height: 1.231em;
    margin-top: 0.923em;
  }

  ._container .goodhood-2 {
    width: 25.7668711656%;
    margin-left: 0.84356%;
    font-size: 0.923em;
  }

  ._container .goodhood-1,
  ._container .goodhood-3 {
    width: 25.7668711656%;
    margin-left: 0.84835%;
    font-size: 0.923em;
  }

  ._container .hiwnav-1,
  ._container .hiwnav-2,
  ._container .hiwnav-3 {
    left: 100%;
  }

  ._container .privacy-1,
  ._container .privacy-2,
  ._container .privacy-3 {
    width: 34.9693251533%;
    margin-left: 3.98773%;
    font-size: 0.923em;
  }

  ._container .text-8 {
    width: 26.875%;
    font-size: 0.923em;
  }

  ._container .text-9 {
    width: 23.4375%;
    margin-left: 3.4375%;
    font-size: 0.923em;
  }

  ._container-1 {
    left: 0;
    right: auto;
    width: 100%;
  }

  ._container-10 {
    top: 38em;
  }

  ._container-11 {
    top: 278.462em;
    width: 101.875%;
  }

  ._container-2,
  ._container-3 {
    left: 0.15625%;
    right: auto;
    width: 99.6875%;
  }

  ._container-6 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  ._container-8,
  ._container-9 {
    top: 262.615em;
    width: 101.875%;
  }

  ._text-1 {
    top: 4.208em;
    width: 91.875%;
  }

  ._text-2,
  ._text-3 {
    top: 3.583em;
    width: 90.625%;
  }

  ._text-5,
  ._text-6 {
    top: 38.55em;
    min-height: 3.2em;
    font-size: 1.538em;
  }

  ._text-7 {
    top: 34.409em;
    width: 90.625%;
    min-height: 2.909em;
    font-size: 1.692em;
  }
}