<!--this is blocbox/core/templates/blocbox/basesignup.html -->
<!--this is core/templates/blocbox/abouthosting.html - url is blocbox.co/abouthosting. it extends base.html-->
{% extends "blocbox/base.html" %}
{% load staticfiles %}
{% block title %}About Hosting{% endblock %}

{% block headafter %}
{% endblock %}

{% block content %}
<div class="content container-fluid"> <!--this is the container that surrounds the form, too short -->
	
	<br>
	<h3>John to add FAQs or information on hosting</h3>

</div>
{% endblock %}
