<!--this is core/templates/blocbox/account.html - url is blocbox.co/account. it extends base.html-->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Account{% endblock %} {% block headafter %} {% endblock %} {% block content %}
<div class="content container-fluid offwhitebackground relativediv">
    <!--this is the container that surrounds the form, too short -->

    <div class="row margintop30px marginbottom10px mobilehide">
        <p class="col-xs-2 col-xs-offset-1 subnavtextcurrent textcenter">ACCOUNT</p>
        <a href="dashboard.html" class="col-xs-2 subnavtext textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <p class="col-xs-2 subnavtext textcenter">PROFILE</p>

        <div class="col-xs-10 col-xs-offset-1">
            <div class="profileboxline100"></div>
        </div>
    </div>
    <!--emd top row-->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 marginbottom30px">

        <div class="row">
            <!--top navigation row for the subpages-->
            <a href="" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">NOTIFICATIONS</a>
            <a href="/messages/compose/" class="col-xs-2 subnavtext textcenter">PAYMENT</a>
            <a href="/messages/outbox/" class="col-xs-2 subnavtext textcenter">TRANSACTIONS</a>
            <a href="/messages/trash/" class="col-xs-2 subnavtext textcenter">SECURITY</a>
            <a href="/messages/messagesettings/" class="col-xs-2 subnavtext textcenter">SETTINGS</a>
        </div>
        <!--row-->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 margintop30px paddingbottom20px">
            <div class="profilebox">
                <p class="orangetext centerboxheader">Email Settings</p>
                <div class="profileboxline"></div>
                <div class="row">
                <div class="col-sm-3 col-sm-offset-1 paddingtop20px">
                   <h5 class="">I want to receive:</h5>
                    <p class="paddingtop10px">Disable any at anytime</p>
                </div>
                    <div class="col-xs-12 col-sm-7 paddingtop20px">
                   <p>GENERAL</p>
                    <ul class="list-group checkbox checked-list-box">
                        <li class="list-group-item" type="checkbox">General promotions, updates, news about Blocbox, along with user surveys, inspiration, and love from Blocbox.</li>
                        <li class="list-group-item">Notifiy me when a neighbor joins Blocbox</li>
                        <li class="list-group-item">Notify me when a connected host offers a new task</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <p>PACKAGE RECEIPT</p>
                    <ul class="list-group checked-list-box">
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <p>MY BLOCK</p>
                    <ul class="list-group checked-list-box">
                        <li class="list-group-item">Notifiy me when a neighbor joins Blocbox</li>
                        <li class="list-group-item">Notify me when a connected host offers a new task</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="profilebox margintop30px">
                <!--verified info -->
                    <div class="centerboxheader nopadding">
                        <p class="col-sm-10 greentext nopadding">Text Messages</p>
                    </div>
                <div class="profileboxline"></div>
                <!--house icon-->
                <div class="row marginsides7pt5pct margintop20px">
                    <div class="col-sm-3">
                        <i class="fa fa-map-marker fa-fw fa-2x greentext"></i>
                        <p class="textcenter paddingtop10px">Address</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
