<!--this is core/templates/blocbox/account.html - url is blocbox.co/account. it extends base.html-->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Account{% endblock %} {% block headafter %} {% endblock %} {% block content %}
<div class="content container-fluid offwhitebackground relativediv">
    <!--this is the container that surrounds the form, too short -->

    <div class="row margintop30px marginbottom10px mobilehide">
        <p class="col-xs-2 col-xs-offset-1 subnavtextcurrent textcenter">ACCOUNT</p>
        <a href="dashboard.html" class="col-xs-2 subnavtext textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <p class="col-xs-2 subnavtext textcenter">PROFILE</p>

        <div class="col-xs-10 col-xs-offset-1">
            <div class="profileboxline100"></div>
        </div>
    </div>
    <!--emd top row-->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 marginbottom30px">

        <div class="row">
            <!--top navigation row for the subpages-->
            <a href="" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">NOTIFICATIONS</a>
            <a href="/messages/compose/" class="col-xs-2 subnavtext textcenter">PAYMENT</a>
            <a href="/messages/outbox/" class="col-xs-2 subnavtext textcenter">TRANSACTIONS</a>
            <a href="/messages/trash/" class="col-xs-2 subnavtext textcenter">SECURITY</a>
            <a href="/messages/messagesettings/" class="col-xs-2 subnavtext textcenter">SETTINGS</a>
        </div>
        <!--row-->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 margintop30px paddingbottom20px">
            <div class="profilebox">
                <p class="bluegreytext centerboxheader">Email Settings</p>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px">
                    <div class="col-sm-3 col-sm-offset-1 paddingtop20px">
                        <h6 class="bluegreytext">I'd like to receive:</h6>
                        <p class="paddingtop10px greytext">Disable any at anytime</p>
                    </div>
                    <div class="col-xs-12 col-sm-7 paddingtop30px">
                        <p class="dashfont darkgreytext">MY BLOCK</p>
                        <form role="form">
                            <div class="checkbox checkbox-info checkbox-circle active paddingbottom5px bluegreytext">
                                <input type="checkbox" id="checkbox1" checked>
                                <label for="checkbox1">
                                    Email me when a neighbor joins Blocbox
                                </label>
                            </div>
                            <div class="checkbox checkbox-info checkbox-circle active bluegreytext">
                                <input type="checkbox" id="checkbox2" checked>
                                <label for="checkbox2">
                                    Email me when a connected host offers a new task
                                </label>
                            </div>
                        </form>
                        <p class="dashfont darkgreytext paddingtop10px">MESSAGES</p>
                        <form role="form">
                            <div class="checkbox checkbox-info checkbox-circle active bluegreytext">
                                <input type="checkbox" id="checkbox3" checked>
                                <label for="checkbox3">
                                    Email when I receive a message from another person on Blocbox 
                                </label>
                            </div>
                        </form>
                        <p class="dashfont darkgreytext paddingtop10px">PACKAGE RECEIPT</p>
                        <form role="form">
                            <div class="checkbox checkbox-info checkbox-circle active paddingbottom5px bluegreytext">
                                <input type="checkbox" id="checkbox4" checked>
                                <label for="checkbox4">
                                    Email me when my package ships
                                </label>
                            </div>
                            <div class="checkbox checkbox-info checkbox-circle active paddingbottom5px bluegreytext">
                                <input type="checkbox" id="checkbox5" checked>
                                <label for="checkbox5">
                                    Email me if there's an issue with the shipment of my package
                                </label>
                            </div>
                            <div class="checkbox checkbox-info checkbox-circle active bluegreytext">
                                <input type="checkbox" id="checkbox6" checked>
                                <label for="checkbox6">
                                    Email me when my package is recieved by my host
                                </label>
                            </div>
                        </form>
                        <p class="dashfont darkgreytext paddingtop10px">GENERAL</p>
                        <form role="form">
                            <div class="checkbox checkbox-info checkbox-circle active bluegreytext">
                                <input type="checkbox" id="checkbox7" checked>
                                <label for="checkbox7">
                                    Email me general promotions, updates, and news about Blocbox, along with user surveys and assorted forms of love from Blocbox
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="profilebox margintop30px">
                <!--verified info -->
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Text Messages</p>
                </div>
                <div class="profileboxline"></div>
                <!--house icon-->
                <div class="row marginsides7pt5pct margintop20px">
                    <div class="col-sm-3">
                        <i class="fa fa-map-marker fa-fw fa-2x greentext"></i>
                        <p class="textcenter paddingtop10px">Address</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}