<!--this is core/templates/blocbox/account.html - url is blocbox.co/account. it extends base.html-->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Account{% endblock %} {% block headafter %} {% endblock %} {% block content %}
<div class="content container-fluid offwhitebackground relativediv">
    <!--this is the container that surrounds the form, too short -->

    <div class="row margintop30px marginbottom10px mobilehide">
        <a href="dashboard.html" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <a href="/profile/" class="col-xs-2 subnavtext textcenter">PROFILE</a>
        <a href="/account/" class="col-xs-2 subnavtextcurrent textcenter">ACCOUNT</a>

        <div class="col-xs-10 col-xs-offset-1 paddingtop10px">
            <div class="profileboxline100"></div>
        </div>
    </div>
    <!--emd top row-->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 marginbottom30px">

        <div class="row">
            <!--top navigation row for the subpages-->
            <a href="" class="col-xs-2 col-xs-offset-1 subnavtext darkgreytext textcenter">NOTIFICATIONS</a>
            <a href="" class="col-xs-2 subnavtext textcenter">PAYMENT</a>
            <a href="" class="col-xs-2 subnavtext textcenter">TRANSACTIONS</a>
            <a href="" class="col-xs-2 subnavtext textcenter">SECURITY</a>
            <a href="" class="col-xs-2 subnavtext textcenter">SETTINGS</a>
        </div>
        <!--row-->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 margintop30px paddingbottom20px">
            <div class="profilebox">
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Mobile Phone</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px" style="padding-left: 7.5%; padding-right: 7.5%">
                    <div class="col-sm-4 nopaddingleft paddingtop20px">
                        <h6 class="darkgreytext">Receive mobile updates by regular SMS text message.</h6>
                    </div>
                    <div class="col-xs-12 col-sm-8 paddingtop30px">
                        <div class="checkbox checkbox-success checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                            <input id="inlineCheckbox16" type="checkbox" value="option1">
                            <label for="inlineCheckbox16">Enable Text Message Notications</label>
                        </div>
                        <form class="form-inline paddingtop10px">
                            <div class="form-group paddingleft10px">
                                <label for="smsphone">Recieve SMS notifications to:&nbsp;</label>
                                <input type="tel" class="form-control" id="smsphone" placeholder="XXX-XXX-XXXX">
                            </div>
                        </form>
                        <a class="paddingleft10px paddingtop5px" href="">Modify phone number</a>
                    </div>
                </div>
            </div>

            <div class="profilebox margintop30px">
                <p class="bluegreytext centerboxheader">Notification Settings</p>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px" style="padding-left: 7.5%; padding-right: 7.5%">
                    <div class="col-sm-4 nopaddingleft paddingtop20px">
                        <h6 class="darkgreytext">Notify me:</h6>
                        <p class="greytext">Disable any at anytime</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 paddingtop30px">
                        <p class="dashfont darkgreytext marginbottom5px">MY BLOCK</p>
                        <div class="row">
                            <p class="col-xs-8 nomargin">When a neighbor joins Blocbox</p>
                            <div class="col-xs-2 checkbox checkbox-info checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                                <input id="inlineCheckbox1" type="checkbox" value="option1">
                                <label for="inlineCheckbox1">Email</label>
                            </div>
                            <div class="col-xs-2 checkbox checkbox-success checkbox-inline checkbox-circle active paddingbottom5px bluegreytext" style="margin-left: 0px">
                                <input id="inlineCheckbox2" type="checkbox" checked="" value="option1">
                                <label for="inlineCheckbox2">Text</label>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-xs-8 nomargin">When a neighbor becomes a Blocbox host</p>
                            <div class="col-xs-2 checkbox checkbox-info checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                                <input id="inlineCheckbox3" type="checkbox" value="option1">
                                <label for="inlineCheckbox3">Email</label>
                            </div>
                            <div class="col-xs-2 checkbox checkbox-success checkbox-inline checkbox-circle active paddingbottom5px bluegreytext" style="margin-left: 0px">
                                <input id="inlineCheckbox4" type="checkbox" checked="" value="option1">
                                <label for="inlineCheckbox4">Text</label>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-xs-8 nomargin">When a connected host offers a new task</p>
                            <div class="col-xs-2 checkbox checkbox-info checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                                <input id="inlineCheckbox5" type="checkbox" value="option1">
                                <label for="inlineCheckbox5">Email</label>
                            </div>
                            <div class="col-xs-2 checkbox checkbox-success checkbox-inline checkbox-circle active paddingbottom5px bluegreytext" style="margin-left: 0px">
                                <input id="inlineCheckbox6" type="checkbox" checked="" value="option1">
                                <label for="inlineCheckbox6">Text</label>
                            </div>
                        </div>

                        <p class="dashfont darkgreytext paddingtop10px marginbottom5px">MESSAGES</p>
                        <div class="row">
                            <p class="col-xs-8 nomargin">When I receive a message from another person on Blocbox</p>
                            <div class="col-xs-2 checkbox checkbox-info checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                                <input id="inlineCheckbox7" type="checkbox" value="option1">
                                <label for="inlineCheckbox7">Email</label>
                            </div>
                            <div class="col-xs-2 checkbox checkbox-success checkbox-inline checkbox-circle active paddingbottom5px bluegreytext" style="margin-left: 0px">
                                <input id="inlineCheckbox8" type="checkbox" checked="" value="option1">
                                <label for="inlineCheckbox8">Text</label>
                            </div>
                        </div>

                        <p class="dashfont darkgreytext paddingtop10px marginbottom5px">PACKAGE RECEIPT</p>
                        <div class="row">
                            <p class="col-xs-8 nomargin">When my package ships</p>
                            <div class="col-xs-2 checkbox checkbox-info checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                                <input id="inlineCheckbox9" type="checkbox" value="option1">
                                <label for="inlineCheckbox9">Email</label>
                            </div>
                            <div class="col-xs-2 checkbox checkbox-success checkbox-inline checkbox-circle active paddingbottom5px bluegreytext" style="margin-left: 0px">
                                <input id="inlineCheckbox10" type="checkbox" checked="" value="option1">
                                <label for="inlineCheckbox10">Text</label>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-xs-8 nomargin">When there's an issue with my package</p>
                            <div class="col-xs-2 checkbox checkbox-info checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                                <input id="inlineCheckbox11" type="checkbox" value="option1">
                                <label for="inlineCheckbox11">Email</label>
                            </div>
                            <div class="col-xs-2 checkbox checkbox-success checkbox-inline checkbox-circle active paddingbottom5px bluegreytext" style="margin-left: 0px">
                                <input id="inlineCheckbox12" type="checkbox" checked="" value="option1">
                                <label for="inlineCheckbox12">Text</label>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-xs-8 nomargin">When my package is recieved by my host</p>
                            <div class="col-xs-2 checkbox checkbox-info checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                                <input id="inlineCheckbox13" type="checkbox" value="option1">
                                <label for="inlineCheckbox13">Email</label>
                            </div>
                            <div class="col-xs-2 checkbox checkbox-success checkbox-inline checkbox-circle active paddingbottom5px bluegreytext" style="margin-left: 0px">
                                <input id="inlineCheckbox14" type="checkbox" checked="" value="option1">
                                <label for="inlineCheckbox14">Text</label>
                            </div>
                        </div>

                        <p class="dashfont darkgreytext paddingtop10px marginbottom5px">GENERAL</p>
                        <div class="row">
                            <p class="col-xs-8 nomargin">About general promotions, updates, and news about Blocbox, along with user surveys and assorted forms of love from Blocbox</p>
                            <div class="col-xs-2 checkbox checkbox-info checkbox-inline checkbox-circle active paddingbottom5px bluegreytext">
                                <input id="inlineCheckbox15" type="checkbox" value="option1">
                                <label for="inlineCheckbox15">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profilebox margintop30px">
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Payment Method</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px" style="padding-left: 7.5%; padding-right: 7.5%">
                    <div class="col-sm-4 nopaddingleft paddingtop20px">
                        <h6 class="darkgreytext">Chose how you pay for tasks</h6>
                    </div>
                    <a class="col-xs-12 col-sm-8 paddingtop30px">
                        <div class="col-xs-5">
                            <div class="paymentcardactive textcenter" type="button" href="">
                                <i class="fa fa-paypal fa-fw fa-3x paddingtopbottom10px"></i>
                                <p class="textcenter paddingtop20px">PAYPAL</p>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="paymentcard" type="button" href="">
                                <p class="textcenter paddingtopbottom20px" style="font-size: 6.00em; line-height: 20px;">+</p>
                                <p class="textcenter">ADD PAYMENT INFORMATION</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="profilebox margintop30px">
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Payout Preference</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px" style="padding-left: 7.5%; padding-right: 7.5%">
                    <div class="col-sm-4 nopaddingleft paddingtop20px">
                        <h6 class="darkgreytext">When you receive a payment for a task, choose how we send you the funds. Paypal, Venmo, Direct Deposit, etc...</h6>
                    </div>
                    <div class="col-xs-12 col-sm-8 paddingtop30px" style="padding-left: 25px">
                        <div class="col-xs-5">
                            <div class="paymentcard" type="button" href="">
                                <p class="textcenter paddingtopbottom20px" style="font-size: 6.00em; line-height: 20px;">+</p>
                                <p class="textcenter">ADD PAYOUT METHOD</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profilebox margintop30px">
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Subscriptions</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px" style="padding-left: 7.5%; padding-right: 7.5%">
                    <div class="col-sm-4 nopaddingleft paddingtop20px">
                        <h6 class="darkgreytext">Current payment plans for tasks</h6>
                    </div>
                    <div class="col-xs-12 col-sm-8 paddingtop30px" style="padding-left: 25px">
                        <div class="col-xs-5">
                            <div class="paymentcardactive textcenter" type="button" href="">
                                <p class="nomargin paddingtopbottom10px" style="font-weight: 400; font-size: 2.5em; line-height: 40px;">5</p>
                                <p>Packages Remaining</p>
                                <p class="textcenter">BUNDLE</p>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="paymentcard" type="button" href="">
                                <p class="textcenter paddingtopbottom20px" style="font-size: 6.00em; line-height: 20px;">+</p>
                                <p class="textcenter paddingtop20px">ADD SUBSCRIPTION</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}