{% extends "blocbox/basewaitlist.html" %}
<!--this is blocbox/core/templates/bocbox/almost-finished.html - will turn into the waitlist page-->
{% block title %} Almost Finished... {% endblock %}

{% block content %}

<div class="container-fluid orangebackground text-center"> <!-- start orange container -->
    
  <h1 class="_text-3">Almost Finished...</h1>
  <p class="subtitle subtitle-3">Please confirm your subscription to our waitlist by clicking on the link in the email we just sent you.</p>
    
</div>

{% endblock %}
