{% extends "blocbox/basewaitlist.html" %}
<!--this is blocbox/core/templates/bocbox/almost-finished.html, url is http://www.blocbox.co/almostfinished-->
{% load staticfiles %} {% block title %} Almost Finished... {% endblock %} {% block topcontent %}

<head>
    <!-- Facebook Conversion Code for Almost Finished -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
})();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6032516184052', {'value':'0.01','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6032516184052&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

</head>

<div class="row-fluid fullheight">
    <h1 class="nomargintop" style="padding-top: 200px">Almost Finished...</h1>
    <h3 class="col-xs-12 col-sm-6 col-sm-offset-3">Please confirm your subscription to our waitlist by clicking on the link in the email we just sent you.</h3>
</div>

{% endblock %}