{% extends "blocbox/basewaitlist.html" %}
<!--this is blocbox/core/templates/bocbox/almost-finished.html, url is http://www.blocbox.co/almostfinished-->
{% load staticfiles %} 
{% block title %} Almost Finished... {% endblock %}

{% block topcontent %}

 	<div class="row-fluid fullheight">
    	<br> <br> <br>
  	<h1 class="bigfont" >Almost Finished...</h1>
  	<h3 >Please confirm your subscription to our waitlist by clicking on the link in the email we just sent you.</h3>
 </div>

{% endblock %}
