<!-- this is blocbox/core/templates/blocbox/basewaitlist.html
		it is called by blocbox/core/templates/blocbox/x_bootstraptest.html, the waitlist page -->

{% load staticfiles %} 

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block title %}{% endblock %}</title> <!--Introducing BlocBox -->
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!--commenting out old CSS links
  <link rel="stylesheet" href="{% static 'blocbox/css/standardize.css' %}">
  <link rel="stylesheet" href="{% static 'blocbox/css/styles.css' %}">
  -->
  
  <!--Adding Bootstrap CSS page-->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 	<!--
 	<link rel="stylesheet" href="https://raw.githubusercontent.com/noizwaves/bootstrap-social-buttons/v1.0.0/social-buttons-3.css">
 	-->
 	<!--add font-awesome-->
 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
 	
  <!--link to john's css overwrides - a new CSS file - needs to be called after we call the CSS bootstrap -->
  <link rel="stylesheet" href="{% static 'blocbox/css/jb_bootstrap_customization.css' %}">
  <link rel="stylesheet" href="{% static 'blocbox/css/jmy/jmy_waitlist_custom.css' %}">
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
  <!-- Meta Tags - Describe the Site -->
   <meta name="Description" 
   CONTENT="Package Delivery Holding and Receiving, Storage, Pet Care, Dog Walking, Child Care,
   Mailbox Rental, Missed Packages, 800 USPS, 800 UPS">
   
  <!--Google Tracking SNippet -Goes in every page -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-51513611-1', 'blocbox.co');
    ga('send', 'pageview');
  </script>
  
  {% block headadds %} {% endblock %} 
  
</head>

<!--  the image file for the big logo that was floating: <img src="{% static "blocbox/images/Block-Outlinev(2).png" %}" -->

<!--jmy previous aded waitlistbody tag to this because there was not padding necessary because no navbar, but now there's a navbar..-->
<!--<body class="waitlistbody"> -->
<body class="whitetext"> 

<!--Adding a Customized Wiatlist NavBar 
		notes on changing the NavBar breakpoint: https://coderwall.com/p/wpjw4w
		add to CSS customization:
		@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}
-->
{% block navbar %} 
<nav class="navbar navbar-default navbar-fixed-top whitetext" role="navigation">	
	<div class="container-fluid orangebackground"> 
		<div class="navbar-header whitetext">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
 		
 			<!--add the logo image - note that i added the brandwaitlist class to jb_bootstrap_customizations.css -->
 			<a class="navbar-brand brandnavbarimage" 
 				href="#"> <img src="{% static "blocbox/images/Logo-and-name---white.png" %}" height="40" width="200"  />  </a>
			<!--add the bran name in text <a class="navbar-brand" href="#">BlocBox</a> -->
		
		</div> <!--navbar-header-->
   
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
    		<!--jmy changing this to be a navbar-right - to left align, remove the navbar-right tag -->
      	<ul class="nav navbar-nav navbar-right"> 
      	
					<li><a href="#works">How it Works</a></li>
        	<li><a href='/signuphost'>Become a Host</a></li> <!-- <a href="#hosting">Become a Host</a> -->
        	<!--<li><a href='/nudgeneighbor'>Nudge a Neighbor</a></li> -->
        	<li><a> 
  					<form method="post" action="mailto:admin@blocbox.co"><button class="orangebackground hellobtnborder">Say Hello!</button> </form>
  				</a></li>
  				      	
        	<!--<li><a href='/contactus'>Contact Us</a></li> -->
                    
      	</ul> <!--end collection of links for toggling -->
    	</div> <!--collapse navbar-collapse -->
  	</div> <!--end div container-fluid orangebackground-->
</nav> <!--end nav-->
{% endblock %} 


<!--site content goes here -->
{% block content %}{% endblock %}
  

  
{% block footer %}  
<footer>
  <div class="container-fluid orangebackground">
  	<div class="row">
  		
		<!--uses a 12-column span; col-md-1 would be able to fit 12 columsn on one page, col-md-4 would fit 3 
				 xs is phone, sm is tablet, md is desktop, lg is large desktop - 
				can specify one for each; it scales up, so if you want to use same number across platforms, just use xs				
				read about grid layout at: http://getbootstrap.com/examples/grid/
		-->
		<div class="col-xs-10 col-md-11>
    	<div class="col-xs-3 col-md-3"><a href='legaldisclaimer/'>GoodHood LLC</a></div>
    	<div class="col-xs-3 col-md-3"><a href='privacy/'>Privacy Policy</a></div>
    	<div class="col-xs-3 col-md-3"><a href='contactus/'>Contact Us </a> </div>
    	<div class="col-xs-3 col-md-3"><a href='signuphost/'>Become a Host</a></div>
    </div>
    <!--social links -->
    <div class="col-xs-2 col-md-1>
    	<div class="col-xs-4 col-md-4"><a href="https://www.facebook.com/blocboxco" target="_blank"><i class="fa fa-facebook"></i> </a> </div>	 	
  		<div class="col-xs-4 col-md-4"><a href="https://twitter.com/BlocboxCo" target="_blank"><i class="fa fa-twitter"></i></a> </div>   	 	
  		<div class="col-xs-4 col-md-4"><a href="NEED-LINKEDIN-PROFILE-LINK-HERE" target="_blank"><i class="fa fa-linkedin"></i> </a> </div> 
  	 	<!--need angel-list <div><a href="https://angel.co/blocbox" target="_blank">NEED-ANGEL-LIST-CLASS</a> </div> -->
  	</div> <!--end social links--> 
  </div> <!--end row -->
 	</div> <!--end orange fluidcontainer -->
</footer>
{% endblock %}
  
</body>
</html>