<!--this is blocbox/core/templates/blocbox/base.html -->
{% load staticfiles %} 
<!doctype html>
<!--DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"--> 


<!--block to add things to head before efgerything else loads-->
{% block headbefore %} {% endblock %} 

<html lang="en" class="fullheight">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!--title block - should i fill this in?"-->
  <title>{% block title %}{% endblock %}</title>
  
  <!--add the favicon to appear in tab, Hide this line for IE (needed for Firefox and others) -->
		<![if !IE]>
			<link rel="icon" href="{% static 'blocbox/images/Block-Outline-Orange.png' %}" type="image/x-icon" />
		<![endif]>>
		<!-- This is needed for IE -->
		<link rel="shortcut icon" href="{% static 'blocbox/images/Block-Outline-Orange.ico' %}" type="image/ico" />
  <!--end favicon insert -->
  
  
  <!--add typkit font -->
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  
  <!--Adding Bootstrap CSS page and optional theme page-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!--add social buttons -->
 	<link rel="stylesheet" href="https://raw.githubusercontent.com/noizwaves/bootstrap-social-buttons/v1.0.0/social-buttons-3.css">
 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
 	
  <!--link to john's css overwrides - a new CSS file - needs to be called after we call the CSS bootstrap -->
  <link rel="stylesheet" href="{% static 'blocbox/css/jb_bootstrap_customization.css' %}">
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
  <!-- Meta Tags - Describe the Site -->
   <meta name="Description" 
   CONTENT="Package Delivery Holding and Receiving, Storage, Pet Care, Dog Walking, Child Care,
   Mailbox Rental, Missed Packages, 800 USPS, 800 UPS">
   
  <!--Google Tracking SNippet -Goes in every page -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-51513611-1', 'blocbox.co');
    ga('send', 'pageview');
  </script>
    

    <!-- Smooth Scrolling -->
      <script>
          $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
               if (target.length) {
                 $('html,body').animate({
                     scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
        </script>
  
<!--block to add things to head after all this abaove has loaded-->
{% block headafter %} {% endblock %} 
  
</head>



<body class="fullheight mainsite">
	<div id="bbpage">
		
 				 				
{% block navbar %} 
<!--NOTE TO JOHN - THE BASE NAVBAR CONTENT APPEARS BETWEEN THIS BLOCK STATEMENT ABOVE
		AND THE ED BLOCK BELOW ALL THE NABVAR STUFF - I'VE COMMENTED OUT THE STOCK
		BOOTSTRAP ELEMENTS I DONT THINK WE NEED - IF YOU SUPPORT THAT, LETS DELETE IT FROM THE CODE
		SO THATS ITS CLEANER
		
		read about this herea; http://getbootstrap.com/components/#navbar 
	-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">	
	<div class="container-fluid whitebackground" style="padding-top: 15px;"> 
		<div class="navbar-header">
				<button type="button" class="row navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
      	
  		
  		<!--the "brand" - ultimately we should replace this with styled text rather than an image -->
  		<a class="navbar-brand brandnavbarimage margintop10px" href="/beta"> <img src="{% static "blocbox/images/Logo-and-name---orange-drop2.png" %}"  height="40" width="200" /></a>
  		<!--<a class="navbar-brand" href="#">BlocBox</a> -->
		</div> <!--navbar-header-->
   
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="dropdown" > <!--class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1"-->
        				
				<!--button for navbar - displays user's name or Sign In -->
        <button class="btn btn-default  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"> <!--class="col-sm-3 menubutton"-->
    					{% if user.is_authenticated %}
        						{{user.first_name}}
       				{% else %}
          					<a href='/login'>Sign in</a>
							{% endif %}      
         		<span class="caret"></span>        
        </button>
      
      	<!--list of links within the dropdown menu-->
      	<ul class="dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1"> <!--nav navbar-nav navbar-right-->      	      	
        	{% if user.is_authenticated %} <!--drop down menu if logged in-->
        		<li role="presentation"><a role="menuitem" tabindex="-1" href='/account'> {{user.first_name}}</a></li>
        		<li role="presentation"><a role="menuitem" tabindex="-1" href='/startashipment'>Start a Shipment</a></li>  
       		 	<li role="presentation"><a role="menuitem" tabindex="-1" href='/logout'>Sign out</a></li>
       		 	<li role="presentation"><a role="menuitem" tabindex="-1" href='/dashboard/'>Dashboard</a></li>
        		<li role="presentation"><a role="menuitem" tabindex="-1" href='/messages/inbox'>Inbox</a></li> 
                
       	{% else %} <!--drop down menu if not logged in -->
       		<li role="presentation"><a role="menuitem"  tabindex="-1" href='/beta'>Home</a></li>
          <li role="presentation"><a role="menuitem"  tabindex="-1" href='/login'>Sign in</a></li>
        	<li role="presentation"><a role="menuitem"  tabindex="-1" href='/'>Join Waitlist</a></li>
        
                
        {% endif %} <!--drop down menu items that appears to either user -->
        	<li role="presentation"><a role="menuitem"  tabindex="-1" href='/search'>Find a BlocBox</a></li>
        	<li role="presentation"><a role="menuitem"  tabindex="-1" href='/signuphost'>Become a Host</a></li>
        	<li role="presentation"><a role="menuitem"  tabindex="-1" href='/nudgeneighbor'>Nudge a Neighbor</a></li>
          <!-- 
          	SAY HELLO AND/OR CONTACT US - DECIDE IF WE WANT TO PUT /HOW TO PUT BACK IN          
          	<li> <a> <form method="post" action="mailto:admin@blocbox.co"> <button>Say Hello!</button> </form> </a> </li> 
          	<li><a href='/contactus'>Contact Us</a></li>  -->
        
           
        
      </ul> <!--end collection of links for toggling -->   
    </div> <!--dropdown -->
    
    <div class="margintop5px">
        <a class="infobtn"> <img src="{% static "blocbox/images/info-button-outline.png" %}"  height="40" width="40" style="margin-top: 12px;" /> </a>
    </div>
      
    

  	
	</div> <!--end white container -->
</nav> <!--end nav-->

{% endblock %}	



<!--page content here -->
{% block content %} {% endblock %}




  <!--Footer Below --> 
{% block footer %} 



<footer>
  <div class="container-fluid offwhitebackground">
  	
			<div class="col-xs-10 col-md-5">
    		<div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a href='legaldisclaimer/'>GoodHood LLC</a></div>
    		<div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a href='privacy/'>Privacy Policy</a></div>
    		<div class="col-xs-3 col-md-3 paddingsides10pxmobile"><a href='contactus/'>Contact Us </a></div>
    		<div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a href='signuphost/'>Become a Host</a></div>
    	</div>
    
    	<!--add social links -->
   		<div class="col-xs-2 col-md-1 col-md-offset-6">
    		<div class="col-xs-12 col-sm-6"><a href="https://www.facebook.com/blocboxco" target="_blank"><i class="fa fa-facebook"></i> </a> </div>	 	
  			<div class="col-xs-12 col-sm-6"><a href="https://twitter.com/BlocboxCo" target="_blank"><i class="fa fa-twitter"></i></a> </div>   	 	
  			<!--<div class="col-xs-4"><a href="NEED-LINKEDIN-PROFILE-LINK-HERE" target="_blank"><i class="fa fa-linkedin"></i> </a> </div> -->
  	 		<!--need angel-list <div><a href="https://angel.co/blocbox" target="_blank">NEED-ANGEL-LIST-CLASS</a> </div> -->
  		</div> <!--end social links--> 

 	
	</div> <!--end div within footer -->
</footer>

  
{% endblock %}


</div> 
</body>

</html>
