
<!--this is blocbox/core/templates/blocbox/base.html -- jess testing the base with block template concept -->
{% load staticfiles %} 
<!doctype html>
<!--DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"--> 


<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <!--title block - should i fill this in?"-->
  <title>{% block title %}{% endblock %}</title>
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	{% block headprecedes %}	{% endblock %}
  
  <!--Adding Bootstrap CSS page and optional theme page-->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  
  <!--link to john's css overwrides - a new CSS file - needs to be called after we call the CSS bootstrap -->
  <link rel="stylesheet" href="{% static 'blocbox/css/jb_bootstrap_customization.css' %}">
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
  <!-- Meta Tags - Describe the Site -->
   <meta name="Description" 
   CONTENT="Package Delivery Holding and Receiving, Storage, Pet Care, Dog Walking, Child Care,
   Mailbox Rental, Missed Packages, 800 USPS, 800 UPS">
   
  <!--Google Tracking SNippet -Goes in every page -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-51513611-1', 'blocbox.co');
    ga('send', 'pageview');
  </script>
  
  {% block headadds %} {% endblock %} 
  
</head>



<body>	
	
	
	 <!-- stuff from old navbar css
	 
	  <header	style="position: fixed; 
 			  				top: 0;
  							width: 100%;
 				 				left: 0;
 				 				z-index: 57; 
 				 				height: 3.75em; 
 				 				background-color: rgb(255, 255, 255); 
 				 				box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);" -->
 				 				
 				 				
	
{% block navbar %} 
<!--NOTE TO JOHN - THE BASE NAVBAR CONTENT APPEARS BETWEEN THIS BLOCK STATEMENT ABOVE
		AND THE ED BLOCK BELOW ALL THE NABVAR STUFF - I'VE COMMENTED OUT THE STOCK
		BOOTSTRAP ELEMENTS I DONT THINK WE NEED - IF YOU SUPPORT THAT, LETS DELETE IT FROM THE CODE
		SO THATS ITS CLEANER
		
		read about this herea; http://getbootstrap.com/components/#navbar 
-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">	
	<div class="container-fluid offwhitebackground"> 
		<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
  		
  		<!--the "brand" - ultimately we should replace this with styled text rather than an image -->
  		<!--<a class="navbar-brand" style="background-image: url('{% static 'blocbox/images/Logo-and-name---orange-drop(2).png' %}');" href="#"></a>-->
  		<a class="navbar-brand brandnavbarimage" href="#"> <img src="{% static "blocbox/images/Logo-and-name---orange-drop(2).png" %}"  height="40" width="200" /></a>
  		<!--<a class="navbar-brand" href="#">BlocBox</a> -->
	</div> <!--navbar-header-->
   
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	
      	<!--first link - active shading - curent page -->
        <li class="active"><a href="#">{% block navbartitle %} {% endblock %}</a></li>
        
        <!--second link - Home -->
        <li><a href='/beta'>Home</a></li>
        
        <!--second link - sign out or in -->
        {% if user.is_authenticated %}
       		 <li><a href='/logout'>Sign out</a></li>
       	{% else %}
           <li><a href='/login'>Sign in</a></li>
				{% endif %}
				
				<!--other links -->
				<li><a href='/search'>Find a BlocBox</a></li>
        <li><a href='/userdashboard'>Dashboard</a></li>
        <li><a href='/inbox'>Inbox</a></li>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/signuphost'>Become a Host</a></li>
        <!--that button looks really bad in the navbar and cant find a quick solution to make it plain text (dont waste time on this now
        so we should just use a contact us link 
        <li> <a> <form method="post" action="mailto:admin@blocbox.co"> <button>Say Hello!</button> </form> </a> </li>
        -->
        <li><a href='/nudgeneighbor'>Nudge a Neighbor</a></li>
        <li><a href='/contactus'>Contact Us</a></li>
        
        <!--Commenmting out this first drop-down i dont think we need it - its redundant and cluttered
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          	  {% if user.is_authenticated %}
           			 <li><a href='/logout'>Sign out</a></li>
						 	{% else %}
           		 <li><a href='/login'>Sign in</a></li>
            	{% endif %}
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
        
        
      </ul> <!--end collection of links for toggling -->
      
      <!--commenting out the search funciton - dont need it
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->
      
      <!--commenting out the right navbar - i dont think we need it
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          	  {% if user.is_authenticated %}
           			 <li><a href='/logout'>Sign out</a></li>
						 	{% else %}
           		 <li><a href='/login'>Sign in</a></li>
            	{% endif %}
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->  <!--end right navbar -->
      
    	</div> <!--collapse navbar-collapse -->
  	</div> <!--end div navbar-->
	</div> <!--end white container -->
</nav> <!--end nav-->


    	<!--the blocbox logo 
    		style="				
  							height: 3.4em;
  							background-image: url('{% static 'blocbox/images/Logo-and-name---orange-drop(2).png' %}'); 
  							background-repeat: no-repeat;
  							background-size: contain;">				-->
    	
    	
    	<!--The How It Works Button 
    	<button onClick="window.location='/beta';"
 				style="	height: 3.4em;
  							border-radius: 0.667em;
  							background-color: rgba(211, 84, 0, 0);
  							font-size: 0.938em;
  							text-align: center;
  							letter-spacing: 1px;
  							color: rgb(103, 114, 119);
  							"  		
    		>How It Works</button>					-->
    	
    	<!--TThe Login Button - spanning 2
    	<button onClick="window.location='/login';" 
  			style="	height: 3.4em;
  							border-radius: 0.667em;
  							background-color: rgba(211, 84, 0, 0);
  							font-size: 0.938em;
  							text-align: center;
  							letter-spacing: 1px;
  							color: rgb(103, 114, 119);
  							"	
    			>Log In</button>		-->
    	
    	<!--The Info button -- spanning 1 -- to where should this link?
    	<button style="	
  									width: 42px;
  									height: 3.4em;
  									
  									
  									border-radius: 0.188em;
  									background: url(' {% static 'blocbox/images/info-button.png' %}') rgba(222, 222, 222, 0); 
  									background-repeat: no-repeat;
  									background-size: contain;
  									
  									font-family: 'Brandon Grotesque';
  									font-weight: 400;
  									text-align: center;
  									color: rgb(0, 0, 0);"  		
    		>&nbsp;</button>
    	</div> -->

{% endblock %}	



<!--page content here -->
{% block content %} {% endblock %}




  <!--Footer Below --> 
{% block footer %}  
<footer>
  <div class="container-fluid offwhitebackground">
  	<div class="row">
  		
  <!--<footer> -->
	
		<!--uses a 12-column span; col-md-1 would be able to fit 12 columsn on one page, col-md-4 would fit 3 
				 xs is phone, sm is tablet, md is desktop, lg is large desktop - 
				can specify one for each; it scales up, so if you want to use same number across platforms, just use xs				
				read about grid layout at: http://getbootstrap.com/examples/grid/
		-->
    <div class="col-xs-3 col-md-3"><a href='legaldisclaimer/'>GoodHood LLC</a></div>
    <div class="col-xs-3 col-md-3"><a href='privacy/'>Privacy Policy</a></div>
    <div class="col-xs-3 col-md-3"><a href='contactus/'>Contact Us </a></div>
    <div class="col-xs-3 col-md-3"><a href='signuphost/'>Become a Host</a></div>
  <!--</footer>  -->
  </div> <!--end row -->
 	</div> <!--end orange fluidcontainer -->
</footer> 
{% endblock %}
 
  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
  
</body>

</html>