<!--this is blocbox/core/templates/blocbox/basesignup.html -->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}Sign Up for Blocbox{% endblock %}

{% block headafter %} 
{% endblock %} 
  
  
{% block content %}

<div class="container-fluid"> <!--this is the container that surrounds the form, too short -->
	<br> 
	<div class="row">
  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  		{% if registered %}
  				<br> <br>
        	<h3>Thank you for Registering!</h3>
        	<h4><a href="/login/">Login to return to the homepage.</a></p>
 					<br> <br> <br> <br> <br>
   		{% else %}	
  		
  		

  		
  		<!--Start Registration Form -->
  		
     	<form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">
     		
     			<!--<div class="col-sm-9 col-sm-offset-3">-->
     				<h3>Sign Up For BlocBox {% block signupheaderadd %} {% endblock %}</h3>
  			
  					{% block signupsubtitle %}  {% endblock %} <!--this is where 'in order to connect with john we need to collect.. will go -->
  					
  					<br>
  			<!--	</div>-->
  		
     		
       	{% csrf_token %}          
        {{ user_form.non_field_errors }}
                            
      	<div class="form-group row"> 
   				<!-- NOT INCLUDING LABLES FOR FORM ELEMENTS BUT CAN PUT BACK IN LATER
    				<label for="exampleInputEmail1">Email address</label> --->
                    <div class="row">
                        {{ user_form.email.errors }}
    				    <label for="id_email" class="col-sm-3 col-md-5 col-md-offset-1">Enter Your Email</label>
                        <label for="id_zipcode" class="col-sm-3 col-md-5">Enter Your Zipcode</label>
                    </div>

    				<div class="row">
                         <div class="col-sm-9 col-md-5 col-md-offset-1">
    					 <input type="email" class="form-control" name="email" id="id_email"  placeholder="you@example.com">
                        </div>
                        
                        {{ user_form.zipcode.errors }}
                        <div class="col-sm-9 col-md-5">
    					<input type="number" class="form-control" name="zipcode" id="id_zipcode"  placeholder="Zipcode">
    				    </div>	
                    </div>
        </div>
            
        <div class="form-group row">
            <div class="row">
                {{ user_form.password.errors }}
                <label for="password" class="col-sm-3 col-md-5 col-md-offset-1">Create a Password</label>
                <label for="password2" class="col-sm-3 col-md-5">Confirm Your Password</label>
            </div>	
            <div class="form-group row">
                {{ user_form.password2.errors }}
                <div class="col-sm-9 col-md-5 col-md-offset-1">
                    <input type="password" class="form-control" name="password" id="id_password"  placeholder="Password">
                </div>
                
                <div class="col-sm-9 col-md-5">
                    <input type="password" class="form-control" name="password2" id="id_password2"  placeholder="Password">
                </div>
 			</div>
         </div>
 				
            <div class="form-group">
                <div class="row">
                     <label for="id_first_name" class="col-sm-3 col-md-5 col-md-offset-1">Your Name</label>
                </div>
                <div class="row">
                    <div class="col-sm-9 col-md-5 col-md-offset-1">	
    					<input type="text" class="form-control" name="first_name" id="id_first_name"  placeholder="First">
    				</div>
 			        <div class="col-sm-9 col-md-5"> 				
    					<input type="text" class="form-control" name="last_name" id="id_last_name"  placeholder="Last">	
    				</div>	
                </div>    
 			</div>

            
 				<div class="form-group">
                    <div class="row">
                        <label for="id_st_address1" class="col-sm-3 col-md-5 col-md-offset-1">Your Address</label>	
                    </div>
                    <div class="row">
                        <div class="col-sm-9 col-md-5 col-md-offset-1">
    					<input type="text" class="form-control" name="st_address1" id="id_st_address1"  placeholder="Street Address 1">	
    				    </div>	
                        <div class="col-sm-9 col-md-5">
    					<input type="text" class="form-control" name="city" id="id_city"  placeholder="City">		
    				    </div>
                    </div>
                    <div class="row margintop15px">
                        <div class="col-sm-9 col-md-5 col-md-offset-1">
                            <input type="text" class="form-control" name="st_address2" id="id_st_address2"  placeholder="Street Address 2">	
    				    </div>
                        <div class="col-sm-9 col-md-5">
    					<input type="text" class="form-control" name="state" id="id_state"  placeholder="State">		
    				    </div>
                    </div>
 				</div>
 
 				
 				
 				{% block introduceyourself %} {% endblock %}
 				
 			
 				<!--ADD OTHER REQUESTS - removing all formatting, was text text-183 -->    			
    			<h5 class="margintop30px">What other services are you interested in receiving? (Optional)</h5>
    			
					<div class="form-group">
                        <!--<div class="col-sm-12 col-sm-offset-0">-->
                        <div class="row">
                            <div class="col-xs-12 col-md-2 col-md-offset-1">
                            <label class="checkbox-inline" style="margin-left:10px">
									<input class="offersbox" type="checkbox" id="id_need_storage" name="need_storage">Storage</label>
                            </div>
                            <div class="col-xs-12 col-md-2">
								<label class="checkbox-inline" style="margin-left:10px">
  								<input type="checkbox" id="id_need_petcare" name="need_petcare"> Pet Care
								</label>
                            </div>
                            <div class="col-xs-12 col-md-2">
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_housesitting" name="need_housesitting"> House Sitting
								</label>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="checkbox-inline">
  								<input type="checkbox" id="id_need_rentals" name="need_rentals"> Equipment or Party Rentals
								</label>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <label class="checkbox-inline">
  								<input type="checkbox" id="id_need_rentals" name="need_rentals"> Equipment or Party Rentals
								</label>
                            </div>
                        </div>
                            
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_rentals" name="need_rentals"> Equipment or Party Rentals
								</label>
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_laundry" name="need_laundry"> Laundry
								</label>
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_letin" name="need_letin"> Let Repairperson In
								</label>	
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_childcare" name="need_childcare"> Child Care
								</label>
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_plantcare" name="need_plantcare"> Plant Care
								</label>	
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_lawn" name="need_letin"> Lawn Care
								</label>	
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_carsharing" name="need_carsharing"> Car Sharing
								</label>
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_housemaint" name="need_housemaint"> House Maintenance
								</label>	
								<label class="checkbox-inline">
  								<input type="checkbox" id="id_need_autocare" name="need_autocare"> Auto Care
								</label>
						</div> <!--form-group-->
						
						<div class="form-group">
                            <div class="row">
                                <label for="id_need_other" class="col-sm-3 col-md-10 col-md-offset-1">What else could {{host.first_name}} help you with?</label>
                                </div>
                            <div class="row">
    				            <div class="col-sm-9 col-md-10 col-md-offset-1">
    										<input type="text" class="form-control" name="need_other" id="id_need_other"  placeholder="Write in to request another service">	
                                </div>	
    				        </div> <!--col -->		
 						</div> <!--form-group-->
 			  
 			 
				

 					
 					<!--submit button -->
 					<h3>Sign Up (and let us know if you want to host) </h3>
 					
 					<div class="form-group">
    				<div class="col-xs-12">
    					<button type="submit" name="submit" class="btn btn-default">Sign Up and Request to Connect</button>
    					<p>By continuing, I agree to Blocbox's Terms of Service and Privacy Policy</p>
    				
    				<div class="checkbox">  				
    						<label>
    							<input type="checkbox" name="host" id="id_host" >Check this box if you're registering as a host
 								</label>
 						</div> <!--checkbox -->
 							
    	    	<div class="checkbox">    	 		 				
    						<label>
    							<input type="checkbox" name="hostinterest" id="id_hostinterest" >Check your box if you're interested in learning about making extra cash by serving as a Blocbox host		
 								</label>
 						</div> <!--checkbox -->
    				
    				
    				</div> <!--col -->
    			</div> <!--form-group -->
    					
    		
    	<br> 
    	<p>*Required</p>
    	
    	  	<!--Submit bbutton to click "submit" is this visible on the page...
  					<button onClick="window.location='welcome-to-blocbox.html';" class="_button-77">Sign Up and Request to Connect  </button>
  					-->    	
  				<!--
    			<input type="submit" name="submit" value="Sign Up and Request to Connect" /> 
    			-->
      
    	<br><br><br><br>
    			
   		</form>  <!--end form -->
   	{% endif %} <!--end if registered -->
		
		</div>   <!--end containing column -->
	</div> <!--end row containing row-->
</div> <!--end of top divider  -->
    
{% endblock %}