<!--this is blocbox/core/templates/blocbox/base.html -->
{% load staticfiles %} 
<!doctype html>
<!--DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"--> 


<!--block to add things to head before efgerything else loads-->
{% block headbefore %} {% endblock %} 

<html lang="en" class="fullheight">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <!--title block - should i fill this in?"-->
      <title>{% block title %}{% endblock %}</title>

      <!--add the favicon to appear in tab, Hide this line for IE (needed for Firefox and others) -->
            <![if !IE]>
                <link rel="icon" href="{% static 'blocbox/images/Block-Outline-Orange.png' %}" type="image/x-icon" />
            <![endif]>>
            <!-- This is needed for IE -->
            <link rel="shortcut icon" href="{% static 'blocbox/images/Block-Outline-Orange.ico' %}" type="image/ico" />
      <!--end favicon insert -->


      <!--add typkit font -->
      <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


      <!--Adding Bootstrap CSS page and optional theme page-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <!--add social buttons -->
        <link rel="stylesheet" href="https://raw.githubusercontent.com/noizwaves/bootstrap-social-buttons/v1.0.0/social-buttons-3.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

      <!--link to john's css overwrides - a new CSS file - needs to be called after we call the CSS bootstrap -->
      <link rel="stylesheet" href="{% static 'blocbox/css/jb_bootstrap_customization.css' %}">

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

      <!-- Meta Tags - Describe the Site -->
       <meta name="Description" 
       CONTENT="Package Delivery Holding and Receiving, Storage, Pet Care, Dog Walking, Child Care,
       Mailbox Rental, Missed Packages, 800 USPS, 800 UPS">

      <!--Google Tracking SNippet -Goes in every page -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51513611-1', 'blocbox.co');
        ga('send', 'pageview');
      </script>


        <!-- Smooth Scrolling -->
          <script>
              $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
                || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                   if (target.length) {
                     $('html,body').animate({
                         scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
            </script>

    <!--block to add things to head after all this abaove has loaded-->
    {% block headafter %} {% endblock %} 

    </head>



<body class="fullheight mainsite">
	<div id="bbpage">
		

{% block navbar %} 
<!--NOTE TO JOHN - THE BASE NAVBAR CONTENT APPEARS BETWEEN THIS BLOCK STATEMENT ABOVE
		AND THE ED BLOCK BELOW ALL THE NABVAR STUFF - I'VE COMMENTED OUT THE STOCK
		BOOTSTRAP ELEMENTS I DONT THINK WE NEED - IF YOU SUPPORT THAT, LETS DELETE IT FROM THE CODE
		SO THATS ITS CLEANER
		
		read about this herea; http://getbootstrap.com/components/#navbar 
	-->

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">	
            <div class="container-fluid whitebackground" style="padding-top: 15px;"> 
                <div class="row">

                        <!--the "brand" - ultimately we should replace this with styled text rather than an image -->  
                        <div class="col-xs-6 col-sm-3 col-sm-offset-1 nopaddingleft">
                            <a class="navbar-brand brandnavbarimage bbbasenavbar bbbasenavbarbrand nomarginleft" href="/beta">  </a>
                        </div> <!--col-->		
                    <div class="col-sm-5 col-sm-offset-2" style="margin-left: 312px;"> 
                    <div class="col-sm-6">
                        <div class="dropdown textright paddingleft120px" > <!--class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1"-->
                                    <!--button for navbar - displays user's name or Sign In - but it inside row and columens to right-align -->
                                <button class="dropdown-toggle bbbasenavbar bbbasenavbarbtn" type="button" id="dropdownMenu1" data-toggle="dropdown"> <!--class="col-sm-3 menubutton"-->
                                    {% if user.is_authenticated %} 
                                                        <!--print user name and number of new messages in parentheses -->
                                                    {{user.first_name}}
                                {% else %} <a href='/login'>Sign in</a> 
                            {% endif %}      
                                <span class="caret"></span>        
                                </button>

                            <!--list of links within the dropdown menu .. removing dropdown-menu-right-->
                            <ul class="dropdown-menu marginleft20px" role="menu" aria-labelledby="dropdownMenu1"> <!--nav navbar-nav navbar-right-->      	      	
                            {% if user.is_authenticated %} <!--drop down menu if logged in-->
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/dashboard/'><i class="fa fa-list fa-fw fa-lg darkgreytext"></i>&nbsp Dashboard</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/myblock/'><i class="fa fa-th-large fa-fw fa-lg darkgreytext"></i>&nbsp My Block</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/profile/'><i class="fa fa-user fa-fw fa-lg darkgreytext"></i>&nbsp Profile</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/account/'><i class="fa fa-dollar fa-fw fa-lg darkgreytext"></i>&nbsp Account</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/logout/'><i class="fa fa-sign-out fa-fw fa-lg darkgreytext"></i>&nbsp Sign out</a></li>

                            {% else %} <!--drop down menu if not logged in -->
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/beta'>Home</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/login'>Sign in</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/'>Join Waitlist</a></li>
                                    
                            {% endif %}

                                    <!-- SAY HELLO AND/OR CONTACT US - DECIDE IF WE WANT TO PUT /HOW TO PUT BACK IN          
                                    <li> <a> <form method="post" action="mailto:admin@blocbox.co"> <button>Say Hello!</button> </form> </a> </li> 
                                        <li><a href='/contactus'>Contact Us</a></li>  -->        
                            </ul> <!--end collection of links for toggling -->   
                            </div> <!--dropdown -->
                    </div> <!--col containing ddropdown button-->
                    
                        <div class="col-xs-2 col-sm-1 nopaddingleftright marginleftright10px">    
                        <div class="dropdown textcenter">
                            <button class="dropdown-toggle bbbasenavbar bbbasenavbarbtn bbbasenavbarstart" style="margin-top: 26px; padding-bottom: 0px; margin-bottom: 0px;" type="button" id="dropdownMenu3" data-toggle="dropdown"><!--info button-->           <a class=""></a> 
                            </button> <!--end info button-->
                            <!--list of links within the dropdown menu .. removing dropdown-menu-right-->
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3"> <!--nav navbar-nav navbar-right-->      	      	
                                {% if user.is_authenticated %} <!--drop down menu if logged in-->
                                {% else %} <!--drop down menu if not logged in -->
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/beta'>How It Works</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/'>Join Waitlist</a></li>

                                {% endif %} <!--drop down menu items that appears to either user -->
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/startashipment/'><i class="fa fa-plus fa-fw fa-lg greentext"></i>&nbsp Start a Shipment</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/startashipment/'><i class="fa fa-plus fa-fw fa-lg greentext"></i>&nbsp Start a Favor</a></li> 
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/signuphost'><i class="fa fa-users fa-fw fa-lg greentext"></i>&nbsp Become a Host</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/nudgeneighbor'><i class="fa fa-hand-o-right fa-fw fa-lg greentext"></i>&nbsp Nudge a Neighbor</a></li>
                                <!-- SAY HELLO AND/OR CONTACT US - DECIDE IF WE WANT TO PUT /HOW TO PUT BACK IN          
<li> <a> <form method="post" action="mailto:admin@blocbox.co"> <button>Say Hello!</button> </form> </a> </li> 
<li><a href='/contactus'>Contact Us</a></li>  -->        
                            </ul> <!--end collection of links for toggling -->   
                        </div>
                    </div>   
                    
                     <!--drop down menu if logged in-->
                        <div class="col-xs-2 col-sm-1 nopaddingleftright marginleftright10px">
                        <div class="dropdown textcenter">
                            <button class="dropdown-toggle bbbasenavbar bbbasenavbarring bbbasenavbarinbox" style="margin-top: 26px; padding-bottom: 0px; margin-bottom: 0px;" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                <div class="" style="padding-bottom: 12px; margin-bottom: 0px; margin-top: 0px;">{% load inbox %}	{% inbox_count %}</div><!--number of new messages -->
                            </button> <!--end message button-->
                            <!--list of links within the dropdown menu .. removing dropdown-menu-right-->
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2"> <!--nav navbar-nav navbar-right-->      	      	
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/messages/inbox/'><i class="fa fa-inbox fa-fw fa-lg ltbluetext"></i>&nbsp Inbox</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/startashipment/'><i class="fa fa-pencil-square-o fa-fw fa-lg ltbluetext"></i>&nbsp New Message</a></li> 
                                <li class="dropdownfont" role="presentation"><a role="menuitem" tabindex="-1" href='/account/'><i class="fa fa-cog fa-fw fa-lg ltbluetext"></i>&nbsp Notification Settings</a></li>
                                <!-- SAY HELLO AND/OR CONTACT US - DECIDE IF WE WANT TO PUT /HOW TO PUT BACK IN          
<li> <a> <form method="post" action="mailto:admin@blocbox.co"> <button>Say Hello!</button> </form> </a> </li> 
<li><a href='/contactus'>Contact Us</a></li>  -->        
                            </ul> <!--end collection of links for toggling -->   
                        </div>
                    </div>
                    
                        <div class="col-xs-2 col-sm-1 nopaddingleftright marginleftright10px">    
                        <div class="dropdown textcenter">
                            <button class="dropdown-toggle bbbasenavbar bbbasenavbarbtn bbbasenavbarinfo" style="margin-top: 26px; padding-bottom: 0px; margin-bottom: 0px;" type="button" id="dropdownMenu3" data-toggle="dropdown"><!--info button-->           <a class=""></a> 
                            </button> <!--end info button-->
                            <!--list of links within the dropdown menu .. removing dropdown-menu-right-->
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3"> <!--nav navbar-nav navbar-right-->      	      	
                                {% if user.is_authenticated %} <!--drop down menu if logged in-->
                                {% else %} <!--drop down menu if not logged in -->
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/beta'>How It Works</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/'>Join Waitlist</a></li>

                                {% endif %} <!--drop down menu items that appears to either user -->
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/search'><i class="fa fa-map-marker fa-fw fa-lg yellowtext"></i>&nbsp Find a BlocBox</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/nudgeneighbor'><i class="fa fa-question fa-fw fa-lg yellowtext"></i>&nbsp Support Center</a></li>
                                <li class="dropdownfont" role="presentation"><a role="menuitem"  tabindex="-1" href='/nudgeneighbor'><i class="fa fa-heart fa-fw fa-lg yellowtext"></i>&nbsp Love Bloxbox?</a></li>
                                <li class="dropdownfont" ole="presentation"><a role="menuitem"  tabindex="-1" href='/nudgeneighbor'><i class="fa fa-home fa-fw fa-lg yellowtext"></i>&nbsp About Blocbox</a></li>
                                <li class="dropdownfont" ole="presentation"><a role="menuitem"  tabindex="-1" href='/nudgeneighbor'><i class="fa fa-phone fa-fw fa-lg yellowtext"></i>&nbsp Contact Us</a></li>
                                <!-- SAY HELLO AND/OR CONTACT US - DECIDE IF WE WANT TO PUT /HOW TO PUT BACK IN          
<li> <a> <form method="post" action="mailto:admin@blocbox.co"> <button>Say Hello!</button> </form> </a> </li> 
<li><a href='/contactus'>Contact Us</a></li>  -->        
                            </ul> <!--end collection of links for toggling -->   
                        </div>
                    </div>   
                </div>
                </div> <!--row containing full navbar-->	
            </div> <!--white container -->
        </nav> <!--nav-->
	
{% endblock %}	



<!--page content here -->
{% block content %} {% endblock %}




  <!--Footer Below --> 
{% block footer %} 



        <footer>
            <div class="container-fluid orangebackground">
                <div class="col-xs-10 col-md-5 paddingtopbottom50px">
                    <div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a class="whitetext" href='legaldisclaimer/'>GoodHood LLC</a></div>
                    <div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a class="whitetext" href='privacy/'>Privacy Policy</a></div>
                    <div class="col-xs-3 col-md-3 paddingsides10pxmobile"><a class="whitetext" href='contactus/'>Contact Us </a></div>
                    <div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a class="whitetext" href='signuphost/'>Become a Host</a></div>
                </div>

            <!--add social links -->
            <div class="col-xs-2 col-md-1 col-md-offset-6 paddingtopbottom50px">
                <div class="col-xs-12 col-sm-6"><a href="https://www.facebook.com/blocboxco" target="_blank"><i class="fa fa-facebook fa-2x whitetext"></i> </a> </div>	 	
                <div class="col-xs-12 col-sm-6"><a href="https://twitter.com/BlocboxCo" target="_blank"><i class="fa fa-twitter fa-2x whitetext"></i></a> </div>   	 	
                <!--<div class="col-xs-4"><a href="NEED-LINKEDIN-PROFILE-LINK-HERE" target="_blank"><i class="fa fa-linkedin"></i> </a> </div> -->
                <!--need angel-list <div><a href="https://angel.co/blocbox" target="_blank">NEED-ANGEL-LIST-CLASS</a> </div> -->
            </div> <!--end social links--> 


            </div> <!--end div within footer -->
        </footer>

  
{% endblock %}


    </div> 
</body>

</html>
