<!doctype html>
<!--  this is blocbox/core/templates/blocbox/baseorange.html
			it is extended by blocbox/basewaitlist.html, which is extended by waitlist.html  and beta.html (beta site)
			contains most of the head materials and other base formatting for the color block pages 
-->

{% load staticfiles %}


<html lang="en" class="fullheight">

<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--  Meta Tags - Describe the Site -->
    <meta name="Description" CONTENT="Package Delivery Holding and Receiving, Storage, Pet Care, Dog Walking, Child Care,
   					Mailbox Rental, Missed Packages, 800 USPS, 800 UPS">

    <!--  add the favicon to appear in tab, Hide this line for IE (needed for Firefox and others) -->
    <![if !IE]>
    <link rel="icon" href="{% static 'blocbox/images/Block-Outline-Orange.png' %}" type="image/x-icon" />
    <![endif]>
    <!--  This is needed for IE -->
    <link rel="shortcut icon" href="{% static 'blocbox/images/Block-Outline-Orange.ico' %}" type="image/ico" />
    <!--  end favicon insert -->


    <!--  add typekit font -->
    <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
    <script type="text/javascript">
        try {
            Typekit.load();
        } catch (e) {}
    </script>

    <!--  Adding Bootstrap CSS page-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--  Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <!--  add font-awesome-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">

    <!-- link to john's css overwrides - a new CSS file - needs to be called after we call the CSS bootstrap -->
    <link rel="stylesheet" href="{% static 'blocbox/css/jb_bootstrap_customization.css' %}">
    <!-- link to jasny-bootstrap extension - will fold into jb_bootstrap_custimization at some point -->
    <link rel="stylesheet" href="{% static 'blocbox/css/jasny-bootstrap.css' %}">

    <!-- Adding John's js-->
    <script type="text/javascript" href="{% static 'admin/js/jbcustomization.js' %}"></script>
    
    <!-- Adding modernizr.js-->
    <script src="js/modernizr.js"></script>

    <!--  jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--  Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--  Jasny-bootstrap extention - Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'admin/js/jbcustomization.js' %}"></script>



    <!--  Google Tracking SNippet -Goes in every page -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51513611-1', 'blocbox.co');
        ga('send', 'pageview');
    </script>

    {% block headadds %} {% endblock %}

</head>

<body class="whitetext fullheight waitlistbody">

    <div id="bbpage">
        <!--  <a name="top" class="anchorwithnav"></a> -->

        {% include "base_subtemplates/login_modal.html" %}


        <div class="mobileonly">
            <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
                <a class="navmenu-brand" href="/beta/">
                    <img class="slidelogo" src={% static 'blocbox/images/Logo-and-name-white.png' %} />
                </a>
                {% if user.is_authenticated %}
                <ul class="nav navmenu-nav">
                    <li class="active mobilenavtext">
                        <a href='/dashboard/'><i class="mobilenavtext fa fa-list fa-fw fa-lg"></i>&nbsp; Dashboard</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/transactions/nav_startashipment/'><i class="fa fa-plus fa-fw fa-lg"></i>&nbsp; Start a Shipment</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/messages/inbox/'><i class="fa fa-inbox fa-fw fa-lg"></i>&nbsp; Messages ({% load inbox %}{% inbox_count %})</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/dashboard/'><i class="fa fa-search fa-fw fa-lg"></i>&nbsp; Search Your Neighborhood</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle mobilenavtext" data-toggle="dropdown" href="#"><i class="fa fa-home fa-fw fa-lg"></i>
                        &nbsp; My Blocbox
                        <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu navmenu-nav">
                            <li class="mobilenavtext">
                                <a href='/myblock/'>&nbsp; My Block</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href='/profile/'>Profile</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href='/account/'>Account</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/nudgeaneighbor/'><i class="fa fa-hand-o-right fa-fw fa-lg"></i>&nbsp; Invite Your Neighbors</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/signuphost/'><i class="fa fa-users fa-fw fa-lg"></i>&nbsp; Become a Host</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle mobilenavtext" data-toggle="dropdown" href="#"><i class="fa fa-life-ring fa-fw fa-lg"></i>
                        &nbsp; Support
                        <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu navmenu-nav">
                            <li class="mobilenavtext">
                                <a href="#">Trust & Saftey</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Terms & Privacy</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Report a Problem</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle mobilenavtext" data-toggle="dropdown" href="#"><i class="fa fa-info fa-fw fa-lg"></i>
                        &nbsp; About Blocbox
                        <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu navmenu-nav">
                            <li class="mobilenavtext">
                                <a href="#howitworks">How it Works</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Terms & Privacy</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Jobs</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Love Blocbox?</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/logout/'><i class="fa fa-sign-out fa-fw fa-lg"></i>&nbsp; Sign out</a>
                    </li>
                </ul>
                {% else %}
                <!--if user is not authenticated-->



                <ul class="nav navmenu-nav">
                    <li>
                        <a href="#open_login_modal" class="mobilenavtext"><i class="fa fa-sign-out fa-fw fa-lg"></i>&nbsp; Sign in</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href="#"><i class="fa fa-user fa-fw fa-lg"></i>Get Started</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href="#howitworks"><i class="fa fa-home fa-fw fa-lg"></i>How it Works</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/dashboard/'><i class="fa fa-search fa-fw fa-lg"></i>&nbsp; Search Your Neighborhood</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/nudgeaneighbor/'><i class="fa fa-hand-o-right fa-fw fa-lg"></i>&nbsp; Invite Your Neighbors</a>
                    </li>
                    <li class="mobilenavtext">
                        <a href='/signuphost/'><i class="fa fa-users fa-fw fa-lg"></i>&nbsp; Become a Host</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle mobilenavtext" data-toggle="dropdown" href="#"><i class="fa fa-info fa-fw fa-lg"></i>
                        &nbsp; About Blocbox
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu navmenu-nav">
                            <li class="mobilenavtext">
                                <a href="#">Trust & Saftey</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Terms & Privacy</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Jobs</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Love Blocbox?</a>
                            </li>
                            <li class="mobilenavtext">
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </nav>
            <div class="navbar navbar-default navbar-fixed-top">
                <button type="button" class="navbar-toggle orangebars" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
                    <i class="fa fa-bars fa-fw fa-2x"></i>
                </button>
            </div>
        </div>

        {% block navbar %}
        <nav class="navbar-orange desktoponly" role="navigation">
            <div class="row" style="padding-left: 5%; padding-right: 5%">
               
                <!--<a href="#top" class="logo-image"></a> -->
                <!-- the "brand" - ultimately we should replace this with styled text rather than an image -->
                <div class="col-sm-3 nopaddingleft">
                    <a class="nav-blocbox-name nopaddingleft" href="#"></a>
                </div>
                <!-- col-->
                {% if user.is_authenticated %}
                <div class="col-sm-3  col-sm-offset-4 margintop30px nopaddingright">
                    <div class="dropdown textright">
                        <!--  class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1"-->
                        <!--  button for navbar - displays user's name or Sign In - but it inside row and columens to right-align -->
                        <button class="dropdown-toggle whitetext bbbasenavbar navnamewhite" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            <!--  class="col-sm-3 menubutton"-->
                            <!--  print user name and number of new messages in parentheses -->
                            {{user.first_name}}
                            <span class="caret"></span>
                        </button>
                        <!--  list of links within the dropdown menu .. removing dropdown-menu-right-->
                        <ul class="dropdown-menu" style="margin-left: 125px;" role="menu" aria-labelledby="dropdownMenu1">
                            <!--  nav navbar-nav navbar-right-->
                            <!--  drop down menu if logged in-->
                            <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/dashboard/'><i class="fa fa-list fa-fw fa-lg greytext"></i>&nbsp; Dashboard</a>
                            </li>
                            <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/myblock/'><i class="fa fa-th-large fa-fw fa-lg greytext"></i>&nbsp; My Block</a>
                            </li>
                            <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/profile/'><i class="fa fa-user fa-fw fa-lg greytext"></i>&nbsp; Profile</a>
                            </li>
                            <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/account/'><i class="fa fa-dollar fa-fw fa-lg greytext"></i>&nbsp; Account</a>
                            </li>
                            <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/logout/'><i class="fa fa-sign-out fa-fw fa-lg greytext"></i>&nbsp; Sign out</a>
                            </li>
                        </ul>
                        <!--  end collection of links for toggling -->
                    </div>
                    <!--  dropdown -->
                </div>
                <div class="col-sm-2" style="padding-top: 23px">
                    <!-- col containing ddropdown button-->
                    <div class="col-xs-2 col-sm-4">
                        <div class="dropdown textcenter">
                            <button class="dropdown-toggle bbbasenavbar bbbasenavbarbtn navstartwht" style="margin-top: 26px; padding-bottom: 0px; margin-bottom: 0px;" type="button" id="dropdownMenu3" data-toggle="dropdown">
                                <!--  info button-->
                                <a class=""></a>
                            </button>
                            <!--  end info button-->
                            <!--  list of links within the dropdown menu .. removing dropdown-menu-right-->
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3" style="left: -155px;">
                                <!-- nav navbar-nav navbar-right-->

                                <!--  starat ahipsment - need to reroute this to go to host page-->
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/transactions/nav_startashipment/'><i class="fa fa-plus fa-fw fa-lg greentext"></i>&nbsp; Start a Shipment</a>
                                </li>
                                <!--  starta  favor: need to redirect this to a page that routes to whether 1/o-->
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/transactions/nav_startafavor/'><i class="fa fa-plus fa-fw fa-lg greentext"></i>&nbsp; Start a Favor</a>
                                </li>

                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/signuphost/'><i class="fa fa-users fa-fw fa-lg greentext"></i>&nbsp; Become a Host</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/nudgeaneighbor/'><i class="fa fa-hand-o-right fa-fw fa-lg greentext"></i>&nbsp; Nudge a Neighbor</a>
                                </li>
                            </ul>
                            <!--  end collection of links for toggling -->
                        </div>
                    </div>

                    <!--  drop down menu if logged in-->
                    <div class="col-xs-2 col-sm-4">
                        <div class="dropdown textcenter">
                            <button class="dropdown-toggle bbbasenavbar navringwhite navinboxwhite nopaddingsides" style="margin-top: 26px; padding-bottom: 0px; margin-bottom: 0px;" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                <div class="" style="padding-bottom: 12px; margin-bottom: 0px; margin-top: 0px;">{% load inbox %}{% inbox_count %}</div>
                                <!-- number of new messages -->
                            </button>
                            <!--  end message button-->
                            <!--  list of links within the dropdown menu .. removing dropdown-menu-right-->
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2" style="left: -175px">
                                <!-- nav navbar-nav navbar-right-->
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/messages/inbox/'><i class="fa fa-inbox fa-fw fa-lg ltbluetext"></i>&nbsp; Inbox</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/messages/compose/'><i class="fa fa-pencil-square-o fa-fw fa-lg ltbluetext"></i>&nbsp; New Message</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/account/'><i class="fa fa-cog fa-fw fa-lg ltbluetext"></i>&nbsp; Notification Settings</a>
                                </li>
                            </ul>
                            <!--  end collection of links for toggling -->
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-4">
                        <div class="dropdown textcenter">
                            <button class="dropdown-toggle bbbasenavbar bbbasenavbarbtn navinfobtnwht" style="margin-top: 26px; padding-bottom: 0px; margin-bottom: 0px;" type="button" id="dropdownMenu3" data-toggle="dropdown">
                                <!--  info button-->
                            </button>
                            <!--  end info button-->
                            <!--  list of links within the dropdown menu .. removing dropdown-menu-right-->
                            <ul class="dropdown-menu  paddingright10px" role="menu" aria-labelledby="dropdownMenu3" style="left: -145px;">
                                <!-- drop down menu items that appears to either user -->
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/search'><i class="fa fa-map-marker fa-fw fa-lg yellowtext"></i>&nbsp; Find a BlocBox</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/nudgeneighbor'><i class="fa fa-question fa-fw fa-lg yellowtext"></i>&nbsp; Support</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/nudgeneighbor'><i class="fa fa-heart fa-fw fa-lg yellowtext"></i>&nbsp; Love Bloxbox?</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/aboutblocbox'><i class="fa fa-home fa-fw fa-lg yellowtext"></i>&nbsp; About Blocbox</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/nudgeneighbor'><i class="fa fa-phone fa-fw fa-lg yellowtext"></i>&nbsp; Contact Us</a>
                                </li>
                            </ul>
                            <!--  end collection of links for toggling -->
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-7 col-sm-offset-2 col-md-7 col-md-offset-2 col-lg-6 col-lg-offset-3 paddingtop40px nopaddingright">
                    <div class="col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
                        <h4 class="textright" style="padding-top: 9px"><a class="whitetext" href='/becomeahost/'></a>BECOME A HOST</h4>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-3 nopaddingright">
                        <div class="textcenter" style="padding-top: 19px">
                            <a href="#open_login_modal" class="orangenavbtn textcenter">SIGN IN</a>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="dropdown textcenter" style="padding-top: 12px">
                            <button class="dropdown-toggle btn-info-wht" type="button" id="dropdownMenu3" data-toggle="dropdown">i
                                <!-- info button-->
                            </button>
                            <!-- end info button-->
                            <!-- list of links within the dropdown menu .. removing dropdown-menu-right-->
                            <ul class="dropdown-menu paddingright10px" role="menu" aria-labelledby="dropdownMenu3" style="left: -170%">
                                <!-- nav navbar-nav navbar-right-->
                                <li class="dropdownfont" role="presentation">
                                    <a class="paddingleft10px" role="menuitem" tabindex="-1" href="#howitworks">
                                        <i class="fa fa-home fa-fw fa-lg yellowtext"></i>&nbsp; How It Works
                                    </a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/'><i class="fa fa-user fa-fw fa-lg yellowtext"></i>&nbsp; Join Waitlist</a>
                                </li>
                                <!-- drop down menu items that appears to either user -->
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/search'><i class="fa fa-map-marker fa-fw fa-lg yellowtext"></i>&nbsp; Find a BlocBox</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/nudgeneighbor'><i class="fa fa-question fa-fw fa-lg yellowtext"></i>&nbsp; Support</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/nudgeneighbor'><i class="fa fa-heart fa-fw fa-lg yellowtext"></i>&nbsp; Love Bloxbox?</a>
                                </li>
                                <li class="dropdownfont" role="presentation"><a class="paddingleft10px" role="menuitem" tabindex="-1" href='/aboutblocbox'><i class="fa fa-home fa-fw fa-lg yellowtext"></i>&nbsp; About Blocbox</a>
                                </li>
                                <li class="dropdownfont" role="presentation">
                                    <a class="paddingleft10px" role="menuitem" tabindex="-1" href='/nudgeneighbor'>
                                        <form method="post" action="mailto:admin@blocbox.co?subject=Hello!">
                                            <button class="hiddenbtn nopaddingleftright"><i class="fa fa-phone fa-fw fa-lg yellowtext"></i>&nbsp; Contact Us</button>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                            <!-- end collection of links for toggling -->
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- row containing full navbar-->
            </div>
        </nav>
        <!-- end nav-->
        {% endblock %}


        <!-- site content goes here -->
        {% block content %}{% endblock %} {% block footer %}
        <footer>
            <div class="container-fluid darkgreenbackground">
               

                
                <!--   <div class="row paddingtopbottom50px mobilehide">
                    <div class="col-sm-2 col-sm-offset-2">
                        <img class="footerlogo" src="{% static 'blocbox/images/BB-Logo.svg' %}" />
                    </div>
                    <div class="col-sm-2">
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <h3 class="nomargintop whitetext">Discover</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href="howitworks">How It Works</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='privacy/'>Limitless Possibilities</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='contactus/'>Support Center</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='signuphost/'>Trust &amp; Saftey</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='signuphost/'>Invite Your Neighbors</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <h3 class="nomargintop whitetext">Hosting</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='privacy/'>Why Host</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='privacy/'>Neighbors Helping Neighbors</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='contactus/'>Responsible Hosting</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='signuphost/'>Saftey</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <h3 class="nomargintop whitetext">Blocbox</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='contactus/'>About</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='privacy/'>Terms &amp; Privacy</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='contactus/'>Jobs</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="paddingsides3pxmobile">
                                <a class="whitetext dropdownfont" href='contactus/'>Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                
                <!-- add social links -->
                <div class="row paddingtop20px">
                    <h5 class="whitetext textcenter">SAY HELLO!</h5>
                </div>
                <div class="row paddingbottom50px paddingtop20px">
                    <h6 class="col-xs-2 col-xs-offset-1"><i class="fa fa-copyright fa-lg"></i>&nbsp;&nbsp;Goodhood, Inc.</h6>
                    <div class="col-xs-6">
                        <div class="col-xs-2 col-xs-offset-3 textcenter">
                            <a href="https://www.facebook.com/blocboxco" target="_blank"><i class="textcenter fa fa-facebook fa-2x whitetext"></i></a>
                        </div>
                        <div class="col-xs-2 textcenter">
                            <a href="https://twitter.com/BlocboxCo" target="_blank"><i class="textcenter fa fa-twitter fa-2x whitetext"></i></a>
                        </div>
                        <div class="col-xs-2 textcenter">
                            <a>
                                <form method="post" action="mailto:admin@blocbox.co">
                                    <button class="hiddenbtn"><i class="textcenter fa fa-envelope fa-2x whitetext"></i>
                                    </button>
                                </form>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row ">

                </div>
                <!-- end div within footer -->
            </div>
        </footer>
        {% endblock %}


    </div>
    <!-- id=bbpage -->
</body>

</html>