<!-- this is blocbox/core/templates/blocbox/basewaitlist.html
		it is called by blocbox/core/templates/blocbox/x_bootstraptest.html, the waitlist page -->

{% load staticfiles %} 

<!doctype html>
<html lang="en" class="fullheight">
<head>
	<title>{% block title %}{% endblock %}</title>
	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Meta Tags - Describe the Site -->
  <meta name="Description" 
   CONTENT="Package Delivery Holding and Receiving, Storage, Pet Care, Dog Walking, Child Care,
   					Mailbox Rental, Missed Packages, 800 USPS, 800 UPS">
  
  <!--add the favicon to appear in tab, Hide this line for IE (needed for Firefox and others) -->
		<![if !IE]>
			<link rel="icon" href="{% static 'blocbox/images/Block-Outline-Orange.png' %}" type="image/x-icon" />
		<![endif]>>
		<!-- This is needed for IE -->
		<link rel="shortcut icon" href="{% static 'blocbox/images/Block-Outline-Orange.ico' %}" type="image/ico" />
  <!--end favicon insert -->
  
  
  <!--add typekit font -->
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 
  <!--Adding Bootstrap CSS page-->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 
 	<!--add font-awesome-->
 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
 	
  <!--link to john's css overwrides - a new CSS file - needs to be called after we call the CSS bootstrap -->
  <link rel="stylesheet" href="{% static 'blocbox/css/jb_bootstrap_customization.css' %}">
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	

   
  <!--Google Tracking SNippet -Goes in every page -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-51513611-1', 'blocbox.co');
    ga('send', 'pageview');
  </script>
  
  {% block headadds %} {% endblock %} 
  
</head>

<body class="whitetext fullheight waitlistbody"> 

{% block navbar %} 
<!-- Fixed-Top version of Navbar
<nav class="navbar navbar-default navbar-fixed-top whitetext" role="navigation">	
-->
<!-- Non-Fixed version of Navbar -->
<nav class="navbar navbar-default whitetext navbar-fixed-top absolute" role="navigation">	
	<div class="container-fluid orangebackground"> 
		<div class="navbar-header whitetext">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
      	</button>
 		
 			<!--XXXX - ADD A FIXED LOGO -->
 			<a class="fixedlogo" href="#top">
 					<img src="{% static 'blocbox/images/Block-Outlinev(2).png' %}" height="94" width="131"  /> 
 			</a>

 			<!--Add Logo Name - for the floating Logo version of the navbar -->
 			<a class="navbar-brand-forfixedlogo" href="#"> 
 				<img src="{% static "blocbox/images/Name-whited(2).png" %}" height="80px" width="300px" class="navbarlogo"/>
 				
 				<!--Logo and NAme - for original Navbar without floating logo 
 			<a class="navbar-brand" href="#">
 				<img src="{% static "blocbox/images/Logo-and-name---white.png" %}" height="50px" width="250px" class="navbarlogo"/>
 			  -->
 			  
 			</a>
			<!--add the bran name in text <a class="navbar-brand" href="#">BlocBox</a> -->
		
		</div> <!--navbar-header-->
   
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
    		<!--jmy changing this to be a navbar-right - to left align, remove the navbar-right tag -->
      	<ul class="nav navbar-nav navbar-right"> 
      		
      		<!--should update this without the http etc -->
					<li class="padding5px"><a href="http://www.blocbox.co/#works">How it Works</a></li>
					
        	<li class="padding5px"><a href='/signuphost'>Become a Host</a></li> <!-- <a href="#hosting">Become a Host</a> -->
        	<!--<li><a href='/nudgeneighbor'>Nudge a Neighbor</a></li> -->
        	<li><a> 
  					<form method="post" action="mailto:admin@blocbox.co"><button class="hellobtnborder orangebackground">Say Hello!</button> </form>
  				</a></li>
  				      	
        	<!--<li><a href='/contactus'>Contact Us</a></li> -->
                    
      	</ul> <!--end collection of links for toggling -->
    	</div> <!--collapse navbar-collapse -->
  	</div> <!--end div container-fluid orangebackground-->
</nav> <!--end nav-->
{% endblock %} 


<!--site content goes here -->
{% block content %}{% endblock %}
  

  
{% block footer %}  
<footer>
  <div class="container-fluid darkgreenbackground nopaddingmobile">
  		
		<div class="col-xs-10 col-md-11 text-center nopaddingmobile">
    	<div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a href='legaldisclaimer/' class="text-center">GoodHood LLC</a></div>
    	<div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a href='privacy/' class="text-center">Privacy Policy</a></div>
    	<div class="col-xs-3 col-md-3 paddingsides10pxmobile"><a href='contactus/' class="text-center">Contact Us </a> </div>
    	<div class="col-xs-3 col-md-3 paddingsides3pxmobile"><a href='signuphost/' class="text-center">Become a Host</a></div>
    </div>
    <!--social links -->
    <div class="col-xs-2 col-md-1 nopaddingmobile text-center">
    	<div class="col-xs-12 col-sm-6"><a href="https://www.facebook.com/blocboxco" target="_blank"><i class="fa fa-facebook"></i> </a> </div>	 	
  		<div class="col-xs-12 col-sm-6"><a href="https://twitter.com/BlocboxCo" target="_blank"><i class="fa fa-twitter"></i></a> </div>   	 	
  		<!--<div class="col-xs-4"><a href="NEED-LINKEDIN-PROFILE-LINK-HERE" target="_blank"><i class="fa fa-linkedin"></i> </a> </div> -->
  	 	<!--need angel-list <div><a href="https://angel.co/blocbox" target="_blank">NEED-ANGEL-LIST-CLASS</a> </div> -->
  	</div> <!--end social links--> 
 	</div> <!--end orange fluidcontainer -->
</footer>
{% endblock %}
  
</body>
</html>