{% extends "blocbox/baseorange.html" %} {% load staticfiles %}

<!--this is blocbox/core/templates/bocbox/basewaitlist.html, it extends baseorange.html and is extended by:
index.html (waitlist page - www.blocbox.co)
beta.html (beta page - www.blocbox.co/beta)
it provides the basic color block layout and populations each of the dividers with "how it works" etc
-->

{% block content %}

<div class="fillviewheight ltgreenbackground text-center relativediv">

    {%block topcontent %} {% endblock %}

</div>
<!--end the orangecontainer divider -->
<div class="row ltgreenbackground relativediv">

    <div class="col-xs-12 col-md-10 col-md-offset-1 paddingtopbottom50px">
       
        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12 paddingbottom15px">
                <div class="pro-circle">
                    <img src="{% static 'blocbox/images/handy.png' %}" height="100" width="100" />
                </div>
            </div>
            <p class="col-xs-12 pro-header">Get Tasks Done While Away from Home</p>
                <div class="col-xs-12">
                    <h5 class="nomargin">Busy and need someone to walk the dog, or to let the cable guy in? Let your neighbors help out.</h5>
                </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12 paddingbottom15px">
                <div class="pro-slip-circle"></div>
            </div>
            <p class="col-xs-12 pro-header paddingtop15px">Stop Missing Packages</p>
            <div class="col-xs-12" style="padding-top:18px">
                    <h5 class="nomargin">End the frustration of coming home to missed deliveries. Protect your packages from damage and theft. Never visit a distribution center again. </h5>
                </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12 paddingbottom15px">
                <div class="pro-circle">
                    <img src="{% static 'blocbox/images/share.png' %}" height="110" width="110" />
                </div>
            </div>
            <p class="col-xs-12 pro-header paddingtop15px">Borrow or Share Anything</p>
            <div class="col-xs-12" style="padding-top:18px">
                <h5 class="nomargin">Need an item for a single job? Avoid the trip to the store by borrowing something from a neighbor.</h5>
                </div>
        </div>
        <div class="text-center mobilehide paddingtop50px">
            <img src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
            </a>
    </div>
    </div>

</div>



<!--How it Works Section #works -->

<a name="howitworks" class="anchor bluebackground textinbluebackground"> </a>

<div class="fillpage bluegreendiv whitetext text-center relativediv paddingtop100px paddingbottom50px">
    <div>
        <!--the stop missing packages text righ taligns when the page shrinks horizontally. WHY? its not due to anchor i tested that. hm... -->
        <h2 class="">Making the Neighborhood Work</h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 paddingsides35pxmobile">
            <h3>We envision neighborhoods that not only provide solutions for nagging problems like package recipt, but also provides largely passive opportunities for those working at home.  With Blocbox everyone in the neighborhood wins.
  				</h3>
        </div>
    </div>
    <div class="text-center mobilehide paddingtop50px">
        <img src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
        </a>
</div>
    <!--end row div -->
</div>
    
<div class="fillpage offwhitebackground darkerbluegreentext text-center relativediv">
    <!--OFFENDING ROWS - SOMETHING IN ROW 91-118 IS CAUSING UNWANTED MARGIN -->
    
    <div>
        <!--the stop missing packages text righ taligns when the page shrinks horizontally. WHY? its not due to anchor i tested that. hm... -->
        <h2 class="darkbluegreentext paddingtop100px">How It Works</h2>
        <h3 class="textcenter nomargin">Quickly connect, ship and coordinate pickup. </h3>
    </div>
    
    <div class="row textleft paddingbottom30px">

        <div class="paddingtop50px paddingbottom100px">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-push-6">
                    <div class="homesearch"></div>
                </div>
                <div class="col-xs-12 col-md-4 col-md-offset-2 col-md-pull-4">
                    <h1 class="hiw-header paddingtop70px">Find a Blocbox Neighbor</h1>
                    <h3>Search to determine a conveniently located and verified Blocbox Host and connect</h3>
                </div>
            </div>
            <div class="text-center mobilehide">
                <a href="#howitworks">
                    <img src="{% static 'blocbox/images/arrow-silver.png' %}" height="50" width="50" />
                </a>
            </div>
        </div>
        
        <div class="paddingtop50px paddingbottom100px">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-md-push-6">
                    <div class="host-ss"></div>
                </div>
                <div class="col-xs-12 col-md-4 col-md-offset-2 col-md-pull-5">
                    <h1 class="hiw-header paddingtop70px">Request to Connect</h1>
                    <h3>Blocbox allows Hosts to confirm their neighborhood connections to ensure that they can help you.</h3>
                </div>
            </div>
            <div class="text-center mobilehide">
                <a href="#howitworks">
                    <img src="{% static 'blocbox/images/arrow-silver.png' %}" height="50" width="50" />
                </a>
            </div>
        </div>

        <div class="paddingtopbottom100px">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-push-6">
                    <div class="shippingentry"></div>
                </div>
                <div class="col-xs-12 col-md-4 col-md-offset-2 col-md-pull-4">
                    <h1 class="hiw-header paddingtop70px">Ship to Your Box</h1>
                    <h3>As you complete your order, enter the address of your connected Blocbox host</h3>
                </div>
            </div>
            <div class="text-center mobilehide">
                <a href="#howitworks">
                    <img src="{% static 'blocbox/images/arrow-silver.png' %}" height="50" width="50" />
                </a>
            </div>
        </div>
        
        <div class="paddingtopbottom100px">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-md-push-6">
                    <div class="dash-ss"></div>
                </div>
                <div class="col-xs-12 col-md-4 col-md-offset-2 col-md-pull-5">
                    <h1 class="hiw-header paddingtop70px">Track Your Package</h1>
                    <h3>Follow your package's progress as it makes it's way to your Blocbox Host.</h3>
                </div>
            </div>
            <div class="text-center mobilehide">
                <a href="#howitworks">
                    <img src="{% static 'blocbox/images/arrow-silver.png' %}" height="50" width="50" />
                </a>
            </div>
        </div>

        <div class="paddingtopbottom100px">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-push-6">
                    <div class="pickup"></div>
                </div>
                <div class="col-xs-12 col-md-4 col-md-offset-2 col-md-pull-4">
                    <h4 class="hiw-header paddingtop30px">Pick It Up Nearby, Whenever</h4>
                    <h3>Blocbox will notify you of your package's successful receipt. You can then suggest a time to pick it up, or wait till it's convenient.</h3>
                </div>
            </div>
            <div class="text-center mobilehide">
                <a href="#howitworks">
                    <img src="{% static 'blocbox/images/arrow-silver.png' %}" height="50" width="50" />
                </a>
            </div>
        </div>

    </div>



    <div class="textcenter relativediv paddingbottom10px">
        <div class="hiwline"></div>
        <h4 class="hiw-header darkbluegreentext paddingtop100px paddingbottom50px">Pricing for Receiving Packages</h4>
        <div class="row ">
            <div class="col-sm-2 col-sm-offset-3 paddingbottom10px">
                <div class="price-cricle">
                    <h4 class="marginbottom5px">PER PACKAGE</h4>
                    <p class="pricetext nomargin">$2</p>
                </div>
                <p class="lightweight paddingtop10px">Pay for a single package</p>
            </div>
            <div class="col-sm-2 paddingbottom10px">
                <div class="price-cricle">
                    <h4 class="marginbottom5px">BUNDLED</h4>
                    <p class="pricetext nomargin">$15</p>
                </div>
                <p class="lightweight paddingtop10px">10 packages
                    <br>(expires in 1 year)</p>
            </div>
            <div class="col-sm-2 paddingbottom10px">
                <div class="price-cricle">
                    <h4 class="marginbottom5px">MONTHLY</h4>
                    <p class="pricetext nomargin">$25</p>
                </div>
                <p class="lightweight paddingtop10px">20 packages for
                    <br>the next 30 days</p>
            </div>
            <!-- <div class="col-sm-2 paddingbottom10px">
                    <div class="price-cricle">
                        <h4 class="marginbottom5px">ANNUAL</h4>
                    <p class="pricetext nomargin">$150</p>
                    </div>
                    <p class="lightweight paddingtop10px">Up to 20 packages per month<br>for an entire year</p>
                </div> -->
        </div>
        <p class="lightweight tinytext paddingbottom100px">* Introductory Offer. Pricing subject to change.</p>
    </div>
    <!--row containing the three how it works images-->
</div>
<!--end How it Works/blue container -->




<!--Beyond Packages Section -->
<div class="ltgreenbackground text-center relativediv">
    <!---->
    <a name="beyondpackages" class="anchor"></a>
    <div class="paddingtop50px">
        <h2 class="">Beyond Packages</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 paddingsides35pxmobile darkorangetext">
            <h3 class="darkorangetext nomargin"> Blocbox enables neighbors to offer or request whatever goods and services they wish.
  				</h3>
        </div>
    </div>
    <!--end row div -->

    <div class="marginsides30px row">
        <br>
        <div class="col-xs-12 col-md-2 col-md-offset-1">
            <img src="{% static 'blocbox/images/handy.png' %}" height="90" width="90" />
            <p class="paddingtop5px">TOOL RENTAL</p>
        </div>
        <div class="col-xs-12 col-md-2">
            <img src="{% static 'blocbox/images/sitting.png' %}" height="90" width="90" />
            <p class="paddingtop5px">HOUSE SITTING</p>
        </div>
        <div class="col-xs-12 col-md-2">
            <img src="{% static 'blocbox/images/storage.png' %}" height="90" width="90" />
            <p class="paddingtop5px">STORAGE</p>
        </div>
        <div class="col-xs-12 col-md-2">
            <img src="{% static 'blocbox/images/dog.png' %}" height="90" width="90" />
            <p class="paddingtop5px">PET CARE</p>
        </div>
        <div class="col-xs-12 col-md-2">
            <i class="fa fa-plug fa-fw fa-5x whitetext paddingtop10px" style="height: 90px; width: 90px"></i>
            <p class="paddingtop5px">LET THE CABLE GUY IN</p>
        </div>
    </div>

    <div class="marginsides30px paddingtop15px row paddingbottom50px">
        <br>
        <div class="col-xs-12 col-md-2 col-md-offset-2">
            <i class="fa fa-plus-square fa-fw fa-5x whitetext"></i>
            <p class="paddingtop5px">EMERGENCY HELP</p>
        </div>
        <div class="col-xs-12 col-md-2">
            <i class="fa fa-wifi fa-fw fa-5x whitetext"></i>
            <p class="paddingtop5px">WIFI SHARING</p>
        </div>
        <div class="col-xs-12 col-md-2">
            <i class="fa fa-child fa-fw fa-5x whitetext"></i>
            <p class="paddingtop5px">CHILD CARE</p>
        </div>
        <div class="col-xs-12 col-md-2">
            <i class="fa fa-lightbulb-o fa-fw fa-5x whitetext"></i>
            <p class="paddingtop5px">ANYTHING ELSE YOU CAN THINK OF</p>
        </div>
    </div>
    
    <!--end -->

    <div class="row" style="height:10%"></div>
    <!--add some empty rows with breaks before the bottom divider -->
    <div class="row text-center paddingtop20px paddingbottom20px">
        <a href="#hosting">
            <img src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
        </a>
    </div>

</div>
<!--end Beyond Packages/dark-blue container-->



<!--Hosting Section / Green-->
<div class="greenbackground text-center relativediv">
    <a name="hosting" class="anchor"></a>
    <div class="paddingtop50px">
        <br>
        <h2>Become a Blocbox Host</h2>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 paddingsides35pxmobile">
            <h3 class="whitetext nomargin">Do you work from home? Do you have something to offer the neighborhood? If so, a small amount of time can provide you with some extra cash and crucial help for your neighbors.</h3>
        </div>
    </div>
    <!--end row div -->

    <div class="row textleft">

        <div class="paddingtop50px paddingbottom100px">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-push-6">
                    <div class="packagehold"></div>
                </div>
                <div class="col-xs-12 col-md-4 col-md-offset-2 col-md-pull-4">
                    <h1 class="host-header paddingtop30px">Perform Tasks While<br>at Home</h1>
                    <h3 class="ltergreytext">Offer any service you can think of to your neighbors. Hosts must be able to be verified and be at home for all scheduled deliveries</h3>
                </div>
            </div>
            <div class="text-center mobilehide">
                    <img src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
                </a>
            </div>
        </div>
        
    <div class="paddingtop50px paddingbottom100px">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-push-6">
                <div class="handoff"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-2 col-md-pull-4">
                <h1 class="host-header paddingtop10px">Meet Your Neighbors</h1>
                <h3 class="ltergreytext">Set and arrange times at which your neighbors can pick up their packages at your door. Hosts must be home a minimum amount of hours in the evening to allow neighbors to pick up their packages.</h3>
            </div>
        </div>
        <div class="text-center mobilehide">
            <img src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
            </a>
    </div>
</div>

<div class="paddingtop50px paddingbottom50px">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-push-6">
            <div class="money"></div>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-2 col-md-pull-4">
            <h1 class="host-header paddingtop30px">Earn Easy Money</h1>
            <h3 class="ltergreytext">Your neighbors get their packages or some needed help, you get a little extra in your pocket. The neighborhood wins.</h3>
        </div>
    </div>
    <div class="text-center mobilehide">
        <img src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
        </a>
</div>
</div>

    </div>
    <!--row -->

    <div class="row"></div>
    <!--add some empty rows with breaks before the bottom divider -->
    <br>
</div>
<!--end Hosting Section/Green -->

<div class="contentbottomonly container-fluid darkgreenbackground text-center relativediv">
    <div class="row paddingtop50px paddingbottom20px">
        <h3 class="whitetext">Interested in Blocbox or want to host?</h3>
    </div>

    <div class="row nophone paddingbottom50px">
        <!--br class="fontsizehalf">-->
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
            <a type="button" href="/joinwaitlist/" class="btn-get-started margintop20pxmobile">Join Waitlist</a>
        </div>
        <!-- <div class="col-sm-3 col-sm-offset-3 col-lg-2 col-lg-offset-4">
                <button onclick="window.location='/search';" class="findhostbtn margintop20px">Find A Host</button>
            </div>
            <div class="col-sm-3 col-lg-2">
                <button onclick="window.location='/search';" class="findhostbtn margintop20px">Become A Host</button>
            </div>
        </div>
        <div class="phoneonly">
            <div class="col-xs-12">
                <button onclick="window.location='/search';" class="findhostbtn margintop20px">Find A Host</button>
            </div>
            <div class="col-xs-12 paddingbottom30px">
                <button onclick="window.location='/search';" class="findhostbtn margintop20px">Become A Host</button>
            </div> -->
    </div>

    <div class="row paddingtop30px">
        <div class="footerline"></div>
    </div>
</div>


{% endblock %}
<!--end content block -->

<!--footer populated by the basewaitlist.html page -->