<!--this is core/templates/bocbox/beta.html - ULR is www.blocbox.co/beta - eventually will be landing-->
{% extends "blocbox/basewaitlist.html" %} {% load staticfiles %} {% block title %} Introducing BlocBox {% endblock %} {% block topcontent %}

<div class="fillviewheight orangefix orangebackground text-center relativediv">
   <div class="mobileonly paddingtop30px">
       <div class="mobilelogo"></div>
   </div>
   <div class="mobileonly">
       <div class="mobilename margintop10px"></div>
    </div>
    <div class="row text-center mobilehide">
        {% if user.is_authenticated %}
        <h1>Welcome, <br> {{user.email}}</h1>
        {% else %}
        <h1 class="margintop100px">Neighbors Helping Neighbors<br>Never Miss a Package</h1>
        {% endif %}
    </div>

    <div class="row mobilehide">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 paddingsides20px">
                <h3 class="nomargin margintop20px">Blocbox lets you reliably receive packages, and get other tasks done, by enlisting your neighbors to help.</h3>	
            </div>
            <!--nested col-xs-12 col-sm-10 col-sm-offset-1 -->
        </div>
    </div>
    <!--end row div -->
    
    <!--mobile version of explainer text -->
    <div class="row mobileonly">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 paddingsides20px">
                <h3 class="nomargin mobileheader margintop10px">Reliably receive packages, and get other tasks done, by enlisting your neighbors to help.</h3>	
            </div>
            <!--nested col-xs-12 col-sm-10 col-sm-offset-1 -->
        </div>
    </div>

    <!--begin waitlist clearfix divider -->
    <div class="row font1pt5em">
        <!--br class="fontsizehalf">-->
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 margintop50pxnomobile">
            <button onclick="window.location='/search';" class="whitebackground orangetext getstartedbtn margintop30pxnomobile">Get Started</button>
        </div>


        <!-- <a href="privacy-policy.html">By Signing Up, I Agree to Blocbox's Privacy Policy</a> -->
    </div>
    <!--row containing waitlist form-->

    <div class="text-center alignbottomdiv">
        <a class="col-xs-12" href="#works">
           <div class="whitearrow"></div>
        </a>

    </div>
</div>


{% endblock %}
<!--end topcontent block -->