<!--this is blocbox/core/templates/blocbox/connect-already-registered, ULR is http://www.blocbox.co/connect/host2 - where 2 = userid of host
		this does NOT extend sign-up-withoutconnect because ther eis not a sign up form.. extends baseesignup-->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% load staticfiles %}
{% block title %}Connect with {{host.first_name}}{% endblock %}

{% block content %}


{% if requested %}
	  <br> <br>
    <h3>
      		Thank you for Registering! <br>
      		You'll receive a notification when {{ host.first_name }} confirms your request to connect. <br>
      		In the meantime, <a href="/login/">login to your account</a> to visit your dashboard and update your account preferences and user information.
    </h3>
 		<br> <br> <br> <br> <br>
{% else %}
 			
<div class="content container-fluid"> <!--this is the container that surrounds the form, too short -->
	<br>
	<div class="row">
  	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			
  		<!--Start Registration Form -->
     	<form class="form-horizontal margintop30px" role="form" method="post" action="." enctype="multipart/form-data">
       		{% csrf_token %}
        	{{ connect_form.non_field_errors }}
        	
     			<!--<div class="col-sm-9 col-sm-offset-3">-->
     			<br>
     			<h3 class="margintop20px"> Connect with {{host.first_name}}</h3>
     				  
					<h5 class="marginbottom20px">Before you connect, {{host.first_name}} will need to confirm your request.  
        			The information you provide below will help {{host.first_name}} confirm you as a neighbor.</h5>
  
  				<!--Intro MEssage -->
  				<div class="form-group">  {{ connect_form.intro_message.errors }}
        			<div class="row">
            		<div class="col-sm-12 col-sm-5">
                	<label for="id_intro_message">Introduce Yourself to {{host.first_name}} </label>
            		</div>
            			<div class="col-xs-12 col-sm-7">
                		<input type="text" class="form-control" name="intro_message" id="id_intro_message"  
    									placeholder="Hello!... (350 Character Limit)">
            			</div>
        			</div> <!--row-->  			
    			</div>	<!--form-group-->
    
    
    <!--time of day typically pick up packages -->
    <div class="form-group">  {{ connect_form.pickup_time.errors }}
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <label for="id_pickup_time">Time of day you would typically pick up packages</label>
            </div>
            <div class="col-xs-12 col-sm-7">
                <input type="text" class="form-control" name="pickup_time" id="id_pickup_time"  
    					placeholder="Describe in 100 characters">
            </div>  <!--row-->       	
        </div>
 			
 					<!--col -->		
    </div>	<!--form-group -->


          <div class="col-xs-10 col-xs-offset-1 margintop30px profileboxline100"></div>

 					<div class="form-group"> <!--submit button--> 						
    				<div class="row col-xs-10 col-xs-offset-1 margintop20px"> <!--submit button -->
                                        
                     <div class="row">
                     		<div class="col-xs-offset-7 col-xs-5">
                        	 	<button type="submit" name="submit" class="bluebutton">Request to Connect</button>
                     		</div> <!--col-->
                     </div> <!--row-->
                     
                     <div class="row"> <!--terms statement-->
                        <div class="col-xs-12 col-sm-offset-7 col-sm-5">
                     		</div><!--col, terms statement -->
                        </div> <!--row--><!--col, terms statement -->
                     
                               
             </div> <!--row for submit button-->   				
    			</div> <!--form-group, submit button -->

    			<br><br><br><br><br>

   		</form>  <!--end form -->
   		
   	
   	{% endif %} <!--else if not requested already -->

		</div>   <!--end containing column -->
	</div> <!--end row containing row-->
</div> <!--end of top divider  -->

{% endblock %}

 					<!--other use cases check boxes - not including in this form, because it will probably over-write what is already on the table
 							can add this back in later... 
         	<div class="row"> 
                   <h5 class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 margintop20px">What other services are you interested in receiving? (Optional)</h5>
         	</div>  

					<div class="form-group"> 
             	<div class="row">
                  <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                       <label class="checkbox-inline"> <input class="offersbox" type="checkbox" id="id_need_storage" name="need_storage">Storage</label>
                  </div>
                  
                  <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
											<label class="checkbox-inline"> <input type="checkbox" id="id_need_petcare" name="need_petcare"> Pet Care</label>
                	</div>
                	
                	<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
											<label class="checkbox-inline"> <input type="checkbox" id="id_need_housesitting" name="need_housesitting"> House Sitting </label>
                	</div>
                	
                	<div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
                			<label class="checkbox-inline"> <input type="checkbox" id="id_need_rentals" name="need_rentals"> Equipment or Party Rentals </label>
                  </div>
              	
             </div> 
              	
             <div class="row paddingtop5px">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2">
                         <label class="checkbox-inline"> <input type="checkbox" id="id_need_laundry" name="need_laundry"> Laundry	</label>
                    </div>
                    
                    <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
												<label class="checkbox-inline"> <input type="checkbox" id="id_need_plantcare" name="need_plantcare"> Plant Care </label>
                  	</div>
                 	
                 		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
												<label class="checkbox-inline"> <input type="checkbox" id="id_need_childcare" name="need_childcare"> Child Care </label>
                 	 	</div>
                  
                  	<div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
                        <label class="checkbox-inline">	<input type="checkbox" id="id_need_letin" name="need_letin"> Let Repairperson In </label>
                  	</div>
             	</div> 
               
               <div class="row paddingtop5px">
               	  <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2">
											<label class="checkbox-inline"> 	<input type="checkbox" id="id_need_lawn" name="need_letin"> Lawn Care </label>
                  </div>
                     
                  <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
											<label class="checkbox-inline"> <input type="checkbox" id="id_need_carsharing" name="need_carsharing"> Car Sharing </label>
                  </div>
                    
                  <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
											<label class="checkbox-inline">	<input type="checkbox" id="id_need_meals" name="need_meals"> Community Meals </label>
                  </div>
                  
                 	<div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
                     <label class="checkbox-inline"> <input type="checkbox" id="id_need_housemaint" name="need_housemaint"> House Maintenance </label>
                  </div>
                  
               </div> 
						</div>
						

                <div class="form-group"> 
                    <div class="row margintop10px">
                        <label for="id_need_other" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">What else could {{host.first_name}} help you with?</label>
                        </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                                    <input type="text" class="form-control" name="need_other" id="id_need_other"  placeholder="Write in to request another service">
                        </div>
                    </div> 
                </div> 
					  END other use cases check boxes-->

    				

