<!--this is core/templates/blocbox/account.html - url is blocbox.co/contactus or blocbox.co/support. it extends base.html-->
{% extends "blocbox/baseorange.html" %} {% load staticfiles %} {% block title %}Contact Us/Support{% endblock %} {% block headafter %} {% endblock %} {% block content %}

<div class="ltgreenbackground content textcenter relativediv">
    <!--this is the container that surrounds the form, too short -->
    {% load i18n %}
    <br>
    <br>
    <h2 class="col-xs-12 col-sm-8 col-sm-offset-2 paddingtop40px paddingbottom10px">Contact Us</h2>
    


    <div class="paddingbottom100px">
        <!--div with contact us form -->
        <form class="" role="form" method="post" action="#openModal_contactus/Thanks" enctype="multipart/form-data">
            {% csrf_token %} {{ contactus_form.non_field_errors }} {{ contactus_form.contactus_subject.errors }}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group nopaddingleftright paddingbottom10px">
                    <input type="text" class="form-control input-lg inputbox margintop5px" name="contactus_subject" id="id_contactus_subject" placeholder="Enter Message Subject ">
                </div>
            </div>

            {{ contactus_form.contactus_body.errors }}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group nopaddingleftright paddingbottom10px">
                    <textarea type="text" class="form-control input-lg inputbox margintop5px" rows="5" name="contactus_body" id="id_contactus_body" placeholder="Enter Message Body ">
                </div>
            </div>

            {% if enduser.is_authenticated %} {% else %} {{ contactus_form.reply_to_email.errors }}

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-group nopaddingleftright paddingbottom10px">
                    <h3 class="textleft"> Looks like you're not registered. How can we reach you? </h3>
                    <input type="text" class="form-control input-lg inputbox margintop5px" name="reply_to_email" id="id_reply_to_email" placeholder="Please Provide a Valid Email Address ">
                </div>
            </div>


            {% endif %}



            <!--siubmit button-->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 nopadding">
                    <button type="submit" name="submit" class="col-xs-12 btn-waitlist">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <!--thanks modal: sent a message -->
    <div id="openModal_contactus/Thanks" class="modalDialog">
        <div>
            <a href="/dashboard" title="Close" class="close">X</a>
            <h3 class="ltbluetext">Your Message Has Been Sent! We will be in contact within 24 hours. </h3>
            <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
        </div>
    </div>


</div>
{% endblock %}