<!--this is blocbox/core/templates/blocbox/dashboard-host.html, URL is http://www.blocbox.co/hostdashboard -->
{% extends "blocbox/base-green.html" %} {% load staticfiles %} {% block title %}Host Dashboard{% endblock %} {% block headafter %}
<!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
<link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %} {% block content %}


<div class="content container-fluid offwhitebackground relativediv">

    <div class="row margintop40px marginbottom30px xshide">
        <a href="dashboard.html" class="col-xs-2 col-xs-offset-1 subnavtextcurrent textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <a href="/profile/" class="col-xs-2 subnavtext textcenter">PROFILE</a>
        <a href="/account/" class="col-xs-2 subnavtext textcenter">ACCOUNT</a>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="profileboxline100 margintop10px"></div>
        </div>
    </div>
    <!--end top row-->


    <div class="by">
        <!--contains most of page-->
        <div class="row" style="margin-right: -15px; margin-left: -15px;">
            {% if user.is_authenticated %} {% if enduser.host %}
            <!--sidebar-->
            <div class="col-md-3 xshide smallhide">
                <div class="profilebox">
                    <div class="dashpiccontainer">
                        {% if user.facebook_id %}
                        <img class="dashpic" src="http://graph.facebook.com/{{user.facebook_id}}/picture?type=large" /> {% else %} {% if user.profile_pic_uploaded %}
                        <img class="dashpic" src="{{user.profile_pic_uploaded.url}}" /> {% else %}
                        <br>
                        <br>
                        <p class="textcenter"> <a href='.'> Upload a <br> profile picture! </a> </p>
                        {% endif %} {% endif %}
                    </div>
                    <h3 class="margintop10px nomarginbottom textcenter">{{ user.first_name }}</h3>
                    <p class="darkgreytext margintop5px tinytext textcenter">VIEW PROFILE</p>

                    <!--neighborhood connections-->
                    <div class="profileboxline margintop20px marginbottom20px"></div>
                    <div class="col-xs-12">
                        <p class="darkgreytext tinytext textcenter">NEIGHBORHOOD CONNECTIONS</p>
                        <p class="pricetext textcenter">{{ connections_count }}
                            <!-- {% if connections_count = 1 %} neighbor {% else %} neighbors {% endif %} -->
                        </p>
                    </div>
                    <div class="profileboxline margintop20px marginbottom20px"></div>
                    <!--put the address of each connection here-->
                    {% for connection in connections_all %}
                    <div class="col-xs-12 paddingtopbottom20px">
                        <p class="nomargin"> <a href="/hostprofile/host{{connection.host_user.id}}">{{ connection.host_user.first_name }} {{ connection.host_user.last_name }} </a>
                            <br>{{ connection.host_user.st_address1 }} {{ connection.host_user.st_address2 }}
                            <br>{{ connection.host_user.city }}, {{ connection.host_user.state }} {{ connection.host_user.zipcode }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--end sidebar-->


            <div class="col-xs-6">

                <!--INCOMING SHIPMENTS-->
                <!-- <h4>DELME - TESTING THE PARAMETERS YOU'VE SENT
        	   <br>  {{ shipments_all_paid_notarchived}} </h4> -->

                {% for sh in shipments_all_paid_notarchived %}

                <!-- need to create subtemplate for next specific to host -->
                {% ifequal confirm_id_int sh.id %} {% include "dashboard_subtemplates/package_received_modal.html" %} {% endifequal %}
                <!-- need to create subtemplate for next specific to host -->
                {% ifequal message_trans_id_int sh.id %} {% include "dashboard_subtemplates/message_to_host_modal.html" %} {% endifequal %}
                <!-- need to create subtemplate for next specific to host -->
                {% ifequal issue_id_int sh.id %} {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %} {% endifequal %}

                <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px">
                    <!--non-mobile version--->
                    <div class="row">
                       <div class="col-xs-1">
                           <div class="statusgreen" style="padding: 0px 1px 0px 4px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-lg statusicon" style="padding-bottom: 9px;"></i> </div>
                       </div>
                        <h3 class="col-xs-6 darkbluegreentext nomargin xshide" style="padding-top: 3px; font-weight: 400; font-size: 1.4em"> Incoming Package for <span style="font-weight: 500;">{{user.first_name}} </span>
                </h3>

                        <!--mobile version - title -->
                        <h3 class="col-xs-12 darkbluegreentext nomargin xsonly xsnopadding" style="padding-left: 5px; font-weight: 400">{% if sh.title %}  {{ sh.title }} 
                    {% else %} No Title  {% endif %} 
                    <!--<br> <b> In Transit </b> -->
                </h3>
                        <h3 class="col-md-5 redtext nomargin textright" style="padding-top: 3px; font-weight: 400; font-size: 1.4em">Arriving: <span style="font-weight: 500;">
                            3-4 Days
                            <!--{% if sh.aftership.expected_delivery %} 
                            {{ sh.aftership.expected_delivery_notime }} 
                            {% else %} You expected it to arrive 
                            {% if sh.arrivalwindow_days_count == 1 %} on {{ sh.arrivalwindow_day1 }} 
                            {% else %} {{ sh.arrivalwindow_day1 }} - {{ sh.arrivalwindow_lastday }} &nbsp; 
                            {% endif %} 
                            {% endif %}-->  </span></h3>
                    </div>
                    <div class="col-xs-12 xspaddingleft5 xsnopadding" style="padding-top: 6px">

                        <!--ICON/IMAGES FOR PACKAGES IN TRANSIT -->
                 <!--       <div class="row xshide">
                            <div class="col-sm-5 marginbottom10px">
                                <div class="statusgrey" style="padding: 9px 4px;"><i class="fa fa-shopping-cart fa-fw fa-3x statusicon"></i> </div>
                            </div>

                            <div>
                                <div class="col-sm-2 shiparrow"></div>
                            </div>

                            <div class="col-sm-5 marginbottom10px">
                                <div class="statusgreen" style="padding: 9px 6px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-3x statusicon"></i> </div>
                            </div>
                        </div> -->
                        <!--end row with icons, packages in transit -->


                        <!--row with shipmen info, shipments in transit-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 xsnopadding">
                                <p class="textcenter xshide">ORDERED</p>
                                <h4 class="nomargin">Order ID: <span style="font-weight:normal;"> {{sh.id }} </span>
                        <br> Invoice: <span style="font-weight:normal;"> {{ sh.invoice }} </span> 
                        <br> Placed on: <span style="font-weight:normal;">  {{ sh.date_requested_notime }} </span>
                        <br> Sent to <a href="">&nbsp;{{sh.host.first_name}}</a>:
                        <span style="font-weight:normal;"> <a class="nomargin" href="https://www.google.com/maps/place/{{sh.host.st_address1}}+{{sh.host.city}}+{{sh.host.state}}+{{sh.host.zipcode}}" target="_blank" class="nomargin">
                            {{ sh.host.st_address1 }}, {{ sh.host.st_address2 }} , 
                            {{ sh.host.city }}, {{ sh.host.state }} {{sh.host.zipcode}}
                            </a> </span>
                    </h4>

                                <!--row-->
                            </div>
                            <!--end col-xs-12 col-sm-5, col with ORDERED info -->

                            <div class="col-xs-12 col-sm-6 xsnopadding">
                                <p class="textcenter xshide">IN TRANSIT</p>
                                <h4 class="nomargin">Tracking Number:

                        <span style="font-weight:normal;">  
                            <a href="https://blocbox.aftership.com/{{ sh.tracking }}" target="_blank">{{ sh.tracking }} </a>
                            <a href="/dashboard/track_id{{sh.id}}/#openModal_edittracking_id{{sh.id}}" class="nomargin textcenter">[Edit]</a>
                        </span>

                        {% if sh.on_aftership %} 
                        {% if sh.aftership.last_checkpoint.city %} 
                        <br>		Last Checkpoint: <span style="font-weight:normal;"> {{sh.aftership.last_checkpoint.city }}, {{ sh.aftership.last_checkpoint.state }} </span>
                        {% else %}
                        <br> Status: <span style="font-weight:normal;">  
                        {% if sh.on_aftership %} {{sh.aftership.tag}}  {% else %} {{ sh.last_tracking_status }}  {% endif %} </span>
                        {% endif %}
                        {% else %} <!--if not on aftership b/c expired get from our tables -->			
                        {% if sh.last_checkpoint_city %}
                        <br> Last Checkpoint: <span style="font-weight:normal;"> {{ sh.last_checkpoint_city }}, {{ sh.last_checkpoint_state }} </span>
                        {% else %}                                					
                        <br> Status: <span style="font-weight:normal;">  
                        {% if sh.on_aftership %} {{sh.aftership.tag}}  {% else %} {{ sh.last_tracking_status }} {% endif %} </span>

                        {% endif %} 
                        {% endif %} <!--end if on aftership -->

                        <!--last updated -->                           
                        {% if sh.on_aftership %} 
                        {% if sh.aftership.last_tracking_datetime %} 
                        <br>  Last Updated: <span style="font-weight:normal;"> {{ sh.aftership.last_tracking_datetime }} {% endif %} </span>
                        {% else %} 
                        {% if sh.last_tracking_datetime %} 
                        <br> Last Updated:  <span style="font-weight:normal;"> {{ sh.last_tracking_datetime }} {% endif %} </span>
                        {% endif %}

                        <br> Scheduled Delivery: <span style="font-weight:normal;">
                        {% if sh.aftership.expected_delivery %} 
                        {{ sh.aftership.expected_delivery_notime }} 
                        {% else %} You expected it to arrive 
                        {% if sh.arrivalwindow_days_count == 1 %} on {{ sh.arrivalwindow_day1 }} 
                        {% else %} {{ sh.arrivalwindow_day1 }} - {{ sh.arrivalwindow_lastday }} &nbsp; 
                        {% endif %} 
                        {% endif %}  </span>
                    </h4>
                            </div>
                            <!-- end col-xs-12 col-sm-5, second col with shipping info -->
                        </div>
                        <!--end row with shipping info, shipments in transit-->
                    </div>
                    <!--end col-xs-12 col-sm-9, with icons and shipping info, shipmetns in transi -->
                </div>
                {% endfor %}

                <!--end looping through shipments in transit-->
            </div>

            <div class="col-xs-3">
                <div class="profilebox">

                </div>
            </div>
        </div>
    </div>

    {% else %}
    <!--if user is not a host-->
    <h2>Message to non host</h2> {% endif %} {% else %}
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 nopadding">
        <div class="col-xs-12 dashbox">
            <h3 class="margintop10px nopadding"> <a href="/login">Login to your account </a> to access your dashboard. </h3>
            <h6 class="nomargin">  <br>         	 	
                    <br> If you don't have an account, get started by <a href="/search/"> searching for a host in your neighborhood.</a> 
                    <br> If you can't find a host, <a href="/waitlist/">join our waitlist </a> to be notified when Blocbox comes to your neighborhood. 

                    <br> If you're often at home during the day,  <a href="/signuphost/"> apply to serve as a Blocbox host</a> or <a href="/nudgeaneighbor/">tell a neighbor</a> about the opportunity. 
                    <br> <br> Questions or feedback? Email us at info@blocbox.co. 
                    <br> <a href="/beta/">Return to the homepage (Beta)</a> 
                    <br> <br>
                </h6>
        </div>
        <!--col-xs12 dashbox-->
    </div>
    <!--close if user is not authenticated-->
    {% endif %}
</div>




{% endblock %}