{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Dashboard{% endblock %} {% block headafter %} {% endblock %} {% block content %}
<!-- this is blocbox/core/templates/blocbox/dashboard.html , URL is www.blocbox.co/dashboard
	i think we shoudl only have one dashboard and then just have additional stuff for hosts, using if--then logic.. 
	this is easier to impelemnt if teh layout is relatively straight forward - so additional content is added vertically,
	
	NOTE: THE MODALS ON THIS PAGE ARE REALLY COMPLICATED BECAUSE OF THE MULTIPLE FORMS - I HAVE TO BASICALY CREATE ENTIRELY NEW PAGES/URLS OTHERWISE THE FORMS DONT KNWO WHAT TO SUBMIT
	
-->

<div class="content container-fluid offwhitebackground relativediv">

    <div class="row margintopbottom30px mobilehide">
        <a href="dashboard.html" class="col-xs-2 col-xs-offset-1 subnavtextcurrent textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <p class="col-xs-2 subnavtext textcenter">PROFILE</p>
        <p class="col-xs-2 subnavtext textcenter">ACCOUNT</p>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="profileboxline100"></div>
        </div>
    </div>
    <!--emd top row-->


    <div class="row nopaddingleftright">
        <!--contains most of page-->

        {% if user.is_authenticated %}
        <!--sidebar-->
        <div class=" col-xs-2 col-lg-offset-1 mobilehide">
            <div class="dashpiccontainer">
                {% if user.profile_pic_uploaded %}
                <img class="dashpic" src="{{user.profile_pic_uploaded.url}}" />{% else %}
                <br>
                <br>
                <p class="textcenter"> <a href='.'> Upload a <br> profile picture!</p>	
            	{% endif %}
            </div>
            <h3 class="margintop10px nomarginbottom textcenter">{{ user.first_name }}</h3>
            <p class="darkgreytext margintop5px tinytext textcenter">EDIT PROFILE</p>

            <!--start a shipment/start a favor buttons-->
            <div class="profileboxline margintop20px marginbottom20px"></div>

            <div class="col-xs-12 ">
                <button type="button" name="startashipment" class="bluebutton marginbottom30px" style="height: 50px" {% if hostonly %} onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">
                    {% else %} onclick="window.location='/transactions/startashipment';"> {% endif %} Start a Shipment {% if hostonly %} to {{hostonly.first_name }} {% endif %}</button>
            </div>
            <div class="col-xs-12 ">
                <button type="button" name="startafavor" class="bluebutton marginbottom30px" {% if hostonly %} onclick="window.location='/transactions/startafavor/host{{hostonly.id}}';">
                    {% else %} onclick="window.location='/transactions/startafavor';"> {% endif %} Start a Favor</button>
            </div>

            <div class="col-xs-12 ">
                <button type="button" name="newsearch" class="bluebutton marginbottom30px" onclick="window.location='/search';">Find a new host</button>
            </div>

            <div class="profileboxline margintop20px marginbottom20px"></div>
            <div class="col-xs-12">
                <p class="textcenter">Neigborhood Connections</p>
                <p>You are connected to {{ connections_count }} {% if connections_count = 1 %} neighbor {% else %} neighbors {% endif %}</p>
            </div>
            <div class="profileboxline margintop20px marginbottom20px"></div>
            <!--put the address of each connection here-->
            {% for connection in connections_all %}
            <div class="col-xs-12 paddingtopbottom20px">
                <p class="nomargin"> <a href="/hostprofile/host{{connection.host_user.id}}">{{ connection.host_user.first_name }} {{ connection.host_user.last_name }} </a>
                    <br>{{ connection.host_user.st_address1 }} {{ connection.host_user.st_address2 }}
                    <br>{{ connection.host_user.city }}, {{ connection.host_user.state }} {{ connection.host_user.zipcode }}
                </p>
            </div>
            {% endfor %}
        </div>
        <!--end sidebar-->



        <!--DEFINE ALL THANK YOU MODALS-->
        <div>
            <!--thanks modal: Enter Tracking-->
            <div id="openModal_entertracking/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Thanks! </h3>
                    <h6> Your tracking information has been updated </h6>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>
            <!--end thanks modal-->


            <!--thanks modal: EDIT TRACKING-->
            <div id="openModal_edittracking/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Thanks! </h3>
                    <h6> Your tracking information has been updated </h6>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>

            <!--thanks modal: sent a message -->
            <div id="openModal_message/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Your Message Has Been Sent! </h3>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>
            <!--end thanks modal: sent a message-->

            <!--THANKS MODAL: Marked as Complete -->
            <div id="openModal_package_received/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Thanks! </h3>
                    <h6>Thanks for your feedback! This order has been marked as complete. </h6>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>
            <!--END THANKS MODAL: MARKED AS COMPLETE -->

            <!--THANKS modal: enduser issue -->
            <div id="openModal_enduser_issue/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Thanks! </h3>
                    <h6>We have received your report and will be in touch within 24 hours to resolve this issue. </h6>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>
            <!--end Thanks modal: End User Issue-->
        </div>
        <!--end define thank-you modals00>       	      		       	
               	      		       				              
    <!--CONTAINER WITH ALL OF THE TRANSACTIONS-->
        <div class="col-xs-12 col-sm-9 col-lg-8 nopaddingsidesmobile nopaddingright">

            <!--SHIPMENTS DELIVERED - WAITING TO BE PICKED UP -->
            <!--<h6 class="ltbluetext margintop10px nomarginbottom nopadding">PACKAGES WAITING TO BE PICKED UP</h6>
            <p class="greytext">Click the package received button when you've picked up the package</p> -->
            <div class="col-xs-12 col-sm-12 nopaddingleftright">
                {% for sh in shipments_with_tracking_notcomplete_delivered %}
                <!--divider defining the whole current shipments part -->
                <div class="row dashinfobox dashfont" style="padding-right: 5px;">
                   <div class="col-sm-3" style="padding-left: 5px;">
                    <h3 class="nomargin">{% if sh.trans.title %}  {{ sh.trans.title }} {% else %} Enter Package Description {% endif %} </h3>
                        <p class="greytext paddingtop10px">Click the package received button when you've picked up the package</p>
                        <button type="button" name="package_received" class="bluebutton" style="height: 40px; margin-top: 10px;" onclick="window.location='/dashboard/confirm_id{{sh.trans.id}}/#openModal_package_received_id{{sh.trans.id}}';">
                            I got my package!</button>
                        {% include "dashboard_subtemplates/package_received_modal.html" %}
                       <button type="button" name="package_received" class="greybutton" style="height: 40px; margin-top: 10px;"  onclick="window.location='/dashboard/confirm_id{{sh.trans.id}}/#openModal_package_received_id{{sh.trans.id}}';">
                           Message {{ sh.trans.host.first_name }}</button>
                       <button type="button" class="greybutton" style="height: 40px; margin-top: 10px;" onclick="window.location='/dashboard/issue_id{{sh.trans.id}}/#openModal_enduser_issue_id{{sh.trans.id}}';">
                               Report an Issue</button>
                           <!--load sub template tag with this omdal -->
                           {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %}
                    </div>
                    <!--SHIPMENT DETAILS: ORDER DATE, TITLE, SHIPPING SPEED, AND TRACKING INFORMATION (waiting to be pickd up) -->
                    <div class="col-xs-12 col-sm-3">
                        <div class="marginbottom10px">
                            <div class="statusgrey" style="padding: 9px 4px;"><i class="fa fa-shopping-cart fa-fw fa-3x statusicon ltgreytext"></i></div>
                        </div>
                        <div class="col-sm-12">
                           <p class="textcenter">ORDERED</p>
                            <h4 class="nomargin">Order {{sh.trans.id }} placed on</h4>
                            <p class="nomargin dashtext">{{ sh.trans.date_requested_notime }}</p>
                        </div>
                        <!--row-->
                    </div>
                    <!--end  shipment details: waiting to be picke dup packages -->



                    <!--NEIGHBOR: host name and information (waiting ot be picked up)-->
                    <div class="col-xs-12 col-sm-3">
                        <div class="marginbottom10px">
                            <div class="statusgrey" style="padding: 9px 6px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-3x statusicon ltgreytext"></i></div>
                        </div>
                        <!--neigbor name-->
                        <div class="col-sm-12">
                            <p class="textcenter">SHIPPED</p>
                            {% if sh.trans.tracking %}
                            <h4 class="nomargin">Tracking Number</h4>
                            <p class="dashtext" ><a href="https://blocbox.aftership.com/{{ sh.trans.tracking }}" target="_blank">{{ sh.trans.tracking }}</a>
                            </p>{% endif %}
                            <!--Status and date delivered-->
                            <div class="row" style="padding-top: 5px;">
                                <h4 class="nomargin">{{sh.aftership.tag}} on</h4>
                                <p class="nomargin dashtext">{{sh.aftership.last_checkpoint.checkpoint_time }}</p>
                                <!--Tracking -->
                                <!--I AM ELIMIATING TRACKIGN MODAL -TAKES TOO LONG TO LAOD - SEE PREVIOUS VERSION OF PAGE FOR THAT CODE -->
                            </div>
                        </div>
                    </div>
                    <!--End Neighbor Column (packages waiting to be picked up) -->



                    <!--COL WITH BUTTON TO CONFIRM/REVIEW OR REPORT AND ISSUE (waiting to be picked up)-->
                    <div class="col-xs-12 col-sm-3" style="padding-right: 5px;">
                        <div class="marginbottom10px">
                            <div class="statusorange" style="padding: 9px 5px;"><i class="fa fa-home fa-flip-horizontal fa-fw fa-3x statusicon whitetext"></i></div>
                        </div>
                        <div class="col-sm-12">
                            <p class="textcenter">AWAITING PICKUP</p>
                            <div class="row">
                                <h4 class="nomargin">Sent to<a href="">&nbsp;{{sh.trans.host.first_name}}</a></h4>
                                <!--neibhors address-->
                                <p class="nomargin dashtext">
                                    <!--linking to a new page, the target="_blank" attribute makes it a new tab-->
                                    <a class="nomargin" href="https://www.google.com/maps/place/{{sh.trans.host.st_address1}}+{{sh.trans.host.city}}+{{sh.trans.host.state}}+{{sh.trans.host.zipcode}}" target="_blank" class="nomargin">
                                        {{ sh.trans.host.st_address1 }}, {{ sh.trans.host.st_address2 }} <br> {{ sh.trans.host.city }}, {{ sh.trans.host.state }} {{sh.trans.host.zipcode}}
                                    </a>
                                </p>
                            </div>
                            {% include "dashboard_subtemplates/message_to_host_modal.html" %}
                            <h4 class="nomargin" style="padding-top: 5px;">Delivered to</h4>
                            <p class="nomargin dashtext"> {{sh.aftership.last_checkpoint.city}}, {{sh.aftership.last_checkpoint.state }}</p>
                        </div>
                    </div>
                    <!--END COL TO CONFIRM/REVIEW AND TO REPORT AND ISSUE (waiting to be picked up) -->
                </div>
                <!--close div containint this shipmet: waiting to be picked up-->
                {% endfor %}
            </div>
            <!--END SHIPMENTS WAITIN GTO BE PICKED UP -->


            <!--PACKAGES WE NEED TRACKIN GINFORMATION FOR -->
            <div class="col-xs-12 col-sm-12 dashbox">
                <div class="row">
                    <h3 class="ltbluetext margintop10px nopadding">Waiting For Tracking Information</h3>
                    <p class="">Enter Tracking Number When Received </p>
                </div>
                {% for sh in shipments_with_tracking_notcomplete_notrackingno %}

                <!--divider defining the whole current shipments part (need tracking) -->
                <div class="row dashinfobox dashfont paddingright10px">
                    <h4 class="nomargin"> Order {{sh.trans.id }}  {% if sh.trans.title %} : {{ sh.trans.title }} {% else %} Enter Package Description {% endif %} </h4>

                    <!--SHIPMENT DETAILS: ORDER DATE, TITLE, SHIPPING SPEED, AND TRACKING INFORMATION (need tracking)-->
                    <div class="col-xs-12 col-sm-4 paddingsides5px ">

                        <!--Date transaction created-->
                        <div class="row">
                            <p class=" nomargin">Order Placed {{ sh.trans.date_requested_notime }}</p>
                        </div>

                        <!--Expected Delivery -->
                        <div class="row">
                            <p class="nomargin">You expected {% if sh.trans.dayrangestart == sh.trans.dayrangeend %} {{ sh.trans.dayrangestart }} day shipping {% else %} {{ sh.trans.dayrangestart }} - {{ sh.trans.dayrangeend }} day shipping &nbsp; {% endif %}
                            </p>
                        </div>

                        <!--Enter Tracking -->
                        <div class="row nomargin">
                            <!--display or enter tracking info -->
                            <a href="/dashboard/track_id{{sh.trans.id}}/#openModal_entertracking_id{{sh.trans.id}}" class="nomargin textcenter">Enter Tracking #</a> {% include "dashboard_subtemplates/enter_tracking_modal.html" %}
                        </div>
                        <!--end enter tracking row-->


                    </div>
                    <!--end  shipment details: need tracking-->


                    <!--NEIGHBOR: host name and information (need tracking)-->
                    <div class="col-xs-12 col-sm-3 paddingsides5px ">
                        <div class="row nomargin">

                            <p class="nomargin">Sent to <a href="/dashboard/message{{sh.trans.id}}/#openModal_message_id{{sh.trans.id}}" class="nomargin"> [Message {{ sh.trans.host.first_name }}]</a>
                            </p>
                            <p class="nomargin">{{sh.trans.host.first_name}}</p>

                            <p class="nomargin">
                                <!--linking to a new page, the target="_blank" attribute makes it a new tab-->
                                <a href="https://www.google.com/maps/place/{{sh.trans.host.st_address1}}+{{sh.trans.host.city}}+{{sh.trans.host.state}}+{{sh.trans.host.zipcode}}" target="_blank" class="nomargin">
                            	{{ sh.trans.host.st_address1 }}, {{ sh.trans.host.st_address2 }} <br> {{ sh.trans.host.city }}, {{ sh.trans.host.state }} {{sh.trans.host.zipcode}}
                            </a>
                            </p>
                        </div>
                        {% include "dashboard_subtemplates/message_to_host_modal.html" %}

                    </div>
                    <!--row with neighbor information (address and message link -->



                    <!--COL WITH BUTTON TO CONFIRM/REVIEW OR REPORT AND ISSUE (SECOND ROW ) (Packages in Tarnsit)-->
                    <div class="col-xs-12 col-sm-3">
                        <div class="row">
                            <!--confirm/review -->
                            <button type="button" name="package_received" class="bluebutton" style="height: 25px" onclick="window.location='/dashboard/confirm_id{{sh.trans.id}}/#openModal_package_received_id{{sh.trans.id}}';">
                                I got my package!</button>
                            {% include "dashboard_subtemplates/package_received_modal.html" %}
                        </div>


                        <div class="row">
                            <button type="button" class="greybutton" style="height: 25px" onclick="window.location='/dashboard/issue_id{{sh.trans.id}}/#openModal_enduser_issue_id{{sh.trans.id}}';">
                                Report an Issue</button>
                            {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %}
                        </div>
                    </div>
                    <!--END COL TO CONFIRM/REVIEW AND TO REPORT AND ISSUE (need tracking)-->

                </div>
                <!-- CLOSE DIV DIFING THIS SHIPMENT (waiting for trcking )-->
                {% endfor %}

            </div>
            <!--END SHIPMETNS WAITING FOR TRACKING NUMBER -->


            <!--SHIPMENTS IN TRANSIT-->
            <div class="col-xs-12 col-sm-12 dashbox">
                <div class="row">
                    <h3 class="ltbluetext margintop10px nopadding">Packages in Transit or Preparing to Ship </h3>
                </div>
                {% for sh in shipments_with_tracking_notcomplete_notdelivered %}


                <!--divider defining the whole current shipments part (SHIPMENTS IN TRANSIT) -->
                <div class="row dashinfobox dashfont">
                    <h4 class="nomargin"> Order {{sh.trans.id }} Placed {{ sh.trans.date_requested_notime }} {% if sh.trans.title %} : {{ sh.trans.title }}	 {% endif %} </h4>

                    <!--SHIPMENT DETAILS: ORDER DATE, TITLE, SHIPPING SPEED, AND TRACKING INFORMATION -->
                    <div class="col-xs-12 col-sm-4 paddingsides5px ">


                        <!--Expected Delivery -->
                        <div class="row">
                            <p class="nomargin">
                                {% if sh.aftership.expected_delivery %} Scheduled Delivery: {{ sh.aftership.expected_delivery_notime }} {% else %} {% if sh.trans.dayrangestart %} You expected {% if sh.trans.dayrangestart == sh.trans.dayrangeend %} {{ sh.trans.dayrangestart }} day shipping {% else %} {{ sh.trans.dayrangestart }} - {{ sh.trans.dayrangeend }} day shipping &nbsp; {% endif %} {% endif %}
                                <!--if has dayrangestart-->
                                {% endif %}
                            </p>
                        </div>


                        <!--Status and shipment type-->
                        <div class="row">
                            <p class="nomargin">Status: {{sh.aftership.tag}} {% if sh.aftership.shipment_type %} ( {{ sh.aftership.shipment_type }} ) {% else %} ( {{ sh.trans.shipment_courier }} ) {% endif%}
                            </p>
                        </div>

                        {% if sh.aftership.last_checkpoint.city %}
                        <div class="row">
                            <p class="nomargin">Last Location: {{sh.aftership.last_checkpoint.city }}, {{ sh.aftership.last_checkpoint.state }}</p>
                        </div>
                        {% endif %}


                        <!--TRACKING NUMBER -->
                        <!--I AM ELIMIATING TRACKIGN MODAL -TAKES TOO LONG TO LAOD - SEE PREVIOUS VERSION OF PAGE FOR THAT CODE -->
                        <div class="row nomargin">
                            <p class="nomargin">Track: <a href="https://blocbox.aftership.com/{{ sh.trans.tracking }}" target="_blank"> {{ sh.trans.tracking }} </a>
                                <!--EDIT TRACKING -->
                                <a href="/dashboard/track_id{{sh.trans.id}}/#openModal_edittracking_id{{sh.trans.id}}" class="nomargin textcenter">[Edit]</a> {% include "dashboard_subtemplates/edit_tracking_modal.html" %}
                            </p>
                        </div>

                    </div>
                    <!--end  shipment details: packages in transi -->



                    <!--NEIGHBOR: host name and information (Packages in transit)-->
                    <div class="col-xs-12 col-sm-3 paddingsides5px ">
                        <div class="row nomargin">
                            <p class="nomargin">Sent to {{sh.trans.host.first_name}}
                                <a href="/dashboard/message{{sh.trans.id}}/#openModal_message_id{{sh.trans.id}}" class="nomargin"> [Message {{ sh.trans.host.first_name }}]</a>
                            </p>

                            <p class="nomargin">
                                <!--linking to a new page, the target="_blank" attribute makes it a new tab-->
                                <a href="https://www.google.com/maps/place/{{sh.trans.host.st_address1}}+{{sh.trans.host.city}}+{{sh.trans.host.state}}+{{sh.trans.host.zipcode}}" target="_blank" class="nomargin">
                            	{{ sh.trans.host.st_address1 }}, {{ sh.trans.host.st_address2 }} <br> {{ sh.trans.host.city }}, {{ sh.trans.host.state }} {{sh.trans.host.zipcode}}
                            </a>
                            </p>

                            {% include "dashboard_subtemplates/message_to_host_modal.html" %}
                        </div>
                        <!--row with message -->
                    </div>
                    <!--row with neighbor information (address and message link -->



                    <!--COL WITH BUTTON TO CONFIRM/REVIEW OR REPORT AND ISSUE (SECOND ROW ) (Packages in Tarnsit)-->
                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <!--confirm/review -->
                            <button type="button" name="package_received" class="bluebutton" style="height: 25px" onclick="window.location='/dashboard/confirm_id{{sh.trans.id}}/#openModal_package_received_id{{sh.trans.id}}';">
                                I got my package!</button>
                            {% include "dashboard_subtemplates/package_received_modal.html" %}
                        </div>

                        <div class="row">
                            <button type="button" class="greybutton" style="height: 25px" onclick="window.location='/dashboard/issue_id{{sh.trans.id}}/#openModal_enduser_issue_id{{sh.trans.id}}';">
                                Report an Issue</button>
                            {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %}
                        </div>
                    </div>
                    <!--END COL TO CONFIRM/REVIEW AND TO REPORT AND ISSUE -->


                </div>
                <!-- CLOSE DIV DIFING THIS SHIPMENT (AMONG THOSE IN TRAQNSIT )-->
                {% endfor %}
            </div>
            <!--col, shipments container -IN TRANSIT-->


            <!--OTHER FAVORS Favors Box-->
            <div class="col-xs-12 dashbox margintop30px marginbottom30px">
                <h3 class="col-xs-12 ltbluetext nopadding">Other Transactions</h3>

                <!--labels-->
                <div class="row darkgreytext tinytext textcenter">
                    <!--label-->
                    <p class="col-xs-2 marginbottom5px">STATUS</p>
                    <p class="col-xs-2 marginbottom5px">DESCRIPTION</p>
                    <p class="col-xs-2 marginbottom5px">COMPLETION DATE</p>
                    <p class="col-xs-3 marginbottom5px">NEIGHBOR'S ADDRESS</p>
                    <p class="col-xs-2 marginbottom5px">OPTIONS</p>
                </div>
                <!--row, label -->

                <!--test data-->
                <div class="row whitebackground marginbottom30px paddingtop10px tinytext textcenter">
                    <!--test row-->
                    <p class="col-xs-2">In progress</p>
                    <p class="col-xs-2">House Sitting</p>
                    <p class="col-xs-2">Nov. 19</p>
                    <p class="col-xs-3">[TestRow]</p>
                    <p class="col-xs-2">Modify</p>
                </div>
                <!--row, text data-->

                <!--Actual Data-->
                {% for favor in otherfavors_all %}
                <div class="row whitebackground marginbottom30px paddingtop10px tinytext textcenter">
                    <!--test row-->
                    <p class="col-xs-2">{{ favor.invoice }}</p>
                    <p class="col-xs-2">{{ favor.item_name }}</p>
                    <p class="col-xs-2">[ADDME]</p>
                    <p class="col-xs-3">{{ favor.host_st_address1 }}, {{ favor.host_st_address2 }} ({{ favor.host_fname }})</p>
                    <p class="col-xs-2">[ADDME]</p>
                </div>
                <!--row, text data-->
                {% endfor %}

            </div>
            <!--col, Favors box--->


            <!--COMPLETED SHIPMENTS Container-->
            <div class="col-xs-12 col-sm-12 dashbox">
                <div class="row">
                    <h3 class="ltbluetext margintop10px nopadding">Completed Shipments </h3>
                </div>
                {% for sh in shipments_with_tracking_complete %}

                <!--start div defining the shipment-->
                <div class="row whitebackground marginbottom30px textleft dashfont">
                    <h4 class="nomargin"> Order {{sh.trans.id }} Placed {{ sh.trans.date_requested_notime }} {% if sh.trans.title %} : {{ sh.trans.title }}	 {% endif %} </h4>

                    <!--shipment details-->
                    <div class="col-xs-12 col-md-4 paddingsides5px">
                        <div class="row">
                            <p class="nomargin">
                                Order Completed {{ sh.trans.date_completed }} {% if sh.trans.on_aftership %}
                                <br>Delivered {{sh.aftership.last_checkpoint.checkpoint_time }} {% endif %}
                            </p>
                        </div>
                    </div>

                    <!--neighbor-->
                    <div class="col-xs-12 col-md-3">
                        <div class="row nomargin">
                            <p class="nomargin">
                                Sent to {{ sh.trans.host.first_name }}
                                <!--<br>{ { sh.trans.host.st_address1}} {{ sh.trans.host.st_address2 }} -->
                                <br>Your rating {{ sh.trans.host.first_name}} {{sh.trans.enduser_rating}} / 5.0
                            </p>
                        </div>
                    </div>

                    <!--tracking-->
                    {% if sh.trans.tracking %}
                    <div class="col-xs-12 col-md-4">
                        <div class="row nomargin">
                            <p class="nomargin">
                                Track: <a href="https://blocbox.aftership.com/{{ sh.trans.tracking }}" target="_blank"> {{sh.trans.tracking }} </a> {% if sh.aftership.last_checkpoint.city %}
                                <br>Delivered to {{sh.aftership.last_checkpoint.city }}, {{sh.aftership.last_checkpoint.state }} {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endif %}

                </div>
                <!--end container for this shipemnt -->
                {% endfor %}
            </div>
            <!--end completed shipmetns -->

        </div>
        <!--END COL WITH ALL TRANSACTIONS -->

        {% else %}
        <!--if user is not authenticated-->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="col-xs-12 dashbox">
                <h3 class="margintop10px nopadding">
               	 <a href="/login">Login to your account </a> to access your dashboard.
               <h3> 
               <h6>  <br>         	 	
                	<br> If you don't have an account, get started by <a href="/search/"> searching for a host in your neighborhood.</a> 
               		<br> If you can't find a host, <a href="/waitlist/">join our waitlist </a> to be notified when Blocbox comes to your neighborhood 
               		 				or <a href="/signup/"> sign up without connecting to a host.</a> 
               		<br> If you're often at home during the day,  <a href="/signuphost/"> apply to serve as a Blocbox host</a> or <a href="/nudgeaneighbor/">tell a neighbor</a> about the opportunity. 
               		<br> <br> Questions or feedback? Email us at info@blocbox.co. 
               	  <br> <a href="/beta/">Return to the homepage (Beta)</a> 
               	  <br> <br>
               </h6>   
        </div> <!--col-xs12 dashbox-->
		</div> <!--close if user is not authenticated-->
		{% endif %}
	
	</div> <!--row no padding-->
</div> <!--contenet -->



{% endblock %}

<!-- <p class="col-xs-2 nomargin nopadding">RECENT</p>
<div class="col-xs-12 dashbox marginbottom60px">
    <div class="row">
        <h3 class="col-xs-3 margintop10px nopadding">Shipments</h3>
            </div>
            <div>-->