<!--this is blocbox/core/templates/blocbox/dashboard-host.html, URL is http://www.blocbox.co/hostdashboard -->
{% extends "blocbox/base-green.html" %} {% load staticfiles %} {% block title %}Host Dashboard{% endblock %} {% block headafter %}
<!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
<link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %} {% block content %}


<div class="content container-fluid offwhitebackground relativediv">

    <div class="row margintop20px marginbottom20px xshide">
        <a href="dashboard.html" class="col-xs-2 col-xs-offset-1 subnavtextcurrent textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <a href="/profile/" class="col-xs-2 subnavtext textcenter">PROFILE</a>
        <a href="/account/" class="col-xs-2 subnavtext textcenter">ACCOUNT</a>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="profileboxline100 margintop10px"></div>
        </div>
    </div>
    <!--end top row-->


    <div class="by">
        <!--contains most of page-->
        <div class="row" style="margin-right: -15px; margin-left: -15px;">
            {% if user.is_authenticated %} {% if enduser.host %}
            <!--sidebar-->
            <div class="col-md-3 xshide smallhide">
                <div class="profileboxred" style="min-height: 1px; margin-bottom: 5px">
                    <div class="row redtext">
                        <div class="col-sm-2 nopaddingright">
                            <h4 class="margintopbottom5px textright" style="font-size: 1.6em;">3</h4>
                        </div>
                        <div class="col-sm-10" style="padding-left: 10px;">
                            <h4 class="margintopbottom5px" style="padding-top: 8px">days untill next package</h4>
                        </div>
                    </div>
                </div>
                <div class="profileboxgreen" style="min-height: 1px; margin-bottom: 5px">
                    <div class="row darkbluegreentext">
                        <div class="col-sm-2 nopaddingright">
                            <h4 class="margintopbottom5px textright" style="font-size: 1.6em;">5</h4>
                        </div>
                        <div class="col-sm-10" style="padding-left: 10px;">
                            <h4 class="margintopbottom5px" style="padding-top: 8px">incoming packages</h4>
                        </div>
                    </div>
                </div>
                <div class="profileboxyellow" style="min-height: 1px; margin-bottom: 20px">
                    <div class="row yellowtext">
                        <div class="col-sm-2 nopaddingright">
                            <h4 class="margintopbottom5px textright" style="font-size: 1.6em;">2</h4>
                        </div>
                        <div class="col-sm-10" style="padding-left: 10px;">
                            <h4 class="margintopbottom5px" style="padding-top: 8px">packages awaiting pickup</h4>
                        </div>
                    </div>
                </div>
                <div class="profilebox" style="min-height: 250px; margin-bottom: 5px">
                    <h4 class="nomargintop">Your Availability</h4>
                    <h4>{{ host.whenimhome_hours }}</h4>
                </div>
            </div>
            <!--end sidebar-->


            <div class="col-xs-6">
                <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px">
                    <!--non-mobile version--->
                    <div class="row">
                        <div class="col-xs-2 nopaddingleftright">
                            <div class="messpiccontainer">
                                {% if enduser.facebook_id %}
                                <img class="messpic" src="http://graph.facebook.com/{{user.facebook_id}}/picture?type=large" /> {% else %} {% if enduser.profile_pic_uploaded %}
                                <img class="messpic" src="{{user.profile_pic_uploaded.url}}" /> {% else %}
                                <div>
                                    <div class="statusgreen" style="padding: 0px 1px 0px 4px;"><i class="fa fa-user fa-flip-horizontal fa-fw fa-lg statusicon" style="padding-bottom: 9px;"></i> </div>
                                </div>
                                {% endif %} {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-7" style="padding: 8px 5px 0px 0px;">
                            <h3 class="darkgreytext nomargin xshide" style="font-weight: 400; font-size: 1.0em"> Your neigbor&nbsp;<span class="darkbluegreentext " style="font-weight: 500;">{{enduser.first_name}}&nbsp;{{enduser.last_name}}</span>&nbsp;would like to connect
                        </h3>
                            <h3 class="greytext nomargin xshide" style="font-weight: 300; font-size: 1.0em">at 420 Grand Ave. #2, Brooklyn</h3>
                        </div>
                        <div class="col-xs-3">
                            <button>See Profile</button>
                            <button>Accept</button>
                        </div>
                    </div>
                </div>

                <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px">
                    <!--non-mobile version--->
                    <div class="row">
                        <div class="col-xs-2 nopaddingleftright">
                            <div class="messpiccontainer">
                                {% if enduser.facebook_id %}
                                <img class="messpic" src="http://graph.facebook.com/{{user.facebook_id}}/picture?type=large" /> {% else %} {% if enduser.profile_pic_uploaded %}
                                <img class="messpic" src="{{user.profile_pic_uploaded.url}}" /> {% else %}
                                <div>
                                    <div class="statusgreen" style="padding: 0px 1px 0px 4px;"><i class="fa fa-user fa-flip-horizontal fa-fw fa-lg statusicon" style="padding-bottom: 9px;"></i> </div>
                                </div>
                                {% endif %} {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-7" style="padding: 8px 5px 0px 5px;">
                            <h3 class="darkgreytext nomargin xshide" style="font-weight: 400; font-size: 1.0em"> New message from your neigbor&nbsp;<span class="darkbluegreentext " style="font-weight: 500;">{{enduser.first_name}}&nbsp;{{enduser.last_name}}</span>
                            </h3>
                            <h3 class="greytext nomargin xshide" style="font-weight: 300; font-size: 1.0em">RE: Package #37</h3>
                        </div>
                        <div class="col-xs-3">
                            <button>View</button>
                            <button>Archive</button>
                        </div>
                    </div>
                </div>

                <!--INCOMING SHIPMENTS-->
                <!-- <h4>DELME - TESTING THE PARAMETERS YOU'VE SENT
        	   <br>  {{ shipments_all_paid_notarchived}} </h4> -->

                {% for sh in shipments_in_transit %}

                <!-- need to create subtemplate for next specific to host -->
                {% ifequal confirm_id_int sh.id %} {% include "dashboard_subtemplates/package_received_modal.html" %} {% endifequal %}
                <!-- need to create subtemplate for next specific to host -->
                {% ifequal message_trans_id_int sh.id %} {% include "dashboard_subtemplates/message_to_host_modal.html" %} {% endifequal %}
                <!-- need to create subtemplate for next specific to host -->
                {% ifequal issue_id_int sh.id %} {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %} {% endifequal %}

                <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px">
                    <!--non-mobile version--->
                    <div class="row">
                        <div class="col-xs-1 nopaddingleft">
                            <div class="statusgreen" style="padding: 0px 1px 0px 4px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-lg statusicon" style="padding-bottom: 9px;"></i> </div>
                        </div>
                        <h3 class="col-xs-6 darkgreytext nomargin xshide" style="padding: 7px 15px 0px 5px; font-weight: 400; font-size: 1.2em">Incoming Package for<span class= "darkbluegreentext" style="font-weight: 500;">&nbsp;{{sh.enduser.first_name}} </span>
                </h3>

                        <!--mobile version - title -->
                        <h3 class="col-xs-12 darkbluegreentext nomargin xsonly xsnopadding" style="padding-left: 5px; font-weight: 400">{% if sh.title %}  {{ sh.title }} 
                    {% else %} No Title  {% endif %} 
                    <!--<br> <b> In Transit </b> -->
                </h3>
                        <h3 class="col-md-5 redtext nomargin textright nopaddingright" style="padding-top: 7px; font-weight: 400; font-size: 1.0em">Delivery:&nbsp;<span style="font-weight: 500;">3-4 Days</span></h3>
                    </div>
                    <div style="padding: 10px 0px">
                        <div class="profileboxline100"></div>
                    </div>
                    <div class="col-xs-12 xspaddingleft5 xsnopadding">
                        <!--row with shipmen info, shipments in transit-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 xsnopadding">
                                <h4 class="margintopbottom5px">For {{sh.enduser.first_name}}&nbsp;{{sh.enduser.last_name}}</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">{{sh.enduser.st_address1}}.</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Delivery Requested</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintop5px nopaddingbottom">Placed on:<span style="font-weight:normal;">  {{sh.date_requested_notime }} </span></h4>
                            </div>
                            <!--end col-xs-12 col-sm-5, col with ORDERED info -->

                            <div class="col-xs-12 col-sm-6 xsnopadding">
                                <h4 class="margintopbottom5px">Status: <span style="font-weight:normal;">   {{ sh.last_tracking_status }}  </span></h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Carrier: UPS</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Tracking Number:<span style="font-weight:normal;">  
                                        <a href="https://blocbox.aftership.com/{{ sh.tracking }}" target="_blank">{{ sh.tracking }} </a>
                                    </span> </h4>
                            </div>
                            <!-- end col-xs-12 col-sm-5, second col with shipping info -->
                        </div>
                        <!--end row with shipping info, shipments in transit-->
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-5">
                            <button>Recieved</button>
                            <button>Message&nbsp;{{sh.enduser.first_name}}</button>
                            <button>Report an Issue</button>
                        </div>
                    </div>
                    <!--end col-xs-12 col-sm-9, with icons and shipping info, shipmetns in transi -->
                </div>
                {% endfor %}

                <!--PACKAGES AWAITING PICKUP-->
                <!-- <h4>DELME - TESTING THE PARAMETERS YOU'VE SENT
<br>  {{ shipments_all_paid_notarchived}} </h4> -->

                {% for sh in shipments_waiting_pickup %}

                <!-- need to create subtemplate for next specific to host -->
                {% ifequal confirm_id_int sh.id %} {% include "dashboard_subtemplates/package_received_modal.html" %} {% endifequal %}
                <!-- need to create subtemplate for next specific to host -->
                {% ifequal message_trans_id_int sh.id %} {% include "dashboard_subtemplates/message_to_host_modal.html" %} {% endifequal %}
                <!-- need to create subtemplate for next specific to host -->
                {% ifequal issue_id_int sh.id %} {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %} {% endifequal %}

                <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px">
                    <!--non-mobile version--->
                    <div class="row">
                        <div class="col-xs-1 nopaddingleft">
                            <div class="statusorange" style="padding: 0px 1px 0px 0px;"><i class="fa fa-home fa-flip-horizontal fa-fw fa-2x statusicon" style="padding-bottom: 10px; padding-left: 1px;"></i> </div>
                        </div>
                        <h3 class="col-xs-6 darkgreytext nomargin xshide" style="padding: 7px 15px 0px 5px; font-weight: 400; font-size: 1.2em"> Holding Package for<span class= "yellowtext" style="font-weight: 500;">&nbsp;{{sh.enduser.first_name}} </span>
                        </h3>

                        <!--mobile version - title -->
                        <h3 class="col-xs-12 darkbluegreentext nomargin xsonly xsnopadding" style="padding-left: 5px; font-weight: 400">{% if sh.title %}  {{ sh.title }} 
                            {% else %} No Title  {% endif %} 
                            <!--<br> <b> In Transit </b> -->
                        </h3>
                        <h3 class="col-md-5 redtext nomargin textright nopaddingright" style="padding-top: 7px; font-weight: 400; font-size: 1.0em">Delivery:&nbsp;<span style="font-weight: 500;">3-4 Days</span></h3>
                    </div>
                    <div style="padding: 10px 0px">
                        <div class="profileboxline100"></div>
                    </div>
                    <div class="col-xs-12 xspaddingleft5 xsnopadding">
                        <!--row with shipmen info, shipments in transit-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 xsnopadding">
                                <h4 class="margintopbottom5px">For {{sh.enduser.first_name}}&nbsp;{{sh.enduser.last_name}}</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">{{sh.enduser.st_address1}}.</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Delivery Requested</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintop5px nopaddingbottom">Placed on:<span style="font-weight:normal;">  {{sh.date_requested_notime }} </span></h4>
                            </div>
                            <!--end col-xs-12 col-sm-5, col with ORDERED info -->

                            <div class="col-xs-12 col-sm-6 xsnopadding">
                                <h4 class="margintopbottom5px">Status: <span style="font-weight:normal;">  {{ sh.last_tracking_status }}  </span></h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Carrier: UPS</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Tracking Number:<span style="font-weight:normal;">  
                                    <a href="https://blocbox.aftership.com/{{ sh.tracking }}" target="_blank">{{ sh.tracking }} </a>
                                    </span> </h4>
                            </div>
                            <!-- end col-xs-12 col-sm-5, second col with shipping info -->
                        </div>
                        <!--end row with shipping info, shipments in transit-->
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-5">
                            <button>Recieved</button>
                            <button>Message&nbsp;{{sh.enduser.first_name}}</button>
                            <button>Report an Issue</button>
                        </div>
                    </div>
                    <!--end col-xs-12 col-sm-9, with icons and shipping info, shipmetns in transi -->
                </div>
                {% endfor %} {% for sh in shipments_complete_fordash %}

                <!-- need to create subtemplate for next specific to host -->
                {% ifequal confirm_id_int sh.id %} {% include "dashboard_subtemplates/package_received_modal.html" %} {% endifequal %}
                <!-- need to create subtemplate for next specific to host -->
                {% ifequal message_trans_id_int sh.id %} {% include "dashboard_subtemplates/message_to_host_modal.html" %} {% endifequal %}
                <!-- need to create subtemplate for next specific to host -->
                {% ifequal issue_id_int sh.id %} {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %} {% endifequal %}

                <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px">
                    <!--non-mobile version--->
                    <div class="row">
                        <div class="col-xs-1 nopaddingleft">
                            <div class="statusgreen" style="padding: 0px 1px 0px 4px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-lg statusicon" style="padding-bottom: 9px;"></i> </div>
                        </div>
                        <h3 class="col-xs-6 darkgreytext nomargin xshide" style="padding: 7px 15px 0px 5px; font-weight: 400; font-size: 1.2em"> Successful delivery for<span class= "darkbluegreentext" style="font-weight: 500;">&nbsp;{{sh.enduser.first_name}} </span>
                        </h3>

                        <!--mobile version - title -->
                        <h3 class="col-xs-12 darkbluegreentext nomargin xsonly xsnopadding" style="padding-left: 5px; font-weight: 400">{% if sh.title %}  {{ sh.title }} 
                            {% else %} No Title  {% endif %} 
                            <!--<br> <b> In Transit </b> -->
                        </h3>
                        <h3 class="col-md-5 redtext nomargin textright nopaddingright" style="padding-top: 7px; font-weight: 400; font-size: 1.0em">Delivery:&nbsp;<span style="font-weight: 500;">3-4 Days</span></h3>
                    </div>
                    <div style="padding: 10px 0px">
                        <div class="profileboxline100"></div>
                    </div>
                    <div class="col-xs-12 xspaddingleft5 xsnopadding">
                        <!--row with shipmen info, shipments in transit-->
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 xsnopadding">
                                <h4 class="margintopbottom5px">For {{sh.enduser.first_name}}&nbsp;{{sh.enduser.last_name}}</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">{{sh.enduser.st_address1}}.</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Delivery Requested</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintop5px nopaddingbottom">Placed on:<span style="font-weight:normal;">  {{sh.date_requested_notime }} </span></h4>
                            </div>
                            <!--end col-xs-12 col-sm-5, col with ORDERED info -->

                            <div class="col-xs-12 col-sm-6 xsnopadding">
                                <h4 class="margintopbottom5px">Status: <span style="font-weight:normal;">  {{ sh.last_tracking_status }}  </span></h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Carrier: UPS</h4>
                                <div class="profileboxline100"></div>
                                <h4 class="margintopbottom5px">Tracking Number:<span style="font-weight:normal;">  
                                    <a href="https://blocbox.aftership.com/{{ sh.tracking }}" target="_blank">{{ sh.tracking }} </a>
                                    </span> </h4>
                            </div>
                            <!-- end col-xs-12 col-sm-5, second col with shipping info -->
                        </div>
                        <!--end row with shipping info, shipments in transit-->
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-5">
                            <button>Recieved</button>
                            <button>Message&nbsp;{{sh.enduser.first_name}}</button>
                            <button>Report an Issue</button>
                        </div>
                    </div>
                    <!--end col-xs-12 col-sm-9, with icons and shipping info, shipmetns in transi -->
                </div>
                {% endfor %}

                <!--end looping through shipments in transit-->
            </div>

            <div class="col-xs-3">
                <div class="profilebox marginbottom20px">
                    <h4 class="nomargintop">Your Rating</h4>
                    <div class="ratingcircle">
                        <h4>{{ transactions_count }}</h4>
                    </div>
                    <!-- <ul class="aoi">
                        <li class="aoj">
                            <a class="aku" data-toggle="modal" href="#userModal">
                                Packages Received
                                <h5 class="ali">12M</h5>
                            </a>
                        </li>
                        <li class="aoj">
                            <a class="aku" data-toggle="modal" href="#userModal">
                                Other Favors
                                <h5 class="ali">1</h5>
                            </a>
                        </li>
                    </ul> -->
                </div>

                <div class="profilebox">
                    <h4 class="nomargintop">Helping {{ connections_count }} Neighbors&nbsp;<a style="font-weight: 300;">•&nbsp;view all</a></h4>
                    <div class="row">
                        {% for connection in connections_all %}
                        <div class="col-xs-3 nopaddingleftright">
                            <div class="messpiccontainer">
                                {% if end_user.facebook_id %}
                                <img class="messpic" src="http://graph.facebook.com/{{user.facebook_id}}/picture?type=large" /> {% else %} {% if end_user.profile_pic_uploaded %}
                                <img class="messpic" src="{{user.profile_pic_uploaded.url}}" /> {% else %}
                                <div>
                                    <div class="statusgreen" style="padding: 0px 1px 0px 4px;"><i class="fa fa-user fa-flip-horizontal fa-fw fa-lg statusicon" style="padding-bottom: 9px;"></i> </div>
                                </div>
                                {% endif %} {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <h3 class="col-xs-6 darkgreytext nomargin xshide" style="padding: 7px 15px 0px 5px; font-weight: 500; font-size: 1.0em">{{ connection.end_user.first_name }}&nbsp;{{ connection.end_user.last_name }}</h3>
                            </div>
                            <div class="row">
                                <h3 class="greytext nomargin xshide" style="font-weight: 300; font-size: 1.0em">@&nbsp;</h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <!--if user is not a host-->
    <h2>Message to non host</h2> {% endif %} {% else %}
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 nopadding">
        <div class="col-xs-12 dashbox">
            <h3 class="margintop10px nopadding"> <a href="/login">Login to your account </a> to access your dashboard. </h3>
            <h6 class="nomargin">  <br>         	 	
                    <br> If you don't have an account, get started by <a href="/search/"> searching for a host in your neighborhood.</a> 
                    <br> If you can't find a host, <a href="/waitlist/">join our waitlist </a> to be notified when Blocbox comes to your neighborhood. 

                    <br> If you're often at home during the day,  <a href="/signuphost/"> apply to serve as a Blocbox host</a> or <a href="/nudgeaneighbor/">tell a neighbor</a> about the opportunity. 
                    <br> <br> Questions or feedback? Email us at info@blocbox.co. 
                    <br> <a href="/beta/">Return to the homepage (Beta)</a> 
                    <br> <br>
                </h6>
        </div>
        <!--col-xs12 dashbox-->
    </div>
    <!--close if user is not authenticated-->
    {% endif %}
</div>




{% endblock %}