{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Dashboard{% endblock %} {% block headafter %} {% endblock %}
<!-- this is blocbox/core/templates/blocbox/dashboard.html , URL is www.blocbox.co/dashboard
	i think we shoudl only have one dashboard and then just have additional stuff for hosts, using if--then logic.. 
	this is easier to impelemnt if teh layout is relatively straight forward - so additional content is added vertically,
	
	NOTE: THE MODALS ON THIS PAGE ARE REALLY COMPLICATED BECAUSE OF THE MULTIPLE FORMS - I HAVE TO BASICALY CREATE ENTIRELY NEW PAGES/URLS OTHERWISE THE FORMS DONT KNWO WHAT TO SUBMIT
	
-->

{% block content %}
<div class="content container-fluid offwhitebackground relativediv">

    <div class="row margintop40px marginbottom30px xshide">
        <a href="dashboard.html" class="col-xs-2 col-xs-offset-1 subnavtextcurrent textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <a href="/profile/" class="col-xs-2 subnavtext textcenter">PROFILE</a>
        <a href="/account/" class="col-xs-2 subnavtext textcenter">ACCOUNT</a>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="profileboxline100 margintop10px"></div>
        </div>
    </div>
    <!--end top row-->


    <div class="row nopaddingleftright">
        <!--contains most of page-->

        {% if user.is_authenticated %}
        <!--sidebar-->
        <div class="col-sm-3 col-lg-2 col-lg-offset-1 xshide">
            <div class="dashpiccontainer">
                {% if user.facebook_id %}
                <img class="dashpic" src="http://graph.facebook.com/{{user.facebook_id}}/picture?type=large" /> {% else %} {% if user.profile_pic_uploaded %}
                <img class="dashpic" src="{{user.profile_pic_uploaded.url}}" /> {% else %}
                <br>
                <br>
                <p class="textcenter"> <a href='.'> Upload a <br> profile picture! </a> </p>
                {% endif %} {% endif %}
            </div>
            <h3 class="margintop10px nomarginbottom textcenter">{{ user.first_name }}</h3>
            <p class="darkgreytext margintop5px tinytext textcenter">VIEW PROFILE</p>

            <!--start a shipment/start a favor buttons-->
            <div class="profileboxline margintop20px marginbottom20px"></div>

          


            <!--Find a new host button-->
            <div class="col-sm-10 col-sm-offset-1 col-lg-12 marginbottom15px nopadding">
                <div class="row">
                    <div class="col-sm-2 nopadding">
                        <button class="searchbtn" type="button" onclick="window.location='/search';">
                        </button>
                    </div>
                    <p class="col-sm-10 darkgreytext" style="padding-top: 7px; padding-left: 25px">Find a New Host</p>
                </div>
            </div>

            <!--Account Balance-->
            {% if user.account_balance %}
            <div class="profileboxline margintop20px marginbottom20px"></div>
            <div class="col-xs-12">
                <p class="darkgreytext tinytext textcenter">ACCOUNT BALANCE</p>
                <p class="pricetext textcenter">${{ user.account_balance }}
                    <!-- {% if connections_count = 1 %} neighbor {% else %} neighbors {% endif %} -->
                </p>
            </div>
            {% endif %}

            <!--neighborhood connections-->
            <div class="profileboxline margintop20px marginbottom20px"></div>
            <div class="col-xs-12">
                <p class="darkgreytext tinytext textcenter">NEIGHBORHOOD CONNECTIONS</p>
                <p class="pricetext textcenter">{{ connections_count }}
                    <!-- {% if connections_count = 1 %} neighbor {% else %} neighbors {% endif %} -->
                </p>
            </div>
            <div class="profileboxline margintop20px marginbottom20px"></div>
            <!--put the address of each connection here-->
            {% for connection in connections_all %}
            <div class="col-xs-12 paddingtopbottom20px">
                <p class="nomargin"> <a href="/hostprofile/host{{connection.host_user.id}}">{{ connection.host_user.first_name }} {{ connection.host_user.last_name }} </a>
                    <br>{{ connection.host_user.st_address1 }} {{ connection.host_user.st_address2 }}
                    <br>{{ connection.host_user.city }}, {{ connection.host_user.state }} {{ connection.host_user.zipcode }}
                </p>
            </div>
            {% endfor %}
        </div>
        <!--end sidebar-->



        <!--DEFINE ALL THANK YOU MODALS-->
        <div>
            <!--thanks modal: Enter Tracking-->
            <div id="openModal_entertracking/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Thanks! </h3>
                    <h6> Your tracking information has been updated </h6>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>
            <!--end thanks modal-->


            <!--thanks modal: EDIT TRACKING-->
            <div id="openModal_edittracking/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Thanks! </h3>
                    <h6> Your tracking information has been updated </h6>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>

            <!--thanks modal: sent a message -->
            <div id="openModal_message/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Your Message Has Been Sent! </h3>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>
            <!--end thanks modal: sent a message-->

            <!--THANKS MODAL: Marked as Complete -->
            <div id="openModal_package_received/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Thanks! </h3>
                    <h6>Thanks for your feedback! This order has been marked as complete. </h6>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>
            <!--END THANKS MODAL: MARKED AS COMPLETE -->

            <!--THANKS modal: enduser issue -->
            <div id="openModal_enduser_issue/Thanks" class="modalDialog">
                <div>
                    <a href="/dashboard" title="Close" class="close">X</a>
                    <h3 class="ltbluetext">Thanks! </h3>
                    <h6>We have received your report and will be in touch within 24 hours to resolve this issue. </h6>
                    <h4> <a href="/dashboard"> Return to Dashboard</a> </h4>
                </div>
            </div>
            <!--end Thanks modal: End User Issue-->
        </div>
        <!--end define thank-you modals-->


		<!--div encompassing all shipments -->
    <div class="col-xs-12 col-sm-9 col-lg-8 nopaddingsidesmobile nopaddingright">


						<!--SHIPMENTS WAITING TO BE PICKED UP -- OUTER CONTAINER CONTAINING ALL -- NOT SURE WHY WE NEED... -->
						<!-- <div class="col-xs-12 col-sm-12 nopaddingleftright"> -->
							
        {% for sh in shipments_with_tracking_notcomplete_delivered %}
                
                      <!--INCLUD ALL OF THE MODAL SUBTEMPLATES - only if that URL is called - to save memroy-->                    
                      {% ifequal confirm_id_int sh.trans.id %}    {% include "dashboard_subtemplates/package_received_modal.html" %}  {% endifequal %}                    	  	
                      {% ifequal issue_id_int sh.trans.id %}  {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %} {% endifequal %}                   	
                    	{% ifequal message_trans_id_int sh.trans.id %}  {% include "dashboard_subtemplates/message_to_host_modal.html" %} {% endifequal %}                        
                      {% ifequal track_id_int sh.trans.id %}  {% include "dashboard_subtemplates/edit_tracking_modal.html" %}  {% endifequal %}                       	
                      <!--CONTAINER WITH ALL OF THE TRANSACTIONS-->
                        
            <!--for each shipmetn waiting to be picked up - outer div containing all info -->
            <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px" style="padding-right: 5px;">
                   
                <!--run title and icon across top -->
                <div class="row nopadding">
                   	<div class="col-xs-1 userbg nopaddingleft xshide">   
                   		 	<div class="package-i" style="width: 30px; height: 30px"></div> 
                    </div>         
                   <!--non-mobile version -- hide the imagine -->         			         
                   <h3 class="col-xs-11 ltbluetext nomargin xshide nopaddingleftright" style="padding-top: 5px; font-weight: 400"> <!--paddingleft15px -->
                   			    	          {% if sh.trans.title %}  {{ sh.trans.title }}  {% else %} No Title {% endif %} 
                   </h3>
                   			    
                   <!--mobile version -->
                   <h3 class="col-xs-12 ltbluetext nomargin xsonly" style="padding-left: 5px; font-weight: 400">
                   			    	          {% if sh.trans.title %}  {{ sh.trans.title }}  {% else %} No Title {% endif %} 
                   </h3>
                </div> <!--end row containing icon and title -->
                   			  
                <!--div continaing icon, title and buttons - to right in desktop -->
                <div class="col-xs-12 col-sm-4 xspaddingright5" style="padding-left: 5px;">

                   	<div class="col-xs-6 col-sm-12 xsnopadding"> <!--title -->
                   			
                   			  
                   			<div class="row nopadding">  
                   			  	                 			    
                   			     <!--non-mobile ersion -->
                   			     <p class="greytext paddingtop5px xshide">Click the package received button when you've picked up the package</p>              			
                   			     <!--mobile version -->
                   			     <h3 class="ltbluetext nomargin xsonly xsnopadding" style="font-weight: 400">
                   			       <b> Delivered </b>
                   			     </h3>
                   			     <p class="greytext paddingtop5px paddingright5px xsonly">Your package is ready to be picked up from {{sh.trans.host.first_name }}.
                   			    	 Click the button to the right after you've received the package</p>
                   	    </div>
                   	</div> <!--end col xs-6 col-sm12 containing title -->
                   	<div class="col-xs-6 col-sm-12 xspaddingleft5 xsnopadding">
                   	    	
                   			  <button type="button" name="package_received" class="bluebutton xsheight30px sheight40px" style="margin-top: 10px;"  onclick="window.location='/dashboard/confirm_id{{sh.trans.id}}/#openModal_package_received_id{{sh.trans.id}}';">
                   			   I got my package!</button>
                   			
                   			  <button type="button" name="package_received" class="greybutton xsheight30px sheight40px" style="margin-top: 10px;" onclick="window.location='/dashboard/message_id{{sh.trans.id}}/#openModal_message_id{{sh.trans.id}}';">
                   			   Message {{ sh.trans.host.first_name }}</button>
                   			
                   			  <button type="button" class="greybutton xsheight30px sheight40px" style="margin-top: 10px;" onclick="window.location='/dashboard/issue_id{{sh.trans.id}}/#openModal_enduser_issue_id{{sh.trans.id}}';">
                   			         Report an Issue</button>
                   			         
                   			         
                   			</div> <!--end col-xs-6 col-sm-12, col with buttons-->
                   			
                  </div> <!--end col-xs-12 col-sm-3 containing title and buttons-->
                    
                  <!--SHIPMENT DETAILS: ORDER DATE, TITLE, SHIPPING SPEED, AND TRACKING INFORMATION (waiting to be pickd up) -->   
                  <div class="col-xs-12 col-sm-8 xspaddingleft5 xsnopadding" style="padding-top: 6px"> 
                    	          	
                    	 <!--ROW WITH ICON/IMAGES FOR PACKAGES WAITING TO BE PICKED UP -->
                       <div class="row xshide">                       	
                            <div class="col-sm-5  marginbottom10px">
                                <div class="statusgrey" style="padding: 9px 4px;">
                                	  <i class="fa fa-shopping-cart fa-fw fa-3x statusicon"></i>  </div>
                            </div>
                            
													<!--  <div>    <div class="col-sm-2 shipline"></div> </div>                           
                            <div class="col-sm-2 marginbottom10px">
                                <div class="statusgrey" style="padding: 9px 6px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-3x statusicon"></i>  </div>
                            </div> -->
                            <div>   <div class="col-sm-2 shiparrow"></div>   </div>
                            
                            <div class="col-sm-5 marginbottom10px">
                           <div class="statusorange" style="padding: 9px 5px;"><i class="fa fa-home fa-flip-horizontal fa-fw fa-3x statusicon"></i>  </div>
                            </div>
                       </div> <!--end row with icons -- hidden from mobile -->


                        <div class="row">
                        	  <!--FIRST COLUMN: Packages Waiting to be Picked Up-->
                            <div class="col-xs-12 col-sm-5 xsnopadding">
                                <p class="textcenter xshide">ORDERED</p>
                               
                                
                                <h4 class="nomargin">
                                	      Order ID: <span style="font-weight:normal;"> {{sh.trans.id }} </span>
                                	 <br> Invoice: <span style="font-weight:normal;">  {{ sh.trans.invoice }} </span> 
                                	 <br> Placed on: <span style="font-weight:normal;">  {{ sh.trans.date_requested_notime }} </span>
                                   <br> Sent to <a href="">&nbsp;{{sh.trans.host.first_name}}</a>:
                                       <span style="font-weight:normal;"> <a class="nomargin" href="https://www.google.com/maps/place/{{sh.trans.host.st_address1}}+{{sh.trans.host.city}}+{{sh.trans.host.state}}+{{sh.trans.host.zipcode}}" target="_blank" class="nomargin">
                                                {{ sh.trans.host.st_address1 }}, {{ sh.trans.host.st_address2 }}, 
                                                 {{ sh.trans.host.city }}, {{ sh.trans.host.state }} {{sh.trans.host.zipcode}}
                                             </a> </span>
                                </h4>
                            </div>
                            <!--end  shipment details: waiting to be picke dup packages -->


                            <!--NEIGHBOR: host name and information (waiting ot be picked up)-->
                            <div class="col-xs-12 col-sm-5 col-lg-offset-2 xsnopadding">
                                <!--neigbor name-->
                                <p class="textcenter xshide">DELIVERED</p>
                                
                                <h4 class="nomargintopbottom">
                                	   {% if sh.trans.tracking %}
                                	      Tracking Number: 
                                          <span style="font-weight:normal;"> 	<a href="https://blocbox.aftership.com/{{ sh.trans.tracking }}" target="_blank">{{ sh.trans.tracking }}</a> </span>
                                     {% endif %}
                                     <br> Delivery Method: <span style="font-weight:normal;">                                 
                                       {% if sh.trans.on_aftership %} 
                                       	    {% if sh.aftership.shipment_type %} {{ sh.aftership.shipment_type }} {% else %} {{ sh.trans.shipment_courier }} {% endif%} {% else %} You expected it to arrive {% if sh.trans.arrivalwindow_days_count == 1 %} on {{ sh.trans.arrivalwindow_day1 }} {% else %} {{ sh.trans.arrivalwindow_day1 }} - {{ sh.trans.arrivalwindow_lastday }} &nbsp; {% endif %} 
                                       {% endif %} </span>
                                    <br>
                                					{% if trans.on_aftership %} {{sh.aftership.tag}} :
                                					{% else %} {{ sh.trans.last_tracking_status }} :
                                				  {% endif %}
                                      <span style="font-weight:normal;"> 
                                	       {% if trans.on_aftership %} {{sh.aftership.last_checkpoint.checkpoint_time }}
																	       {% else %}  {{ sh.trans.last_checkpoint_datetime }}     
																	       {% endif %}
																	          
																	      <!--where delivered -->
																	        {% if sh.aftership.last_checkpoint.city %}  
																	        	  to  {{sh.aftership.last_checkpoint.city}}, {{sh.aftership.last_checkpoint.state }}
																	        {% endif %}	
																	    </span>
																	                               
                                </h4>
                            </div> <!--End Neighbor Column (packages waiting to be picked up) -->

                        </div>

                    </div>
                    <!--END COL TO CONFIRM/REVIEW AND TO REPORT AND ISSUE (waiting to be picked up) -->
                </div>
                <!--close div containint this shipmet: waiting to be picked up-->
        {% endfor %} <!--END LOOP THROUGH ALL SHIPMENTS WAITING TO BE PICKED UP -->
          


        <!--shipments that need tracking -->
        {% for sh in shipments_with_tracking_notcomplete_notrackingno %}

                  {% ifequal confirm_id_int sh.trans.id %} {% include "dashboard_subtemplates/package_received_modal.html" %}  {% endifequal %}
                 	{% ifequal issue_id_int sh.trans.id %} {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %} {% endifequal %}
                	{% ifequal message_trans_id_int sh.trans.id %} {% include "dashboard_subtemplates/message_to_host_modal.html" %}  {% endifequal %}
                	{% ifequal track_id_int sh.trans.id %}   {% include "dashboard_subtemplates/enter_tracking_modal.html" %} {% endifequal %}


					<!--outer div for each shipment waiting tracking -->
          <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px" style="padding-right: 5px;">


                <div class="row nopadding">                    	
                       <!--image - hidden in mobile -->
                            <div class="col-xs-1 userbg nopaddingleft xshide">  
                            	<div class="package-i" style="width: 30px; height: 30px">  </div>                          
                            </div> <!--end image-->
                            
                            <!-- non-mobile version -->
                            <h3 class="col-xs-11 ltbluetext nomargin nopaddingleftright xshide" style="font-weight: 400">{% if sh.trans.title %}  {{ sh.trans.title }} 
                            	{% else %} No Title  {% endif %}  </h3>
                            		
 														<!-- mobile version -->
                            <h3 class="col-xs-12 ltbluetext nomargin xsonly xsnopadding" style="padding-left: 5px; font-weight: 400">
                            	    {% if sh.trans.title %}  {{ sh.trans.title }} {% else %} No Title  {% endif %}  
                            	    <br> <b>Need Tracking Info</b>
                            </h3>
               </div>
                 
               <div class="col-xs-12 col-sm-4 xspaddingright5" style="padding-left: 5px;"> 


                                       	
								 <!--Title and Button Column: Packages Awaiting Tracking  -->
                 <div class="col-xs-6 col-sm-12 xsnopadding"> 
 
 												<!--non-mobile version-->
                        <div class="row nopadding">                         	                                               
                            <p class="greytext paddingtop5px xshide">Enter your shipment's tracking info once you receive it from your sender</p>
                         </div>
                        <!--mobile version-->
                        <!-- <h3 class="ltbluetext nomargin xsonly xsnopadding" style="font-weight: 400">
                   			       <b> Need Tracking Info </b>
                   			</h3> -->
                   			<p class="greytext paddingtop5px paddingright5px xsonly">Enter your shipment's tracking info once you receive it from your sender</p>
                            
                 </div> <!--end div-xs-6 col-sm-12 with title and icon and text -->
                   
                 <!--div with buttons -- packages awaiting tracking -->
                 <div class="col-xs-6 col-sm-12 xspaddingleft5 xsnopadding">
                    	                        
                        <button type="button" class="bluebutton xsheight30px sheight40px" onclick="window.location='/dashboard/track_id{{sh.trans.id}}/#openModal_entertracking_id{{sh.trans.id}}';">
                            Add Tracking #</button>
                       
                        <button type="button"  class="bluebutton xsheight30px sheight40px" style="margin-top: 10px;" onclick="window.location='/dashboard/confirm_id{{sh.trans.id}}/#openModal_package_received_id{{sh.trans.id}}';">
                            I got my package!</button>  
                        
                        <!--next two buttons are non-mobile only - the mobile versions are coded below -->
                        <button type="button"  class="greybutton sheight40px xshide" style="margin-top: 10px;" 
                        	        onclick="window.location='/dashboard/message_id{{sh.trans.id}}/#openModal_message_id{{sh.trans.id}}';">
                                  Message {{ sh.trans.host.first_name }}</button>
                         
                        <button type="button" class="greybutton sheight40px xshide" style="margin-top: 10px;" 
                        	  			 ="window.location='/dashboard/issue_id{{sh.trans.id}}/#openModal_enduser_issue_id{{sh.trans.id}}';">
                             					Report an Issue</button>
                       
                                   
                    </div> <!-- end col-xs-6 col-sm-12 with buttons -->
                    
              </div> <!--end col-xs-12 col-sm-3 with title and buttons-->
               	
              <!--SHIPMENT DETAILS - AWAITING TRACKING -->
              <div class="col-xs-12 col-sm-8 xspaddingsides5 xsnopadding" style="padding-left: 5px;"> 
              	
                   <div class="col-xs-6 col-sm-9 xsnopadding"> 
                        
                        <!-- ROW WITH ICON IMAGES FOR PACKAGES AWAITING TRACKING -->
                        <div class="row xshide">
                            <div class="col-sm-5 marginbottom10px">
                                <div class="statusgrey" style="padding: 9px 4px;">
                                	   <i class="fa fa-shopping-cart fa-fw fa-3x statusicon"></i>  
                                 </div>
                            </div>
                            
                            <div> <div class="col-sm-2 shipdash"> </div>  </div>
                            
                            <div class="col-sm-5 marginbottom10px">
                                <div class="statusorange" style="padding: 9px 6px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-3x statusicon"></i>  </div>
                            </div>
                            
                            <!--  <div>  <div class="col-sm-2 shipdash"></div>  </div>
                            <div class="col-sm-2 marginbottom10px">
                                <div class="statusgrey" style="padding: 9px 5px;"><i class="fa fa-home fa-flip-horizontal fa-fw fa-3x statusicon"></i> </div>
                            </div> -->
                        </div> <!--end row with icons -->
                        	                        	
                       <!--ORDERED COLUMN: Packages Awaiting Tracking -->
                       <div class="row">
                        	  <div class="col-xs-12 col-sm-5 xsnopadding">
                                <p class="textcenter xshide">ORDERED</p>
                                <h4 class="nomargin">Order ID: <span style="font-weight:normal;"> {{sh.trans.id }} </span>
                                	 <br> Invoice: <span style="font-weight:normal;">  {{ sh.trans.invoice }} </span> 
                                	 <br> Placed on: <span style="font-weight:normal;">  {{ sh.trans.date_requested_notime }} </span>
                                   <br> Sent to <a href="">&nbsp;{{sh.trans.host.first_name}}</a>:
                                       <span style="font-weight:normal;"> <a class="nomargin" href="https://www.google.com/maps/place/{{sh.trans.host.st_address1}}+{{sh.trans.host.city}}+{{sh.trans.host.state}}+{{sh.trans.host.zipcode}}" target="_blank" class="nomargin">
                                                {{ sh.trans.host.st_address1 }}, {{ sh.trans.host.st_address2 }} ,
                                                 {{ sh.trans.host.city }}, {{ sh.trans.host.state }} {{sh.trans.host.zipcode}}
                                             </a> </span>
                                </h4>			
                            </div> <!--end firt col with ORDERED, packages awaiting trackin -->
                                                       
                            <!--AWAITING TRACKING: Final Colum, Packages Awaiting Tracking-->
                            <div class="col-xs-12 col-sm-5 col-lg-offset-2 xsnopadding">
                                <p class="textcenter xshide">AWAITING TRACKING #</p>
                                 <h4 class="nomargin">Tracking: 
                                      <!--display or enter tracking info -->
                                      <span style="font-weight:normal;">
                                         <a href="/dashboard/track_id{{sh.trans.id}}/#openModal_entertracking_id{{sh.trans.id}}" class="nomargin textcenter">Enter Tracking #</a>
                                      </span>
                                      <p> &nbsp </p>
                                  </h4>                                                         
                            </div> <!-- end div for final column, packages awaiting tracking -->
              
                      </div> <!--end row with shipping details -->
                      
                      
                   
                       
                  </div> <!--end COL-xs-6 col-sm-9 with all the shipping details and icons-->
                  
                  <!--second column for buttons - mobile only -->
                  <div class="col-xs-6 xsonly xspaddingleft5 xsnopadding">
                        <button type="button"  class="greybutton xsheight30px" style="margin-top: 10px;"  
                        	        onclick="window.location='/dashboard/message_id{{sh.trans.id}}/#openModal_message_id{{sh.trans.id}}';">
                                  Message {{ sh.trans.host.first_name }}</button>
   
                        <button type="button" class="greybutton xsheight30px" style="margin-top: 10px;" 
                        	  			 ="window.location='/dashboard/issue_id{{sh.trans.id}}/#openModal_enduser_issue_id{{sh.trans.id}}';">
                             					Report an Issue</button>
                   </div> <!--end col-xs-6 xsonly colume for buttons - mobile only -->
           		
           		</div>           
           
           </div> <!-- end dashinfobox-->
                     

                    
        {% endfor %} <!--END SHIPMETNS WAITING FOR TRACKING NUMBER -->





        <!--SHIPMENTS IN TRANSIT-->
        {% for sh in shipments_with_tracking_notcomplete_notdelivered %} 
                	
                {% ifequal confirm_id_int sh.trans.id %} {% include "dashboard_subtemplates/package_received_modal.html" %}  {% endifequal %}
                {% ifequal issue_id_int sh.trans.id %}  {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %}  {% endifequal %} 
              	{% ifequal message_trans_id_int sh.trans.id %}	{% include "dashboard_subtemplates/message_to_host_modal.html" %} {% endifequal %}
              	{% ifequal track_id_int sh.trans.id %} {% include "dashboard_subtemplates/edit_tracking_modal.html" %}  {% endifequal %}

            <!--outer div of each shipment in transit container -->
            <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px" style="padding-right: 5px;">                   

                  <div class="row nopadding">
                            <div class="col-xs-1 userbg nopaddingleft xshide">
                                <div class="package-i" style="width: 30px; height: 30px"></div>
                            </div>
                            
                            <!--non-mobile version--->
                            <h3 class="col-xs-11 ltbluetext nomargin nopaddingleftright xshide" style="padding-top: 5px; font-weight: 400">{% if sh.trans.title %}  {{ sh.trans.title }} 
                               	{% else %} No Title  {% endif %} 
                            </h3>
                            
                            <!--mobile version - title -->
                            <h3 class="col-xs-12 ltbluetext nomargin xsonly xsnopadding" style="padding-left: 5px; font-weight: 400">{% if sh.trans.title %}  {{ sh.trans.title }} 
                               	{% else %} No Title  {% endif %} 
                               	<!--<br> <b> In Transit </b> -->
                            </h3>
                  </div> <!--end div with icon and title-->
                                           
                  <div class="col-xs-12 col-sm-4 xspaddingright5" style="padding-left: 5px;">

                        
                      <!--Title and Button Column: Packages AWaiting Tracking -->                          
                      <div class="col-xs-6 col-sm-12 xsnopadding">

                         <div class="row nopadding">
                         	
                         	 <!--non-mobile version-->
                           <p class="greytext paddingtop5px xshide">Use the button to the right to see full tracking details. 
                           	  You will be notified when {{ sh.trans.host.first_name }} receives your package. </p>
                           
                           <!--mobile version-->
                            <h3 class="ltbluetext nomargin xsonly xsnopadding" style="font-weight: 400">
                   			       <b> In Transi </b>
                   			    </h3>
                   			    
                   			   <p class="greytext paddingtop5px paddingright5px xsonly">Use the button to the right to see full tracking details. 
        
                         
                         </div>
                         
                      </div> <!--end col-xs-6 col-sm-12 title and text -->
                      
                      <div class="col-xs-6 col-sm-12 xspaddingleft5 xsnopadding">
                        	<button type="button" name="package_received" class="bluebutton xsheight30px sheight40px" style="margin-top: 10px;" 
                        			onclick="window.open('https://blocbox.aftership.com/{{ sh.trans.tracking }}')"	>
                              Check Shipping Details</button>

                        	<!--message modal -->
                        	<button type="button" name="package_received" class="greybutton xsheight30px sheight40px" style="margin-top: 10px;" onclick="window.location='/dashboard/message_id{{sh.trans.id}}/#openModal_message_id{{sh.trans.id}}/#{{sh.trans.id}}';">
                              Message {{ sh.trans.host.first_name }}</button>

                          <button type="button" class="greybutton xsheight30px sheight40px" style="margin-top: 10px;" onclick="window.location='/dashboard/issue_id{{sh.trans.id}}/#openModal_enduser_issue_id{{sh.trans.id}}';">
                              Report an Issue</button>
                       
                     </div> <!-- end col-xs-6 col-sm-12 buttons -- packages in transit -->
									
									</div> <!-- end col-xs-12 col-sm-3, col containing title and buttons -->
										
								  <!--shipment details and icons - packages in transit -->
                  <div class="col-xs-12 col-sm-8 xspaddingleft5 xsnopadding" style="padding-top: 6px">
                     	
                        <div class="row xshide"> <!--ICON/IMAGES FOR PACKAGES IN TRANSIT -->
                            <div class="col-sm-5 marginbottom10px">
                                <div class="statusgrey" style="padding: 9px 4px;"><i class="fa fa-shopping-cart fa-fw fa-3x statusicon"></i> </div>
                            </div>
                            
                            <div> <div class="col-sm-2 shiparrow"></div> </div>
                            
                            <div class="col-sm-5 marginbottom10px">
                                <div class="statusgreen" style="padding: 9px 6px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-3x statusicon"></i> </div>
                            </div>
                            
                            
                            <!-- <div> <div class="col-sm-2 shipdash"></div>  </div>                           
                            <div class="col-sm-2 marginbottom10px">
                                <div class="statusgrey" style="padding: 9px 5px;"><i class="fa fa-home fa-flip-horizontal fa-fw fa-3x statusicon"></i>  </div>
                            </div> -->
                        </div> <!--end row with icons, packages in transit -->

                        
                        <!--row with shipmen info, shipments in transit--> 
                        <div class="row">
                           <div class="col-xs-12 col-sm-5 xsnopadding">
                                <p class="textcenter xshide">ORDERED</p>
                                <h4 class="nomargin">Order ID: <span style="font-weight:normal;"> {{sh.trans.id }} </span>
                                	  <br> Invoice: <span style="font-weight:normal;"> {{ sh.trans.invoice }} </span> 
                                	  <br> Placed on: <span style="font-weight:normal;">  {{ sh.trans.date_requested_notime }} </span>
                                	  <br> Sent to <a href="">&nbsp;{{sh.trans.host.first_name}}</a>:
                                       <span style="font-weight:normal;"> <a class="nomargin" href="https://www.google.com/maps/place/{{sh.trans.host.st_address1}}+{{sh.trans.host.city}}+{{sh.trans.host.state}}+{{sh.trans.host.zipcode}}" target="_blank" class="nomargin">
                                                {{ sh.trans.host.st_address1 }}, {{ sh.trans.host.st_address2 }} , 
                                                 {{ sh.trans.host.city }}, {{ sh.trans.host.state }} {{sh.trans.host.zipcode}}
                                             </a> </span>
                                </h4>
                                
                                <!--row-->
                            </div> <!--end col-xs-12 col-sm-5, col with ORDERED info -->
            
                           <div class="col-xs-12 col-sm-5 col-lg-offset-2 xsnopadding">
                               <p class="textcenter xshide">IN TRANSIT</p>
                               <h4 class="nomargin">Tracking Number:
                                	 
                                	  <span style="font-weight:normal;">  
                                     	  <a href="https://blocbox.aftership.com/{{ sh.trans.tracking }}" target="_blank">{{ sh.trans.tracking }} </a>
                                        <a href="/dashboard/track_id{{sh.trans.id}}/#openModal_edittracking_id{{sh.trans.id}}" class="nomargin textcenter">[Edit]</a>
																		</span>
                            
                                		{% if sh.trans.on_aftership %} 
                                				{% if sh.aftership.last_checkpoint.city %} 
                                					<br>		Last Checkpoint: <span style="font-weight:normal;"> {{sh.aftership.last_checkpoint.city }}, {{ sh.aftership.last_checkpoint.state }} </span>
                                				{% else %}
                                				  <br> Status: <span style="font-weight:normal;">  
                               	              {% if sh.trans.on_aftership %} {{sh.aftership.tag}}  {% else %} {{ sh.trans.last_tracking_status }}  {% endif %} </span>
                                				{% endif %}
                                		{% else %} <!--if not on aftership b/c expired get from our tables -->			
                                				{% if sh.trans.last_checkpoint_city %}
                                					<br> Last Checkpoint: <span style="font-weight:normal;"> {{ sh.trans.last_checkpoint_city }}, {{ sh.trans.last_checkpoint_state }} </span>
                                				{% else %}                                					
                                					<br> Status: <span style="font-weight:normal;">  
                               	              {% if sh.trans.on_aftership %} {{sh.aftership.tag}}  {% else %} {{ sh.trans.last_tracking_status }} {% endif %} </span>
                               	                                       				
                                				{% endif %} 
                                	{% endif %} <!--end if on aftership -->
                           
                                    <!--last updated -->                           
                                	  {% if sh.trans.on_aftership %} 
                                				  {% if sh.aftership.last_tracking_datetime %} 
                                				    <br>  Last Updated: <span style="font-weight:normal;"> {{ sh.aftership.last_tracking_datetime }} {% endif %} </span>
                                			{% else %} 
                                				  {% if sh.trans.last_tracking_datetime %} 
                                				  	 <br> Last Updated:  <span style="font-weight:normal;"> {{ sh.trans.last_tracking_datetime }} {% endif %} </span>
                                			{% endif %}

                                <br> Scheduled Delivery: <span style="font-weight:normal;">
                                    {% if sh.aftership.expected_delivery %} 
                                    		{{ sh.aftership.expected_delivery_notime }} 
                                    {% else %} You expected it to arrive 
                                    		{% if sh.trans.arrivalwindow_days_count == 1 %} on {{ sh.trans.arrivalwindow_day1 }} 
                                    		{% else %} {{ sh.trans.arrivalwindow_day1 }} - {{ sh.trans.arrivalwindow_lastday }} &nbsp; 
                                    		{% endif %} 
                                    {% endif %}  </span>
                                </h4>
                            </div> <!-- end col-xs-12 col-sm-5, second col with shipping info -->
                        
                        </div> <!--end row with shipping info, shipments in transit-->
                   
                    </div> <!--end col-xs-12 col-sm-9, with icons and shipping info, shipmetns in transi -->
                    
               </div> <!--end  dash infobox for each shipment in transit -->
               
          {% endfor %} <!--end looping through shipments in transit-->
            
            
            
          

         <!--COMPLETED SHIPMENTS Container-->
         {% for sh in shipments_complete_fordash %}
                <!--divider defining the whole current shipments part -->

                <!--INCLUD ALL OF THE MODAL SUBTEMPLATES - JUST FOR REPORT AN ISSUE -->
              {% ifequal issue_id_int sh.trans.id %}    {% include "dashboard_subtemplates/enduser_report_issue_modal.html" %} {% endifequal %}
                <!--CONTAINER WITH ALL OF THE TRANSACTIONS-->

             <div class="row dashinfobox dashfont smallmobilepaddingsides5 paddingbottom10px" style="padding-right: 5px;">
                 
                  <div class="row nopadding">
                              <!--title non-mobile version -->
                       <div class="col-xs-1 userbg nopaddingleft xshide">  
                            	 <div class="package-i" style="width: 30px; height: 30px"></div> 
                        </div>
                            
                        <h3 class="col-xs-11 ltbluetext nomargin nopaddingleftright xshide" style="padding-top: 5px; font-weight: 400">{% if sh.trans.title %}  {{ sh.trans.title }} 
                            	   	{% else %} No Title  {% endif %}                             
                        </h3>
                            
                        <!--title - mobile version -->
                        <h3 class="col-xs-12 ltbluetext nomargin xsonly xsnopadding" style="font-weight: 400; padding-left: 5px; ">{% if sh.trans.title %}  {{ sh.trans.title }} 
                            	   	{% else %} No Title  {% endif %}                             
                        </h3>
                 </div>
                            
                 <div class="col-xs-12 col-sm-4 xspaddingright5" style="padding-left: 5px;">
                      
                      <div class="col-xs-6 col-sm-12 xsnopadding">                            
                                                       
														
                            <div class="row nopadding">
                            	 <!--non-mobile verison-->
                               <p class="greytext paddingtop10px xshide">Archived shipments can be found in the past transactions section of your account page</p>
                            
                               <!--mobile version-->
                               <h3 class="ltbluetext nomargin xsonly xsnopadding" style="font-weight: 400">
                   			          <b> Completed </b>
                   			       </h3>
                               <p class="greytext paddingtop5px paddingright5px xsonly">Archived shipments can be found in the past transactions section of your account page</p>
                                
                            </div>
                            
                            
                            
                       </div> <!-- end col-xs-6 col-sm-12, col with title and icon -->
                        
                       <div class="col-xs-6 col-sm-12 xspaddingleft5 xsnopadding">
                           <button type="button" class="bluebutton xsheight30px sheight40px" style="margin-top: 10px;"  
                        	   onclick="window.location='/dashboard/archive_id{{sh.trans.id}}';"> Archive Shipment</button>
                           <!--JMY REMOVED 'MESSAGE JOHN' - NOT ESSENTIAL HERE - AND THE MORE WE CAN REMOVE THE FASTER IT WILL LOAD -->
                           <button type="button" class="greybutton xsheight30px sheight40px" style="margin-top: 10px;" onclick="window.location='/dashboard/issue_id{{sh.trans.id}}/#openModal_enduser_issue_id{{sh.trans.id}}';">
                               Report an Issue</button>
												</div> <!--end col-xs-6 col-sm-12, col with buttons -->
												
                 </div> <!-- END COL-SM-3 CONTAINING TITLE AND BUTTONS TO ARCHIVE SHIPMENT, ETC - COMPLETED SHIPMENTS -->
                    
                 
                 <!--shipment details - completed shipments -->
                 <div class="col-xs-12 col-sm-8 xspaddingleft5 xsnopadding" style="padding-top: 6px">
                     <div class="row xshide">
                       <div class="col-sm-5 marginbottom10px"> <div class="statusgrey" style="padding: 9px 4px;"><i class="fa fa-shopping-cart fa-fw fa-3x statusicon"></i> </div>  </div>
                      <!-- <div>   <div class="col-sm-2 shipline"></div>  </div>
                            <div class="col-sm-2 marginbottom10px">  <div class="statusgrey" style="padding: 9px 6px;"><i class="fa fa-truck fa-flip-horizontal fa-fw fa-3x statusicon"></i> </div> </div> -->                             
                       <div>  <div class="col-sm-2 shipline"></div> </div>
                       <div class="col-sm-5 marginbottom10px">  <div class="statusgreen" style="padding: 9px 5px;"><i class="fa fa-check fa-fw fa-3x statusicon"></i> </div> </div> 
                     </div> <!--end row containing icons -->

                  <div class="row"> <!--ROW CONTAINING COLUMNS, COMPLETED SHIPMENTS -->
                    	
                    			<!--first column-- COMPLETED shipments -->
                          <div class="col-xs-12 col-sm-5 xsnopadding">
                                <p class="textcenter xshide">ORDERED</p>
                                <h4 class="nomargin">Order ID: <span style="font-weight:normal;">   {{sh.trans.id }} </span>
                                	 <br> Invoice: <span style="font-weight:normal;">  {{ sh.trans.invoice }} </span>
                                	 <br> Placed on: <span style="font-weight:normal;"> {{ sh.trans.date_requested_notime }} </span>
                                	 <br> Sent to <a href="">&nbsp;{{sh.trans.host.first_name}}</a>:
                                       <span style="font-weight:normal;"> <a class="nomargin" href="https://www.google.com/maps/place/{{sh.trans.host.st_address1}}+{{sh.trans.host.city}}+{{sh.trans.host.state}}+{{sh.trans.host.zipcode}}" target="_blank" class="nomargin">
                                                {{ sh.trans.host.st_address1 }}, {{ sh.trans.host.st_address2 }} , 
                                                 {{ sh.trans.host.city }}, {{ sh.trans.host.state }} {{sh.trans.host.zipcode}}
                                             </a> </span>                                             
                                </h4>
                          </div> <!--end  shipment details: completed -->


                               	
                          <!--SECOND COLUMN, COMPLETED SHHIPMENTS-->
                          <div class="col-xs-12 col-sm-5 col-lg-offset-2 xsnopadding">
                            <p class="textcenter xshide">COMPLETED</p>
                            <h4 class="nomargin">
                                   Tracking Number: <span style="font-weight:normal;">  <a href="https://blocbox.aftership.com/{{ sh.trans.tracking }}" target="_blank">{{ sh.trans.tracking }} </a> </span>
															<br> Delivery Method: <span style="font-weight:normal;"> 
                                    {% if sh.trans.on_aftership %} 
                                    			{% if sh.aftership.shipment_type %}  {{ sh.aftership.shipment_type }} 
                                    			{% else %} {{ sh.trans.shipment_courier }} 
                                    		  {% endif%} 
                                   	{% else %} <!--if not on aftership -->
                                   			{% if sh.trans.shipment_courier %} 
                                   						{{ sh.trans.shipment_courier }} 
                                    		{% else %} You expected it to arrive
                                    					{% if sh.trans.arrivalwindow_days_count == 1 %} on {{ sh.trans.arrivalwindow_day1 }} 
                                    					{% else %} {{ sh.trans.arrivalwindow_day1 }} - {{ sh.trans.arrivalwindow_lastday }} &nbsp; 
                                    					{% endif %}
                                    		{% endif %} 
                                    {% endif %}  </span>
                              <br> {{sh.trans.last_tracking_status}}: <span style="font-weight:normal;"> {{sh.trans.last_checkpoint_date }} </span>
                              <br>  Order Completed: <span style="font-weight:normal;"> {{ sh.trans.date_completed }} </span>
                              <br>  Your Rating: <span style="font-weight:normal;"> {{ sh.trans.host.first_name}} {{sh.trans.enduser_rating}} / 5.0 </span>
                            </h4>
                          </div> <!--end second column, COMPLETED PAKAGES -->
                          
                  </div> <!--END ROW - INCLUDING FIRST AND SECOND COLUMN, COPMLETED PACAGS -->
                    
                 </div> <!--close COL-SM-9 CONTAINING ICON ROW AND ROW containing first and second column, completed shipments -->
                
             </div> <!--end dashinfo box - completed shipments -->       
        {% endfor %} <!--end for each shipment (completed) -->                       


        </div>
        <!--END COL WITH ALL TRANSACTIONS -->

        {% else %}
        <!--if user is not authenticated-->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 nopadding">
            <div class="col-xs-12 dashbox">
                <h3 class="margintop10px nopadding"> <a href="/login">Login to your account </a> to access your dashboard. </h3>
                <h6 class="nomargin">  <br>         	 	
                	<br> If you don't have an account, get started by <a href="/search/"> searching for a host in your neighborhood.</a> 
               		<br> If you can't find a host, <a href="/waitlist/">join our waitlist </a> to be notified when Blocbox comes to your neighborhood. 
               		 				
               		<br> If you're often at home during the day,  <a href="/signuphost/"> apply to serve as a Blocbox host</a> or <a href="/nudgeaneighbor/">tell a neighbor</a> about the opportunity. 
               		<br> <br> Questions or feedback? Email us at info@blocbox.co. 
               	  <br> <a href="/beta/">Return to the homepage (Beta)</a> 
               	  <br> <br>
               </h6>
            </div>
            <!--col-xs12 dashbox-->
        </div>
        <!--close if user is not authenticated-->
        {% endif %}

    </div>
    <!--row no padding-->
</div>
<!--contenet -->



{% endblock %}

<!-- <p class="col-xs-2 nomargin nopadding">RECENT</p>
<div class="col-xs-12 dashbox marginbottom60px">
    <div class="row">
        <h3 class="col-xs-3 margintop10px nopadding">Shipments</h3>
            </div>
            <div>-->