<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>


   <!-- old one, used 'key=';  new one uses CLIENT= -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEzt5IVa62j3CQ10oJ-rNtwzd4GsCHxXI"> 
    </script> 


<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            //higher/closer zoom is closer
            zoom: 13,
            //Center it at 420 Grand Ave, Brookly, NY 11238, 40.686529, -73.949413, approx grand and gates 
            center: { lat: -34.397, lng: 150.644},
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions); }


        google.maps.event.addDomListener(window, 'load', initialize);
    //window.onload = initialize;
</script>
</head>

<body>
<h1> TEST THIS IS DELMESEARCH - MAP SHOULD APPEAR BELOW </h1>
 <div id="map-canvas">   </div>
</body>
</html>