{% extends "blocbox/base.html" %}
<!--this is blocbox/core/templates/blocbox/host-profile-visitor.html, URL is http://www.blocbox.co/3/hostprofilevisitor/ (e.g., for john - user id #3) -->
{% load staticfiles %} 
{% block title %}Connect to Get Started{% endblock %}

{% block headafter %}	
  <!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
  <link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %}


{% block content %}

<div class="offwhitebackground">
    </div>

<div class="container">
    <h2>{{ host.first_name }}</h2><h5>{{ host.st_address1 }}</h5>
    <button onClick="window.location='/{{ host.id }}/signupconnect/';">+ &nbsp;Connect</button>
</div>


<div class="row paddingsides10px">
      <div class="col-xs-12 col-md-3 profilebox">
          <h4 class="redtext textcenter">Success Rate</h4>
          <div class="profileboxline" </div>
          <p>{{ host.favorsrequested }}<br>Favors Requested</p>  
          </div> 
      </div> 
      
      <div class="col-xs-12 col-md-6 profilebox"> <!--adding nopaddingsides so this image doesn't create unwanted margin in mobile -->
          <h4 class="orangetext">Hi Neighbor!</h4>
          <div class="profileboxline" </div>
          <div class="col-xs-12 col-md-10 col-md-offset-1">
              <p>{{ host.host_aboutme }}</p>
          </div>
      </div> 

      <div class="col-xs-12 col-md-3 profilebox">
          <h4 class="bluegreytext textcenter">When I'm Home</h4>
          <div class="profileboxline" </div>
              <p>Tuesday - Friday</p>
              <p>3 PM to 9PM</p>
  				</div>
  		</div> 


</div>
  
 




{% endblock %}
