<!--this is blocbox/core/templates/blocbox/host-profile-visitor.html, URL is http://www.blocbox.co/3/hostprofilevisitor/ (e.g., for john - user id #3) -->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}Connect to Get Started{% endblock %}

{% block headafter %}	
  <!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
  <link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %}



{% block content %}

<!--My attempt to color the background-->
<div class="container-fluid fillpage offwhitebackground text-center relativediv"> 
<!-- </div> JMY commenting this out - this was closing the container, but you dont want this until the end-->
    
<!--Attempt at a cover image> -->
<!--<div class="row">
        <div class="col-xs-12">
             <img class="profilecover" src="{% static 'blocbox/images/treelined-streetbw3.png' %}"  />
        </div>
    </div>-->
  
  
    <div class="row">
        <div class="col-xs-12">
            <div class="orangebackground profilecover"></div>
        </div>
        
    </div>
 
    
	<!--First Row of info> -->

<div class="row marginbottom20px hostinfobox relativediv">
    <div class="col-xs-12 col-md-offset-1 col-md-2 relativediv">
           <img class="profilepic" src="{% static 'blocbox/images/genderless-silh-whited.png' %}"  /> 
        </div>
    
        <div class="col-xs-12 col-md-1">
    	   <p class="hostname">{{ host.first_name }}</p> <!--class="hostname"-->
        </div>
    
        <div class="col-xs-12 col-md-2">
            <h5>{{ host.st_address1 }}</h5>
        </div>
    
   
        <div class="col-xs-12 col-md-offset-3 col-md-2">
            <button class="bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/';">+  Connect</button>
        </div>
	
	</div>  <!--closing row profilebox -->

	<!--Second Row of info> -->
	<div class="row marginbottom20px"> <!--paddingsides10px marginleftright20px --> 

    
    <!--you dont need this - use offset property instead - see that i added col-md-offset1 at line 50 
    <div class="col-md-1"></div>     -->

    <div class="col-xs-12 col-md-offset-1 col-md-2"> <!--  profilebox marginleftright10px-->
        <div class="profilebox">
            <p class="redtext sideboxtext">Success Rate</p>
            <div class="profileboxline"></div>
            <p class="paddingtop10px">{{ host.favorsrequested }}<br>Favors Completed</p>
        </div> 
    </div> 

    <div class="col-xs-12 col-md-6"> <!--profilebox  marginleftright10px adding nopaddingsides so this image doesn't create unwanted margin in mobile -->
        <div class="profilebox">
            <p class="orangetext centerboxtext">Hi Neighbor!</p>
          <div class="profileboxline"></div>
          <div class="col-xs-12 col-md-10 col-md-offset-1 paddingtopbottom10px">
              <p class="textleft">{{ host.host_aboutme }}</p>
          </div>
        </div>
          
    </div>

    <div class="col-xs-12 col-md-2"> <!-- marginleftright10px -->
        <div class="profilebox">
            <p class="bluegreytext textcenter sideboxtext">When I'm Home</p>
            <div class="profileboxline"></div>
              <p class="paddingtop10px">Tuesday - Friday</p>
              <p>3 PM to 9PM</p>
        </div>

  	</div>
    
    <!--dont need this
    <div class="col-md-1"></div> -->
			
	</div> <!--closing seecond row -->

	<!--Third Row of info> -->
	<div class="row marginbottom20px">
    
        <div class="col-xs-12 col-md-offset-1 col-md-2">
            <div class="row">
                <div class=" col-xs-12 col-md-2 profilebox">
                    <p class="bluegreytext sideboxtext">Currently Helping</p>
                    <div class="profileboxline"></div>
                    <p class="paddingtopbottom10px">{{ host.helpingneighbors }}<br>Neighbors</p>
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-12 col-md-2 profilebox">
                        <p class="greentext sideboxtext">Verified Info</p>
                    <div class="profileboxline"></div> <br>
                        <div class="row marginauto paddingtop10px">
                            <img class="col-xs-12 col-md-6 verifiedicons" src="{% static 'blocbox/images/house-icon.svg' %}"  />
                            <p class="col-xs-12 col-md-6 textcenter">Address</p>
                        </div>
                        <div class="row marginauto">
                            <img class="col-xs-12 col-md-6 verifiedicons" src="{% static 'blocbox/images/email-plane.svg' %}"  />
                            <p class="col-xs-12 col-md-6 textcenter">Email</p>
                        </div>
                        <div class="row marginauto">
                            <img class="col-xs-12 col-md-6 verifiedicons" src="{% static 'blocbox/images/mobile-icon.svg' %}"  />
                            <p class="col-xs-12 col-md-6 textcenter">Phone</p>
                        </div>
                        <div class="row marginauto">
                            <img class="col-xs-12 col-md-6 verifiedicons" src="{% static 'blocbox/images/facebook-icon.svg' %}"  />
                            <p class="col-xs-12 col-md-6 textcenter">Facebook</p>
                        </div>
                    </div>
                </div>
        </div>

    <div class="col-xs-12 col-md-6 nopaddingsides profilebox"> <!--adding nopaddingsides so this image doesn't create unwanted margin in mobile -->
            <p class="ltbluetext centerboxtext">Package Receipt</p>
            <div class="profileboxline"></div>
            <div class="col-xs-12 col-md-offset-1 col-md-10 paddingtop5px">
              <p class="textleft paddingtopbottom5px">{{ host.first_name }} garuntees to be at home to recieve your package. {{ host.first_name }} will be available during posted times to allow you to retrieve your package at your conveinience.</p> <br>
              <div class="row">
                  <p class="col-xs-6">PER PACKAGE</p>
                  <p class="col-xs-6">$1.99 Per Package</p>
              </div>
              <div class="profileboxline"></div>
              <div class="row">
                  <p class="col-xs-6">MONTHLY</p>
                  <p class="col-xs-6">$7.99 for 10 packages/ month</p>
              </div>
              <div class="profileboxline"></div>
              <div class="row">
                  <p class="col-xs-6">UNLIMITED</p>
                  <p class="col-xs-6">$14.99 for 10 packages/ month</p>
              </div>
              <br>
              <div class="row">
                  <p class="col-xs-6 ltbluetext paddingtopbottom5px">Try your first package for free</p>
                  <button class="colxs-6 paddingtopbottom5px">Start a Shipment</button>
              </div>
            </div>
      </div>

      <div class="col-xs-12 col-md-2">
          <div class="profilebox">
            <p class="purpletext sideboxtext">Other Offers</p>
          <div class="profileboxline"></div>
              <p class="paddingtop10px">- Storage</p>
              <p>- House Sitting</p>
              <p>- Pet Care</p>
              <button class="paddingtopbottom5px">Request Favor</button>
          </div>
  		</div> 

	</div> <!--closing third row -->
    
    <!--Fourth Row of info> -->
    
<div class="row marginbottom20px">
    
        
    </div>
    <br>
    <br>
    <br>
 
</div> <!--closing container-fluid that contains whole page -->



{% endblock %}
