{% extends "blocbox/base.html" %}
<!--this is blocbox/core/templates/blocbox/host-profile-visitor.html, URL is http://www.blocbox.co/3/hostprofilevisitor/ (e.g., for john - user id #3) -->
{% load staticfiles %} 
{% block title %}Connect to Get Started{% endblock %}

{% block headafter %}	
  <!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
  <link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %}



{% block content %}

<!--My attempt to color the background-->
<div class="container-fluid fillpage offwhitebackground text-center relativediv">
<!-- </div> JMY commenting this out - this was closing the container, but you dont want this until the end-->
    
<!--Attempt at a cover image> -->
  <!--  <div class="row">
        <div class="col-xs-12">
             <img class="profilecover" src="{% static 'blocbox/images/treelined-streetbw3.png' %}"  />
        </div>
    </div>-->
    
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <img src="{% static 'blocbox/images/JB.png' %}" height="200" width="200"  />
        </div>
    
    </div>
    
	<!--First Row of info> -->
	<div class="row paddingsides10px hostinfobox">
    
        <div class="col-md-2"></div>
    
        <div class="col-xs-12 col-md-3">
    	   <h2>{{ host.first_name }}</h2>
        </div>
    
        <div class="col-xs-12 col-md-3">
            <h5>{{ host.st_address1 }}</h5>
        </div>
    
        <div class="col-xs-12 col-md-2">
            <button onClick="window.location='/{{ host.id }}/signupconnect/';">+  Connect</button>
        </div>
    
        <div class="col-md-2"></div>
	
	</div> <!--closing row profilebox -->

	<!--Second Row of info> -->
	<div class="row paddingsides10px marginleftright20px"> <br>
    
    <!--you dont need this - use offset property instead - see that i added col-md-offset1 at line 50 
    <div class="col-md-1"></div>     -->
    
    <div class="col-xs-12 col-md-2 col-md-offset-1 profilebox marginleftright10px">
        <h4 class="redtext textcenter">Success Rate</h4>
        <div class="profileboxline"></div>
        <p>{{ host.favorsrequested }}<br>Favors Requested</p>
    </div>

    <div class="col-xs-12 col-md-6 profilebox marginleftright10px"> <!--adding nopaddingsides so this image doesn't create unwanted margin in mobile -->
          <h4 class="orangetext">Hi Neighbor!</h4>
          <div class="profileboxline"></div>
          <div class="col-xs-12 col-md-10 col-md-offset-1">
              <p>{{ host.host_aboutme }}</p>
            </div>
    </div>

    <div class="col-xs-12 col-md-2 profilebox marginleftright10px">
          <h4 class="bluegreytext textcenter">When I'm Home</h4>
          <div class="profileboxline"></div>
              <p>Tuesday - Friday</p>
              <p>3 PM to 9PM</p>
  	</div>
    
    <!--dont need this
    <div class="col-md-1"></div> -->
			
	</div> <!--closing seecond row -->

	<!--Third Row of info> -->
	<div class="row paddingsides10px marginleftright20px"> <br>
    
    <div class="col-xs-12 col-md-2 col-offset-1 profilebox marginleftright10px">
        <h4 class="bluegreytext textcenter">Currently Helping</h4>
        <div class="profileboxline"></div>
        <p>{{ host.helpingneighbors }}<br>Neighbors</p>
    </div>

    <div class="col-xs-12 col-md-6 profilebox marginleftright10px"> <!--adding nopaddingsides so this image doesn't create unwanted margin in mobile -->
          <h4 class="ltbluetext">Package Receipt</h4>
          <div class="profileboxline"></div>
          <div class="col-xs-12 col-md-10 col-md-offset-1">
              <p>{{ host.first_name }} garuntees to be at home to recieve your package. (Gender Pronoun) will be available during posted times to allow you to retrieve your package at your conveinience</p>
              <div class="row">
                  <p class="col-xs-6">PER PACKAGE</p>
                  <p class="col-xs-6">$1.99 Per Package</p>
              </div>
              <div class="profileboxline"></div>
              <div class="row">
                  <p class="col-xs-6">MONTHLY</p>
                  <p class="col-xs-6">$7.99 for 10 packages/ month</p>
              </div>
              <div class="profileboxline"></div>
              <div class="row">
                  <p class="col-xs-6">UNLIMITED</p>
                  <p class="col-xs-6">$14.99 for 10 packages/ month</p>
              </div>
              <br>
              <br>
              <p class="ltbluetext">Try your first package for free</p>
              
            </div>
      </div>

      <div class="col-xs-12 col-md-2 profilebox marginleftright10px">
          <h4 class="purpletext textcenter">Other Offers</h4>
          <div class="profileboxline"></div>
              <p>- Storage</p>
              <p>- House Sitting</p>
              <p>- Pet Care</p>
              <button>Request Favor</button>
  		</div> 

	</div> <!--closing third row -->
    
    <!--Fourth Row of info> -->
    
    <div class="row paddingsides10px marginleftright20px"> <br>
    
        <div class="col-xs-12 col-md-2 col-offset-1 profilebox marginleftright10px">
            <h4 class="greentext textcenter">Verified Info</h4>
            <div class="profileboxline"></div>
            <p>Address</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Facebook</p>
        </div>
    </div>
 
</div> <!--closing container-fluid that contains whole page -->



{% endblock %}
