{% extends "blocbox/base.html" %}
<!--this is blocbox/core/templates/blocbox/host-profile-visitor.html, URL is http://www.blocbox.co/3/hostprofilevisitor/ (e.g., for john - user id #3) -->
{% load staticfiles %} 
{% block title %}Connect to Get Started{% endblock %}


{% block headafter %}	
  <!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
  <link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %}


{% block content %}

  <div class="container">
    <p>{{ host.first_name }}</p>
    <p>{{ host.st_address1 }}</p>
    <button onClick="window.location='/{{ host.id }}/signupconnect/';">+ &nbsp;Connect</button>
  </div>
  
  
  <div class="container">
    <p>Hi&nbsp;Neighbor!</p>
    <div class="container">
    	<p> {{ host.host_aboutme }}</p>
    </div>
  </div>
  
  <div class="container">
      <p> {{ host.first_name}} is Currently Helping {{ host.currentlyhelping }} Neighbors<br></p> 
  </div>
  
  <div class="container">
      <p class="text text-26">Success Rate</p>
      <p>{{ host.hostrating }}% Success Rate</p>
      <p>&nbsp;{{ host.favorsrequested }} Favors Requested</p>
  </div>
  
  <div class="container">
      <p>Package Receipt</p>
    	<p>{{ host.first_name}} guarantees to be at home to receive your package. {{host.first_name}} will be available during posted times to allow you to retrieve your package at your conveinience.</p>
    	<p>PACKAGE RECEIPT OPTIONS</p>
    	<p>PER PACKAGE</p>
    	<p>$1.99 Per Package</p>
    	<p>MONTHLY</p>
    	<p>$7.99 for 10 packages/ month</p>
    	<p>UNLIMITED</p>
   	 	<p>$14.99 for 10 packages/ month</p>
    	<p>Try your first package for free</p>
    <button onClick="window.location='/{{ host.id }}/signupconnect/';">Start a Shipment</button>
  </div>
  
   <div class="container">
      	<p>Other Offers from {{ host.first_name}}  :</p>
        <p>- Storage</p>
        <p>- House Sitting &nbsp;&nbsp;</p>
        <p>- Pet Care</p>    
  	<button onClick="window.location='/{{ host.id }}/signupconnect/';">Request Other Favor </button> -->
  </div>
  
  
  <div class="container">
      <p>When I'm Home</p>
      <p>Tuesday - Friday</p>
      <p>3 PM to 9PM</p>
	</div>
	
  <div class="container">
      <p>Verified Info</p>
    	<img src="images/iconmonstr-paper-plane-2-icon.svg">
    	<p>Facebook</p>
    	<img src="images/1397247794_46-facebook.svg">
    	<img src="images/1397247711_home.svg">
    	<!--JMY NOTE: add python to link to neighborhood field here-->
    	<p>Clinton Hill</p>
    	<p>NextDoor</p>
    	<p>Phone&nbsp;Number</p>
    	<p>Email&nbsp;Address</p>
  </div>
  
 




{% endblock %}
