<!--this is blocbox/core/templates/bocbox/jesstest.html, extends base.html, URL is www.blocbox.co/jesstest -->
{% extends "blocbox/base.html" %}

{% block title %}Jess Test / JessTest.html {% endblock %}

<!--the title of the current page that will appear as active/greyed i the navbar -->
{% block navbartitle %} JessTest {% endblock %}

{% block content %}

		<!-- CALENDAR TEST -->		
		<div class="container-fluid">     
				<br><br>
				
					<!--	TEST THE CALENDAR APPS: the calendar_bi_month.html calls the calendar for first month with: "{ %" month_table calendar periods.month "small"  "%  }" -->
						<!--	{ % month_table calendar periods.month "small" % } -->
						
			{% load i18n %}
			{% load scheduletags i18n %}
			{% load scheduletags %}
			
			<!--SHOW LIST OF AVAILABLE CALENDARS	 -->
			<div class="row">	<h3>Available Calendars (List with Links) </h3>
							{% for calendar in cal_list %} <!--HOW DOES IT KNOW WHAT THE OBJECT LIST IS?-->
								<li> <b>{{ calendar }}</b> :
  									<a href="{% url "compact_calendar" calendar.slug %}">{% trans "Small Month" %}</a> --
  									<a href="{% url "month_calendar" calendar.slug %}">{% trans "1 Month" %}</a> --
  									<a href="{% url "bi_month_calendar" calendar.slug %}">{% trans "2 Months" %}</a> --
  									<a href="{% url "year_calendar" calendar.slug %}">{% trans "This Year" %}</a> --
  									<a href="{% url "week_calendar" calendar.slug %}">{% trans "Weekly" %}</a> --
  									<a href="{% url "day_calendar" calendar.slug %}">{% trans "Daily" %}</a> --
  									<a href="{% url "upcoming_events_feed" calendar.id %}">{% trans "Feed" %}</a>
  							</li>
  							<br/>
						{% endfor %}
			</div>				
						
			<!--SHOW EVERY CALENDAR-->
			<div class="row">   <h3>Show Every Calendar </h3> </div>			
			<p>DELME - SHOW CAL_LIST {{ cal_list }} </p>
			<p>DELME - SHOW CAL_LIST.SLUG {{ cal_list.slug }} </p>
				{% for caleach in cal_list %}
								<div class="row">
										<div class="col-xs-12 col-sm-6"> <h4>Text to the left for {{ calendar.slug }} </h4></div>
										<div class="col-xs-12 col-sm-6"> 
												<h3 style="text-align: center">  {{ caleach.slug }} </h3>
													<p>TEST thismonth_objects for {{ caleach.slug }} : {{ thismonth_objects }}</p>
													<p>TEST cal_slugs : {{ cal_slugs }}   </p>
													<p>TEST thismonth_objects.testcalendar1 : {{ thismonth_objects.testcalendar1 }}</p>
													
													<p>DELME - CALENDAR1</p>
													<!--
															<div class="col-xs-12 col-sm-6">	{  % month_table caleach thismonthobject_single "small" %  }  	</div> 														
													-->
													<!--		<div class="col-xs-12 col-sm-6">  {  % month_table calendar thismonth_objects.testcalendar1 "small" +1 %  }	</div> -->
											<!--		<p>DELME - CALENDAR2</p>
															<div class="col-xs-12 col-sm-6">	{  % month_table calendar thismonth_objects.caleach.slug "small" %  }  	</div> 													
															<div class="col-xs-12 col-sm-6">  {  % month_table calendar thismonth_objects.caleach.slug "small" +1 %  }	</div> 
												-->
										</div>			
								</div> <!--row with cal-->
				{% endfor %}
			
			
			<!--SHOW TESTCALENDAR1 -->
			<div class="row"> 	<h3> Show the TestCalendar1..I Can't Show Each..specifying this in the jesstest view.</h3> 									
					<div class="col-xs-12 col-sm-6"> 
							<h4>This is TestCalendar1, showing availablility for Two Months. It is called in the jesstest aviea. I Need to make the following changes:</h4> 
											<p>1) Link the calendar name toa  particular host </p>
											<p>2) Update page view so that it calls the calendar name associated with the host    </p>
											<p>3) make this calendar view show balckout dates - so maybe color the days if unvailability  </p>
					</div>
							
					<div class="col-xs-12 col-sm-6">
								<h3 style="text-align: center">  {{ calendar_single.slug }} </h3>
								<div class="col-xs-12 col-sm-6">	{% month_table calendar_single thismonth_object_single "small" %}  	</div> 
								<div class="col-xs-12 col-sm-6"> {% month_table calendar_single thismonth_object_single "small" +1 %}	</div> 
					</div> <!--col, cal name -->
			</div> <!--row with the bi_month_calendar - TestCaledar1 -->
						
								
			<div class="row">   	<h3>Show Other Calendar Variables </h3>
							<h6> SHOW DATE: {{ date }} </h6> <!--Nov. 12, 2014, 3 p.m. (that was the current time) -->
							<h6> SHOW MONTH {{ month }}, SHOW MONTH.NAME: {{ month.name }} ,SHOW MONTH.START: {{ month.start }}   </h6> <!--December  where is month_name defgined???-->
							<!-- where are month fujnctions defined ?? -->
							<h6> SHOW QUERYSTRING_FOR-DATE MONTH.START 2 TRUE: {% querystring_for_date month.start 2 True %}  </h6> <!--?year=2014&month=12  -->
							<h6> SHOW THISMONTHname : {{ thismonthname }}  </h6>
							<h6> SHOW CALENDAR_OBJECTS : {{ calendar_objects }}  </h6>
							<h6> SHOW CALENDAR_OBJECTS.testcalendar1 : {{ calendar_objects.testcalendar1 }}  </h6>
			</div>
					
				<br><br>
		</div>
		
		<!--INBOX COUNTER TEST -->
		<div class="container-fluid">
				<br><br>
				{% load inbox %}	
				<p>TEST INBOX MESSAGE COUNTER: YOU HAVE {% inbox_count %}  NEW MESSAGES </p>				
				<br><br>			
		</div>
		
		
		<!--orangecontent -->
		<div class="container-fluid orangebackground"> <!-- start orange container -->    		         
  				<h1> <p>Test orange content in jesstest.html - p within h1 </p> </h1>
  				<h1> Test H1 without paragraph tags </h1> 
  				<p>test test - Test Paragraph Text - should be within an orange container</p> 	
  	</div> <!--endingn top orange container -->
  
    <!--testing other containers-->
		<div class="container-fluid bluebackground">
			<p>Testing the block bluecontent</p>
		</div>
		<div class="container-fluid darkbluebackground">
			<p>Testing the block darkbluecontent</p>
		</div>
		<div class="container-fluid greenbackground">
			<p>Testing the block greencontent</p>
		</div>
		
{% endblock %}		

