<!--this is blocbox/core/templates/bocbox/jesstest.html, extends base.html, URL is www.blocbox.co/jesstest -->
{% extends "blocbox/base.html" %}

{% block title %}Jess Test / JessTest.html {% endblock %}

<!--the title of the current page that will appear as active/greyed i the navbar -->
{% block navbartitle %} JessTest {% endblock %}

{% block content %}

		<!-- CALENDAR TEST -->		
		<div class="container-fluid">     
				<br><br>
				
					<!--	TEST THE CALENDAR APPS: the calendar_bi_month.html calls the calendar for first month with: "{ %" month_table calendar periods.month "small"  "%  }" -->
						<!--	{ % month_table calendar periods.month "small" % } -->
						
					{% load i18n %}
					{% load scheduletags i18n %}
					{% load scheduletags %}
					
					<h3>Available Calendars (List with Links) </h3>
							{% for calendar in cal_list %} <!--HOW DOES IT KNOW WHAT THE OBJECT LIST IS?-->
								<li> <b>{{ calendar }}</b> :
  									<a href="{% url "compact_calendar" calendar.slug %}">{% trans "Small Month" %}</a> --
  									<a href="{% url "month_calendar" calendar.slug %}">{% trans "1 Month" %}</a> --
  									<a href="{% url "bi_month_calendar" calendar.slug %}">{% trans "2 Months" %}</a> --
  									<a href="{% url "year_calendar" calendar.slug %}">{% trans "This Year" %}</a> --
  									<a href="{% url "week_calendar" calendar.slug %}">{% trans "Weekly" %}</a> --
  									<a href="{% url "day_calendar" calendar.slug %}">{% trans "Daily" %}</a> --
  									<a href="{% url "upcoming_events_feed" calendar.id %}">{% trans "Feed" %}</a>
  							</li>
  							<br/>
						{% endfor %}
					<h3> Show Each Full Calendar</h3> 
							{% for calendar in cal_list %}
									<div class="row">
											<h5> {{ calendar }} </h5>
											<!-- the year is screning up - its not passing the "year" argument to the view
												{  % month_table calendar periods.month "small" %  }
											-->
												{% month_table calendar periods.month "small" %}
									</div>
							{% endfor %}
					
				<br><br>
		</div>
		
		<!--INBOX COUNTER TEST -->
		<div class="container-fluid">
				<br><br>
				{% load inbox %}	
				<p>TEST INBOX MESSAGE COUNTER: YOU HAVE {% inbox_count %}  NEW MESSAGES </p>				
				<br><br>			
		</div>
		
		
		<!--orangecontent -->
		<div class="container-fluid orangebackground"> <!-- start orange container -->    		         
  				<h1> <p>Test orange content in jesstest.html - p within h1 </p> </h1>
  				<h1> Test H1 without paragraph tags </h1> 
  				<p>test test - Test Paragraph Text - should be within an orange container</p> 	
  	</div> <!--endingn top orange container -->
  
    <!--testing other containers-->
		<div class="container-fluid bluebackground">
			<p>Testing the block bluecontent</p>
		</div>
		<div class="container-fluid darkbluebackground">
			<p>Testing the block darkbluecontent</p>
		</div>
		<div class="container-fluid greenbackground">
			<p>Testing the block greencontent</p>
		</div>
		
{% endblock %}		

