{% extends "blocbox/base.html" %}
<!--this is blocbox/core/templates/bocbox/jesstesting.html -->

{% block title %}Testing title - testextendbase.html {% endblock %}

<!--the title of the current page that will appear as active/greyed i the navbar -->
{% block navbartitle %} JessTest {% endblock %}

{% block content %}
<p>Testing the block content</p>
{% endblock %}

{% block bluecontent %}
<p>Testing the block bluecontent</p>
{% endblock %}

{% block darkbluecontent %}
<p>Testing the block darkbluecontent</p>
{% endblock %}

{% block greencontent %}
<p>Testing the block greencontent</p>
{% endblock %}