{% extends "blocbox/basewaitlist.html" %}
<!--this is blocbox/core/templates/bocbox/waitlist-confirmation.html, url is http://www.blocbox.co/waitlistconfirmation/-->
{% load staticfiles %} {% block title %} Waitlist Subscription Confirmation {% endblock %} {% block topcontent %}

<div class="row-fluid fullheight">
    <h1 class="nomargintop" style="padding-top: 170px">Thank You!<br>
We'll be in touch</h1>
    <div class="row paddingtop20px SafariFix">
        <form action="http://blocbox.us8.list-manage.com/subscribe/post?u=a7a534bd9460b420e502241f0&amp;id=a442e04636" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="paddingsides15px SafariFix" target="_blank" novalidate>
            <div class="row font1pt5em">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-3">
                    <input name="EMAIL" placeholder="EMAIL" class="inputbox form-control-orange margintop5px whitetext SafariFix" type="email">
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-0">
                    <input name="ZIPCODE" placeholder="ZIP" class="inputbox form-control-orange margintop5px whitetext" type="text">
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-2 col-md-offset-0 paddingtop15pxmobile SafariFix">
                    <button type="submit" value="Join Waitlist" name="subscribe" class="whitebackground orangetext waitlistjoinbtn margintop5px">Join Waitlist</button>
                </div>
            </div>
            <!--row -->

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 nopaddingmobile">
                    <div class="checkbox text-center">
                        <label value="1" name="group[1689][1]">
                            <input type="checkbox">I'm often at home and I want to learn more about making extra cash as a Blocbox Host
                        </label>
                    </div>
                    <!--checkbox -->
                </div>
                <!--row col-md-6 col-md-offset-3 -->
            </div>
            <!--row-->
        </form>
        <!-- <a href="privacy-policy.html">By Signing Up, I Agree to Blocbox's Privacy Policy</a> -->
    </div>
</div>

{% endblock %}