{% extends "blocbox/basewaitlist.html" %}
<!--this is blocbox/core/templates/bocbox/waitlist-confirmation.html, url is http://www.blocbox.co/waitlistconfirmation/-->
{% load staticfiles %} {% block title %} Waitlist Subscription Confirmation {% endblock %} {% block topcontent %}

<div class="row-fluid fullheight">

    <div class="col-xs-4 col-xs-offset-4">
        <h2 class="nomargintop" style="padding-top: 140px">Sign Up</h2>
        <h3 class="paddingbottom20px" style="font-size: 1.7em">Launching soon in select neighborhoods</h3>
        <form action="http://blocbox.us8.list-manage.com/subscribe/post?u=a7a534bd9460b420e502241f0&amp;id=a442e04636" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="paddingsides15px" target="_blank" novalidate>
            <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 form-group">
                <input name="EMAIL" placeholder="EMAIL" class="form-control input-lg inputbox margintop5px" type="email">
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 paddingtop15px form-group">
                <input name="ZIPCODE" placeholder="ZIP" class="form-control input-lg inputbox margintop5px" type="text">
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 paddingtop10px nopaddingmobile waitlistcheck">
                <div class="checkbox checkbox-success checkbox-inline text-center">
                        <input id="inlineCheckbox1" type="checkbox" value="option1">
                    <label for="inlineCheckbox1" value="1" name="group[1689][1]">
                        <h6 class="nomargin textleft paddingleft10px">I'm interested in becoming a host, helping my neighbors and making some extra money</h6>
                    </label>
                </div>
                <!--checkbox -->
            </div>

            <div class="col-xs-12 paddingtop20px paddingtop15pxmobile SafariFix">
                <button type="submit" value="Join Waitlist" name="subscribe" class="btn-get-started margintop5px" style="width: 390px;">Join Waitlist</button>
            </div>
            <!--row -->

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!--row-->
        </form>
        <!-- <a href="privacy-policy.html">By Signing Up, I Agree to Blocbox's Privacy Policy</a> -->
    </div>
    <div class="text-center alignbottomdiv mobilehide">
        <a href="#howitworks">
            <img src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
        </a>
    </div>
</div>

{% endblock %}