<!--this is blocbox/templates/myblock.html -- URL is www.blocbox.co/myblock, linked from dashboard -->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}My Block{% endblock %}

{% block headafter %} {% endblock %} 

{% block content %}

<div class="container-fluid whitebackground relativediv">

    <div class="row margintop60px marginbottom30px mobilehide">
        <a href="/dashboard/" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtextcurrent textcenter">MY BLOCK</a>
        <p class="col-xs-2 subnavtext textcenter">PROFILE</p>
        <p class="col-xs-2 subnavtext textcenter">ACCOUNT</p>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="profileboxline100"></div>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-3 mobilehide">
            <img class="dashpic" src="{% static 'blocbox/images/profilepics/jessyeats.png' %}"  /> 
            <h3 class="margintop10px nomarginbottom textcenter">{{ user.first_name }}</h3>
            <p class="darkgreytext margintop5px tinytext textcenter">EDIT PROFILE</p>
            <p class="darkgreytext margintop5px tinytext textcenter">HOME</p>
            <p class="darkgreytext margintop5px tinytext textcenter">{{ user.address }}</p>
            <p class="darkgreytext margintop5px tinytext textcenter">CONNECTIONS</p>
            <p class="darkgreytext margintop5px tinytext textcenter">XX</p>
            <div class="profileboxline margintop20px marginbottom20px"></div>
            <p  class="col-xs-8 col-xs-offset-2 ltbluetext textcenter">Invite Your Neighbors</p>
            <p  class="col-xs-8 col-xs-offset-2 ltbluetext textcenter margintop20px">Become a Host</p>
            <p  class="col-xs-8 col-xs-offset-2 ltbluetext textcenter margintop20px">Love Blocbox?</p>
        </div>



        <div class="col-xs-8">
            <p class="col-xs-2 ltbluetext nopadding nomargin">MY BLOCK</p>
            <div class="col-xs-12 col-sm-12 dashbox margintop10px marginbottom30px">
                <div class="row margintop20px marginbottom20px">
                    <img class="myblockmap" src="{% static 'blocbox/images/Block-map.png' %}"  />
                </div>
            </div>

            


            <p class="col-xs-2 ltbluetext nomargintop marginbottom10px nopadding">MY CONNECTIONS</p>
            <div class="col-xs-12 dashbox marginbottom60px">
                <div class="row margintop10px marginbottom10px">
                   <div class="col-xs-2 nopadding">
                        <img class="blockpic nopadding" src="{% static 'blocbox/images/JB-2.png' %}"  />
                    </div>
                    <div class="col-xs-8 nopadding marginleftneg25">
                        <div class="row">
                            <h3 class="margintop5px nomarginbottom">John</h3>
                            <p class="marginbottom5px darkgreytext">420 GRAND AVE. APT 2</p>
                            <p>OFFERING: Package Receipt - House Sitting - Dog Walking - Storage</p>
                        </div>
                    </div>
                    <div class="col-xs-2 margintop40px">
                        <p class="darkgreytext textcenter">MESSAGE</p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>



{% endblock %} 