<!--this is core/templates/blocbox/nudge-a-neighbor.html - url is blocbox.co/nudgeaneighbor. it extends base.html-->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Nudge a Neighbor{% endblock %} {% block headafter %} {% endblock %} {% block content %}
<div class="content container-fluid">
    <!--this is the container that surrounds the form, too short -->

    <br>
    <br>
    <h3>John to add NUDGE A NEIGHBOR stuff - get friends to become hosts etc</h3>

</div>
{% endblock %}
