<!--this is core/templates/blocbox/account.html - url is blocbox.co/account. it extends base.html-->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Past Transactions{% endblock %} {% block headafter %} {% endblock %} {% block content %}
<div class="content container-fluid offwhitebackground relativediv">
    <!--this is the container that surrounds the form, too short -->

    <div class="row margintop30px marginbottom10px mobilehide">
        <a href="dashboard.html" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <a href="/profile/" class="col-xs-2 subnavtext textcenter">PROFILE</a>
        <a href="/account/" class="col-xs-2 subnavtextcurrent textcenter">ACCOUNT</a>

        <div class="col-xs-10 col-xs-offset-1 paddingtop10px">
            <div class="profileboxline100"></div>
        </div>
    </div>
    <!--emd top row-->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 marginbottom30px">

        <div class="row">
            <!--top navigation row for the subpages-->
            <a href="/account/" class="col-xs-2 col-xs-offset-2 subnavtext textcenter">NOTIFICATIONS</a>
            <a href="/payment-options/" class="col-xs-2 subnavtext textcenter">PAYMENT</a>
            <a href="/past-transactions/" class="col-xs-2 subnavtext darkgreytext textcenter">PAST TRANSACTIONS</a>
            <!--<a href="/security/" class="col-xs-2 subnavtext textcenter">SECURITY</a>-->
            <a href="/settings/" class="col-xs-2 subnavtext textcenter">SETTINGS</a>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 margintop30px paddingbottom20px">
            <div class="profilebox">
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Past Tasks</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px" style="padding-left: 7.5%; padding-right: 7.5%">

                   <div class="col-xs-12 col-sm-12 offwhitebackground margintop30px paddingtop10px" style="padding-left: 25px">
										
										
										
								<!--PAST TRANSACTIONS -->
								{% for trans in shipments_archived %}										
                       
                        
                <div class="row dashinfobox dashfont" style="padding-right: 5px;">
                    <div class="col-sm-11" style="padding-left: 5px;">
                        <div class="row">
                            <div class="col-xs-2 userbg nopaddingleft">
                                <div class="package-i" style="width: 30px; height: 30px"></div>
                            </div>
                            <h3 class="col-xs-10 ltbluetext nomargin paddingleft15px" style="padding-top: 5px; font-weight: 400">Package Receipt: {% if trans.title %}  {{ trans.title }} {% else %} Enter Package Description {% endif %} </h3>
                        </div>
                    </div>
                    <!--SHIPMENT DETAILS: ORDER DATE, TITLE, SHIPPING SPEED, AND TRACKING INFORMATION (waiting to be pickd up) -->

                      	<div class="row">
                            <div class="col-xs-4 col-sm-4">
                                <p class="textcenter">ORDERED</p>
                                <h4 class="nomargin">Order {{trans.id }} placed on</h4>  <p class="nomargin dashtext">{{ trans.date_requested_notime }}</p>
                            </div>
                            <!--end  shipment details: waiting to be picke dup packages -->

                            <!--NEIGHBOR: host name and information (waiting ot be picked up)-->
                            <div class="col-xs-4 col-sm-4">
                                <!--neigbor name-->
                                <p class="textcenter">DELIVERED</p>
                                <h4 class="nomargin">Tracking Number</h4>
                                <div class="row nomargin">
                                    <p class="nomargin"><a href="https://blocbox.aftership.com/{{ trans.tracking }}" target="_blank">{{ trans.tracking }} </a> </p>
                                </div>
                            </div>
                            <!--End Neighbor Column (packages waiting to be picked up) -->

                            <!--COL WITH BUTTON TO CONFIRM/REVIEW OR REPORT AND ISSUE (waiting to be picked up)-->
                            <div class="col-xs-4 col-sm-4">
                                <p class="textcenter">COMPLETED</p>
                                <div class="row">
                                    <h4 class="nomargin">Sent to<a href="">&nbsp;{{trans.host.first_name}}</a></h4>
                                    <!--neibhors address-->
                                    <p class="nomargin dashtext">
                                        <!--linking to a new page, the target="_blank" attribute makes it a new tab-->
                                        <a class="nomargin" href="https://www.google.com/maps/place/{{trans.host.st_address1}}+{{trans.host.city}}+{{trans.host.state}}+{{trans.host.zipcode}}" target="_blank" class="nomargin">
                                            {{ trans.host.st_address1 }}, {{ trans.host.st_address2 }} <br> {{ trans.host.city }}, {{ trans.host.state }} {{trans.host.zipcode}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                      	</div>

                      	<div class="row paddingtop5px">
                            <div class="col-sm-4">
                                <!--Status and shipment type-->
                                <h4 class="nomargin">{{sh.aftership.tag}}</h4>
                                <p class="nomargin">{{sh.aftership.last_checkpoint.checkpoint_time }}</p>
                            </div>
                            <div class="col-sm-4">
                                <!--Expected Delivery -->
                                <h4 class="nomargin">Order Completed</h4>
                                <p class="nomargin">{{ trans.date_completed }} {% if trans.on_aftership %}{% endif%}</p>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="nomargin">Your Rating</h4>
                                <p class="nomargin">{{ trans.host.first_name}} {{trans.enduser_rating}} / 5.0</p>
                            </div>
                       </div>
                    </div>
               
                        
                      {% endfor %} <!--End of Packages Card-->


										<!--OTHER TRANSACTIONS CARD -->
									{% for trans in otherfavors_archived %}
                      <div class="interestcard" style="margin-bottom: 10px">
                            <div class="row">
                                <div class="col-xs-1 userbg">
                                    <div class="dog-grey" style="width: 40px; height: 40px"></div>
                                </div>
                                <div class="col-xs-3 paddingsides15px" style="padding-top: 2px">
                                    <h6 class="padingleft10px textleft"> {{ trans.favortype }}</h6>
                                </div>
                                <div class="col-sm-3 col-sm-offset-2 paddingsides5px" style="padding-top: 10px">
                                    <div class="btn-startoffer" style="width: 80px">
                                        <p> Host: {{ trans.host.first_name}} {{ trans.host.last_name}}
                                        <br> Date Requested: {{ trans.host.date_requested }} </p>
                                    </div>
                                </div>
                                <div class="col-sm-3 paddingsides5px" style="padding-top: 10px">                                    
                                        <p> Price: {{trans.price }}</p>
                                </div>
                                
  

                            </div>
                        </div> <!--END OTHER FAVORS CARD -->
                      {% endfor %}

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






{% endblock %}