<!--this is blocbox/templates/payment.html -- URL is www.blocbox.co/payment, the view is defined in billing/views.py ; url patters in /billing/urls.py-->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}Payment{% endblock %}

<!--not sure that i need this top bit.. -->
{% if integration.test_mode %} {{ integration.generate_form.sandbox }}
{% else %} {{ integration.generate_form.render }}
{% endif %}
							
							
{% block headafter %} {% endblock %} 

{% block content %}

<div class="container-fluid fillpage offwhitebackground relativediv">

    <p class="darkgreytext textcenter margintop50px marginbottom20px">Complete the following steps to verify shipping destination, notfiy your Blocbox host, and complete payment</p>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 nopadding">
            <p class="col-xs-3 ltgreytext textleft">1   HOST AVAILABILITY</p>
            <div class="col-xs-2 divline margintop10px"></div>
            <p class="col-xs-2 ltbluetext  textshadow textcenter">2   PAYMENT</p>
            <div class="col-xs-2 divline margintop10px"></div>
            <p class="col-xs-3 ltgreytext textright">3   SHIP YOUR ORDER</p>
        </div>
    </div>
    
    <div class="row">
    <div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
        <div class="row">
            <h6 class="col-xs-12 ltbluetext margintop10px marginsides3pct nopadding">Select a Payment Option
            		{% if host %} for sending packages to {{ host.first_name }} {% endif %}
            </h6>
            <div class="paddingsides5pct profileboxline100 marginbottom10px"></div>
        </div>
        <div class="col-sm-10 col-sm-offset-1 margintop10px"> <!--marginbottom30px-->
        	
        		 <!--NOTE: when i implement the PRO version, need to update URL to /pro/ rather than /ipn/ -->
            
            <!--per package-->
            <div class="checkbox marginbottom20px">              
                <label class="col-xs-3">  <input type="checkbox" name="perpackage" id="id_perpackage" 
              			{% if host %} onClick="window.location='/payment/host{{ host.id }}/ipn/package';" {% endif %}>PER PACKAGE  </label>                             
                <p class="col-xs-7">Pay for a single package</p>
                <h6 class="col-xs-1 nomargin textcenter">$2</h6>
                <div class="profileboxline100"></div>
            </div> <!--per package checkbox-->
            
            <!--buden of 10-->
            <div class="checkbox marginbottom20px">
                <label class="col-xs-3"> <input type="checkbox" name="perpackage" id="id_perpackage" 
                		{% if host %} onClick="window.location='/payment/host{{ host.id }}/ipn/bundle10';" {% endif %}>BUNDLED  </label>
                <p class="col-xs-7">10 packages (expires in 1 year)</p>
                <h6 class="col-xs-1 nomargin textcenter">$15</h6>
                <div class="profileboxline100"></div>
            </div> <!--bundle10 checkbox-->
            
            <!--Monthly-->
            <div class="checkbox marginbottom20px">
                <label class="col-xs-3">
                    <input type="checkbox" name="perpackage" id="id_perpackage" 
                		{% if host %} onClick="window.location='/payment/host{{ host.id }}/ipn/month20';" {% endif %}> MONTHLY  </label>
                <p class="col-xs-7">20 packages for the next 30 days</p>
                <h6 class="col-xs-1 nomargin textcenter">$15</h6>
                <div class="profileboxline100"></div>
            </div> <!--monthly checkbox-->
            
            <!--annual-->
            <div class="checkbox marginbottom20px">
                <label class="col-xs-3">
                    <input type="checkbox" name="perpackage" id="id_perpackage"  
                		{% if host %} onClick="window.location='/payment/host{{ host.id }}/ipn/annual';" {% endif %}>ANNUAL  </label>
                <p class="col-xs-7">Up to 20 packages per month for an entire year</p>
                <h6 class="col-xs-1 textcenter">$150</h6>
            </div> <!--annual checkbox-->
            
                 <!--TOTAL DUE - JOHN YOU WILL WANT TO MAKE THIS PRETTY AND SHIT-->
            {% if amount %}
             	<div class="checkbox marginbottom20px">
            		<h6 class="col-xs-12 col-sm-6 ltbluetext nopadding">You Selected: {{ youselected }} </h6>
            		<h6 class="col-xs-12 col-sm-3 ltbluetext nopadding">Total Due:</h6>
            		<h6 class="col-xs-12 col-sm-1 ltbluetext textcenter">${{ amount }} </h6>
							</div>            
            {% endif %}
            
            
        </div> <!--divider containing the checkboxes -->
           	
    
            
        
            

            
        </div>
			</div> <!--row-->

      
      {% if amount %}
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
        	
            <div class="row">
                <h6 class="col-xs-12 ltbluetext margintop10px marginsides3pct nopadding">Sign in to your PayPal account to process payment</h6>
                <div class="marginsides3pct profileboxline100 marginbottom10px"></div>
                <!--<p class="marginsides3pct marginbottom20px">Sign in to your PayPal account to process payment</p> -->       
        
								<!-- the following statement loads the paypal checkout form - integrates with a paypal account
										the button et is defined in blocbox/paypal/standard/forms.py , the image links (JB_PAYPAL_IMAGE) are defined at paypal/standard/conf.py -->
        		 		
        		 			<div class="col-xs-12 col-sm-6 marginbottom30px marginsides3pct"> <!--marginleft40px-->
        					{{ form.render }}       	
      
        					<p class="marginbottom20px"> Please note that you will not be changed until your host confirms your receipt of your package</p>
        				</div>  <!--col-->
        		</div> <!--row-->
       	       
            <!--old paypal button 
            <div class="col-sm-4 marginbottom30px">
                    <img class="col-sm-offset-2 paypal marginleft40px" src="{ % static "blocbox/images/paypal.png" % }"  height="40" width="122" />
            </div>  -->
            
        	</div> </div> <!--col, row : payment information -->
        {% endif %}
        
        
        
         <div class="row">
        			<h3> JMY Notes on the Payment Form:  </h3>
        			<p>There is currently no form at blocbox/payment - there a form at blocbox.co/payment/ipn and a PRO form at blocbox.co/payment/pro</p>
        			<p> The button image was intially a really disgusting 'buy it now' picture with credit cards
        				I updated it to link to your paypal image but i modified the CSS paypal style bcit was too wide relative to height
        				and the margins weren't working within a form.</p>
        			<p>This currently links to a 'Sandbox' paypal account,  a cool development feature that allows you to link to fake paypal accounts</p>
        			<p>QUESTION: how does the login to paypal button jive with the submit butotn? I think we have to do either or.. 
        				but this is a UI/UX or whatever question you need to answer. How do we manage this process? esp w/fact tha tno charged till later
        				Would it be better to just reimburse users if the package doesn't show up? we may need to do that for beta and then add
        				the pay layter feature as a post-beta task </p>
        	</div> <!--row, jmy notes-->
        
        <!--submit button -- Do we still need this?-->
        <div class="col-sm-2 col-sm-offset-8 marginbottom30px paddingleft69px nopaddingright">
                <button class="bluebutton" onClick="window.location='/shippackage';">Submit</button>
        </div>
        
</div>


{% endblock %} 