{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Payment{% endblock %}
<!--this is blocbox/templates/payment.html -- URL is www.blocbox.co/payment, the view is defined in transactions.views.py ; url patters in transactions.urls.py-->

<!--not sure that i need this top bit.. -->
{% if integration.test_mode %} {{ integration.generate_form.sandbox }} {% else %} {{ integration.generate_form.render }} {% endif %} {% block headafter %} {% endblock %} {% block content %}

<div class="content container-fluid fillpage offwhitebackground relativediv nopaddingmobile">

    <p class="darkgreytext textcenter margintop40pxnomobile marginbottom20px">Complete the following steps to verify shipping destination, notfiy your Blocbox host, and complete payment</p>
    <div class="row mobilehide">
        <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 nopadding">
            <p class="col-xs-3 ltgreytext textleft">1 HOST AVAILABILITY</p>
            <div class="col-xs-2 divline margintop10px"></div>
            <p class="col-xs-2 ltbluetext  textshadow textcenter">2 PAYMENT</p>
            <div class="col-xs-2 divline margintop10px"></div>
            <p class="col-xs-3 ltgreytext textright">3 SHIP YOUR ORDER</p>
        </div>
    </div>
    
    <div class="row">

            <div class="row">
            	
            	    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 bluebackground">
        						<h6 class=" col-xs-12 col-sm-8 whitetext margintop15px marginsides3pct nopadding">Confirm and Process Payment</h6>
    							
    							</div>
    							
    						<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 profilebox marginbottom60px"> 
                
                <h6 class="col-xs-12 ltbluetext margintop10px marginsides3pct nopadding"></h6>
                <div class="marginsides3pct profileboxline100 marginbottom10px"></div>
                <div class="row">
                	<!--show what they've selected-->
                	<div class="col-xs-12 col-sm-6 col-sm-offset-1" style="padding-top: 20px; padding-bottom: 20px;">
                    <table class="table">
                        <tr>
                            <th>Payment Option Selected</th>
                            <th>Total</th>
                            <!-- <th rowspan="2">{{ paypal_form.render }}</th> -->
                        </tr>
                        <tr>
                            <td>{{ trans_created.youselected}}</td>
                            <td>{{ trans_created.price }}</td>
                        </tr>
                      {% if user.account_balance %}
                      	<tr>
                      			<td>Acount Balance</td>
                      			<td>{{ user.account_balance }}</td>
                      	</tr>
                      	<tr>
                      			<td>Total due</td>
                      			<td> {{trans_created.amount_due }} </td>                      			
                      	</tr>
                      	<tr>
                      			<td>Remaining Balance</td>
                      			<td> {{ remaining_balance }}</td>
                      	</tr>
                      {% endif %}
                    </table>
                	</div>
               	 	<div class="col-sm-4" style="padding-top: 20px; padding-bottom: 20px;">
                    <table class="table">
                        <tr>
                            <th>Payment Method</th>
                        </tr>
											{% if payment_needed %}                        
                         <tr>
  													<td style="padding-left: 60px; padding-top: 20px">
                            		<button type="button" name="submit" class="bluebutton"
                            			onclick="window.location='/transactions/shippackage/host{{host.id}}/account_balance/trans{{trans_created.id}}/';"
                            		>
                            				Apply your account balance</button>
                        		</td>
                    		</tr>
                    	{% else %}
                        <tr>
                            <td style="padding-left: 60px; padding-top: 20px">{{ paypal_form.render }}</td>
                        </tr>
                       {% endif %}
                    </table>
                	</div>
                </div>
                <!--col with table -->

                <!-- the following statement loads the paypal checkout form - integrates with a paypal account
												the button et is defined in blocbox/paypal/standard/forms.py , the image links (JB_PAYPAL_IMAGE) are defined at paypal/standard/conf.py -->
                </div>
            </div>
            <!--end paypal button -->

    </div>
    <!--row negmargins containing everything -->
</div>
<!--content-->


{% endblock %}