<!--this is blocbox/core/templates/blocbox/profile.html, URL is http://www.blocbox.co/profile/ , it extends base.html -->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Profile{% endblock %} {% block headafter %}
<!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
  <link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %} {% block content %}

<!--My attempt to color the background-->
<div class="content nopaddingleftright container-fluid whitebackground text-center relativediv">

    {% if user.is_authenticated %}

    <div class="row">
        <div class="col-xs-12 bluebackground profilecover nopaddingleftright">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="col-sm-5" style="padding-top: 20px;">
                        {% if user.facebook_id %}
                        <div class="profilepiccontainer">
                            <img class="profilepic" src="http://graph.facebook.com/{{user.facebook_id}}/picture?type=large" />
                        </div>
                        {% else %} {% if user.profile_pic_uploaded %}
                        <div class="profilepiccontainer">
                            <img class="profilepic" src="{{enduser.profile_pic_uploaded.url}}" />
                        </div>
                        {% else %}
                        <div class="profilepiccontainer">
                            <p class="textcenter"><a href='.'> Upload your profile picture! </a> </p>
                        </div>
                        {% endif %} {% endif %}
                    </div>
                    <div class="col-sm-7 textleft" style="padding-top: 15px;">
                        <p class="hostname textleft whitetext nomargin">{{ enduser.first_name }}</p>
                        <!--class="hostname"-->
                        <div class="row" style="margin-left: -5px">
                            <a class="col-sm-1 nopadding" href="">
                                <i class="fa fa-map-marker fa-fw whitetext textshadow"></i>
                            </a>
                            <a class="col-sm-10 nopadding addresstext" href="">
                                <p class="whitetext textleft nomargin">{{ enduser.st_address1 }}</p>
                                <p class="whitetext textleft nomargin">{% if host.neighborhood %} {{ host.neighborhood }}{% else %}{{ enduser.city }},&nbsp;{{ enduser.state }}{% endif %}</p>
                            </a>
                        </div>
                        {% if enduser_is_connected_to_host %}
                        <button class="btn-white" style="margin-top: 15px;" onClick="window.location='/startashipment/';">Send a Message</button>
                        {% else %}
                        <!--JMY editing - different if authenticated - to connect.html, which is hte connect form if already registered onClick="window.location='/connect/host{{ host.id }}/';"-->
                        <a class="btn-white" type="button" style="margin-top: 15px;" onClick="window.location='/connect/host{{ host.id }}/';">
                            <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Connect
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-2 paddingtop15px nopaddingright">
                    <div class="col-sm-7 whitetext" style="height: 149px;">
                        <div class="row paddingbottom5px">
                            <div class="col-sm-10 col-sm-offset-1">
                                <p class="dashfont whitetext paddingtop5px">PREFERED PICK-UP TIME</p>
                            </div>
                            <div class="col-sm-1 nopaddingleftright" style="padding-top: 1px;">
                                <button type="button" class="btn-question nopaddingleftright" data-container="body" data-toggle="popover" title="{{ host.first_name }}'s Availability" data-content="{{ host.availability }}" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-fw lterbluetext textright"></i>
                                </button>
                            </div>
                        </div>
                        <div class="btn-user-cal textcenter">
                            <p style="padding-top: 15px"><i class="fa fa-calendar-o fa-fw fa-2x"></i>
                            </p>
                        </div>
                        <div>
                            <p class="paddingtop10px nomargin">{{ enduser.pickup_time }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4 whitetext userborder" style="height: 149px;">
                        <p class="dashfont whitetext paddingtopbottom5px">CONNECTED</p>
                        <div class="userstatus">
                            <p class="pricetext paddingtop10px">{{ connections_count }}</p>
                        </div>
                        <p class="paddingtop20px">Neighbors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margintop20px marginbottom20px" style="margin-left: 32px; margin-right: -72px;">
        <!--Second Row of info> -->
        <div class="col-xs-12 col-sm-4 col-sm-offset-1 offwhitebackground paddingbottom20px">
            <h6 class="dashfont greytext textleft">ABOUT</h6>
            <div class="profilebox">
                <p class="orangetext centerboxheader">Hi Neighbor!</p>
                <div class="profileboxline"></div>
                <p class="centerboxtext">{{ enduser.about_me }}</p>
            </div>
            <div class="profilebox margintop30px">
                <!--verified info -->
                <div class="row">
                    <div class="centerboxheader nopadding">
                        <p class="col-sm-10 greentext nopadding">Verified Info</p>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn-question" data-container="body" data-toggle="popover" title="popover title" data-content="test test test test" data-placement="right" data-trigger="hover"><i class="fa fa-question-circle fa-fw fa-lg ltergreytext"></i>
                        </button>
                    </div>
                </div>
                <div class="profileboxline"></div>
                <!--house icon-->
                <div class="row marginsides7pt5pct margintop20px">
                    <div class="col-sm-3">
                        <i class="fa fa-map-marker fa-fw fa-2x greentext"></i>
                        <p class="textcenter paddingtop10px">Address</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-envelope-o fa-fw fa-2x greentext"></i>
                        <p class="textcenter paddingtop10px">Email</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-mobile fa-fw fa-2x ltgreytext"></i>
                        <p class="ltgreytext textcenter paddingtop10px">Phone</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-facebook fa-fw fa-2x ltgreytext"></i>
                        <p class="ltgreytext textcenter paddingtop10px">Facebook</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 nopaddingsides">
            <div class="col-sm-11 offwhitebackground" style="height: 733px;">
                <div class="row">
                    <div class="col-sm-8 nopaddingleft">
                        <h6 class="dashfont greytext textleft">INTERESTED TASKS</h6>
                    </div>
                    <div class="col-sm-4 nopaddingright">
                        <a href="#"><h6 class="dashfont darkgreytext textright"><i class="fa fa-plus-circle fa-fw greentext"></i>&nbsp;ADD A NEW INTEREST</h6></a>
                    </div>
                </div>

                <div style="height: 678px; overflow: scroll">
                    <div class="row nopaddingleftright">
                        <div class="col-sm-12 nopaddingleftright">
                            <!--Packages Card-->
                            <div class="offercard" style="margin-bottom: 15px">
                                <div class="row">
                                    <div class="col-xs-1 userbg">
                                        <div class="package-i" style="width: 40px; height: 40px"></div>
                                    </div>
                                    <div class="col-xs-4 paddingsides15px" style="padding-top: 8px">
                                        <h6 class="padingleft10px textleft">Package Receipt</h6>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-startoffer" style="width: 80px">
                                            <a type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-details" style="width: 80px">
                                            <a type="button" href="#openModal2" title="Click for Details">Edit</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!--End of Packages Card-->

                            <!--Pet Care Card-->
                            <div class="offercard" style="margin-bottom: 15px">
                                <div class="row">
                                    <div class="col-xs-1 userbg">
                                        <div class="dog-grey" style="width: 40px; height: 40px"></div>
                                    </div>
                                    <div class="col-xs-4 paddingsides15px" style="padding-top: 8px">
                                        <h6 class="padingleft10px textleft">Pet Care</h6>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-startoffer" style="width: 80px">
                                            <a type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-details" style="width: 80px">
                                            <a type="button" href="#openModal2" title="Click for Details">Edit</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!--Pet Care MODAL3-->
                            <div id="openModal3" class="modalDialog">
                                <div class="packageoffer"> <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    <div class="row">
                                        <div class="modalheader nopadding">
                                            <p class="col-sm-12 nopadding"><i class="package-i fa fa-cube fa-fw fa-lg"></i>&nbsp;Pet Care</p>
                                        </div>
                                    </div>
                                    <div class="profileboxline"></div>
                                    <p class="modaltext paddingtopbottom5px">
                                        {% if enduser_is_connected_to_host %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Start a shipment to confirm availability. {% else %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Connect with John to see a detailed view. {% endif %}
                                    </p>
                                    <div class="row paddingbottom5px" style="padding-left: 7.5%; padding-right: 7.7%">
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <p class="dashpricetext">$2</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">PER PACKAGE</h4>
                                            <p class="tinytext lightweight">Pay for a Single Package</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="dashpricetext">$15</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">BUNDLED</h4>
                                            <p class="tinytext lightweight">10 packages (Expires in 1 year)</p>
                                        </div>
                                    </div>
                                    <!--row containg pricing info-->
                                    <p class="modaltext paddingbottom15px">{{ host.availability }}</p>

                                    <!--<p class="centerboxtext" style="padding-top: 0px;">John's availability: {{ host.availability }}</p> -->
                                    <div class="row marginbottom10px">
                                        <div class="col-xs-offset-1 col-xs-6 paddingtop15px">
                                            {% if enduser_is_connected_to_host %}{% else %}
                                            <p class="ltbluetext">Connect and try your first package for free</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-5 paddingright7pt5pct ">
                                            {% if enduser_is_connected_to_host %}
                                            <div class="row">
                                                <div class="btn-startmodal">
                                                    <a class="textright" type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start a Shipment {% if hostonly %} to {{hostonly.first_name }}{% endif %}&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                                </div>
                                            </div>
                                            {% else %}
                                            <a class="btn bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/' ; ">
                                                <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Connect</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Pet Care Card-->

                            <!--Wifi Card-->
                            <div class="offercard" style="margin-bottom: 15px">
                                <div class="row">
                                    <div class="col-xs-1 userbg">
                                        <i class="fa fa-wifi fa-fw fa-2x wifi-i"></i>
                                    </div>
                                    <div class="col-xs-4 paddingsides15px" style="padding-top: 8px">
                                        <h6 class="padingleft10px textleft">Wifi Sharing</h6>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-startoffer" style="width: 80px">
                                            <a type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-details" style="width: 80px">
                                            <a type="button" href="#openModal2" title="Click for Details">Edit</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!--Packages MODAL4-->
                            <div id="openModal4" class="modalDialog">
                                <div class="packageoffer"> <a href="#close" title="Close" class="close"><i class="fa fa-wifi fa-fw fa-lg"></i></a>
                                    <div class="row">
                                        <div class="modalheader nopadding">
                                            <p class="col-sm-12 nopadding"><i class="wifi-i fa fa-cube fa-fw fa-lg"></i>&nbsp;Wifi Sharing</p>
                                        </div>
                                    </div>
                                    <div class="profileboxline"></div>
                                    <p class="modaltext paddingtopbottom5px">
                                        {% if enduser_is_connected_to_host %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Start a shipment to confirm availability. {% else %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Connect with John to see a detailed view. {% endif %}
                                    </p>
                                    <div class="row paddingbottom5px" style="padding-left: 7.5%; padding-right: 7.7%">
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <p class="dashpricetext">$2</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">PER PACKAGE</h4>
                                            <p class="tinytext lightweight">Pay for a Single Package</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="dashpricetext">$15</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">BUNDLED</h4>
                                            <p class="tinytext lightweight">10 packages (Expires in 1 year)</p>
                                        </div>
                                    </div>
                                    <!--row containg pricing info-->
                                    <p class="modaltext paddingbottom15px">{{ host.availability }}</p>

                                    <!--<p class="centerboxtext" style="padding-top: 0px;">John's availability: {{ host.availability }}</p> -->
                                    <div class="row marginbottom10px">
                                        <div class="col-xs-offset-1 col-xs-6 paddingtop15px">
                                            {% if enduser_is_connected_to_host %}{% else %}
                                            <p class="ltbluetext">Connect and try your first package for free</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-5 paddingright7pt5pct ">
                                            {% if enduser_is_connected_to_host %}
                                            <div class="row">
                                                <div class="btn-startmodal">
                                                    <a class="textright" type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start a Shipment {% if hostonly %} to {{hostonly.first_name }}{% endif %}&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                                </div>
                                            </div>
                                            {% else %}
                                            <a class="btn bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/' ; ">
                                                <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Connect</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Wifi Card-->
                        </div>
                        <!--End of 1st column-->

                        <!--Start of 2nd Column-->
                        <div class="col-sm-12" style="padding-left: 7.5px; padding-right: 7.5px;">

                            <div class="offercard" style="margin-bottom: 15px">
                                <div class="row">
                                    <div class="col-xs-1 userbg">
                                        <i class="fa fa-cubes fa-fw fa-2x storage-i"></i>
                                    </div>
                                    <div class="col-xs-4 paddingsides15px" style="padding-top: 8px">
                                        <h6 class="padingleft10px textleft">Storage</h6>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-startoffer" style="width: 80px">
                                            <a type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-details" style="width: 80px">
                                            <a type="button" href="#openModal2" title="Click for Details">Edit</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!--Storage MODAL5-->
                            <div id="openModal5" class="modalDialog">
                                <div class="packageoffer"> <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    <div class="row">
                                        <div class="modalheader nopadding">
                                            <p class="col-sm-12 nopadding"><i class="storage-i fa fa-cubes fa-fw fa-lg"></i>&nbsp;Storage</p>
                                        </div>
                                    </div>
                                    <div class="profileboxline"></div>
                                    <p class="modaltext paddingtopbottom5px">
                                        {% if enduser_is_connected_to_host %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Start a shipment to confirm availability. {% else %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Connect with John to see a detailed view. {% endif %}
                                    </p>
                                    <div class="row paddingbottom5px" style="padding-left: 7.5%; padding-right: 7.7%">
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <p class="dashpricetext">$2</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">PER PACKAGE</h4>
                                            <p class="tinytext lightweight">Pay for a Single Package</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="dashpricetext">$15</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">BUNDLED</h4>
                                            <p class="tinytext lightweight">10 packages (Expires in 1 year)</p>
                                        </div>
                                    </div>
                                    <!--row containg pricing info-->
                                    <p class="modaltext paddingbottom15px">{{ host.availability }}</p>

                                    <!--<p class="centerboxtext" style="padding-top: 0px;">John's availability: {{ host.availability }}</p> -->
                                    <div class="row marginbottom10px">
                                        <div class="col-xs-offset-1 col-xs-6 paddingtop15px">
                                            {% if enduser_is_connected_to_host %}{% else %}
                                            <p class="ltbluetext">Connect and try your first package for free</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-5 paddingright7pt5pct ">
                                            {% if enduser_is_connected_to_host %}
                                            <div class="row">
                                                <div class="btn-startmodal">
                                                    <a class="textright" type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start a Shipment {% if hostonly %} to {{hostonly.first_name }}{% endif %}&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                                </div>
                                            </div>
                                            {% else %}
                                            <a class="btn bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/' ; ">
                                                <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Connect</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Storage Card-->



                            <div class="offercard" style="margin-bottom: 15px">
                                <div class="row">
                                    <div class="col-xs-1 userbg">
                                        <i class="fa fa-home fa-fw fa-2x house-sitting-i"></i>
                                    </div>
                                    <div class="col-xs-4 paddingsides15px" style="padding-top: 8px">
                                        <h6 class="padingleft10px textleft">House Sitting</h6>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-startoffer" style="width: 80px">
                                            <a type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-details" style="width: 80px">
                                            <a type="button" href="#openModal2" title="Click for Details">Edit</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!--House Sitting MODAL6-->
                            <div id="openModal6" class="modalDialog">
                                <div class="packageoffer"> <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    <div class="row">
                                        <div class="modalheader nopadding">
                                            <p class="col-sm-12 nopadding"><i class="house-sitting-i fa fa-home fa-fw fa-lg"></i>&nbsp;House Sitting</p>
                                        </div>
                                    </div>
                                    <div class="profileboxline"></div>
                                    <p class="modaltext paddingtopbottom5px">
                                        {% if enduser_is_connected_to_host %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Start a shipment to confirm availability. {% else %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Connect with John to see a detailed view. {% endif %}
                                    </p>
                                    <div class="row paddingbottom5px" style="padding-left: 7.5%; padding-right: 7.7%">
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <p class="dashpricetext">$2</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">PER PACKAGE</h4>
                                            <p class="tinytext lightweight">Pay for a Single Package</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="dashpricetext">$15</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">BUNDLED</h4>
                                            <p class="tinytext lightweight">10 packages (Expires in 1 year)</p>
                                        </div>
                                    </div>
                                    <!--row containg pricing info-->
                                    <p class="modaltext paddingbottom15px">{{ host.availability }}</p>

                                    <!--<p class="centerboxtext" style="padding-top: 0px;">John's availability: {{ host.availability }}</p> -->
                                    <div class="row marginbottom10px">
                                        <div class="col-xs-offset-1 col-xs-6 paddingtop15px">
                                            {% if enduser_is_connected_to_host %}{% else %}
                                            <p class="ltbluetext">Connect and try your first package for free</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-5 paddingright7pt5pct ">
                                            {% if enduser_is_connected_to_host %}
                                            <div class="row">
                                                <div class="btn-startmodal">
                                                    <a class="textright" type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Request {% if hostonly %}{{hostonly.first_name }}{% endif %}&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                                </div>
                                            </div>
                                            {% else %}
                                            <a class="btn bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/' ; ">
                                                <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Connect</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of House Sitting Card-->

                        <div class="col-sm-12 nopaddingright">
                            <!--Start of 3rd Column-->

                            <div class="offercard" style="margin-bottom: 15px">
                                <div class="row">
                                    <div class="col-xs-1 userbg">
                                        <i class="fa fa-plus-square fa-fw fa-2x emergency-i"></i>
                                    </div>
                                    <div class="col-xs-4 paddingsides15px" style="padding-top: 8px">
                                        <h6 class="padingleft10px textleft">Emergency Care</h6>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-startoffer" style="width: 80px">
                                            <a type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-details" style="width: 80px">
                                            <a type="button" href="#openModal2" title="Click for Details">Edit</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!--Emergency MODAL7-->
                            <div id="openModal7" class="modalDialog">
                                <div class="packageoffer"> <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    <div class="row">
                                        <div class="modalheader nopadding">
                                            <p class="col-sm-12 nopadding"><i class="emergency-i fa fa-plus-square fa-fw fa-lg"></i>&nbsp;Emergency Help</p>
                                        </div>
                                    </div>
                                    <div class="profileboxline"></div>
                                    <p class="modaltext paddingtopbottom5px">
                                        {% if enduser_is_connected_to_host %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Start a shipment to confirm availability. {% else %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Connect with John to see a detailed view. {% endif %}
                                    </p>
                                    <div class="row paddingbottom5px" style="padding-left: 7.5%; padding-right: 7.7%">
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <p class="dashpricetext">$2</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">PER PACKAGE</h4>
                                            <p class="tinytext lightweight">Pay for a Single Package</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="dashpricetext">$15</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">BUNDLED</h4>
                                            <p class="tinytext lightweight">10 packages (Expires in 1 year)</p>
                                        </div>
                                    </div>
                                    <!--row containg pricing info-->
                                    <p class="modaltext paddingbottom15px">{{ host.availability }}</p>

                                    <!--<p class="centerboxtext" style="padding-top: 0px;">John's availability: {{ host.availability }}</p> -->
                                    <div class="row marginbottom10px">
                                        <div class="col-xs-offset-1 col-xs-6 paddingtop15px">
                                            {% if enduser_is_connected_to_host %}{% else %}
                                            <p class="ltbluetext">Connect and try your first package for free</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-5 paddingright7pt5pct ">
                                            {% if enduser_is_connected_to_host %}
                                            <div class="row">
                                                <div class="btn-startmodal">
                                                    <a class="textright" type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Request {% if hostonly %}{{hostonly.first_name }}{% endif %}&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                                </div>
                                            </div>
                                            {% else %}
                                            <a class="btn bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/' ; ">
                                                <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Connect</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Emergency Card-->


                            <!--Tool Rental Card-->
                            <div class="offercard" style="margin-bottom: 15px">
                                <div class="row">
                                    <div class="col-xs-1 userbg">
                                        <i class="fa fa-wrench fa-fw fa-2x tools-i"></i>
                                    </div>
                                    <div class="col-xs-4 paddingsides15px" style="padding-top: 8px">
                                        <h6 class="padingleft10px textleft">Tool Rental</h6>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-startoffer" style="width: 80px">
                                            <a type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Start&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 paddingsides5px" style="padding-top: 12px">
                                        <div class="btn-details" style="width: 80px">
                                            <a type="button" href="#openModal2" title="Click for Details">Edit</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!--Tool MODAL8-->
                            <div id="openModal8" class="modalDialog">
                                <div class="packageoffer"> <a href="#close" title="Close" class="close"><i class="fa fa-times-circle fa-fw fa-lg"></i></a>
                                    <div class="row">
                                        <div class="modalheader nopadding">
                                            <p class="col-sm-12 nopadding"><i class="tools-i fa fa-wrench fa-fw fa-lg"></i>&nbsp;Tool Rental</p>
                                        </div>
                                    </div>
                                    <div class="profileboxline"></div>
                                    <p class="modaltext paddingtopbottom5px">
                                        {% if enduser_is_connected_to_host %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Start a shipment to confirm availability. {% else %} {{ host.first_name }} guarantees to be at home to recieve your package during his posted availability. Connect with John to see a detailed view. {% endif %}
                                    </p>
                                    <div class="row paddingbottom5px" style="padding-left: 7.5%; padding-right: 7.7%">
                                        <div class="col-sm-5 col-sm-offset-1">
                                            <p class="dashpricetext">$2</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">PER PACKAGE</h4>
                                            <p class="tinytext lightweight">Pay for a Single Package</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="dashpricetext">$15</p>
                                            <h4 class="dashfont nomargintop marginbottom5px">BUNDLED</h4>
                                            <p class="tinytext lightweight">10 packages (Expires in 1 year)</p>
                                        </div>
                                    </div>
                                    <!--row containg pricing info-->
                                    <p class="modaltext paddingbottom15px">{{ host.availability }}</p>

                                    <!--<p class="centerboxtext" style="padding-top: 0px;">John's availability: {{ host.availability }}</p> -->
                                    <div class="row marginbottom10px">
                                        <div class="col-xs-offset-1 col-xs-6 paddingtop15px">
                                            {% if enduser_is_connected_to_host %}{% else %}
                                            <p class="ltbluetext">Connect and try your first package for free</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-5 paddingright7pt5pct ">
                                            {% if enduser_is_connected_to_host %}
                                            <div class="row">
                                                <div class="btn-startmodal">
                                                    <a class="textright" type="button" onclick="window.location='/transactions/startashipment/host{{hostonly.id}}';">Request {% if hostonly %} from {{hostonly.first_name }}{% endif %}&nbsp;<i class="fa fa-plus-circle fa-fw fa-lg"></i></a>
                                                </div>
                                            </div>
                                            {% else %}
                                            <a class="btn bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/' ; ">
                                                <i class="fa fa-user-plus"></i>&nbsp;&nbsp;Connect</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Tool Card-->
                        </div>
                        <!--End of 3rd column-->
                    </div>
                    <!--End of row-->
                </div>
            </div>
        </div>
    </div>


    {% endif %}
    <!--end if user is not authenticated-->



</div>
<!--closing container-fluid that contains whole page -->

{% endblock %}
<!--end block context-->