<!--this is blocbox/core/templates/blocbox/host-profile.html, URL is http://www.blocbox.co/3/hostprofile/ (e.g., for john - user id #3) -->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Edit Your Profile{% endblock %} {% block headafter %}
<!--<link rel="stylesheet" href="/static/blocbox/css/standardize.css">
<link rel="stylesheet" href="/static/blocbox/css/host-profile-visitor.css"> -->
{% endblock %} {% block content %}





<h6>TEST TEST TEST!!!!!</h6>







{% endblock %}