<!--this is core/templates/blocbox/account.html - url is blocbox.co/account. it extends base.html-->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Settings{% endblock %} {% block headafter %} {% endblock %} {% block content %}
<div class="content container-fluid offwhitebackground relativediv">
    <!--this is the container that surrounds the form, too short -->

    <div class="row margintop30px marginbottom10px mobilehide">
        <a href="/dashboard/" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <a href="/profile/" class="col-xs-2 subnavtext textcenter">PROFILE</a>
        <a href="/account/" class="col-xs-2 subnavtextcurrent textcenter">ACCOUNT</a>

        <div class="col-xs-10 col-xs-offset-1 paddingtop10px">
            <div class="profileboxline100"></div>
        </div>
    </div>
    <!--emd top row-->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 marginbottom30px">

        <div class="row">
            <!--top navigation row for the subpages-->
            <a href="/account/" class="col-xs-2 col-xs-offset-2 subnavtext textcenter">NOTIFICATIONS</a>
            <a href="/payment-options/" class="col-xs-2 subnavtext textcenter">PAYMENT</a>
            <a href="/past-transactions/" class="col-xs-2 subnavtext textcenter">PAST TRANSACTIONS</a>
            <!--<a href="/security/" class="col-xs-2 subnavtext textcenter">SECURITY</a>-->
            <a href="/settings/" class="col-xs-2 subnavtext darkgreytext textcenter">SETTINGS</a>
        </div>
        <!--row-->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 margintop30px paddingbottom20px">


<!--see this form: https://docs.djangoproject.com/en/1.7/_modules/django/contrib/auth/forms/#PasswordChangeForm-->
            <div class="profilebox">
            	
            		{% if  passwordreset_completed %}
            			<h3> Your password has been reset! <br>  
            				Visit your <a href="/dashboard/"> dashboard</a> or, you maybe need to <a href="/login/">login to your account</a> using your new password.
            					<br> <br>
            			</h3>           
              {% else %}
              	
              	
              	
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Change Your Password</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px" style="padding-left: 7.5%; padding-right: 7.5%">

                    <div class="col-xs-12 col-sm-10 col-sm-offset-2 paddingtop30px paddingbottom20px" style="padding-left: 25px">
                        
                        
                        <form class="form-horizontal paddingtop10px" role="form" method="post" action="." enctype="multipart/form-data">
                        	
                        	{% csrf_token %} {{ form.non_field_errors }}
                        	
                        		{{ form.old_password.errors }}
                            <div class="form-group paddingleft10px">
                                <label class="col-xs-3 textright control-label" for="id_old_password" >Old Password&nbsp;</label> <!--style="width: 115px"-->
                                <input class="col-xs-8 form-control-white" type="password" name="old_password"  id="id_old_password" placeholder="Old Password" style="margin-left: 10px">
                            </div> 
														
														{{ form.password.errors }}
                            <div class="form-group paddingleft10px">
                                <label class="col-xs-3 textright control-label" for="id_password" >New Password&nbsp;</label>
                                <input class="col-xs-8 form-control-white" type="password" name="password"  id="id_password" placeholder="New Password" style="margin-left: 10px">
                            </div> 

														{{ form.password2.errors }}
                            <div class="form-group paddingleft10px">
                                <label class="col-xs-3 textright control-label" for="id_password2" >Confirm Password&nbsp;</label>
                                <input class="col-xs-8 form-control-white"  type="password" name="password2" id="id_password2" placeholder="Confirm New Password" style="margin-left: 10px">
                            </div> 
                        </form>
                    </div>
                </div>
                <div class="profileboxline"></div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-8 paddingtop10px nopaddingright">
                        <button type="button" name="update_password" class="bluebutton" style="height: 40px; margin-top: 10px;" onclick="">
                            Update Password</button>
                    </div>
                </div>
                
              {% endif %} <!--if comleted or not-->
              	
            </div>
            <div class="profilebox margintop30px">
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Cancel Account</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row" style="padding-left: 7.5%; padding-right: 7.5%">
                    <div class="col-xs-3 paddingtop10px nopaddingleft">
                        <button type="button" name="delete_account" class="bluebutton" style="height: 40px; margin-top: 10px;" onclick="">
                            Cancel my account</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}