<!--this is core/templates/blocbox/account.html - url is blocbox.co/account. it extends base.html-->
{% extends "blocbox/base.html" %} {% load staticfiles %} {% block title %}Account{% endblock %} {% block headafter %} {% endblock %} {% block content %}
<div class="content container-fluid offwhitebackground relativediv">
    <!--this is the container that surrounds the form, too short -->

    <div class="row margintop30px marginbottom10px mobilehide">
        <a href="dashboard.html" class="col-xs-2 col-xs-offset-1 subnavtext textcenter">DASHBOARD</a>
        <a href="/messages/inbox/" class="col-xs-2 subnavtext textcenter">MESSAGES</a>
        <a href="/myblock/" class="col-xs-2 subnavtext textcenter">MY BLOCK</a>
        <a href="/profile/" class="col-xs-2 subnavtext textcenter">PROFILE</a>
        <a href="/account/" class="col-xs-2 subnavtextcurrent textcenter">ACCOUNT</a>

        <div class="col-xs-10 col-xs-offset-1 paddingtop10px">
            <div class="profileboxline100"></div>
        </div>
    </div>
    <!--emd top row-->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 marginbottom30px">

        <div class="row">
            <!--top navigation row for the subpages-->
            <a href="/account/" class="col-xs-2 col-xs-offset-1 subnavtext darkgreytext textcenter">NOTIFICATIONS</a>
            <a href="/payment-options/" class="col-xs-2 subnavtext textcenter">PAYMENT</a>
            <a href="/past-transactions/" class="col-xs-2 subnavtext textcenter">TRANSACTIONS</a>
            <a href="/security/" class="col-xs-2 subnavtext textcenter">SECURITY</a>
            <a href="/settings/" class="col-xs-2 subnavtext textcenter">SETTINGS</a>
        </div>
        <!--row-->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 margintop30px paddingbottom20px">



            <div class="profilebox margintop30px">
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Change Your Password</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row paddingbottom20px" style="padding-left: 7.5%; padding-right: 7.5%">
                    <div class="col-sm-4 nopaddingleft paddingtop20px">
                        <h6 class="darkgreytext">Update your password to maitain your security</h6>
                    </div>
                    <div class="col-xs-12 col-sm-8 paddingtop30px paddingbottom20px" style="padding-left: 25px">
                        <form class="form-inline paddingtop10px">
                            <div class="form-group paddingleft10px">
                                <label class="textright" style="width: 115px">Old Password&nbsp;</label>
                                <input type="password" class="form-control" id="oldpassword" placeholder="" style="margin-left: 10px">
                            </div>
                        </form>
                        <form class="form-inline paddingtop10px">
                            <div class="form-group paddingleft10px">
                                <label class="textright" for="smsphone" style="width: 115px">New Password&nbsp;</label>
                                <input type="password" class="form-control" id="newpassword" placeholder="" style="margin-left: 10px">
                            </div>
                        </form>
                        <form class="form-inline paddingtop10px">
                            <div class="form-group paddingleft10px">
                                <label class="textright" for="smsphone" style="width: 115px">Confirm Password&nbsp;</label>
                                <input type="password" class="form-control" id="confirmpassword" placeholder="" style="margin-left: 10px">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="profileboxline"></div>
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-8 paddingtop10px nopaddingright">
                        <button type="button" name="update_password" class="bluebutton" style="height: 40px; margin-top: 10px;" onclick="">
                            Update Password</button>
                    </div>
                </div>
            </div>
            <div class="profilebox margintop30px">
                <div class="centerboxheader nopadding">
                    <p class="col-sm-10 bluegreytext nopadding">Cancel Account</p>
                </div>
                <div class="profileboxline"></div>
                <div class="row" style="padding-left: 7.5%; padding-right: 7.5%">
                    <div class="col-xs-3 paddingtop10px nopaddingleft">
                        <button type="button" name="delete_account" class="bluebutton" style="height: 40px; margin-top: 10px;" onclick="">
                            Cancel my account</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}