<!--this is blocbox/templates/shippackage.html -- URL is www.blocbox.co/shippackage -->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}Ship your package{% endblock %}

{% block headafter %} {% endblock %} 

{% block content %}

<div class="container-fluid offwhitebackground relativediv">

    <p class="darkgreytext textcenter margintop50px marginbottom20px">Complete the following steps to verify shipping destination, notfiy your Blocbox host, and complete payment</p>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 nopadding">
            <p class="col-xs-3 ltgreytext textleft">1   HOST AVAILABILITY</p>
            <div class="col-xs-2 divline margintop10px"></div>
            <p class="col-xs-2 ltgreytext textcenter">2   PAYMENT</p>
            <div class="col-xs-2 divline margintop10px"></div>
            <p class="col-xs-3 ltbluetext textshadow textright">3   SHIP YOUR ORDER</p>
        </div>
    </div>
    
    <div class="col-xs-8 col-xs-offset-2 bluebox marginbottom20px">
        <div class="row">
            <h6 class="whitetext marginsides3pct textcenter">Woo! You've successfully notified your Blocbox host that your package is headed their way!</h6>
        </div>
    </div>
    
    <div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
        <div class="row">
            <h6 class="col-xs-12 ltbluetext margintop10px marginsides3pct nopadding">Copy Your Host's Address as the Shipping Address Prior to Completing Your Order</h6>
            <div class="paddingsides5pct profileboxline100 marginbottom10px"></div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <p class="textcenter">YOUR HOST'S ADDRESS</p>
                <div class="row margintop30px">
                    <p class="tinytext greytext nomarginbottom">C/O Your Blocbox Host</p>
                    <h6 class="offwhitebackground nomargintop paddingtopbottom2px">John Burgeson</h6>
                    <p class="tinytext greytext nomarginbottom">Street Address</p>
                    <h6 class="offwhitebackground nomargintop paddingtopbottom2px">420 Grand Ave. Apt 2</h6>
                    <div class="col-sm-8 nopaddingleft">
                        <p class="tinytext greytext nomarginbottom">City</p>
                        <h6 class="offwhitebackground nomargintop paddingtopbottom2px">Brooklyn</h6>
                    </div>
                    <div class="col-sm-4 nopadding">
                        <p class="tinytext greytext nomarginbottom">State</p>
                        <h6 class="offwhitebackground nomargintop paddingtopbottom2px">NY</h6>
                    </div>
                    <div class="col-sm-4 nopadding">  
                        <p class="tinytext greytext nomarginbottom">Zip Code</p>
                        <h6 class="offwhitebackground nomargintop paddingtopbottom2px">11238</h6>
                    </div>  
                </div>
                    </div>
            <div class="col-sm-1 marginbottom20px">
                <img class="margintop100px" src="{% static "blocbox/images/arrow-lightblue-right.png" %}"  height="70" width="70" />
            </div>
                    <p class="col-sm-4 paddingleft20px textcenter">ORDER SHIPPING ADDRESS</p>
                    <div class="col-sm-4 marginbottom30px">
                        <img class="" src="{% static "blocbox/images/Shipping-Entry.png" %}"  height="250" width="300" />
                    </div>
        </div>
        <div class="row marginbottom20px">
            <h6 class="col-xs-12 textcenter">What's next? You will receive an alert once your Blocbox host recives your package, along with up to date information regarding available pick up times. Track your package's progress from your dashboard page.</h6>
        </div>
    </div>
    <div class="col-sm-2 col-sm-offset-8 marginbottom60px paddingleft69px nopaddingright">
        <button class="bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/';">Finish</button>
    </div>
</div>

{% endblock %} 