<!--this is blocbox/templates/shippackage.html -- URL is www.blocbox.co/shippackage -->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}Ship your package{% endblock %}

{% block headafter %} {% endblock %} 

{% block content %}

<div class="container-fluid fillpage offwhitebackground relativediv">

    <p class="darkgreytext textcenter margintop30px marginbottom20px">Complete the following steps to verify shipping destination, notfiy your Blocbox host, and complete payment</p>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 nopadding">
            <p class="col-xs-3 ltgreytext textleft">1   HOST AVAILABILITY</p>
            <div class="col-xs-2 divline margintop10px"></div>
            <p class="col-xs-2 ltgreytext textcenter">2   PAYMENT</p>
            <div class="col-xs-2 divline margintop10px"></div>
            <p class="col-xs-3 ltbluetext textshadow textright">3   SHIP YOUR ORDER</p>
        </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
        <div class="row">
            <p class="col-xs-8 ltbluetext margintop10px marginsides3pct nopadding">Next, Copy Your Host's Address as the Shipping Address Prior to Completing Your Order</p>
            <div class="paddingsides5pct profileboxline100 marginbottom10px"></div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <p class="textcenter">YOUR HOST'S ADDRESS</p>
                <div class="row">
                    <p>C/O Your Blocbox Host</p>
                    <p>John Burgeson</p>
                    <p>Street Address</p>
                    <p>420 Grand Ave. Apt 2</p>
                    <p>City</p>
                    <p>Brooklyn</p>
                    <p>State</p>
                    <p>NY</p>
                    <p>Zip Code</p>
                    <p>11238</p>
                </div>
                    </div>
                    <p class="col-sm-4 textcenter">ORDER SHIPPING ADDRESS</p>
                    <div class="col-sm-4 marginbottom30px">
                        <img class="marginleft40px" src="{% static "blocbox/images/shipping-entry.png" %}"  height="200" width="200" />
                    </div>
                </div>
    </div>
    <div class="col-sm-2 col-sm-offset-8 marginbottom20px paddingleft69px nopaddingright">
        <button class="bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/';">Submit</button>
    </div>
    <div class="col-xs-8 col-xs-offset-2 bluebox marginbottom30px">
        <div class="row">
            <p class="whitetext marginsides3pct">What's next? You will receive an alert once your Blocbox host recives your package, along with up to date information regarding available pick up times. Track your package's progress from your dashboard page.</p>
        </div>
    </div>
</div>

{% endblock %} 