{% extends "blocbox/sign-up-withoutconnect.html" %}
<!--this is blocbox/core/templates/blocbox/sign-up-connect.html, ULR is http://www.blocbox.co/3/signupconnect/, where 3=user ID (johnin this case) 
		note: this is based on the generic sign-up form, in sign-up-withoutconnect.html - so if you want to make overall changes to form do it there-->
{% load staticfiles %} 

{% block signupheaderadd %} to Connect with {{host.first_name}} {% endblock %}

{% block signupsubtitle %}  {% endblock %}


{% block introduceyourself %} {% endblock %}			
 				



