<!--this is blocbox/core/templates/blocbox/sign-up-host.html, ULR is http://www.blocbox.co/hostsignup/ -->
{% extends "blocbox/basesignup.html" %}

{% load staticfiles %} 

{% block signupheader %} Sign Up For BlocBox {% endblock %}

<!--text to display if registered if signed up WITHOUT reuesting to connect -->
{% block welcome %}  
  				<br> <br>
        	<h3>Thank you for registering for Blocbox!</h3>
        	<h4><a href="/login/">Login to return to the homepage.</a></p>
 					<br> <br> <br> <br> <br>
{% endblock %}



<!-- interest in hosting block-->
{% block interestinhosting %}
<div class="row"> <!--interested in hosting-->
    <h5 class="col-xs-10 col-xs-offset-1 margintop20px">Interested in Hosting?</h3>                   
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 checkbox">
				<label>
					<input type="checkbox" name="host" id="id_host">Check this box if you're registering as a host
				</label>
			</div> <!--checkbox -->

			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 checkbox">
				<label>
					<input type="checkbox" name="hostinterest" id="id_hostinterest" >Check this box if you're interested in learning about making extra cash by serving as a Blocbox host
				</label>
			</div> <!--checkbox -->									
</div> <!--row, interest in hosting -->
{% endblock %}