<!--this is blocbox/core/templates/blocbox/sign-up-connect.html, ULR is http://www.blocbox.co/3/signupconnect/, where 3=user ID (johnin this case) 
		note: this is based on the generic sign-up form, in sign-up-withoutconnect.html, which extents basesignup.html
		if you want to make overall chnages to the form,c hange basesignup.html-->
{% extends "blocbox/sign-up-withoutconnect.html" %}
{% load staticfiles %} 

{% block signupheader %} Sign Up For BlocBox to Connect with {{host.first_name}} {% endblock %}

{% block signupsubtitle %} 
	<h5 class="col-xs-12 col-sm-10 col-sm-offset-1 marginbottom20px">In order to connect, we need to ask for some basic information. Already Registered? <a href="/login/">Login here.</a></h5>
{% endblock %}

<!--this is teh welcome text to display if/when the user is registered - need to adapt it if the hosts has accepted or auto-accpets -->

{% block welcome %}   
	  	<br> <br>
      <h3>
      		Thank you for Registering! <br>
      		You'll receive a notification when {{ host.first_name }} confirms your request to connect. <br>
      		In the meantime, <a href="/login/">login to your account</a> to visit your dashboard and update your account preferences and user information.
      </h3>
 			<br> <br> <br> <br> <br>

{% endblock %}


{% block additionalfields %} 

<h3 class="col-sm-10 col-sm-offset-1 margintop10px">Introduce Yourself </h3> 		  
<h5 class="col-sm-10 col-sm-offset-1 marginbottom20px">Before you connect, {{host.first_name}} will need to confirm your request.  
        The information you provide below will help {{host.first_name}} confirm you as a neighbor.</h5>
  
  	<!--Intro MEssage -->
  	<div class="form-group">  {{ user_form.intro_message.errors }}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <label for="id_intro_message" class="col-xs-10 col-xs-offset-1">Introduce Yourself to {{host.first_name}} </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <input type="text" class="form-control" name="intro_message" id="id_intro_message"  
    									placeholder="Hello!... (350 Character Limit)">
            </div>
        </div>
    			
    </div>	<!--form-group-->
    
    
    <!--time of day typically pick up packages -->
    <div class="form-group">  {{ user_form.pickup_time.errors }}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <label for="id_pickup_time" class="col-xs-10 col-xs-offset-1">Time of day you would typically pick up packages</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <input type="text" class="form-control" name="pickup_time" id="id_pickup_time"  
    					placeholder="Describe in 100 characters">
            </div>
          	
        </div>
 			
 					<!--col -->		
    </div>	<!--form-group -->
 									

{% endblock %}			
 				
<!-- interest in hosting block-->
{% block interestinhosting %}
<div class="row"> <!--interested in hosting-->
    <h5 class="col-xs-10 col-xs-offset-1 margintop20px">Interested in Hosting?</h3>                   
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 checkbox">
				<label>
					<input type="checkbox" name="host" id="id_host">Check this box if you're registering as a host
				</label>
			</div> <!--checkbox -->

			<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 checkbox">
				<label>
					<input type="checkbox" name="hostinterest" id="id_hostinterest" >Check this box if you're interested in learning about making extra cash by serving as a Blocbox host
				</label>
			</div> <!--checkbox -->									
</div> <!--row, interest in hosting -->
{% endblock %}

