<!--this is blocbox/core/templates/blocbox/sign-up-connect.html, ULR is http://www.blocbox.co/3/signupconnect/, where 3=user ID (johnin this case) 
		note: this is based on the generic sign-up form, in sign-up-withoutconnect.html - so if you want to make overall changes to form do it there-->
{% extends "blocbox/sign-up-withoutconnect.html" %}
{% load staticfiles %} 

{% block signupheaderadd %} to Connect with {{host.first_name}} {% endblock %}

{% block signupsubtitle %} 
	<h5>In order to connect, we need to ask for some basic information</h5>
{% endblock %}


{% block introduceyourself %} 
		
  	<h3>Introduce Yourself </h3> 		  
 		<h5>Before you connect, {{host.first_name}} will need to confirm your request.  
 			The information you provide below will help {{host.first_name}} confirm you as a neighbor</h5>
  
  	<!--Intro MEssage -->
  	<div class="form-group">  {{ user_form.intro_message.errors }}
  		 <label for="id_intro_message" class="col-sm-3">Include a personalized message to {{host.first_name}} </label>
    			<div class="col-sm-9">
    				<input type="text" class="form-control" name="intro_message" id="id_intro_message"  
    				placeholder="Introduce yourself to {{host.first_name}} (350 Character Limit)">
    			</div>
    </div>	<!--form-group-->
    
    
    <!--time of day typically pick up packages -->
    <div class="form-group">  {{ user_form.pickup_time.errors }}
 			<label for="id_pickup_time" class="col-sm-3">Time of day you would typically pick up packages</label>
 				<div class="col-sm-9">
    					<input type="text" class="form-control" name="pickup_time" id="id_pickup_time"  
    					placeholder="Describe in 100 characters">	
    		</div>	<!--col -->		
 		</div>	<!--form-group -->
 									

{% endblock %}			
 				



