<!--TEST TEST.this is blocbox/core/templates/blocbox/sign-up-host.html, ULR is http://www.blocbox.co/hostsignup/, extends basesignup.html -->
{% extends "blocbox/basesignup.html" %}

{% load staticfiles %} 

{% block signupheader %} Sign Up to be a Blocbox Host {% endblock %}


<!--text to display if registered if signed up WITHOUT reuesting to connect -->
{% block welcome %}  
  				<br> <br>
        	<h3>Thank you for Signing Up to be a Blocbox host! We'll be in touch to arrange a time to verify your address and help you get started.</h3>
        	<h4><a href="/login/">Login to return to the homepage.</a></p>
 					<br> <br> <br> <br> <br>
{% endblock %}


<!--additional fields specific to host -- this is the same place that the "introduce yourself" shit goes on the sign-up-connect-->
{% block additionalfields %}

{% endblock %}

