<!--this is  core/templates/blocbox/sign-up-simple.html -->

{% extends "blocbox/basewaitlist.html" %}
<!--this is blocbox/core/templates/bocbox/waitlist-confirmation.html, url is http://www.blocbox.co/waitlistconfirmation/-->
{% load staticfiles %} {% block title %} Sign Up for Blocbox {% endblock %} {% block topcontent %}

<div class="row-fluid fullheight">

    <div class="row">


        {% if registered %}

        <h2 class="nomargintop register-padding">Thank you for Registering! </h2>

        <h3 class="col-xs-12 col-sm-6 col-sm-offset-3 paddingbottom100pxnomobile" style="font-size: 1.7em">  
				       You'll receive a notification when {{ host.first_name }} confirms your request to connect. In the meantime, <a href="/login/">login to your account</a> to visit your dashboard and update your account preferences and user information.
	          </h3> {% else %}

        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <!--<div class="promo-3"></div> -->

          {% if hostsignup %}
            <h2 class="nomargintop" style="font-size: 2.3em; font-weight: 500; padding-top: 130px">Sign Up to be a Host </h2>
            <h3 class="col-xs-12 col-sm-8 col-sm-offset-2 nomargintop marginbottom15px paddingbottom20pxnomobile waitsubtext" style="font-size: 1.16em">
            Blocbox lets you make money by helping your neighbors.</h3>
          {% else %}
          	
            {% if host.neighborhood_extended %}
              <h2 class="nomargintop" style="font-size: 2.3em; font-weight: 500; padding-top: 130px">Sign Up for Blocbox in {{ host.neighborhood_extended}} </h2>
              <h3 class="col-xs-12 col-sm-8 col-sm-offset-2 nomargintop marginbottom15px paddingbottom20pxnomobile waitsubtext">
                Complete this form to sign up for Blocbox and request to connect to {{ host.first_name }}, your {{ host.neighborhood_extended }} Blocbox host. </h3> 
            {% else %}
                   {% if host.neighborhood %}
                     <h2 class="nomargintop" style="font-size: 2.3em; font-weight: 500; padding-top: 130px">Sign Up for Blocbox in {{ host.neighborhood}} </h2>
                     <h3 class="col-xs-12 col-sm-8 col-sm-offset-2 nomargintop marginbottom15px paddingbottom20pxnomobile waitsubtext">
                       Complete this form to sign up for Blocbox and request to connect to {{ host.first_name }}, your {{ host.neighborhood }} Blocbox host.  </h3>  
                   {% else %}
          	          <h2 class="nomargintop" style="font-size: 2.3em; font-weight: 500; padding-top: 130px">Sign Up for Blocbox </h2>
          
                   {% endif %} <!-- if host.neighborhood -->
             {% endif %} <!--ifneighborhood_extended  -->
         {% endif %} <!--if host sign up -->   	
            
            <!--if hostsignup -->

            <!--Simple Sign Up -->

            <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">

                {% csrf_token %}


                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group col-padd nomargintopbottom">
                            {{ user_form.non_field_errors }} {{ user_form.email.errors|striptags}}
                            <input name="email" placeholder="You@Example.com" class="form-control input-lg inputbox margintop5pxmobile" type="email">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group col-padd nomargintopbottom">
                            {{ user_form.first_name.errors|striptags}}
                            <input name="first_name" placeholder="First Name" class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group col-padd nomargintopbottom">
                            {{ user_form.last_name.errors|striptags}}
                            <input name="last_name" placeholder="Last Name" class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group col-padd nomargintopbottom">
                            {{ user_form.password.errors|striptags }}
                            <input type="password" class="form-control input-lg inputbox margintop5pxmobile" name="password" id="id_password" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                    <div class="form-group col-padd nomargintopbottom">
                        {{ user_form.password2.errors|striptags }}
                        <input type="password" class="form-control input-lg inputbox margintop5pxmobile" name="password2" id="id_password2" placeholder="Confirm Password">
                    </div>
                </div>
                </div>


                <!--End of Simple Sign Up -->


                {% if hostsignup %}

                <!--availability text input boxes -->
                <!--Address to be moved to second page of sign up -->
                <div class="row">
                    <h3 class="col-xs-12 nomargintopbottom paddingbottom20pxnomobile text-left waitsubtext ">Your Neighborhood</h3>
                    <div class="col-xs-12">
                        <div class="form-group col-padd margintopbottom5px">
                            {{ user_form.st_address1.errors|striptags}}
                            <input name="st_address1" placeholder="Street Address" class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group col-padd margintopbottom5px">
                            {{ user_form.city.errors|striptags}}
                            <input name="city" placeholder="City" class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-6">
                        <div class="form-group col-padd nomargintopbottom">
                            {{ user_form.zipcode.errors|striptags}}
                            <input name="zipcode" placeholder="Zip" class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <h3 class="col-xs-12 nomargintopbottom paddingbottom20pxnomobile text-left waitsubtext ">Availability</h3>
                    <div class="col-xs-12">
                        <div class="form-group col-padd margintopbottom5px">
                            {{ user_form.host_availability_writein.errors|striptags}}
                            <input name="host_availability_writein" placeholder="When are you typically availability to receive packages during the week? Briefly Describe." class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group col-padd margintopbottom5px">
                            {{ user_form.host_unavailability_writein.errors|striptags}}
                            <input name="host_unavailability_writein" placeholder="Are there any days or times that you're unavailable to receive packages? Briefly Describe." class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>

                </div>
                <!--end row for availability text input boxes-->

                <!--host introductory message -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group col-padd margintopbottom5px">
                            {{ user_form.host_aboutme.errors|striptags}}
                            <input name="host_aboutme" placeholder="Introduce Yourself to your Neighbors (Optional)" class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>
                </div>
                <!--end col-xs-12, end row-->


                <!--checkboxes for services the host may ovffer-->
                <div class="row">

                    <h3 class="col-xs-12 marginbottom20px paddingbottom20pxnomobile text-left waitsubtext ">
                  What other services are you interested in offering your neighborhood?  </h3>
                    <div class="col-xs-12">
                    <table class="table">
                        <tbody>
                            <tr>
                               <td>
                                   <input type="checkbox" name="offers_storage" id="id_offers_storage" style="padding-bottom: 15px"><label><span class="btn-check" style="padding: 3px 20px">Storage</span>
                                   </label>
                                </td>
                                <td>
                                    <input type="checkbox" name="offers_petcare" id="id_offers_petcare" style="padding-bottom: 15px"><label><span class="btn-check" style="padding: 3px 20px">Pet Care</span>
                                    </label>
                                </td>
                                <td>
                                    <input type="checkbox" name="offers_housesitting" id="id_offers_housesitting" style="padding-bottom: 15px"><label><span class="btn-check" style="padding: 3px 20px">House Sitting</span>
                                    </label>
                                </td>
                                <td>
                                    <input type="checkbox" name="offers_laundry" id="id_offers_laundry" style="padding-bottom: 15px"><label><span class="btn-check" style="padding: 3px 20px">Laundry</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 15px"><span class="btn-check" style="padding: 3px 20px">Equipment Rental</span></td>
                                <td style="padding-bottom: 15px"><span class="btn-check" style="padding: 3px 20px">Community Meals</span></td>
                                <td style="padding-bottom: 15px"><span class="btn-check" style="padding: 3px 20px">Plant Care</span></td>
                                <td style="padding-bottom: 15px"><span class="btn-check" style="padding: 3px 20px">House Meals</span></td>
                            </tr>
                            <tr>
                                <td style="padding-bottom: 15px"><span class="btn-check" style="padding: 3px 20px">Child Care</span></td>
                                <td style="padding-bottom: 15px"><span class="btn-check" style="padding: 3px 20px">Let Repairperson In</span></td>
                                <td style="padding-bottom: 15px"><span class="btn-check" style="padding: 3px 20px">Lawn Care</span></td>
                                <td style="padding-bottom: 15px"><span class="btn-check" style="padding: 3px 20px">Car Sharing</span></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>

                    <div class="col-xs-12 text-left">
                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input class="offersbox" type="checkbox" id="id_offers_storage" name="offers_storage">Storage</label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_petcare" name="offers_petcare"> Pet Care</label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_housesitting" name="offers_housesitting"> House Sitting </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_rentals" name="offers_rentals"> Equipment or Party Rentals </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_laundry" name="offers_laundry"> Laundry </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_plantcare" name="offers_plantcare"> Plant Care </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_childcare" name="offers_childcare"> Child Care </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_letin" name="offers_letin"> Let Repairperson In </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_lawn" name="offers_letin"> Lawn Care </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_carsharing" name="offers_carsharing"> Car Sharing </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_meals" name="offers_meals"> Community Meals </label>
                        </div>

                        <div class="col-xs-12 col-sm-4">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="id_offers_housemaint" name="offers_housemaint"> House Maintenance </label>
                        </div>

                    </div>
                </div>
                <!--end col-xs-12, end row -->


                <!--Other Offers: Write-In -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group col-padd margintopbottom5px">
                            {{ user_form.offers_userdefined.errors|striptags}}
                            <input name="offers_userdefined" placeholder="Other Offers? Briefly describe the other service(s) you'd like to offer your neighborhood." class="form-control input-lg inputbox margintop5pxmobile" type="text">
                        </div>
                    </div>
                </div>
                <!-- end col-xs-12, row for other offers write-in -->

                {% endif %}
                <!--end if host-->




                <div class="row">
                    <div class="form-group col-xs-12 nomargin">
                        <input name="referredby" class="form-control input-lg inputbox margintop5pxmobile" type="hidden" value="{{referring_user_email}}">
                    </div>

                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0  margintopbottom5px nopaddingmobile waitlistcheck">

                        <div class="checkbox checkbox-success checkbox-inline text-center">
                            {% if hostsignup %}
                            <input type="checkbox" name="hostuserinterest" id="id_hostuserinterest">
                            <label for="id_hostuserinterest">
                                <h6 class="nomargin textleft paddingleft10px" style="font-size: 1.25em">I'm interested in using Blocbox as a customer. Please connect me to other hosts in my neighborhood.</h6>
                            </label>
                            {% else %}
                            <input type="checkbox" name="hostinterest" id="id_hostinterest">
                            <label for="id_hostinterest">
                                <h6 class="nomargin textleft paddingleft10px" style="font-size: 1.25em">I'm interested in helping my neighbors and making some extra money</h6>
                            </label>
                            {% endif %}

                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-6  margintopbottom5px paddingtop15pxmobile">
                        <input type="submit" {% if hostsignup %} value="SIGN UP TO SERVE AS A BLOCBOX HOST" {% else %} value="SIGN UP AND REQUEST TO CONNECT" {% endif %} name="submit" class="btn-waitlist margintop5px">
                        <!--name="subscribe" -->
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 margintopbottom5px paddingtop15pxmobile" style="padding-left: 10px; padding-right: 10px;">
                            <input type="submit" {% if hostsignup %} value="BECOME A HOST" {% else %} value="SIGN UP AND REQUEST TO CONNECT" {% endif %} name="submit" class="btn-lg btn-waitlist margintop5px">
                            <!--name="subscribe" -->
                        </div>
                    </div>




                </div>
                <!--end row -->

                <!--row -->

                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <!--row-->
            </form>

        </div>

        {% endif %}
        <!-- if registered -->


    </div>

    <div class="text-center alignbottomdiv">
        {% if hostsignup %}
        <a href="#hosting">
            <p class="whitetext nomargin mobilehide">LEARN MORE ABOUT HOSTING</p>
            <img style="margin-top: -5px;" src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
        </a>
        {% else %}
        <a href="#learn">
            <p class="whitetext nomargin mobilehide">LEARN MORE</p>
            <img style="margin-top: -5px;" src="{% static 'blocbox/images/arrow-white.png' %}" height="50" width="50" />
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}