{% extends "blocbox/base.html" %}
<!--this is blocbox/core/templates/blocbox/sign-in.html, urls i http://www.blocbox.co/login/ -->
{% load staticfiles %} 
{% block title %}Login to Blocbox{% endblock %}

{% block headafter %} 
{% endblock %} 

{% block content %}


<div class="container-fluid"> 
	<br> 

  <h3>Sign in to your BlocBox Account</h3>
	<h5><a href="/signup/">Create a new account</a></h5>
	<h5><a href="/beta/">Return to the homepage (Beta)</a></h5>

	<!--START FORM HERE -->
	<form method="post" action="/login/" enctype="multipart/form-data">
            {% csrf_token %}
        		{{ login_form.non_field_errors }}          
            
      	<div class="form-group">  				
    				{{ user_form.email.errors }}
    				<label for="id_email">Email Address</label>
    				<input type="email" class="form-control" name="email" id="id_email"  placeholder="Email">				
 				</div>
 				
 				<div class="form-group">  				
    				{{ user_form.password.errors }}
    				<label for="id_password1">Password</label>
    				<input type="password" class="form-control" name="password" id="id_password1"  placeholder="Password">				
 				</div>
 				
    		<button type="submit" name="submit" class="btn btn-default">Sign In</button>
    			
	</form>  <!--end form line -->
  
  <br> <br>
</div> <!--end of top divider - container-fluid  -->
    
        
{% endblock %}