<!--this is blocbox/templates/startashipment.html -- URL is www.blocbox.co/startashipment -->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}Start a Shipment{% endblock %}

{% block headafter %} {% endblock %} 

{% block content %}

<div class="container-fluid fillpage offwhitebackground relativediv">

    <p class="textcenter margintop30px marginbottom20px">Complete the following steps to verify shipping destination, notfiy your Blocbox host, and complete payment</p>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <p class="col-xs-3 textleft">1   HOST AVAILABILITY</p>
        <div class="col-xs-2 divline margintop10px"></div>
        <p class="col-xs-2 ltgreytext textcenter">2   PAYMENT</p>
        <div class="col-xs-2 divline margintop10px"></div>
        <p class="col-xs-3 ltgreytext textright">3   SHIP YOUR ORDER</p>
    </div>
</div>
    <div class="col-xs-8 col-xs-offset-2 profilebox marginbottom30px">
    <div class="row">
        <p class="col-xs-4 ltbluetext margintop10px marginsides3pct">Confirm Your Host and Delivery Address</p>
        <div class="profileboxline marginsides3pct marginbottom20px"></div>
    </div>
    <div class="dropdown margintop10px marginbottom30px">
        <div class="col-xs-4 col-xs-offset-2 collapse navbar-collapse dropdown" id="bs-example-navbar-collapse-1">
            <button class="selector dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                John
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu nav navbar-nav navbar-right" role="menu">
        </div>
        <div class="col-xs-2 ">
            <p class="textcenter">@</p>
        </div>
        <div class="col-sm-3 marginbottom30px">
           <p class="textleft">Clinton Hill</p>
            <p class="nomargin textleft">420 Grand Ave.</p>
            <p class=" nomargin textleft">Apt 2</p>
            <p class="textleft">Brooklyn, NY 11238</p>
            <a class="textleft">Get Directions</a>
        </div>
        </div>
    </div>


    <div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
        <div class="row">
            <p class="col-xs-4 ltbluetext margintop10px marginsides3pct">Confirm Your Host's Availability</p>
            <div class="profileboxline marginsides3pct marginbottom20px"></div>
            <p class="marginsides3pct marginbottom20px">Ensure your host will be available on the expected delivery date of your package by 1) entering your shipping information and then 2) confirming the host is availability inside your packages expected delivery window. Click "submit" once availability is confirmed.</p>
        </div>
        <div class="row">
           <div class="col-sm-4 col-sm-offset-2">
            <p class="textcenter">1. Shipping Information</p>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 collapse navbar-collapse dropdown marginbottom20px" id="bs-example-navbar-collapse-1">
                    <button class="selector dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Fedex
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nav navbar-nav navbar-right" role="menu">
                </div>
                    <div class="col-sm-2 col-sm-offset-1 collapse navbar-collapse dropdown" id="bs-example-navbar-collapse-1">
                    <button class="selector dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        2 Day
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nav navbar-nav navbar-right" role="menu">
                </div>
            </div>
            </div>
            <p class="col-sm-4 textcenter">2. Host Availability</p>
            <div class="col-sm-4 marginbottom30px">
                <img class="marginleft20px" src="{% static "blocbox/images/calander.png" %}"  height="200" width="200" />
            </div>
           </div>
    </div>
    <div class="col-sm-2 col-sm-offset-8 marginbottom30px">
        <button class="bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/';">Submit</button>
    </div>
</div>
{% endblock %} 