<!--this is blocbox/templates/startashipment.html -- URL is www.blocbox.co/startashipment -->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}Start a Shipment{% endblock %}

{% block headafter %} 



<script type="text/javascript">
    $(document).ready(function(){
        $('.text_container').addClass("hideit");

        $('.text_container').click(function() {
            var $this = $(this);

            if ($this.hasClass("hideit")) {
                $(this).removeClass("hideit").addClass("visible");

            } else {
                $(this).removeClass("visible").addClass("hideit");
            }
        });
    });
</script>

{% endblock %} 

{% block content %}

<div class="content container-fluid offwhitebackground relativediv">

		<!--top matter-->
    <p class="darkgreytext textcenter margintop60px marginbottom20px">Complete the following steps to verify shipping destination, notify your Blocbox host, and complete payment</p>
		<div class="row">
		    <div class="col-xs-8 col-xs-offset-2 nopadding">
		        <p class="col-xs-3 ltbluetext textshadow textleft">1   HOST AVAILABILITY</p>
		        <div class="col-xs-2 divline margintop10px"></div>
		        <p class="col-xs-2 ltgreytext textcenter">2   PAYMENT</p>
		        <div class="col-xs-2 divline margintop10px"></div>
		        <p class="col-xs-3 ltgreytext textright">3   SHIP YOUR ORDER</p>
		    </div>
		</div> <!--row for top  matter-->
		
		<!--confirm host and delivery address-->
		<div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
    		<div class="row">
        		<h6 class="col-xs-6 ltbluetext margintop15px marginsides3pct nopadding">Confirm Your Host and Delivery Address</h6>
        		<div class="paddingsides5pct profileboxline100 marginbottom10px"></div>
    		</div>
  			<div class="row">
      	  	<h6 class="col-xs-5 marginsides3pct marginbottom20px nopaddingleft">Select a connected host to recieve your package and confirm their address</h6>
      	  	<div class="col-xs-6 dropdown margintop20px marginbottom30px">
      	  	    <div class="dropdown marginbottom20px" id="bs-example-navbar-collapse-1">
      	  	        	<button class="selector dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      	  	        	    John - 420 Grand Ave. Apt 2  
      	  	        	    <span class="caret"></span>
      	  	        	</button> 
      	  	        	<ul class="dropdown-menu nav navbar-nav navbar-right" role="menu"> </ul>
      	  	    </div> <!--dropdown-->
      	  	</div> <!--dropdown col-xs-6-->
   			</div><!--row-->
		</div> <!--profilebox-->

    <div class="text_container col-xs-8 col-xs-offset-2">
        <h3>This is a third title...</h3>
        <div><!--div that we want to hide-->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit, eros id adipiscing congue, lorem ante sagittis elit, id malesuada nibh est sed orci</p>
        </div>
    </div><!--end div_text_container-->
   
    <div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
        <div class="row">
            <h6 class="col-xs-4 ltbluetext margintop15px marginsides3pct nopadding">Confirm Your Host's Availability</h6>
            <div class="marginsides3pct profileboxline100 marginbottom10px"></div>
        </div>
        <div class="row">  
            <h6 class="col-xs-5 col-xs-offset-1 marginsides3pct margintop20px marginbottom30px">First, enter your shipping information</h6>
            <div class="col-xs-6 dropdown margintop20px  marginbottom30px" id="bs-example-navbar-collapse-1">
                <button class="selector dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Fedex 2 Day
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav navbar-nav navbar-right" role="menu">
            </div>
        </div> 
        
        <!---AVAILABILITY--->
        <div class="row">  
                <h6 class="col-xs-5 col-xs-offset-1 marginsides3pct marginbottom20px">Next, confirm the host is available inside your package's expected delivery window. Click "submit" once availability is confirmed.</h6>
                
                <div class="col-sm-4 margintop10px marginbottom30px">

                    <img class="marginleft40px" src="{% static "blocbox/images/calander.png" %}"  height="200" width="200" />
                    
                    <!--LOADING CALENDAR SHIT HERE - BUT NEED TO CREATE A NEW VIEW THAT COMBINES STUFF ROM CALENDAR CALENDAR_BY_PERIOD
                    	..then laod i18n,  scheduletags i18n,  staticfiles i18n, staticfiles, and wrap this: month_table calendar periods.month "small" ...
                    -->
                </div>
        </div> <!--row, Availability -->
         
       <div class="row">
           <p class="col-xs-12 darkgreytext marginbottom20px">Avaiability policy: Hosts are accountable for all packages delivered on days that they commmited to being available and are required to regularly update their availability. If they miss the package, you will not be charged, and the host is responsible for tracking down the missed delivery. However, if you send a package to a host that might arrive on a day when they have stated they are unavailable, you will be charged even if the host misses the delivery.  You're likely to still get the package, but it may not be available for pickup until a later date.</p>
       </div>
    </div>
    <div class="col-sm-2 col-sm-offset-8 marginbottom30px paddingleft69px nopaddingright">
    	
    		<!--NOTE: RIGHT NOW THIS LINKS TO JOHN'S HOST PAYMENT - NEED TO UPDATE TO PASS THE ARGUMENT/REFRESH PAGE ONCE TEY SELECT HOST-->
        <button class="bluebutton" onClick="window.location='/payment/host2';">Submit</button>
    </div>
</div>
{% endblock %} 