<!--this is blocbox/templates/startashipment.html -- URL is www.blocbox.co/startashipment -->
{% extends "blocbox/base.html" %}
{% load staticfiles %} 
{% block title %}Start a Shipment{% endblock %}

{% block headafter %} {% endblock %} 

{% block content %}

<div class="container-fluid offwhitebackground relativediv">

    <p class="darkgreytext textcenter margintop50px marginbottom20px">Complete the following steps to verify shipping destination, notfiy your Blocbox host, and complete payment</p>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 nopadding">
        <p class="col-xs-3 ltbluetext textshadow textleft">1   HOST AVAILABILITY</p>
        <div class="col-xs-2 divline margintop10px"></div>
        <p class="col-xs-2 ltgreytext textcenter">2   PAYMENT</p>
        <div class="col-xs-2 divline margintop10px"></div>
        <p class="col-xs-3 ltgreytext textright">3   SHIP YOUR ORDER</p>
    </div>
</div>
<div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
    <div class="row">
        <h6 class="col-xs-6 ltbluetext margintop10px marginsides3pct nopadding">Confirm Your Host and Delivery Address</h6>
        <div class="paddingsides5pct profileboxline100 marginbottom10px"></div>
    </div>
   <div class="row">
        <h6 class="col-xs-5 marginsides3pct marginbottom20px">Select a connected host to recieve your package and confirm their address</h6>
        <div class="col-xs-4 col-xs-offset-2 dropdown margintop10px marginbottom30px">
            <div class="dropdown marginbottom20px" id="bs-example-navbar-collapse-1">
                <button class="selector dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    John - 420 Grand Ave. Apt 2
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu nav navbar-nav navbar-right" role="menu">
            </div>
        </div>
   </div>
</div>


    <div class="col-xs-8 col-xs-offset-2 profilebox marginbottom20px">
        <div class="row">
            <h6 class="col-xs-4 ltbluetext margintop10px marginsides3pct nopadding">Confirm Your Host's Availability</h6>
            <div class="marginsides3pct profileboxline100 marginbottom10px"></div>
            <p class="marginsides3pct marginbottom20px">Ensure your host will be available on the expected delivery date of your package by 1) entering your shipping information and then 2) confirming the host is available inside your package's expected delivery window. Click "submit" once availability is confirmed.</p>
        </div>
        <div class="row">
           <div class="col-sm-4 col-sm-offset-2">
            <p class="textcenter">1. SHIPPING INFORMATION</p>
            <div class="row">
                <div class="dropdown marginbottom20px" id="bs-example-navbar-collapse-1">
                    <button class="selector dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Fedex 2 Day
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nav navbar-nav navbar-right" role="menu">
                </div>
            </div>
            </div>
            <p class="col-sm-4 textcenter">2. HOST AVAILABILITY</p>
            <div class="col-sm-4 marginbottom30px">
                <img class="marginleft40px" src="{% static "blocbox/images/calander.png" %}"  height="200" width="200" />
            </div>
           </div>
    </div>
    <div class="col-sm-2 col-sm-offset-8 marginbottom30px paddingleft69px nopaddingright">
        <button class="bluebutton" onClick="window.location='/{{ host.id }}/signupconnect/';">Submit</button>
    </div>
</div>
{% endblock %} 