{% extends "blocbox/basewaitlist.html" %}
<!--this is blocbox/core/templates/bocbox/waitlist-confirmation.html, url is http://www.blocbox.co/waitlistconfirmation/-->
{% load staticfiles %} 
{% block title %} Waitlist Subscription Confirmation {% endblock %}

{% block topcontent %}

 	<div class="row-fluid fullheight">
    <br> <br> 
  		<h1>Thank You!<br>
  				We'll be in touch</h1>
  		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  			<h3>Your request to participate in the BlocBox beta has been received. 
  					We'll be in touch when a BlocBox open in your neighborhood. 
  					In the meantime, please contact us at info@blocbox.co if you have any questions or feedback or are interested in bringing BlocBox to your neighborhood.
  			</h3>
			</div>
 	</div>

{% endblock %}


    
