<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Introducing Blocbox</title>
  <script type="text/javascript" src="http://use.typekit.net/olu7nwz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="body waitlist-confirmation clearfix">
  <header class="_container _container-1">
    <a class="bahnav bahnav-2" href="#">Become a Host</a>
    <a class="hiwnav hiwnav-2" href="#">How It Works</a>
  </header>
  <a href="index.html" class="logoname logoname-2"></a>
  <button class="_button _button-2">Say Hello!</button>
  <a class="logo logo-2" href="#"></a>
  <h1 class="_text-3">
    <p>Thank You!</p>
    <p>We'll be in touch</p>
</h1>
  <p class="subtitle subtitle-2">Your request to participate in the BlocBox beta has been received. We'll be in touch when a BlocBox open in your neighborhood. In the meantime, please contact us at info@blocbox.co if you have any questions or feedback or are interested in bringing BlocBox to your neighborhood.</p>
  <div class="nav1 nav1-2 clearfix">
    <a class="hiwsubnav hiwsubnav-2" href="#">How It Works</a>
    <a class="arrow1 arrow1-2" href="#"></a>
  </div>
  <div class="social social-2">
    <a class="linkedin linkedin-2" href="#"></a>
    <a class="facebook facebook-2" href="#"></a>
    <a class="twitter twitter-2" href="#"></a>
  </div>
  <div class="landing-background landing-background-2"></div>
  <h2 class="_text-5">
    <p>Stop Missing Packages.</p>
    <p>Meet the Neighbors.</p>
</h2>
  <div class="h2subtitle h2subtitle-1">&nbsp;Blocbox quickly and easily allows you to find nearby neighbors acting as Blocbox hosts, arrange for your packages to be delivered to them, and be notified so you can 
conveniently &nbsp;pick up your package when you get home, or whenever you like.</div>
  <div class="hiw hiw-1 clearfix">
    <div class="find find-1"></div>
    <div class="hiw-line"></div>
    <div class="ship ship-1"></div>
    <div class="hiw-line2"></div>
    <div class="pickup pickup-1"></div>
  </div>
  <div class="hiwtext hiwtext-1 clearfix">
    <div class="find-title find-title-1">FIND A BLOCBOX HOST</div>
    <div class="ship-text ship-text-1">&nbsp;SHIP TO YOUR BOX</div>
    <div class="pickup-text pickup-text-1">PICK IT UP NEARBY, WHENEVER</div>
    <div class="find-subtext find-subtext-1">&nbsp;Search to determine a 
conveniently&nbsp;&nbsp;located and verified Blocbox host and connect.</div>
    <div class="ship-subtext ship-subtext-1">As you complete your order, enter the address of your connected Blocbox host.</div>
    <div class="pickup-subtext pickup-subtext-1">Blocbox will notify you of your package's successful receipt. You can then suggest a time you will pick it up, or you can wait till it's 
convenient &nbsp;for you.</div>
  </div>
  <div class="details-1 details-1-1">More Details Coming Soon</div>
  <div class="hiw-background hiw-background-1"></div>
  <div class="learn-host learn-host-1 clearfix">
    <div class="learn-host-text learn-host-text-1">Learn About Becoming a Host</div>
    <div class="arrow-2 arrow-2-1"></div>
  </div>
  <div class="beyond-packages beyond-packages-1 clearfix">
    <p class="beyond-title">Beyond Packages</p>
    <p class="beyond-text beyond-text-1">Solving the hassle of package receipt is just the first way Blocbox can help. We encourage Blocbox hosts to get creative in the ways in which they can help their neighbors. Here's a few possibilities just off the top of our heads.</p>
    <div class="handy handy-1"></div>
    <div class="sitting sitting-1"></div>
    <div class="storage storage-1"></div>
    <div class="pet-care pet-care-1"></div>
    <div class="disco disco-1"></div>
    <p class="handy handy-4">Handy Work</p>
    <p class="sitting sitting-4">House Sitting</p>
    <p class="storage storage-4">Storage</p>
    <p class="pet-care pet-care-4">Pet Care</p>
    <p class="disco disco-4">Disco Ball Rental</p>
  </div>
  <div class="hosttitle hosttitle-1">
    <h3>Become a Blocbox Host</h3>
    <p class="text text-1">&nbsp;Blocbox quickly and easily allows you to find nearby neighbors acting as Blocbox hosts, arrange for your packages to be delivered to them, and be notified so you can 
conveniently&nbsp;&nbsp;pick up your package when you get home, or whenever you like.</p>
  </div>
  <div class="babh babh-1 clearfix">
    <div class="perform perform-1"></div>
    <div class="meet-neighbors meet-neighbors-1"></div>
    <div class="babh-line1"></div>
    <div class="babh-line2"></div>
    <div class="money money-1"></div>
  </div>
  <div class="babh-text babh-text-1 clearfix">
    <div class="perform-title perform-title-1">PERFORM TASKS WHILE AT HOME</div>
    <div class="meet-title meet-title-1">MEET YOUR NEIGHBORS</div>
    <div class="money-title money-title-1">EARN MONEY</div>
    <div class="perform-text perform-text-1">Receive packages and offer other services to neighbors. Hosts must be able to be verified and be at home to receive all scheduled deliveries.</div>
    <div class="meet-text meet-text-1">Set and arrange times at which your neighbors can pick up their packages at your door. Hosts must be home a minimum amount of hours in the evening to allow neighbors to pick up their packages.</div>
    <div class="money-text money-text-1">Your neighbors get their packages, you get a little extra in your pocket. The neighborhood wins.</div>
  </div>
  <div class="details-2 details-2-1">More Details Coming Soon</div>
  <div class="babh-background babh-background-1"></div>
  <footer class="_container _container-7 clearfix">
    <div class="copyright copyright-1"></div>
    <div class="goodhood goodhood-1">GoodHood LLC</div>
    <div class="privacy privacy-1">Privacy Policy</div>
  </footer>
</body>
</html>