{% extends "blocbox/basewaitlist.html" %}
<!--this is blocbox/core/templates/bocbox/waitlist-confirmation.html, url is http://www.blocbox.co/waitlistconfirmation/-->
{% load staticfiles %} 
{% block title %} Waitlist Subscription Confirmation {% endblock %}

{% block topcontent %}

 <h1>
    <p>Thank You!</p>
    <p>We'll be in touch</p>
</h1>
  <p class="subtitle subtitle-2">Your request to participate in the BlocBox beta has been received. 
  	We'll be in touch when a BlocBox open in your neighborhood. 
  	In the meantime, please contact us at info@blocbox.co if you have any questions or feedback or are interested in bringing BlocBox to your neighborhood.
  </p>

{% endblock %}


    
