.span-1 {
  width: 78px;
}

.span-2 {
  width: 180px;
}

.span-3 {
  width: 282px;
}

.span-4 {
  width: 384px;
}

.span-5 {
  width: 486px;
}

.span-6 {
  width: 588px;
}

.span-7 {
  width: 690px;
}

.span-8 {
  width: 792px;
}

.span-9 {
  width: 894px;
}

.span-10 {
  width: 996px;
}

.span-11 {
  width: 1098px;
}

.span-12 {
  width: 1200px;
}

.offset-1 {
  margin-left: 102px;
}

.offset-2 {
  margin-left: 204px;
}

.offset-3 {
  margin-left: 306px;
}

.offset-4 {
  margin-left: 408px;
}

.offset-5 {
  margin-left: 510px;
}

.offset-6 {
  margin-left: 612px;
}

.offset-7 {
  margin-left: 714px;
}

.offset-8 {
  margin-left: 816px;
}

.offset-9 {
  margin-left: 918px;
}

.offset-10 {
  margin-left: 1020px;
}

.offset-11 {
  margin-left: 1122px;
}

