<!--this is core/templates/modals/trackingmodal.html, it is called within modaltags.py - the tracking_modal def
		which is called on dashboard.html 
		it is called with tracking_modal shipment.id
		-->
		
{% load modaltags %}

   {% csrf_token %}
   {{ tracking_form.non_field_errors }}
   {{ tracking_form.tracking.errors }}
    <div class="col-xs-12 form-group nopaddingleftright paddingbottom10px">
         <input type="tracking" class="form-control" name="tracking" 
         id="id_tracking" 
         placeholder="Enter Tracking Number (Transaction # {{ trans_id }} )">    	        	
     </div>