<!--this is _daily_table.html, JMY surgery on 19 Dec 2014, its rendered by calendar_day.html to populate each cell
		the view is defined in scheduletags.dailytable-->
{% load scheduletags %}
  <div class="col-xs-12">
    {% for slot in slots %} <!--the way i am defining it there is only one slot each time its called -->
    		<div class="row">
    			<!--the time is wrong here - if put in "16/4PM it registers as 8AM"
    					JMY edited this by adding the timedinwo_name argumetn to avoid the UTC issue - the time windows are defined in calendar_day.hjtml-->
      		<span> {{ timewindow_name }} </span> <!-- {{ slot.start|time:"G:i" }} -->
      	{% if addable %}
      	<!--the time zone is right in the URL -->
      	{% create_event_url calendar slot.start %}
      	{% endif %}
    		</div>
    {% endfor %}
  </div> <!--col containing all slots-->
  
  <div class="col-xs-12">
  {% for occ in occurrences %}
      <div href="#{% hash_occurrence occ %}" class="occ type{{occ.cls}}{% if occ.cancelled %} cancelled{% endif %}" 
      style="top:{{occ.top}}px;left:{{occ.left}}px;width:{{occ.width}}px;height:{{occ.height}}px;" onclick="openDetail(this);">
        {% options occ %}
        {% title occ %}

      </div>
      <div id="{% hash_occurrence occ %}" style="display:none;">
         {% include 'schedule/_detail.html' with occurrence=occ %}
      </div>
  {% endfor %}
  </div>
