<!--this is schedule/templates/schedule/_month_table.html -->
{% load scheduletags %}
<table align="center" class="calendar monthtable">
	
	<!--adding month name to top of ccalendar - this  is creating errors when i try to load it on other pages outside of schedule app 
			the first part is throwing the error: 
			the url month_calendar statement (part throwing erros) renders as /scheduling/calendar/month/testcalendar1/ 
			the second part (querystring_for... ) renders as: "?year=2014&month=11 "
			
			it is throwing errors on other pages because it doesnt' know  which one to load... , e.g., testcalendar1?, so we haven't passed 
			
		 the periods variable shows up as "'month': <schedule.periods.Month object at 0x7fe7cc5c68d0>} "
	-->
   
   <!--put the month name in a table row, th=title header -->
   	<tr class="monthname"> <th colspan="7" style="text-align: center" > <a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date month.start 2 True %}"> 
				{{month.name}} {{ periods.month }}
				{% prevnext "month_calendar" calendar.slug periods.month "F Y" %}
		</a> </th> 	</tr>
		
		{% if day_names %}
				<tr class="daysofweek">
					<!--commenting out the blank row -- only needed if we have week numbers <td>&nbsp;</td> -->
					{% for day_name in day_names %}
							<td{% ifnotequal size "small" %} width='120'{% endifnotequal %}> {{ day_name }}</td>
					{% endfor %}
				</tr>
		{% endif %}


		{% for week in month.get_weeks %}
       <tr>
    	    	<!--remove the week numbers for now   
    				<td>	<a href="{% url "week_calendar" calendar.slug %}{% querystring_for_date week.start 3 True %}">
            		{{week.start|date:"W"}}
        		</a>  </td>    -->
        		
    	   {% for day in week.get_days %}  {% day_cell calendar day month size %}  {% endfor %}
      </tr>
    {% endfor %} 

</table>
