<!--this is schedule/calendar_compact_month.html, extends schedule/calendarbase.html-->
{% extends "schedule/calendarbase.html" %}
{% load scheduletags %}
{% include "schedule/_dialogs.html" %}
{% block title %} Calendar - Monthly View {% endblock %}

{% block yearormonthorweek %} 
	{% prevnext "month_calendar" calendar.slug periods.month "F Y"%}
{% endblock %}


{% block calendarcontent %}
			<p align="center"><b>{{ calendar.name }}</b></p>
			{% month_table calendar periods.month "small" %}
{% endblock %}


{% block bottomnavcalendar %} 


{% endblock %} <!--bottomnavcalendar-->