<!--this is /schedule/templates/schedule/calendar_month.html, it extends schedule/base.html, url is www.blocbox.co/scheduling/calendar/month/[calendarname] -->

{% extends "schedule/calendarbase.html" %}
{% load scheduletags i18n %}


{% block title %} Calendar - Monthly View {% endblock %}

{% include "schedule/_dialogs.html" %}

{% block yearormonthorweek %} 
	{% prevnext "month_calendar" calendar.slug periods.month "F Y"%}
{% endblock %}


{% block calendarcontent %}
			<div class="tablewrapper">			  		
			  		{% month_table calendar periods.month "regular" %}
			</div> <!--tablewrapper-->
{% endblock %}

	
{% block bottomnavcalendar %} 

  <a href="{% url "bi_month_calendar" calendar.slug %}{% querystring_for_date periods.month.start 1 True %}">
    {% trans "Bi-Monthly Calendar" %}
  </a>
  <a>&nbsp;</a>
  <a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date periods.month.start 1 True %}">
    {% trans "Full Year Calendar" %}
  </a>
{% endblock %} <!--bottomnavcalendar-->
