<!--this is schedule/calendar_day.html, it extends schedule/calendarbase.html-->

{% extends "schedule/calendarbase.html" %}
{% load scheduletags i18n %}
{% include "schedule/_dialogs.html" %}

{% block title %} Calendar - Daily View/Add Events {% endblock %}




{% block calendarcontent %}
						
			<div class="tablewrapper">
					<div class="row" align="center">
			    		<h5>Calendar Name: {{ calendar.name }}</h5>
			    		<h5>Day: {% prevnext "day_calendar" calendar.slug periods.day "l, F d, Y" %} </h5>
			     	 	<h5><a href="{% url "day_calendar" calendar.slug %}"> {% trans "Go to Today's Calendar" %} </a> </h5>
			    </div>
			</div>
			<div style="position:absolute;">
			    <div style="position:absolute;left:100px;">
			      {% daily_table periods.day 420 120 600 0 12 %}
			    </div>
			
			    <div style="position:absolute;left:600px;">
			      {% daily_table periods.day 420 120 600 12 24 %}
			    </div>
			</div>

{% endblock %}


{% block bottomnavcalendar %} 

			  		<a href="{% url "week_calendar" calendar.slug %}{% querystring_for_date periods.day.start 3 True %}">
			  		  {% trans "Week" %}
			  		</a>
			  		<a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date periods.day.start 2 True %}">
			  		  {% trans "Month" %}
			  		</a>
			  		<a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date periods.day.start 1 True %}">
			  		  {% trans "Year" %}
			  		</a>

{% endblock %} <!--bottomnavcalendar-->