<!--this is schedule/calendar_day.html, it extends schedule/calendarbase.html
		called by the view: calendar_by_periods (i think)
-->

{% extends "schedule/calendarbase.html" %}
{% load scheduletags i18n %}
{% include "schedule/_dialogs.html" %}

{% block title %} Calendar - Daily View/Add Events {% endblock %}




{% block calendarcontent %}


<div class="row" align="center">
			   <h5>Daily Events for {{ calendar.name }}: {% prevnext "day_calendar" calendar.slug periods.day "l, F d, Y" %} </h5>
			   <h5><a href="{% url "day_calendar" calendar.slug %}"> {% trans "Go to Today's Calendar" %} </a> </h5>
		
		<!--JMY: right now i'm just letting user provide avialability for full day - 
				because taht is what the user sees in 'star ta shipment' -- if we want to figure out a way to go back to 
				time slots, see the calendar_dayWITHTIMESLOTS.html template -- that one has by time slot -->
				
		<!--syntax for daily_table template call: <!--syntax: daily_table(context, day, timewindow_name, width, width_slot, height, start=8, end=20, increment=30): width=420px, width_slot=120px -->									

		<!--JMY NOTE: really.. this should just link to the enter event details if there's just one time slot per day"
			<!--empty row -->
			<div class="row"> <br>  </div>

			  <div class="col-xs-12 col-sm-12">
			  		{% prevnext "day_calendar" calendar.slug periods.day "l, F d, Y" %}
			      {% daily_table periods.day "Edit Your Availability" 300 60 300 0 24 180  %}
			  </div>
			  


		
</div> <!--row with everything-->

<!--
<p>	TEST - SHOW VARIABLES <br> SHOW DATE {{ date }} <br>
	 	SHOW PERIODS.DAY {{ periods.day}} <br>
	 	SHOW PERIODS {{ periods}} <br>
	 	show local_timezone {{ local_timezone }} <br> 
		SHOW PERIODS. <br>
</p>
-->

{% endblock %}


{% block bottomnavcalendar %} 

			  		<a href="{% url "week_calendar" calendar.slug %}{% querystring_for_date periods.day.start 3 True %}">
			  		  {% trans "Week" %}
			  		</a>
			  		<a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date periods.day.start 2 True %}">
			  		  {% trans "Month" %}
			  		</a>
			  		<a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date periods.day.start 1 True %}">
			  		  {% trans "Year" %}
			  		</a>

{% endblock %} <!--bottomnavcalendar-->