<!--	this is /schedule/templates/schedule/calendarbase.html, which extends templates/shedule/base.html 
			which extends schedule/templates/site_base.html,
			URL is blocbox.co/scheduling/calendar/bi_month/[calendarname]/ 
			it loads schedule/templatetags/scheduletags.py
			-->
{% extends "schedule/base.html" %}
{% load scheduletags i18n %} <!--schedule/templatetags/scheduletags.py -->

{% block body %}

<div class="tablewrapper bimonth"> <!--divider containing the calendar-->
<div class="row">
  	
  	<br><br>
  	
  	<div class="col-xs-12 col-sm-3">
  				<!--side bar matter: display the calendar name and a link to this month-->
  				<h4> 	Calendar Name: {{ calendar.name }} <br> 	
    						<a href="{% url "month_calendar" calendar.slug %}"> {% trans "Show Availability for the Full Month" %} </a>
  				</h4> 
		
		</div> <!--col, left columns for navigation stuff-->
		
		
		<div class="col-xs-12 col-sm-7">
			
				{% block calendarcontent %} {% endblock %}
			
			</div> <!--col, containing middle calendar-->
		</div>	<!--row-->	
	</div> <!--tablewrapper div-->

	<br> <br>
	<div class="navigation"><div class="row">
		
		{% block bottomnavcalendar %} {% endblock %}  	
	</div></div>
	
{% endblock %} <!--body -->
