<!--	this is /schedule/templates/schedule/calendar_bi_month.html, extends schedule/base.html, which extends templates/site_base.html
			URL is blocbox.co/scheduling/calendar/bi_month/[calendarname]/ 
			it loads schedule/templatetags/scheduletags.py
			-->
{% extends "schedule/base.html" %}
{% load scheduletags i18n %} <!--schedule/templatetags/scheduletags.py -->

{% block body %}

<div class="tablewrapper bimonth"> <!--divider containing the calendar-->
<div class="row">
  	
  	<br><br>
  	
  	<div class="col-xs-12 col-sm-3">
  				<!--displays the calendar name-->
  				<div class="calendarname">{{ calendar.name }}</div>
  				
  				<!--displays the month/year -->
  				{% block yearormonthorweek %} {% endblock %}
  			
		
		</div> <!--col, left columns for navigation stuff-->
		
		<div class="col-xs-12 col-sm-6">
			
				{% block calendarcontent %} {% endblock %}
			
		</div> <!--col, containing middle calendar-->
</div>	<!--row-->	
</div> <!--tablewrapper div-->

	<div class="navigation">
  	<a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date periods.month.start 2 True %}">
    	{% trans "Monthly Calendar" %}
  	</a>
  	<a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date periods.month.start 1 True %}">
    	{% trans "Full Year Calendar" %}
  	</a>
	</div>
{% endblock %}
