<!--	this is /schedule/templates/schedule/calendar_bi_month.html, extends schedule/calendarbase.html, which extends schedule/base.html,  extends site_base.html
			URL is blocbox.co/scheduling/calendar/bi_month/[calendarname]/ 
			it loads schedule/templatetags/scheduletags.py
			-->
{% extends "schedule/calendarbase.html" %}
{% load scheduletags i18n %} <!--schedule/templatetags/scheduletags.py -->

{% block title %} Calendar - Bi-Montly View {% endblock %}

{% block yearormonthorweek %} 
	{% prevnext "bi_month_calendar" calendar.slug periods.month "F Y"%}

{% endblock %}

{% block calendarcontent %}

	<table align="center" class="bimonth"> <!--contains the two calendars-->
				<tr>				
					<!--first cell - put first month-->
					
						<td valign="top"> 									
									<!--add the month name with a hyperlink to monthly calendar above each calendar-->
									<a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date month.start 2 True %}"> {{month.name}} </a>								
									{% month_table calendar periods.month "small" %} <!--load the calendar-->
						</td> 
						
						<td width="30">&nbsp;</td> <!--blank table cell to add space between months-->
						
						<td valign="top">
							<a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date month.start 2 True %}"> {{month.name}} </a>
							{% month_table calendar periods.month "small" +1 %}
						</td>
						
							<!--that python code calls functions defined in templatetags/scheduletags.py
									The calendar table is defined in _month_table.html, it starts with a table with the class="calendar monthtable"
										WEEK NUMBERS
										This defines daysofweek
									The daysofweek is in _month_table.htmls
									The week numbers - HATE THME - are in..
									The week days numbers, are defined in the <td class="small daynumber free">...</td>, the code is found in: _day_cell.html
									the "small" designtation meamnsn weekday ames are abbreviated
							-->
									
				</tr>
	</table> <!--table containing two calendars-->
			
{% endblock %}


{% block bottomnavcalendar %}
  		<a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date periods.month.start 2 True %}">
    		{% trans "Monthly Calendar" %}
  		</a>
  		<a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date periods.month.start 1 True %}">
    		{% trans "Full Year Calendar" %}
  		</a>
{% endblock %}